{% extends 'app/skeleton_landing.twig' %}
{% block head %}
    <style>
        body{
            background-color: #000000;
        }
        .parallax {
            min-height: 100%;
            height: auto;
            background-image: url("../PR/dist/assets/brand/background_pert_dark.png");
        }
        .bg-dark {
            background-image: none;
        }
        .table .table {
            background-color: transparent;
            color: white;
        }
        .table-hover tbody tr:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
        }
        table.dataTable.table-sm>thead>tr>th {
            padding-right: 15px;
        }
        td>span{
            font-size: 4em;
            line-height: .4em;
        }
        .btn-block {
            display: block;
            width: 12%;
            text-align: center;
            padding-left: 0px!important;
        }
        .modal { 
            background-color: rgba(212, 211, 211, 0.4) !important
        }
        .modal-content {
            background-color: #242425;
        }
        .modal-content .close {
            color: white;
        }
        .modal-content .modal-header {
            color: #919192;
            font-weight: bold;
        }
        .modal-content .form-group {
            font-size: 12px;
            color: white;
        }
        .modal-content .form-control {
            font-size: 12px;
        }
        .form-group{
            margin-bottom: 0.5rem;
        }
        .form-control {
            height: 28px!important;
        }
        .input-group-append {
            height: 28px!important;
        }
        .btn-primary {
            color: #fff;
            background-color: transparent;
            border-color: #007bff;
        }
    </style>
{% endblock %}

{% block contenido %}
<div class="parallax">
    <div class="container">
       
        <div class="text-center" style="padding: 2%;">
            <span class="titulo-principal-color"> {{ page_title }}</span>
        </div>

        <div class="table table-responsive bg-dark text-white p-2" style="font-size:12px; background-color:transparent!important;">
            
            <div>{% include 'app/flash.twig' %}</div>

            <table id="dtRoutesUmbrals" class="mb-2 table table-sm table-borderless text-center table-striped table-hover" style="text-align: center;">
                <thead class="color_border_botom_white">
                    <tr>
                        <th class="tg-0pky th-sm">IDRuta</th>
                        <th class="tg-0pky th-sm">Ruta</th>
                        {# <th class="tg-0pky">Descripción</th> #}
                        <th class="tg-0pky th-sm">Origen</th>
                        <th class="tg-0pky th-sm">Destino</th>
                        <th class="tg-0pky th-sm">L</th>
                        <th class="tg-0pky th-sm">M</th>
                        <th class="tg-0pky th-sm">M</th>
                        <th class="tg-0pky th-sm">J</th>
                        <th class="tg-0pky th-sm">V</th>
                        <th class="tg-0pky th-sm">S</th>
                        <th class="tg-0pky th-sm">D</th>
                        <th class="tg-0pky th-sm">PTA Salida</th>
                        <th class="tg-0pky th-sm">PTA Llegada</th>
                        <th class="tg-0pky th-sm">Duración</th>
                        <th class="tg-0pky th-sm">A tiempo (Verde)</th>
                        <th class="tg-0pky th-sm">Retrasado (Amarillo)</th>
                        <th class="tg-0pky th-sm">Tarde (Rojo)</th>
                        <th class="tg-0pky th-sm">Acciones</th>
                    </tr>
                </thead>
                 <tbody>
                 {% for entry in routes %}
                     <tr>
                        <td class="tg-0pky">{{ entry.idroute }}</td>
                        <td class="tg-0pky">{{ entry.route }}</td>
                        {# <td class="tg-0pky">{{ entry.description }}</td> #}
                        <td class="tg-0pky">{{ entry.origen }}</td>
                        <td class="tg-0pky">{{ entry.destino }}</td>
                        {% if entry.mon|length > 0 %}
                            <td class="tg-0pky"><span>&middot;</span></td>
                        {% else %}
                            <td class="tg-0pky"><span>&nbsp;</span></td>
                        {% endif %}
                        {% if entry.tues|length > 0 %}
                            <td class="tg-0pky"><span>&middot;</span></td>
                        {% else %}
                            <td class="tg-0pky"><span>&nbsp;</span></td>
                        {% endif %}
                        {% if entry.wednes|length > 0 %}
                            <td class="tg-0pky"><span>&middot;</span></td>
                        {% else %}
                            <td class="tg-0pky"><span>&nbsp;</span></td>
                        {% endif %}
                        {% if entry.thurs|length > 0 %}
                            <td class="tg-0pky"><span>&middot;</span></td>
                        {% else %}
                            <td class="tg-0pky"><span>&nbsp;</span></td>
                        {% endif %}
                        {% if entry.fri|length > 0 %}
                            <td class="tg-0pky"><span>&middot;</span></td>
                        {% else %}
                            <td class="tg-0pky"><span>&nbsp;</span></td>
                        {% endif %}
                        {% if entry.sun|length > 0 %}
                            <td class="tg-0pky"><span>&middot;</span></td>
                        {% else %}
                            <td class="tg-0pky"><span>&nbsp;</span></td>
                        {% endif %}
                        {% if entry.satur|length > 0 %}
                            <td class="tg-0pky"><span>&middot;</span></td>
                        {% else %}
                            <td class="tg-0pky"><span>&nbsp;</span></td>
                        {% endif %}
                        <td class="tg-0pky">{{ entry.ptasalida }}</td>
                        <td class="tg-0pky">{{ entry.ptallegada }}</td>
                        <td class="tg-0pky">{{ entry.hours }} hrs. {{ entry.minutes }} min.</td>
                        <td class="tg-0pky">{{ entry.green }}</td>
                        <td class="tg-0pky">{{ entry.yellow }}</td>
                        <td class="tg-0pky">{{ entry.red }}</td>
                        <td class="tg-0pky">
                            <a class="btn btn-primary" title="Editar Umbral" onclick="getRouteAndShowModal('{{ entry.route }}')"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="18" class="tg-0pky">No hay rutas que mostrar</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>               

        <div class="row">
            <div class="col-md-12">
                <a class="float-right btn btn-dark btn-block" href="{{ path_for('home') }}">Regresar</a>
            </div>               
        </div>
    <br/>
    </div>
</div>

    <!-- Modal -->
  <div class="modal fade" id="umbral_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          Agregar Umbrales
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <form action="{{ path_for('api.save.umbrales') }}" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="idroute">IDRuta:</label>
                    <input type="text" class="form-control" id="idroute" name="idroute" readonly>
                </div>
                <div class="form-group">
                    <label for="route">Ruta:</label>
                    <input type="text" class="form-control" id="route" name="route" readonly>
                </div>
                <div class="form-group">
                    <label>Umbral a tiempo (Verde):</label>
                    <div class="col-md-12">
                        <div class="row" style="padding: 1%;">
                            <div class="col-md-4">
                                <select id="operator_green_a" name="operator_green_a" class="form-control">
                                    <option value="<">Menor a</option>
                                    {# <option value="=">Igual a</option>  #}
                                    <option value=">">Mayor a</option>
                                    <option value=">=">Mayor igual a</option> 
                                    <option value="<=">Menor igual a</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="number" id="number_green_a" name="number_green_a" value=""/>
                            </div>
                            <div class="col-md-4">
                                <select id="time_green_a" name="time_green_a" class="form-control">
                                    <option value="min">Minutos</option> 
                                    <option value="hrs">Horas</option>
                                    <option value="dias">Días</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding: 1%;">
                            <div class="col-md-4">
                                <select id="operator_green_b" name="operator_green_b" class="form-control">
                                    <option value="<">Menor a</option>
                                    {# <option value="=">Igual a</option>  #}
                                    <option value=">">Mayor a</option>
                                    <option value=">=">Mayor igual a</option> 
                                    <option value="<=">Menor igual a</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="number" id="number_green_b" name="number_green_b" value=""/>
                            </div>
                            <div class="col-md-4">
                                <select id="time_green_b" name="time_green_b" class="form-control">
                                    <option value="min">Minutos</option> 
                                    <option value="hrs">Horas</option>
                                    <option value="dias">Días</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Umbral a tiempo (Amarillo):</label>
                    <div class="col-md-12">
                        <div class="row" style="padding: 1%;">
                            <div class="col-md-4">
                                <select id="operator_yellow_a" name="operator_yellow_a" class="form-control">
                                    <option value="<">Menor a</option>
                                    {# <option value="=">Igual a</option>  #}
                                    <option value=">">Mayor a</option>
                                    <option value=">=">Mayor igual a</option> 
                                    <option value="<=">Menor igual a</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="number" id="number_yellow_a" name="number_yellow_a" value=""/>
                            </div>
                            <div class="col-md-4">
                                <select id="time_yellow_a" name="time_yellow_a" class="form-control">
                                    <option value="min">Minutos</option> 
                                    <option value="hrs">Horas</option>
                                    <option value="dias">Días</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding: 1%;">
                            <div class="col-md-4">
                                <select id="operator_yellow_b" name="operator_yellow_b" class="form-control">
                                    <option value="<">Menor a</option>
                                    {# <option value="=">Igual a</option>  #}
                                    <option value=">">Mayor a</option>
                                    <option value=">=">Mayor igual a</option> 
                                    <option value="<=">Menor igual a</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="number" id="number_yellow_b" name="number_yellow_b" value=""/>
                            </div>
                            <div class="col-md-4">
                                <select id="time_yellow_b" name="time_yellow_b" class="form-control">
                                    <option value="min">Minutos</option> 
                                    <option value="hrs">Horas</option>
                                    <option value="dias">Días</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Umbral a tiempo (Rojo):</label>
                    <div class="col-md-12">
                        <div class="row" style="padding: 1%;">
                            <div class="col-md-4">
                                <select id="operator_red_a" name="operator_red_a" class="form-control">
                                    <option value="<">Menor a</option>
                                    {# <option value="=">Igual a</option>  #}
                                    <option value=">">Mayor a</option>
                                    <option value=">=">Mayor igual a</option> 
                                    <option value="<=">Menor igual a</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="number" id="number_red_a" name="number_red_a" value=""/>
                            </div>
                            <div class="col-md-4">
                                <select id="time_red_a" name="time_red_a" class="form-control">
                                    <option value="min">Minutos</option> 
                                    <option value="hrs">Horas</option>
                                    <option value="dias">Días</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding: 1%;">
                            <div class="col-md-4">
                                <select id="operator_red_b" name="operator_red_b" class="form-control">
                                    <option value="<">Menor a</option>
                                    {# <option value="=">Igual a</option>  #}
                                    <option value=">">Mayor a</option>
                                    <option value=">=">Mayor igual a</option> 
                                    <option value="<=">Menor igual a</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input class="form-control" type="number" id="number_red_b" name="number_red_b" value=""/>
                            </div>
                            <div class="col-md-4">
                                <select id="time_red_b" name="time_red_b" class="form-control">
                                    <option value="min">Minutos</option> 
                                    <option value="hrs">Horas</option>
                                    <option value="dias">Días</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <button type="submit" style="float: right;" class="btn btn-primary">Guardar</button>
            </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
<script src="{{ asset_base_url }}/dist/js/jquery.quicksearch.js"></script>
<script type="text/javascript">
    //Pagination table
    $(document).ready(function () {
        $('#dtRoutesUmbrals').DataTable({
            "ordering": false,
            "language": {
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                },
                "emptyTable": "No hay rutas que mostrar",
                "lengthMenu": "Mostrar _MENU_ registros",
                "search": "Buscar:",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
            }
        });
        $('.dataTables_length').addClass('bs-select');
    });
    //Show modal
    function getRouteAndShowModal(id_route) {
        clean();
        $.ajax({
            type: "POST",
            url: "{{ path_for('api.route.umbrales') }}",
            dataType: "json",
            success: function (data) {
                data = data[0];
                var umbrales = JSON.parse(data.umbralesjson);

                $("#idroute").val(data.idroute);
                $("#route").val(data.route);

                if(umbrales){
                    $('#operator_green_a option[value="' + umbrales.green.a.operator + '"]').prop('selected', true);
                    $("#number_green_a").val(umbrales.green.a.comparator);
                    $('#time_green_a option[value="' + umbrales.green.a.time+ '"]').prop('selected', true);
                    $('#operator_green_b option[value="' + umbrales.green.b.operator + '"]').prop('selected', true);
                    $("#number_green_b").val(umbrales.green.b.comparator);
                    $('#time_green_b option[value="' + umbrales.green.b.time+ '"]').prop('selected', true);

                    $('#operator_yellow_a option[value="' + umbrales.yellow.a.operator + '"]').prop('selected', true);
                    $("#number_yellow_a").val(umbrales.yellow.a.comparator);
                    $('#time_yellow_a option[value="' + umbrales.yellow.a.time+ '"]').prop('selected', true);
                    $('#operator_yellow_b option[value="' + umbrales.yellow.b.operator + '"]').prop('selected', true);
                    $("#number_yellow_b").val(umbrales.yellow.b.comparator);
                    $('#time_yellow_b option[value="' + umbrales.yellow.b.time+ '"]').prop('selected', true);

                    $('#operator_red_a option[value="' + umbrales.red.a.operator + '"]').prop('selected', true);
                    $("#number_red_a").val(umbrales.red.a.comparator);
                    $('#time_red_a option[value="' + umbrales.red.a.time+ '"]').prop('selected', true);
                    $('#operator_red_b option[value="' + umbrales.red.b.operator + '"]').prop('selected', true);
                    $("#number_red_b").val(umbrales.red.b.comparator);
                    $('#time_red_b option[value="' + umbrales.red.b.time+ '"]').prop('selected', true);
                }
                
                $("#umbral_modal").modal('show');
            },            
            data: {id: id_route}
        });
    };
    //Clean fields
    function clean(){
        $('#operator_green_a option[value="<"]').prop('selected', true);
        $("#number_green_a").val('');
        $('#time_green_a option[value="min"]').prop('selected', true);
        $('#operator_green_b option[value="<"]').prop('selected', true);
        $("#number_green_b").val('');
        $('#time_green_b option[value="min"]').prop('selected', true);

        $('#operator_yellow_a option[value="<"]').prop('selected', true);
        $("#number_yellow_a").val('');
        $('#time_yellow_a option[value="min"]').prop('selected', true);
        $('#operator_yellow_b option[value="<"]').prop('selected', true);
        $("#number_yellow_b").val('');
        $('#time_yellow_b option[value="min"]').prop('selected', true);

        $('#operator_red_a option[value="<"]').prop('selected', true);
        $("#number_red_a").val('');
        $('#time_red_a option[value="min"]').prop('selected', true);
        $('#operator_red_b option[value="<"]').prop('selected', true);
        $("#number_red_b").val('');
        $('#time_red_b option[value="min"]').prop('selected', true);
    }
 </script>
{% endblock %}