{% extends 'app/skeleton_landing.twig' %}
{% block scripts %}
    <script>
        var sendInfo = {
            fecha_filtro: new Date(),
            plaza_filtro:null,
            garantia_filtro:null,
            cliente_filtro:null,
            guia_filtro:''
        };
        $.ajax({
            type: "POST",
            url: "{{ path_for('api.tr1.filtrar') }}",
            dataType: "json",
            success: function (data) {
                console.log(data);
            },
            data: sendInfo
        });
    </script>
{% endblock %}