{% extends 'app/skeleton_landing.twig' %}
{% block head %}
    <style>

    </style>
{% endblock %}
{% block filtros %}

{% endblock %}
{% block contenido %}
    <div class="parallax">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-9 col-md-9 col-lg-9 text-white text-center mt-2">
                    {% include 'app/flash.twig' %}
                    {#<h5>¿Te imaginas poder tener una <span class="text_neon">visión global</span> de la operación
                        en <span class="text_neon">tiempo real</span> y ser más <span class="text_neon">eficientes</span> a través de
                        la <span class="text_neon">digitalización</span> de nuestros procesos?</h5>#}
                </div>

                <div class="col-8 col-sm-7 col-md-6 col-lg-4 text-center mt-4">
                    <img class="logo_pert" src="{{ asset_base_url }}/dist/assets/brand/pert_texto.png">
                </div>
            </div>
            <div class="row text-white mt-5" >
                <div class="col-12 col-sm-4 col-md-4 pt-2 pb-2" style="height: 260px;overflow: auto">
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('proyeccion_entregas_d5') }}"><i class="fa fa-chart-bar"></i><span>Proyección TR2 D+5</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco btn-block" href="{{ path_for('routes_umbrales') }}"><i class="fa fa-bars" ></i><span>Administración Umbrales TR1</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('TR1Cumplimiento') }}"><i class="fa fa-chart-pie"></i><span>Cumplimiento TR1</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('CumplimientoGarantias') }}"><i class="fa fa-table"></i><span>Cumplimiento Garantias</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco btn-block" href="{{ path_for('Geocercas') }}"><i class="fa fa-bars" ></i><span>Administración Geocercas</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('RutasTransito') }}"><i class="fa fa-chart-pie"></i><span>Análisis de Rutas en Tránsito</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('TendenciaCarga') }}"><i class="fa fa-chart-bar"></i><span>Tablero de Ánalisis de Tendencias de Carga</span></a>       
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('TendenciaCargaG2') }}"><i class="fa fa-chart-pie"></i><span>Análisis de Tendecia de Carga</span></a>
                </div>
                <div class="col-12 col-sm-4 col-md-4 text-center pt-2 pb-2" style="height: 260px;overflow: auto">
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco btn-block" href="{{ path_for('items_perdidos') }}"><i class="fa fa-stream" ></i><span>Dist. Items Perdidos</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('entradas') }}"><i class="fa fa-chart-pie"></i><span>Llegadas TR1</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('procesos') }}"><i class="fa fa-database"></i><span>Proceso en Plataforma</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('salidas') }}"><i class="fa fa-chart-pie"></i><span>Salidas TR1</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('noLocalizados') }}"><i class="fas fa-eye-slash"></i><span>Items no Localizados</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('analisisrutas') }}"><i class="fa fa-chart-pie"></i><span>Análisis de Rutas TR2</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('entregasrecoleccion') }}"><i class="fas fa-truck-loading"></i><span>Entregas de Recolección</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('destinosRecolecciones') }}"><i class="fas fa-truck"></i><span>Destinos de Recolecciones</span></a>
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('cuadraturaservicio') }}"><i class="fa fa-chart-pie"></i><span>Cuadratura de Servicio</span></a>
                </div>
                <div class="col-12 col-sm-4 col-md-4 text-center pt-2 pb-2" style="height: 260px;overflow: auto">
                    <a class="btn btn-sm pert_iniciar_sesion pert-boton-blanco  btn-block" href="{{ path_for('llegadas') }}"><i class="fa fa-chart-pie"></i><span>Llegadas TR1</span></a>
                </div>
            </div>
            {#iconos#}
            {#<div class="row justify-content-center mt-5 mt-sm-2 mt-md-3 mt-lg-5  mb-5">

                <div class="col-12 col-sm-4 col-md-3 col-lg-2 text-center text-white">
                    <img class="iconos_pert"  src="{{ asset_base_url }}/dist/assets/icons/location.png">
                    <p class="ml-3 mr-3 mt-2">Visión global de la operación</p>
                    <div class="icons-divider"></div>
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-2 text-center  text-white">
                    <img class="iconos_pert"  src="{{ asset_base_url }}/dist/assets/icons/foco.png">
                    <p class="mt-2">Criterios unificados para tomar decisiones</p>
                    <div class="icons-divider"></div>
                </div>
                <div class="col-12 col-sm-4 col-md-3 col-lg-2 text-center  text-white">
                    <img class="iconos_pert"  src="{{ asset_base_url }}/dist/assets/icons/reloj.png">
                    <p class="ml-3 mr-3 mt-2">Datos precisos en tiempo y forma</p>
                </div>
                <a class="btn btn-sm pert_iniciar_sesion" href="{{ path_for('usuarios') }}"><span>Administrar Usuarios</span><i class="fa fa-users"></i></a>
            </div>

            <div class="row justify-content-md-center mt-sm-2 mt-md-3 mt-lg-5 yb-4">
                <div class="col-md-12 text-center">
                    <h5 class="soon text-white">¡PREPARATE PARA NUESTRA <span >TRANSFORMACIÓN DIGITAL OPERATIVA!</span></h5>
                </div>

            </div>#}
        </div>
    </div>
    <div class="container container-footer" style="">
        <div class="row row-footer">
            <div class="col-12 col-sm-4 col-md-4 pt-2 pb-2">
                {% if auth.user.admin == 1 %}
                    <a class="btn btn-sm pert_iniciar_sesion" href="{{ path_for('usuarios') }}"><i class="fa fa-users" ></i><span> Administración de Usuarios</span></a>
                        {% endif %}
            </div>
            <div class="col-12 col-sm-4 col-md-4 text-center pt-2 pb-2">
                <img src="{{ asset_base_url }}/dist/assets/brand/estafeta.png">
            </div>
            <div class="col-12 col-sm-4 col-md-4 text-center pt-2 pb-2">
                <a class="btn btn-sm pert_iniciar_sesion" href="{{ path_for('pwchange') }}"><span>Cambiar contraseña</span><i class="fa fa-key"></i></a>
                <a class="btn btn-sm pert_iniciar_sesion" href="{{ path_for('logout') }}" ><span>Cerrar sesión</span><i class="fa fa-sign-out-alt"></i></a>
            </div>

        </div>
    </div>

{% endblock %}



{% block scripts %}
    <script>
        {#{{ path_for('api.usuarios') }}#}
            /*$.ajax({
             url: '',
             contentType: "application/json",
             dataType: 'json',
             success: function(result){
             console.log(result);
             $('#cont').html(JSON.stringify(result));
             }
             })*/
    </script>
{% endblock %}