{% extends 'app/skeleton.twig' %}

{% block head %}
    <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style>
       .sb-sidenav-dark {
            height: 100%;
        }

        .table {
            color: #fff;
            font-size: 12px;
        }

        .table thead tr td{
            border-bottom: .5pt solid white !important;
        }

        .table .table {
            background-color: transparent;
        }

        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover tbody tr:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .thead-border-bottom th, .thead-border-bottom td {
            border-bottom: 1px solid #ffffff !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
        }
        #realtime_date {
            font-size: 20px !important;
        }

        .title-lmenu{
            font-size: 1rem !important;
            color: #ffffff !important;
            font-weight: bold;
            width: 100% !important;
        }

        .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
            padding: 1rem 1rem 0.20rem 1rem;
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        .radio label {
            display: inline-block;
            margin-bottom: 0.5rem;
            text-transform: capitalize;
            color: #ffffff;
        }

        .controls-tr1>img {
            width: 25px;
            cursor: pointer;
        }

        .form-control:disabled, .form-control[readonly] {
            background: transparent;
            border: transparent;
            border-bottom: 1px solid #e9ecef;
            line-height: 0;
            height: 20px;
            border-radius: 0;
            color: white;
            font-weight: normal;
        }

        /*Styles Select*/

        .js-example-basic-single{
            width:100%;
        }

        .select-filtros{

        }

        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;
            padding: 0.25rem 0.5rem!important;
            font-size: 0.8rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }

        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }

        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
        }

        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #aeaca4 !important;
        }

        .select-filtros .dropdown-item {
            font-size: 0.8rem;
            color: #ffffff!important;
            background-color: black!important;

        }

        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
       
        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }
        
        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus,
        {
            background-color: #5d5757;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }

        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }

        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }

        textarea:focus, input:focus{
            outline: none;
        }

        /*DataTable Styles*/
        div.dt-buttons {
            float: right;    
            margin-top: -3.3%;
        }

        .btn-secondary {
            color: #fff;
            background-color: transparent;
            border-color: transparent;
        }

        div.dt-buttons .btn{
            padding: 0px;
        }
    </style>
{% endblock %}

{% block filtros %} 
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> ID Ruta </div>
                <select class="js-example-basic-single" name="idroutes[]" id="idroute_filter" multiple>
                    {% for entry in idRoutes %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin rutas</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="plazas[]"  id="plaza_filter" multiple>
                    {% for entry in plazas %}
                        <option value="{{ entry.warehouse }}">{{ entry.warehouse }}</option>
                    {% else %}
                        <option value="0">Sin plazas</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Viaje</div>
                <select class="js-example-basic-single" name="typeroute[]"  id="typeroute_filter" multiple>
                    {% for entry in typeRoutes %}
                        <option value="{{ entry.type }}">{{ entry.type}}</option>
                    {% else %}
                        <option value="0">Sin tipos de ruta</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Origen </div>
                <select class="js-example-basic-single" name="origin[]"  id="origin_filter" multiple>
                    {% for entry in origin %}
                        <option value="{{ entry.locationcodeorigin }}">{{ entry.locationcodeorigin }}</option>
                    {% else %}
                        <option value="0">Sin Origen</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Destino </div>
                <select class="js-example-basic-single" name="destiny[]"  id="destiny_filter" multiple>
                    {% for entry in destiny %}
                        <option value="{{ entry.locationcodedestiny }}">{{ entry.locationcodedestiny }}</option>
                    {% else %}
                        <option value="0">Sin Destino</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Vehiculo </div>
                <select class="js-example-basic-single" name="typevehicle[]"  id="typevehicle_filter" multiple>
                    {% for entry in typeVehicle %}
                        <option value="{{ entry.typename }}">{{ entry.typename }}</option>
                    {% else %}
                        <option value="0">Sin Tipo de Vehiculo</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Vehiculo </div>
                <select class="js-example-basic-single" name="vehicle[]"  id="vehicle_filter" multiple>
                    {% for entry in vehicle %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Vehiculo</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Operador </div>
                <select class="js-example-basic-single" name="operator[]"  id="operator_filter" multiple>
                    {% for entry in operator %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Operador</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Carga </div>
                <select class="js-example-basic-single" name="type_carga"  id="typecharge_filter" multiple>
                    {% for entry in typeCharge %}
                        <option value="{{ entry.cargotype }}">{{ entry.cargotype }}</option>
                    {% else %}
                        <option value="0">Sin Tipo Carga</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Estatus </div>
                <select class="js-example-basic-single" name="status[]"  id="status_filter" multiple>
                    {% for entry in status %}
                        <option value="{{ entry.status }}">{{ entry.status }}</option>
                    {% else %}
                        <option value="0">Sin Estatus</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Inicial</label>
        <input size="12" type="text" class="form-control" id="datetimestart" readonly>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Final</label>
        <input size="12" type="text" class="form-control" id="datetimeend" readonly>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>

    <div class=" mt-3 ml-auto mr-auto">
        <a class="btn btn-sm btn-dark" href="{{ path_for('logout') }}" ><span class="ml-1">Cerrar sesión</span>{#<i class="fa fa-sign-out-alt"></i>#}</a>
        <a class="btn btn-sm btn-dark" href="{{ path_for('home') }}"><span class="ml-1">Regresar</span></a>
    </div>
    <br/>
{% endblock %}

{% block contenido %}
    <div>
        <div class="row">
            <div class="col-md-4">
                {# <span id="title" style="text-align: center;width: 100%;position: absolute;top: 4%;">TOTAL</span> #}
                <canvas id="travels"></canvas>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
            </div>
        </div>

        
    </div>
{% endblock %}

{% block scripts %}
    <!--Clock and date-->
    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n, 10) < 10 ? '0' : '') + n;
        }
        function updateTime() {
            var timeNow = new Date(),
                    hh = timeNow.getHours(),
                    mm = timeNow.getMinutes(),
                    ss = timeNow.getSeconds(),
                    formatAMPM = (hh >= 12 ? 'PM' : 'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) + " " + formatAMPM;
            currentTime_date.innerHTML = monthNames[timeNow.getMonth()] + " " + timeNow.getUTCDate() + ", " + timeNow.getFullYear();
            setTimeout(updateTime, 1000);
        }
        updateTime();
    </script>

    <!--Datetimepicker-->
    <script type="text/javascript">
        $("#datetimestart").datetimepicker({
            format: 'dd-mm-yyyy hh:ii',
            autoclose: true
        });
        $("#datetimeend").datetimepicker({
            format: 'dd-mm-yyyy hh:ii',
            autoclose: true
        });
    </script>

    <!--Checkboxs-->
    <script src="{{ asset_base_url }}/dist/js/libs/table2excel/jquery.table2excel.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                //width: '100%',
                allowClear: false
            });
        });
    </script>

    <!--Charts-->
    <script type="text/javascript" src="{{ asset_base_url }}/dist/js/chartjs-plugin-piechart-outlabels.js"></script>
    <script>
        //Format number
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }

        //travels by trailers
        var ctx = document.getElementById('travels').getContext('2d');
            var myDoughnutChart_total = new Chart(ctx, {
                 dataset: {

                            },
                            "type": "doughnut",
                            "data": {
                                "labels": ["Cuadrados", "Con descuasdre"],
                                "datasets": [
                                    {
                                        "label": "My Dataset",
                                        "data": [
                                            50,
                                            33
                                        ],
                                        backgroundColor: [
                                            "#8DE971",
                                            "#FF7276"
                                        ],
                                        borderColor: [
                                            "#8DE971",
                                            "#FF7276"
                                        ],
                                        borderWidth: 0,
                                    }
                                ]
                            },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    tooltips: {
                        enabled: false
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontSize: 12,
                            fontColor: '#fff'
                        },
                    },
                    cutoutPercentage: 70,
                    //zoomOutPercentage: 10, 
                    plugins: {
                        datalabels: {
                            display: false
                        },
                        outlabels: {
                            //text: '%v Viajes %p %l',
                            text : function(value) {
                                var numformat = numberWithCommas(value.dataset.data[value.dataIndex]);
                                return numformat + ' Viajes %p'
                            },
                            color: 'white',
                            backgroundColor: "rgba(255,255,255,0)",
                            stretch: 20,
                            font: {
                                resizable: true,
                                minSize: 12,
                                maxSize: 18
                            }
                        }
                    },
                    title: {
                        display: true,
                        text: 'Viajes por Remolques',
                        fontColor: "#fff",
                        fontSize: 16,
                        weight: 100,
                        fontStyle: 'normal',
                    }
                }
            });
            myDoughnutChart_total.canvas.parentNode.style.height = '300px';

        
    </script>

{% endblock %}