{% extends 'app/skeleton.twig' %}

{% block head %}
    <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style>
        .sb-sidenav-dark {
            height: 100%;
        }

        .table {
            color: #fff;
            font-size: 12px;
        }

        .table thead tr td{
            border-bottom: .5pt solid white !important;
        }

        .table .table {
            background-color: transparent;
        }

        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover tbody tr:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .thead-border-bottom th, .thead-border-bottom td {
            border-bottom: 1px solid #ffffff !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
        }
        #realtime_date {
            font-size: 20px !important;
        }

        .title-lmenu{
            font-size: 1rem !important;
            color: #ffffff !important;
            font-weight: bold;
            width: 100% !important;
        }

        .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
            padding: 1rem 1rem 0.20rem 1rem;
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: uppercase;
        }

        .radio label {
            display: inline-block;
            margin-bottom: 0.5rem;
            text-transform: capitalize;
            color: #ffffff;
        }

        .controls-tr1>img {
            width: 25px;
            cursor: pointer;
        }

        .form-control:disabled, .form-control[readonly] {
            background: transparent;
            border: transparent;
            border-bottom: 1px solid #e9ecef;
            line-height: 0;
            height: 20px;
            border-radius: 0;
            color: white;
            font-weight: normal;
        }

        /*Styles Select*/

        .js-example-basic-single{
            width:100%;
        }

        .select-filtros{

        }

        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;
            padding: 0.25rem 0.5rem!important;
            font-size: 0.8rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }

        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }

        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
        }

        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #aeaca4 !important;
        }

        .select-filtros .dropdown-item {
            font-size: 0.8rem;
            color: #ffffff!important;
            background-color: black!important;

        }

        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
       
        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }
        
        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus,
        {
            background-color: #5d5757;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }

        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }

        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }

        textarea:focus, input:focus{
            outline: none;
        }

        /*DataTable Styles*/
        div.dt-buttons {
            float: right;    
            margin-top: -3.3%;
        }

        .btn-secondary {
            color: #fff;
            background-color: transparent;
            border-color: transparent;
        }

        div.dt-buttons .btn{
            padding: 0px;
        }
    </style>
{% endblock %}

{% block filtros %} 
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> ID Ruta </div>
                <select class="js-example-basic-single" name="idroutes[]" id="idroute_filter" multiple>
                    {% for entry in idRoutes %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin rutas</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="plazas[]"  id="plaza_filter" multiple>
                    {% for entry in plazas %}
                        <option value="{{ entry.warehouse }}">{{ entry.warehouse }}</option>
                    {% else %}
                        <option value="0">Sin plazas</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Viaje</div>
                <select class="js-example-basic-single" name="typeroute[]"  id="typeroute_filter" multiple>
                    {% for entry in typeRoutes %}
                        <option value="{{ entry.type }}">{{ entry.type}}</option>
                    {% else %}
                        <option value="0">Sin tipos de ruta</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Vehiculo </div>
                <select class="js-example-basic-single" name="typevehicle[]"  id="typevehicle_filter" multiple>
                    {% for entry in typeVehicle %}
                        <option value="{{ entry.typename }}">{{ entry.typename }}</option>
                    {% else %}
                        <option value="0">Sin Tipo de Vehiculo</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Vehiculo </div>
                <select class="js-example-basic-single" name="vehicle[]"  id="vehicle_filter" multiple>
                    {% for entry in vehicle %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Vehiculo</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Origen </div>
                <select class="js-example-basic-single" name="origin[]"  id="origin_filter" multiple>
                    {% for entry in origin %}
                        <option value="{{ entry.locationcodeorigin }}">{{ entry.locationcodeorigin }}</option>
                    {% else %}
                        <option value="0">Sin Origen</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Destino </div>
                <select class="js-example-basic-single" name="destiny[]"  id="destiny_filter" multiple>
                    {% for entry in destiny %}
                        <option value="{{ entry.locationcodedestiny }}">{{ entry.locationcodedestiny }}</option>
                    {% else %}
                        <option value="0">Sin Destino</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Estatus </div>
                <select class="js-example-basic-single" name="status[]"  id="status_filter" multiple>
                    {% for entry in status %}
                        <option value="{{ entry.status }}">{{ entry.status }}</option>
                    {% else %}
                        <option value="0">Sin Estatus</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Incidencia </div>
                <select class="js-example-basic-single" name="type_incidence"  id="type_incidence" multiple>
                    {% for entry in [] %}
                        <option value="{{ entry }}">{{ entry }}</option>
                    {% else %}
                        <option value="0">Sin Tipo Incidencia</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Carga </div>
                <select class="js-example-basic-single" name="type_carga"  id="typecharge_filter" multiple>
                    {% for entry in typeCharge %}
                        <option value="{{ entry.cargotype }}">{{ entry.cargotype }}</option>
                    {% else %}
                        <option value="0">Sin Tipo Carga</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Garantía </div>
                <select class="js-example-basic-single" name="type_garanties"  id="typegaranties_filter" multiple>
                    {% for entry in typeGaranties %}
                        <option value="{{ entry.garantia }}">{{ entry.garantia }}</option>
                    {% else %}
                        <option value="0">Sin Tipo Garantía</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
   <div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1" >
        <div class="float-left text-white text-capitalize"> Cliente </div>
        <input id="filtro_cliente" type="text" class="input-calendar-custom float-right " name=" "  style="width: 65%!important;">
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Inicial</label>
        <input size="12" type="text" class="form-control" id="datetimestart" readonly>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Final</label>
        <input size="12" type="text" class="form-control" id="datetimeend" readonly>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>

    <div class=" mt-3 ml-auto mr-auto">
        <a class="btn btn-sm btn-dark" href="{{ path_for('logout') }}" ><span class="ml-1">Cerrar sesión</span>{#<i class="fa fa-sign-out-alt"></i>#}</a>
        <a class="btn btn-sm btn-dark" href="{{ path_for('home') }}"><span class="ml-1">Regresar</span></a>
    </div>
    <br/>
{% endblock %}

{% block contenido %}
    <div class="row">
        <div class="col-md-6">
            <div id="map" style="height: 100%; width: 100%; border: 3px solid #5250508a;"></div>
        </div>
        <div class="col-md-6 align-items-center justify-content-center">
            <br><br>
            <div class="table table-responsive text-white p-2">
                <table class="mb-2 table table-sm table-borderless text-center table-striped table-hover" style="text-align: center;">
                    <thead class="color_border_botom_white">
                        <tr>
                        <th class="tg-0pky"></th>
                        <th class="tg-0pky">RUTAS</th>
                        <th class="tg-0pky">NUM ITEMS</th>
                        <th class="tg-0pky">%</th>
                        </tr>
                    </thead>
                        <tr>
                            <td class="tg-0pky"><img src="{{ asset_base_url }}/dist/assets/icons/transporte_verde.svg" style="width:50px; height:50px;"></td>
                            <td class="tg-0pky">A Tiempo</td>
                            <td class="tg-0pky"><span id="totalCountGreen"></span></td>
                            <td class="tg-0pky"><span id="totalPercentageGreen"></span></td>
                        </tr>
                        <tr>
                            <td class="tg-0pky"><img src="{{ asset_base_url }}/dist/assets/icons/transporte_amarillo.svg" style="width:50px; height:50px;"></td>
                            <td class="tg-0pky">Con Retraso</td>
                            <td class="tg-0pky"><div id="totalCountYellow"></span></td>
                            <td class="tg-0pky"><span id="totalPercentageYellow"></span></td>
                        </tr>
                        <tr style="border-bottom: 1px solid;">
                            <td class="tg-0pky"><img src="{{ asset_base_url }}/dist/assets/icons/transporte_rojo.svg" style="width:50px; height:50px;"></td>
                            <td class="tg-0pky">Fuera de Tiempo</td>
                            <td class="tg-0pky"><span id="totalCountRed"></span></td>
                            <td class="tg-0pky"><span id="totalPercentageRed"></span></td>
                        </tr>
                        <tr>
                            <td class="tg-0pky"></td>
                            <td class="tg-0pky">TOTAL</td>
                            <td class="tg-0pky"><span id="totalCount"></span></td>
                            <td class="tg-0pky"><span id="totalPercentage"></span></td>
                        </tr>
                </table>
            </div> 
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12" style="color: #ffffff; text-align:center; height: 45px;">
            <h4>Detalle de Movimientos</h4>
        </div>
    </div>

    <div id="containerTable" class="table table-responsive text-white p-2" style="font-size: 12px;">
        <table id="detailsTable" class="mb-2 table table-sm table-borderless text-center table-striped table-hover" style="text-align: center;">
            <thead class="color_border_botom_white">
                <tr>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky" colspan="2">TRAMO</th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky" colspan="2">A TIEMPO</th>
                    <th class="tg-0pky" colspan="2">CON RETRASO</th>
                    <th class="tg-0pky" colspan="2">FUERA DE TIEMPO</th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                    <th class="tg-0pky"></th>
                </tr>
                <tr>
                    <td class="tg-0pky">ID Ruta</td>
                    <td class="tg-0pky">Region</td>
                    <td class="tg-0pky">Regional</td>
                    <td class="tg-0pky">Plaza</td>
                    <td class="tg-0pky">Tipo Viaje</td>
                    <td class="tg-0pky">Ruta</td>
                    <td class="tg-0pky">ID</td>
                    <td class="tg-0pky">Origen / Destino</td>
                    <td class="tg-0pky">Tipo Vehiculo</td>
                    <td class="tg-0pky">Num Eco Vehiculo</td>
                    <td class="tg-0pky">Estatus</td>
                    <td class="tg-0pky">Tipo Carga</td>
                    <td class="tg-0pky">Num Items</td>
                    <td class="tg-0pky">%</td>
                    <td class="tg-0pky">Num Items</td>
                    <td class="tg-0pky">%</td>
                    <td class="tg-0pky">Num Items</td>
                    <td class="tg-0pky">%</td>
                    <td class="tg-0pky">PTA</td>
                    <td class="tg-0pky">ETA</td>
                    <td class="tg-0pky">RTA</td>
                    <td class="tg-0pky">Tipo de Incidencia</td>
                </tr>
            </thead>
        </table>
    </div>

    <div class="row" style="font-size: 12px;">
        <div class="col-md-7" style="padding: 8px 0;">
            <i>PTA:Tiempo Planeado de Arribo-ETA:Tiempo Estimado de Arribo-RTA:Tiempo Real de Arribo</i>
        </div>
        <div class="col-md-5" style="text-align: right">
            <img src="{{ asset_base_url }}/dist/assets/img/green.png"><span> A tiempo</span>&nbsp;&nbsp;
            <img src="{{ asset_base_url }}/dist/assets/img/yellow.png"><span>Con Retraso</span>&nbsp;&nbsp;
            <img src="{{ asset_base_url }}/dist/assets/img/red.png"><span>Fuera de Tiempo</span>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <!--Clock and date-->
    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n, 10) < 10 ? '0' : '') + n;
        }
        function updateTime() {
            var timeNow = new Date(),
                    hh = timeNow.getHours(),
                    mm = timeNow.getMinutes(),
                    ss = timeNow.getSeconds(),
                    formatAMPM = (hh >= 12 ? 'PM' : 'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) + " " + formatAMPM;
            currentTime_date.innerHTML = monthNames[timeNow.getMonth()] + " " + timeNow.getUTCDate() + ", " + timeNow.getFullYear();
            setTimeout(updateTime, 1000);
        }
        updateTime();
    </script>

    <!--AIzaSyC32vpDAaozqg71wzy2CHgVAVlvxQtLsIE-->
    <!--Map-->
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSPepYUd4O0H6j3p17XZ2TqWLjEq9lrXA&callback=initMap">
    </script>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: 19.4978, lng: -99.1269 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>

    <!--Datetimepicker-->
    <script type="text/javascript">
        $("#datetimestart").datetimepicker({
            format: 'dd-mm-yyyy hh:ii',
            autoclose: true
        });
        $("#datetimeend").datetimepicker({
            format: 'dd-mm-yyyy hh:ii',
            autoclose: true
        });
    </script>

    <!--Checkboxs-->
    <script src="{{ asset_base_url }}/dist/js/libs/table2excel/jquery.table2excel.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                //width: '100%',
                allowClear: false
            });
        });
    </script>

    <!--Actions by filters-->
    <script>
        //idroute
        $('#idroute_filter').on('change', function () {
            var id = $('#idroute_filter').select2('data');
            var idSeleccionados = [];
            $.each(id, function (i, e) {
                idSeleccionados.push(e.text);
            });
            filters.id_route_filter = idSeleccionados;
            getData();
        });    

        //plaza 
        $('#plaza_filter').on('change', function () {
            var plaza = $('#plaza_filter').select2('data');
            var plazaSeleccionadas = [];
            $.each(plaza, function (i, e) {
                plazaSeleccionadas.push(e.text);
            });
            filters.plaza_filter = plazaSeleccionadas;
            getData();
        }); 

        //typeroute
        $('#typeroute_filter').on('change', function () {
            var type = $('#type_route_filter').select2('data');
            var typeSeleccionados = [];
            $.each(type, function (i, e) {
                if(e.text == 'Viaje Extra')
                    typeSeleccionados.push(true);
                else
                    typeSeleccionados.push(false);
            });
            filters.type_route_filter = typeSeleccionados;
            getData();
        });

        //typevehicle
        $('#typevehicle_filter').on('change', function () {
            var typevehicle = $('#typevehicle_filter').select2('data');
            var typevehicleSeleccionados = [];
            $.each(typevehicle, function (i, e) {
                typevehicleSeleccionados.push(e.text);
            });
            filters.type_vehicle_filter = typevehicleSeleccionados;
            getData();
        });

        //vehicle
        $('#vehicle_filter').on('change', function () {
            var vehicle = $('#vehicle_filter').select2('data');
            var vehicleSeleccionados = [];
            $.each(vehicle, function (i, e) {
                vehicleSeleccionados.push(e.text);
            });
            filters.vehicle_filter = vehicleSeleccionados;
            getData();
        });

        //origin
        $('#origin_filter').on('change', function () {
            var origin = $('#origin_filter').select2('data');
            var originSeleccionados = [];
            $.each(origin, function (i, e) {
                originSeleccionados.push(e.text);
            });
            filters.origin_filter = originSeleccionados;
            getData();
        });

        //destiny
        $('#destiny_filter').on('change', function () {
            var destiny = $('#destiny_filter').select2('data');
            var destinySeleccionados = [];
            $.each(destiny, function (i, e) {
                destinySeleccionados.push(e.text);
            });
            filters.destiny_filter = destinySeleccionados;
            getData();
        });

        //status
        $('#status_filter').on('change', function () {
            var status = $('#status_filter').select2('data');
            var statusSeleccionados = [];
            $.each(status, function (i, e) {
                statusSeleccionados.push(e.text);
            });
            filters.status_filter = statusSeleccionados;
            getData();
        });

        //typecharge
        $('#typecharge_filter').on('change', function () {
            var typecharge = $('#typecharge_filter').select2('data');
            var typechargeSeleccionadas = [];
            $.each(typecharge, function (i, e) {
                typechargeSeleccionadas.push(e.text);
            });
            filters.type_charge_filter = typechargeSeleccionadas;
            getData();
        });

        //typegaranties
        $('#typegaranties_filter').on('change', function () {
            var typegaranties = $('#typegaranties_filter').select2('data');
            var typegarantiesSeleccionadas = [];
            $.each(typegaranties, function (i, e) {
                typegarantiesSeleccionadas.push(e.text);
            });
            filters.type_garanties_filter = typegarantiesSeleccionadas;
            getData();
        });

        //dates
         $('#datetimestart').on('change', function () {
            filters.start_date_filter = $("#datetimestart").val();
            if($("#datetimeend").val() != '')
                getData();
        });
        $('#datetimeend').on('change', function () {
            filters.end_date_filter = $("#datetimeend").val();
            if($("#datetimestart").val() != '')
                getData();
        });
    </script>

    <!--Get data by filters and functionality-->
    <script>
        //Format number
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }

        var filters = {
            id_route_filter: [],
            plaza_filter: [],
            type_route_filter: [],
            type_vehicle_filter: [],
            vehicle_filter: [],
            origin_filter: [],
            destiny_filter: [],
            status_filter: [],
            type_incidences_filter: [],
            type_charge_filter: [],
            type_garanties_filter: [],
            client_filter: '',
            start_date_filter: '',
            end_date_filter: ''
        };

        $(document).ready(function () {
            {# var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var hrs = today.getHours();
            var min = String(today.getMinutes()).padStart(2, '0');

            var now = dd + '-' + mm + '-' + yyyy + ' ' + hrs + ':' + min;
            var onehourmore = dd + '-' + mm + '-' + yyyy + ' ' + String(today.getHours() + 1).padStart(2, '0') + ':' + min;
            $("#datetimestart").val(now);
            $("#datetimeend").val(onehourmore);

            filters.start_date_filter = now;
            filters.end_date_filter = onehourmore; #}

            getData();
        });

        function getData() {
            return $.ajax({
                type: "POST",
                url: "{{ path_for('api.tr1.cumplimiento.garantias') }}",
                dataType: "json",
                success: function (data) {
                    var total = data.umbrales[0].green.length + data.umbrales[0].yellow.length + data.umbrales[0].red.length;
                    var green = data.umbrales[0].green.length;
                    var yellow = data.umbrales[0].yellow.length;
                    var red = data.umbrales[0].red.length;

                    $("#totalCountGreen").text(numberWithCommas(green));
                    $("#totalCountYellow").text(numberWithCommas(yellow));
                    $("#totalCountRed").text(numberWithCommas(red));
                    $("#totalCount").text(numberWithCommas(total));
                    $("#totalPercentageGreen").text(Math.round((green / total) * 100) + '%');
                    $("#totalPercentageYellow").text(Math.round((yellow / total) * 100) + '%');
                    $("#totalPercentageRed").text(Math.round((red / total) * 100) + '%');
                    $("#totalPercentage").text(Math.round((total / total) * 100) + '%');

                    buildTable(data.data, total);
                },
                data: filters
            });
        } 

        function buildTable(data, total){
             const columns = [
                { title: "ID Ruta" },
                { title: "Region" },
                { title: "Regional" },
                { title: "Plaza" },
                { title: "Tipo Viaje" },
                { title: "Ruta" },
                { title: "ID" },
                { title: "Origen / Destino" },
                { title: "Tipo Vehiculo" },
                { title: "Num Eco Vehiculo" },
                { title: "Estatus" },
                { title: "Tipo Carga" },
                { title: "Num Items" },
                { title: "%" },
                { title: "Num Items" },
                { title: "%" },
                { title: "Num Items" },
                { title: "%" },
                { title: "PTA" },
                { title: "ETA" },
                { title: "RTA" },
                { title: "Tipo de Incidencia" }
            ];

            $('#containerTable').empty();
            $('#containerTable').append(
                '<table id="detailsTable" class="mb-2 table table-sm table-borderless text-center table-striped table-hover" style="text-align: center;">' +
                    '<thead class="color_border_botom_white">' +
                        '<tr>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky" colspan="2">TRAMO</th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky" colspan="2">A TIEMPO</th>' +
                            '<th class="tg-0pky" colspan="2">CON RETRASO</th>' +
                            '<th class="tg-0pky" colspan="2">FUERA DE TIEMPO</th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                        '</tr>' +
                        '<tr>' +
                            '<td class="tg-0pky">ID Ruta</td>' +
                            '<td class="tg-0pky">Region</td>' +
                            '<td class="tg-0pky">Regional</td>' +
                            '<td class="tg-0pky">Plaza</td>' +
                            '<td class="tg-0pky">Tipo Viaje</td>' +
                            '<td class="tg-0pky">Ruta</td>' +
                            '<td class="tg-0pky">ID</td>' +
                            '<td class="tg-0pky">Origen / Destino</td>' +
                            '<td class="tg-0pky">Tipo Vehiculo</td>' +
                            '<td class="tg-0pky">Num Eco Vehiculo</td>' +
                            '<td class="tg-0pky">Estatus</td>' +
                            '<td class="tg-0pky">Tipo Carga</td>' +
                            '<td class="tg-0pky">Num Items</td>' +
                            '<td class="tg-0pky">%</td>' +
                            '<td class="tg-0pky">Num Items</td>' +
                            '<td class="tg-0pky">%</td>' +
                            '<td class="tg-0pky">Num Items</td>' +
                            '<td class="tg-0pky">%</td>' +
                            '<td class="tg-0pky">PTA</td>' +
                            '<td class="tg-0pky">ETA</td>' +
                            '<td class="tg-0pky">RTA</td>' +
                            '<td class="tg-0pky">Tipo de Incidencia</td>' +
                        '</tr>' +
                    '</thead>' +
                '</table>'
            );

            $('#detailsTable').DataTable({
                data: arrayJsonToObjectArray(data),
                columns,
                ordering: false,
                searching: false,
                language: {
                    paginate: {
                        previous: "Anterior",
                        next: "Siguiente"
                    },
                    emptyTable: "No hay registros que mostrar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    search: "Buscar:",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    infoEmpty: "Mostrando 0 a 0 de 0 registros",
                },
                dom: 'lBfrtip',
                buttons: [
                   {
                        extend:    'excelHtml5',
                        text:      '<img src="{{ asset_base_url }}/dist/assets/img/excel.png">',
                        titleAttr: 'Exportar Excel',
                        title: 'Detalle de Movimientos - Análisis de Cumplimiento de Garantías'
                    },
                    {
                        extend:    'pdfHtml5',
                        text:      '<img src="{{ asset_base_url }}/dist/assets/img/pdf.png">',
                        titleAttr: 'Exportar PDF',
                        title: 'Detalle de Movimientos - Análisis de Cumplimiento de Garantías',
                        orientation: 'landscape',
                        customize: function(doc) {
                            doc.styles.tableHeader.fontSize = 8;    
                            doc.defaultStyle.fontSize = 8;
                            doc.pageMargins = [5, 5, 5, 5 ];
                        }
                    },
                    {
                        extend: 'print',
                        text: '<img src="{{ asset_base_url }}/dist/assets/img/printer.png">',
                        titleAttr: 'Imprimir',
                        title: 'Detalle de Movimientos - Análisis de Cumplimiento de Garantías',
                        exportOptions: {
                            columns: ':visible',
                            stripHtml: false,
                        },
                        customize: function ( win ) {
                            $(win.document.body)
                                .css( 'color', 'black' )
        
                            $(win.document.body).find( 'table' )
                                .addClass( 'compact' )
                                .css( 'color', 'black' );
                        }
                    }
                ]
            });

            $('#containerTable').css('margin-top', '-54px')
        }
        
        function arrayJsonToObjectArray(data){
            const dataSet = new Array;
            data.forEach(data => {
                const tempArray = new Array;
                for (let o in data) {
                    tempArray.push(data[o]);
                }
                    dataSet.push(tempArray);
            });

            return dataSet;
        }

    </script>

    <!--Export-->
    <script src="{{ asset_base_url }}/dist/js/libs/export/xlsx.full.min.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/export/FileSaver.min.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/export/tableexport.min.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/export/jspdf.min.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/export/jspdf.plugin.autotable.min.js"></script>
    <script>
        function exportExcel(){
            $tabla = document.querySelector("#detailsTable");
            let tableExport = new TableExport($tabla, {
                exportButtons: false,
                filename: "Detalle_Movimientos_Cumplimiento_Garantias.xls",
                sheetname: "Detalle de Movimientos", 
            });
            let datos = tableExport.getExportData();
            let preferenciasDocumento = datos.detailsTable.xlsx;
            tableExport.export2file(preferenciasDocumento.data, preferenciasDocumento.mimeType, preferenciasDocumento.filename, 
            preferenciasDocumento.fileExtension, preferenciasDocumento.merges, preferenciasDocumento.RTL, preferenciasDocumento.sheetname);

        }

        function exportPDF() {
             var doc = new jsPDF("p", "pt","letter")
                doc.autoTable({ 
                    styles: { font: 'Raleway, Roboto Condensed, sans-serif', fontSize: 10 },
                    html: '#detailsTable' })
                doc.save('Detalle_Movimientos_Cumplimiento_Garantias.pdf')
        }

        function exportPrint() {
            var sTable = document.getElementById('containerTable').innerHTML;
            var style = "<style>";
            style = style + "table {width: 100%;font: 12px 'Raleway', 'Roboto Condensed', sans-serif;text-align: center}";
            style = style + "table, th, td {}";
            style = style + "</style>";

            var win = window.open('', '', 'height=700,width=900');

            win.document.write('<html><head>');
            win.document.write('<title>Detalle de Movimientos - Análisis de Cumplimiento de Garantías</title>');  
            win.document.write(style);         
            win.document.write('</head>');
            win.document.write('<body>');
            win.document.write(sTable);         
            win.document.write('</body></html>');

            win.document.close(); 
            win.print();   
        
        }
    </script>

{% endblock %}