{% extends 'app/skeleton.twig' %}

{% block head %}
    <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style>
        .sb-sidenav-dark {
            height: 100%;
        }

        .table {
            color: #fff;
            font-size: 12px;
        }

        .table thead tr td{
            border-bottom: .5pt solid white !important;
        }

        .table .table {
            background-color: transparent;
        }

        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover tbody tr:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .thead-border-bottom th, .thead-border-bottom td {
            border-bottom: 1px solid #ffffff !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
        }
        #realtime_date {
            font-size: 20px !important;
        }

        .title-lmenu{

            font-size: 1rem !important;
            color: #ffffff !important;
            font-weight: bold;
            width: 100% !important;
        }

        .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
            padding: 1rem 1rem 0.20rem 1rem;
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: none;
        }

        .controls-tr1>img {
            width: 25px;
            cursor: pointer;
        }

        .form-control:disabled, .form-control[readonly] {
            background: transparent;
            border: transparent;
            border-bottom: 1px solid #e9ecef;
            line-height: 0;
            height: 20px;
            border-radius: 0;
            color: white;
            font-weight: normal;
        }

        /*Styles Select*/

        .js-example-basic-single{
            width:100%;
        }

        .select-filtros{

        }

        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;
            padding: 0.25rem 0.5rem!important;
            font-size: 0.8rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }

        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }

        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
        }

        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #aeaca4 !important;
        }

        .select-filtros .dropdown-item {
            font-size: 0.8rem;
            color: #ffffff!important;
            background-color: black!important;

        }

        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
       
        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }
        
        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus,
        {
            background-color: #5d5757;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }

        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }

        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }

        textarea:focus, input:focus{
            outline: none;
        }
        
        /*Styles Radio Buttom*/
        .container_rd {
            position: relative;
            margin-top: 10px;
            padding-left: 11%;
            cursor: pointer;
            font-size: 12px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: white;
            text-transform: capitalize;
            font-weight: normal;
        }

        .container_rd input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: #eee;
            border-radius: 50%;
        }

        .container_rd:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .container_rd input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        .container_rd input:checked ~ .checkmark:after {
            display: block;
        }

        .container_rd .checkmark:after {
            top: 5px;
            left: 5px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: white;
        }

        /*DataTable Styles*/
        div.dt-buttons {
            float: right;    
            margin-top: -3.3%;
        }

        .btn-secondary {
            color: #fff;
            background-color: transparent;
            border-color: transparent;
        }

        div.dt-buttons .btn{
            padding: 0px;
        }

    </style>
{% endblock %}

{% block filtros %}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> ID Ruta </div>
                <select class="js-example-basic-single" name="idroutes[]" id="idroute_filter" multiple>
                    {% for entry in idRoutes %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin rutas</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="plazas[]"  id="plaza_filter" multiple>
                    {% for entry in plazas %}
                        <option value="{{ entry.warehouse }}">{{ entry.warehouse }}</option>
                    {% else %}
                        <option value="0">Sin plazas</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Viaje</div>
                <select class="js-example-basic-single" name="typeroute[]"  id="typeroute_filter" multiple>
                    {% for entry in typeRoutes %}
                        <option value="{{ entry.type }}">{{ entry.type}}</option>
                    {% else %}
                        <option value="0">Sin tipos de ruta</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Origen </div>
                <select class="js-example-basic-single" name="origin[]"  id="origin_filter" multiple>
                    {% for entry in origin %}
                        <option value="{{ entry.locationcodeorigin }}">{{ entry.locationcodeorigin }}</option>
                    {% else %}
                        <option value="0">Sin Origen</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Destino </div>
                <select class="js-example-basic-single" name="destiny[]"  id="destiny_filter" multiple>
                    {% for entry in destiny %}
                        <option value="{{ entry.locationcodedestiny }}">{{ entry.locationcodedestiny }}</option>
                    {% else %}
                        <option value="0">Sin Destino</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> No Operador </div>
                <select class="js-example-basic-single" name="noperator[]"  id="noperator_filter" multiple>
                    {% for entry in nOperator %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Operador</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Vehículo </div>
                <select class="js-example-basic-single" name="typevehicle[]"  id="typevehicle_filter" multiple>
                    {% for entry in typeVehicle %}
                        <option value="{{ entry.typename }}">{{ entry.typename }}</option>
                    {% else %}
                        <option value="0">Sin Tipo de Vehículo</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Vehículo </div>
                <select class="js-example-basic-single" name="vehicle[]"  id="vehicle_filter" multiple>
                    {% for entry in vehicle %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Vehículo</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> % Ocupación  </div>
                <div class="d-flex justify-content-center">
                    <div class="w-75">
                        <input type="range" class="custom-range" id="customRange" min="0" max="100" value="0">
                    </div>
                    <span class="font-weight-bold text-white ml-2 por_ocupation"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Estatus </div>
                <select class="js-example-basic-single" name="status[]"  id="status_filter" multiple>
                    {% for entry in status %}
                        <option value="{{ entry.status }}">{{ entry.status }}</option>
                    {% else %}
                        <option value="0">Sin Estatus</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Incidencia </div>
                <select class="js-example-basic-single" name="type_incidence"  id="typeincidence_filter" multiple>
                    {% for entry in [] %}
                        <option value="{{ entry }}">{{ entry }}</option>
                    {% else %}
                        <option value="0">Sin Tipo Incidencia</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipo Evento </div>
                <form id="radiosTypeEvent" name="radiosTypeEvent">
                   <label class="container_rd">Llegadas
                        <input type="radio" checked="checked" name="radio" value="Llegadas">
                        <span class="checkmark"></span>
                    </label><br/>
                    <label class="container_rd">Salidas
                        <input type="radio" name="radio" value="Salidas">
                        <span class="checkmark"></span>
                    </label><br/>
                    <label class="container_rd">En tránsito
                        <input type="radio" name="radio" value="En tránsito">
                        <span class="checkmark"></span>
                    </label>
                </form>
            </div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Inicial</label>
        <input size="12" type="text" class="form-control" id="datetimestart" readonly>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Final</label>
        <input size="12" type="text" class="form-control" id="datetimeend" readonly>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>

    <div class=" mt-3 ml-auto mr-auto">
        <a class="btn btn-sm btn-dark" href="{{ path_for('logout') }}" ><span class="ml-1">Cerrar sesión</span>{#<i class="fa fa-sign-out-alt"></i>#}</a>
        <a class="btn btn-sm btn-dark" href="{{ path_for('home') }}"><span class="ml-1">Regresar</span></a>
    </div>
<br/>
{% endblock %}
{% block contenido %}
    <div>
        <div style="text-align: center;font-weight: bold;padding-bottom: 2%;"><span id="radioSelected">Información de Llegadas</span></div>

        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <span id="title" style="text-align: center;width: 100%;position: absolute;top: 4%;">TOTAL</span>
                <canvas id="TOTAL"></canvas>
            </div>
            <div class="col-md-4">
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <span id="title_p" style="text-align: center;width: 100%;position: relative;top: 4%; margin-bottom: 50%;">Región Pacífico-Norte</span>
                <canvas id="PACIFICO"></canvas>
            </div>
            <div class="col-md-4">
                <span id="title_c" style="text-align: center;width: 100%;position: absolute;top: 4%;">Región Centro-Sureste</span>
                <canvas id="CENTRO"></canvas>
            </div>
            <div class="col-md-4">
                <span id="title_b" style="text-align: center;width: 100%;position: absolute;top: 4%;">Región Bajío-Occidente</span>
                <canvas id="BAJIO"></canvas>
            </div>
        </div>
      
        <br>

        <div class="row">
            <div class="col-md-12" style="color: #ffffff; text-align:center; height: 45px;">
                <h4>Detalle de Movimientos</h4>
            </div>
        </div>

        <div id="containerTable" class="table table-responsive text-white p-2"></div>

        <div class="row" style="font-size: 12px; padding: 0 0 5px 0;">
            <div class="col-md-5">
                <i>PTA: Tiempo Planeado de Arribo-RTA:Tiempo Real de Arribo</i>
            </div>
            <div class="col-md-7" style="text-align: right">
                <img src="{{ asset_base_url }}/dist/assets/img/green.png"><span> A Tiempo (RTA-PTA<=0)</span>&nbsp;&nbsp;
                <img src="{{ asset_base_url }}/dist/assets/img/yellow.png"><span> Retrasado (RTA-PTA<=15min)</span>&nbsp;&nbsp;
                <img src="{{ asset_base_url }}/dist/assets/img/red.png"><span> Tarde (RTA-PTA>15min)</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!--Clock and date-->
    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n, 10) < 10 ? '0' : '') + n;
        }
        function updateTime() {
            var timeNow = new Date(),
                    hh = timeNow.getHours(),
                    mm = timeNow.getMinutes(),
                    ss = timeNow.getSeconds(),
                    formatAMPM = (hh >= 12 ? 'PM' : 'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) + " " + formatAMPM;
            currentTime_date.innerHTML = monthNames[timeNow.getMonth()] + " " + timeNow.getUTCDate() + ", " + timeNow.getFullYear();
            setTimeout(updateTime, 1000);
        }
        updateTime();
    </script>

    <!--Hide titles charts and declare filters-->
    <script>
        $("#title").css("display","none");
        $("#title_p").css("display","none");
        $("#title_c").css("display","none");
        $("#title_b").css("display","none");

        var filters = {
            id_route_filter: [],
            plaza_filter: [],
            type_route_filter: [],
            origin_filter: [],
            destiny_filter: [],
            n_operator_filter: [],
            type_vehicle_filter: [],
            vehicle_filter: [],
            por_ocupation_filter: 0,
            status_filter: [],
            type_incidences_filter: [],
            type_event_filter: 'Llegadas',
            start_date_filter: '',
            end_date_filter: ''
        };
    </script>

    <!--Checkboxs-->
    <script src="{{ asset_base_url }}/dist/js/libs/table2excel/jquery.table2excel.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                //width: '100%',
                allowClear: false
            });
        });
    </script>
    
    <!--Datetimepicker-->
    <script type="text/javascript">
        $("#datetimestart").datetimepicker({
            format: 'dd-mm-yyyy hh:ii',
            autoclose: true
        });
        $("#datetimeend").datetimepicker({
            format: 'dd-mm-yyyy hh:ii',
            autoclose: true
        });
    </script>

    <!--Actions by filters-->
    <script type="text/javascript">
        //Show value selected in radio and execute gerData
        document.radiosTypeEvent.onclick = function(){
            var radVal = document.radiosTypeEvent.radio.value;
            radioSelected.innerHTML = "Información de " + radVal;
            
            filters.type_event_filter = radVal;
            getData();
        }

        //filter idroute
        $('#idroute_filter').on('change', function () {
            var id = $('#idroute_filter').select2('data');
            var idSeleccionados = [];
            $.each(id, function (i, e) {
                idSeleccionados.push(e.text);
            });
            filters.id_route_filter = idSeleccionados;
            getData();
        });     

        //filter plaza
        $('#plaza_filter').on('change', function () {
            var plaza = $('#plaza_filter').select2('data');
            var plazaSeleccionadas = [];
            $.each(plaza, function (i, e) {
                plazaSeleccionadas.push(e.text);
            });
            filters.plaza_filter = plazaSeleccionadas;
            getData();
        }); 

        //filter typeroute
        $('#typeroute_filter').on('change', function () {
            var type = $('#type_route_filter').select2('data');
            var typeSeleccionados = [];
            $.each(type, function (i, e) {
                if(e.text == 'Viaje Extra')
                    typeSeleccionados.push(true);
                else
                    typeSeleccionados.push(false);
            });
            filters.type_route_filter = typeSeleccionados;
            getData();
        });

        //filter origin
        $('#origin_filter').on('change', function () {
            var origin = $('#origin_filter').select2('data');
            var originSeleccionados = [];
            $.each(origin, function (i, e) {
                originSeleccionados.push(e.text);
            });
            filters.origin_filter = originSeleccionados;
            getData();
        });

        //filter destiny
        $('#destiny_filter').on('change', function () {
            var destiny = $('#destiny_filter').select2('data');
            var destinySeleccionados = [];
            $.each(destiny, function (i, e) {
                destinySeleccionados.push(e.text);
            });
            filters.destiny_filter = destinySeleccionados;
            getData();
        });

        //filter noperator
        $('#noperator_filter').on('change', function () {
            var noperator = $('#noperator_filter').select2('data');
            var noperatorSeleccionados = [];
            $.each(noperator, function (i, e) {
                noperatorSeleccionados.push(e.text);
            });
            filters.n_operator_filter = noperatorSeleccionados;
            getData();
        });

        //filter typevehicle
        $('#typevehicle_filter').on('change', function () {
            var typevehicle = $('#typevehicle_filter').select2('data');
            var typevehicleSeleccionados = [];
            $.each(typevehicle, function (i, e) {
                typevehicleSeleccionados.push(e.text);
            });
            filters.type_vehicle_filter = typevehicleSeleccionados;
            getData();
        });

        //filter vehicle
        $('#vehicle_filter').on('change', function () {
            var vehicle = $('#vehicle_filter').select2('data');
            var vehicleSeleccionados = [];
            $.each(vehicle, function (i, e) {
                vehicleSeleccionados.push(e.text);
            });
            filters.vehicle_filter = vehicleSeleccionados;
            getData();
        });

        //filter status
        $('#status_filter').on('change', function () {
            var status = $('#status_filter').select2('data');
            var statusSeleccionados = [];
            $.each(status, function (i, e) {
                statusSeleccionados.push(e.text);
            });
            filters.status_filter = statusSeleccionados;
            getData();
        });

        //filter by dates
        $('#datetimestart').on('change', function () {
            filters.start_date_filter = $("#datetimestart").val();
            if($("#datetimeend").val() != '')
                getData();
        });
        $('#datetimeend').on('change', function () {
            filters.end_date_filter = $("#datetimeend").val();
            if($("#datetimestart").val() != '')
                getData();
        });

        //filter % ocupation
        const $valueSpan = $('.por_ocupation');
        const $value = $('#customRange');
        $value.on('input change', () => {
            $valueSpan.html($value.val());
            filters.por_ocupation_filter = $value.val();
        });
        $value.on("focusout", function(){
            console.log('out');
            getData();
        });
    </script>

    <!--Charts-->
    <script type="text/javascript" src="{{ asset_base_url }}/dist/js/chartjs-plugin-piechart-outlabels.js"></script>
    <script>
        //Format number
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }

        //TOTAL
        var ctx = document.getElementById('TOTAL').getContext('2d');
            var myDoughnutChart_total = new Chart(ctx, {
                type: 'outlabeledPie',
                data: [],
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    tooltips: {
                        enabled: false
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontSize: 12,
                            fontColor: '#fff'
                        },
                    },
                    cutoutPercentage: 70,
                    //zoomOutPercentage: 10, 
                    plugins: {
                        datalabels: {
                            display: false
                        },
                        outlabels: {
                            //text: '%v Viajes %p %l',
                            text : function(value) {
                                var numformat = numberWithCommas(value.dataset.data[value.dataIndex]);
                                return numformat + ' Viajes %p'
                            },
                            color: 'white',
                            backgroundColor: "rgba(255,255,255,0)",
                            stretch: 20,
                            font: {
                                resizable: true,
                                minSize: 12,
                                maxSize: 18
                            }
                        }
                    },
                    title: {
                        display: true,
                        text: 'TOTAL',
                        fontColor: "#fff",
                        fontSize: 16,
                        weight: 100,
                        fontStyle: 'normal',
                    }
                }
            });
            myDoughnutChart_total.canvas.parentNode.style.height = '300px';

        //PACIFICO NORTE
        var ctx_p = document.getElementById('PACIFICO').getContext('2d');
            var myDoughnutChart_pacific = new Chart(ctx_p, {
                type: 'outlabeledPie',
                data: [],
                options: {
                    tooltips: {
                    enabled: false
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontSize: 12,
                            fontColor: '#fff'
                        },
                    },
                    cutoutPercentage: 70,
                    //zoomOutPercentage: 20, 
                    plugins: {
                        datalabels: {
                            display: false
                        },
                        outlabels: {
                            //text: '%v Viajes %p %l',
                            text : function(value) {
                                var numformat = numberWithCommas(value.dataset.data[value.dataIndex]);
                                return numformat + ' Viajes %p'
                            },
                            color: 'white',
                            backgroundColor: "rgba(255,255,255,0)",
                            stretch: 10,
                            font: {
                                resizable: true,
                                minSize: 12,
                                maxSize: 18
                            }
                        }
                    },
                    title: {
                        display: true,
                        text: 'Región Pacífico-Norte',
                        fontColor: "#fff",
                        fontSize: 16,
                        weight: 100,
                        fontStyle: 'normal',
                    }
                }
            });
        
        //CENTRO SURESTE
        var ctx_c = document.getElementById('CENTRO').getContext('2d');
            var myDoughnutChart_central = new Chart(ctx_c, {
                type: 'outlabeledPie',
                data: [],
                options: {
                    tooltips: {
                    enabled: false
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontSize: 12,
                            fontColor: '#fff'
                        },
                    },
                    cutoutPercentage: 70,
                    //zoomOutPercentage: 20, 
                    plugins: {
                        datalabels: {
                            display: false
                        },
                        outlabels: {
                            //text: '%v Viajes %p %l',
                            text : function(value) {
                                var numformat = numberWithCommas(value.dataset.data[value.dataIndex]);
                                return numformat + ' Viajes %p'
                            },
                            color: 'white',
                            backgroundColor: "rgba(255,255,255,0)",
                            stretch: 10,
                            font: {
                                resizable: true,
                                minSize: 12,
                                maxSize: 18
                            }
                        }
                    },
                    title: {
                        display: true,
                        text: 'Región Centro-Sureste',
                        fontColor: "#fff",
                        fontSize: 16,
                        weight: 100,
                        fontStyle: 'normal',
                    }
                }
            });

        //BAJIO OCCIDENTE
        var ctx_b = document.getElementById('BAJIO').getContext('2d');
            var myDoughnutChart_bajio = new Chart(ctx_b,{
                type: 'outlabeledPie',
                data: [],
                options: {
                    tooltips: {
                    enabled: false
                    },
                    legend: {
                        display: true,
                        position: 'right',
                        labels: {
                            fontSize: 12,
                            fontColor: '#fff'
                        },
                    },
                    cutoutPercentage: 70,
                    //zoomOutPercentage: 20, 
                    plugins: {
                        datalabels: {
                            display: false
                        },
                        outlabels: {
                            //text: '%v Viajes %p %l',
                            text : function(value) {
                                var numformat = numberWithCommas(value.dataset.data[value.dataIndex]);
                                return numformat + ' Viajes %p'
                            },
                            color: 'white',
                            backgroundColor: "rgba(255,255,255,0)",
                            stretch: 10,
                            font: {
                                resizable: true,
                                minSize: 12,
                                maxSize: 18
                            }
                        }
                    },
                    title: {
                        display: true,
                        text: 'Región Bajío-Occidente',
                        fontColor: "#fff",
                        fontSize: 16,
                        weight: 100,
                        fontStyle: 'normal',
                    }
                }
            });
    </script>

    <!--Get data-->
    <script>
        $(document).ready(function () {
            {# var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            var hrs = today.getHours();
            var min = String(today.getMinutes()).padStart(2, '0');

            var now = dd + '-' + mm + '-' + yyyy + ' ' + hrs + ':' + min;
            var onehourmore = dd + '-' + mm + '-' + yyyy + ' ' + String(today.getHours() + 1).padStart(2, '0') + ':' + min;
            $("#datetimestart").val(now);
            $("#datetimeend").val(onehourmore);

            filters.start_date_filter = now;
            filters.end_date_filter = onehourmore; #}
            
            $valueSpan.html($value.val());
            filters.por_ocupation_filter = $value.val();

            getData();
        });

        function getData() {
            return $.ajax({
                type: "POST",
                url: "{{ path_for('api.tr1.cumplimiento') }}",
                dataType: "json",
                success: function (data) {
                    if(sumData(data.datasetsTotal.datasets[0].data) > 0){
                        myDoughnutChart_total.data = data.datasetsTotal;
                        myDoughnutChart_total.update();
                        $("#TOTAL").css("display","block");
                        $("#title").css("display","none");
                    }
                    else{
                        $("#TOTAL").css("display","none");
                        $("#title").css("display","block");
                    }

                    if(sumData(data.datasetsPacific.datasets[0].data) > 0){
                        myDoughnutChart_pacific.data = data.datasetsPacific;
                        myDoughnutChart_pacific.update();
                        $("#PACIFICO").css("display","block");
                        $("#title_p").css("display","none");
                    }
                    else{
                        $("#PACIFICO").css("display","none");
                        $("#title_p").css("display","block");
                    }

                    if(sumData(data.datasetsCentral.datasets[0].data) > 0){
                        myDoughnutChart_central.data = data.datasetsCentral;
                        myDoughnutChart_central.update();
                        $("#CENTRO").css("display","block");
                        $("#title_c").css("display","none");
                    }
                    else{
                        $("#CENTRO").css("display","none");
                        $("#title_c").css("display","block");
                    }

                    if(sumData(data.datasetsBajio.datasets[0].data) > 0){
                        myDoughnutChart_bajio.data = data.datasetsBajio;
                        myDoughnutChart_bajio.update();
                        $("#BAJIO").css("display","block");
                        $("#title_b").css("display","none");
                    }
                    else{
                        $("#BAJIO").css("display","none");
                        $("#title_b").css("display","block");
                    }

                    buildTable(data.data);
                },
                data: filters
            });
        } 

        function sumData(input){
            var total =  0;
            for(var i=0;i<input.length;i++)
            {                  
                if(isNaN(input[i])){
                    continue;
                }
                total += Number(input[i]);
                return total;
            }
        }

        function buildTable(data){
            const columns = [
                { title: "Fecha" },
                { title: "ID Ruta" },
                { title: "Región" },
                { title: "Regional" },
                { title: "Plaza" },
                { title: "Tipo" },
                { title: "No Operador" },
                { title: "Operador" },
                { title: "ID" },
                { title: "Origen / Destino" },
                { title: "Tipo" },
                { title: "Num Eco" },
                { title: "Num Eco" },
                { title: "% Ocupación" },
                { title: "Num Eco" },
                { title: "% Ocupación" },
                { title: "Num Eco" },
                { title: "" },
                { title: "Tipo" },
                { title: "Observaciones" },
            ];

            $('#containerTable').empty();
            $('#containerTable').append(
                '<table id="dtDetailMovements" class="mb-2 table table-sm table-borderless text-center table-striped table-hover" style="text-align: center;">'+
                    '<thead class="color_border_botom_white">' +
                        '<tr>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-0pky"></th>' +
                            '<th class="tg-za14" colspan="2">Tramo</th>' +
                            '<th class="tg-lboi" colspan="2">Vehículo</th>' +
                            '<th class="tg-lboi" colspan="2">Contenedor 1</th>' +
                            '<th class="tg-lboi" colspan="2">Contenedor 2</th>' +
                            '<th class="tg-cly1">Dolly</th>' +
                            '<th class="tg-cly1">Estatus</th>' +
                            '<th class="tg-cly1" colspan="2">Incidencia</th>' +
                        '</tr>' +
                        '<tr>' +
                            '<td class="tg-0pky">Fecha</td>' +
                            '<td class="tg-0pky">ID Ruta</td>' +
                            '<td class="tg-0pky">Región</td>' +
                            '<td class="tg-0pky">Regional</td>' +
                            '<td class="tg-0pky">Plaza</td>' +
                            '<td class="tg-0pky">Tipo</td>' +
                            '<td class="tg-0pky">No Operador</td>' +
                            '<td class="tg-0pky">Operador</td>' +
                            '<td class="tg-0pky">ID</td>' +
                            '<td class="tg-0pky">Origen / Destino</td>' +
                            '<td class="tg-0pky">Tipo</td>' +
                            '<td class="tg-0pky">Num Eco</td>' +
                            '<td class="tg-0pky">Num Eco</td>' +
                            '<td class="tg-0pky">% Ocupación</td>' +
                            '<td class="tg-0pky">Num Eco</td>' +
                            '<td class="tg-0lax">% Ocupación</td>' +
                            '<td class="tg-0lax">Num Eco</td>' +
                            '<td class="tg-0lax"></td>' +
                            '<td class="tg-0lax">Tipo</td>' +
                            '<td class="tg-0lax">Observaciones</td>' +
                        '</tr>' +
                    '</thead>' +
                '</table>'
            );

            $('#dtDetailMovements').DataTable({
                data: arrayJsonToObjectArray(data),
                columns,
                ordering: false,
                searching: false,
                language: {
                    paginate: {
                        previous: "Anterior",
                        next: "Siguiente"
                    },
                    emptyTable: "No hay registros que mostrar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    search: "Buscar:",
                    info: "Mostrando _START_ a _END_ de _TOTAL_ registros",
                    infoEmpty: "Mostrando 0 a 0 de 0 registros",
                },
                dom: 'lBfrtip',
                buttons: [
                   {
                        extend:    'excelHtml5',
                        text:      '<img src="{{ asset_base_url }}/dist/assets/img/excel.png">',
                        titleAttr: 'Exportar Excel',
                        title: 'Detalle de Movimientos - Cumplimiento TR1'
                    },
                    {
                        extend:    'pdfHtml5',
                        text:      '<img src="{{ asset_base_url }}/dist/assets/img/pdf.png">',
                        titleAttr: 'Exportar PDF',
                        title: 'Detalle de Movimientos - Cumplimiento TR1',
                        orientation: 'landscape',
                        customize: function(doc) {
                            doc.styles.tableHeader.fontSize = 8;    
                            doc.defaultStyle.fontSize = 8;
                            doc.pageMargins = [5, 5, 5, 5 ];
                        }
                    },
                    {
                        extend: 'print',
                        text: '<img src="{{ asset_base_url }}/dist/assets/img/printer.png">',
                        titleAttr: 'Imprimir',
                        title: 'Detalle de Movimientos - Cumplimiento TR1',
                        exportOptions: {
                            columns: ':visible',
                            stripHtml: false,
                        },
                        customize: function ( win ) {
                            $(win.document.body)
                                .css( 'color', 'black' )
        
                            $(win.document.body).find( 'table' )
                                .addClass( 'compact' )
                                .css( 'color', 'black' );
                        }
                    }
                ]
            });

            $('#containerTable').css('margin-top', '-54px')
        }

        function arrayJsonToObjectArray(data){
            const dataSet = new Array;
            data.forEach(data => {
                const tempArray = new Array;
                for (let o in data) {
                    tempArray.push(data[o]);
                }
                    dataSet.push(tempArray);
            });

            return dataSet;
        }
    </script>

{% endblock %}