{% extends 'app/skeleton.twig' %}

{% block filtros %}
    {#<div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1" >
        <div class="float-left text-white text-capitalize"> Plaza </div>
        <select id="filtro_plaza" class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option id="0">Seleccione</option>
            {% for entry in plazas %}
                <option id="{{ entry.locationid }}">{{ entry.locationcode }}</option>
            {% else %}
                <option id="0">Sin plazas</option>
            {% endfor %}
        </select>
    </div>#}

    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Plazas </div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_plaza">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin plazas</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>


    {#<div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1" >
        <div class="float-left text-white text-capitalize"> Tipo Garantía </div>
        <select id="filtro_garantia" class="select-filtros float-right  selectpicker btn-sm select2" multiple="multiple" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option id="0">Seleccione</option>
            {% for entry in garantias %}
                <option id="{{ entry.garantiaid }}">{{ entry.garantianom }}</option>
            {% else %}
                <option id="0">Sin garantías</option>
            {% endfor %}
        </select>
    </div>#}

    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Tipos Garantía </div>
                <select class="js-example-basic-single" name="gtrs[]"  multiple="multiple" id="filtro_garantia">
                    {% for entry in garantias %}
                        <option value="{{ entry.garantiaid }}">{{ entry.garantianom }}</option>
                    {% else %}
                        <option value="0">Sin garatías</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>


    {#<div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1" >
        <div class="float-left text-white text-capitalize"> Cliente </div>
        <select id="filtro_cliente" class="select-filtros float-right  selectpicker btn-sm select2" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option id="0">Seleccione</option>
            {% for entry in clientes %}
                <option id="{{ entry.numerocliente }}">{{ entry.numerocliente }}</option>
            {% else %}
                <option id="0">Sin clientes</option>
            {% endfor %}
        </select>
    </div>#}


    {#<div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Cliente </div>
                <select class="js-example-basic-single" name="clt" id="filtro_cliente">

                    <option selected value="0">Seleccione</option>
                    {% for entry in clientes %}
                        <option value="{{ entry.numerocliente }}">{{ entry.numerocliente }}</option>
                    {% else %}
                        <option value="0">Sin garatías</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>#}

    <div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1" >
        <div class="float-left text-white text-capitalize"> Cliente </div>
        <input id="filtro_cliente" type="text" class="input-calendar-custom float-right " name=" "  style="width: 65%!important;">
    </div>


    <div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1" >
        <div class="float-left text-white text-capitalize"> Núm. Guía </div>
        <input id="filtro_guia" type="text" class="input-calendar-custom float-right " name=" "  style="width: 65%!important;">
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha{#-hora#} inicial</label>
    </div>
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            {# dd/mm/yyyy hh:mm #}
            <input id="fechaInicio" class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy" type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>

    {#<div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha#}{#-hora#}{# final</label>
    </div>
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input id="fechaFin" class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading text-left pb-1 pt-0 mt-3">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>#}
    <div class="sb-sidenav-menu-heading pt-0 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="fechaEntrega" name="fechaEntrega">
            <label class="custom-control-label text-white" for="fechaEntrega">ENTREGADOS</label>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading  pt-0 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="codigoPostal" name="codigoPostal">
            <label class="custom-control-label text-white" for="codigoPostal">C.P. ENTREGA NULO</label>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading pt-0 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>
    
    <div class="sb-sidenav-menu-heading pb-2 pt-1">
        <button id="btn_consultar">Consultar</button>
    </div>

    <div class=" mt-3 ml-auto mr-auto">
        <a class="btn btn-sm btn-dark" href="{{ path_for('logout') }}" ><span class="ml-1">Cerrar sesión</span>{#<i class="fa fa-sign-out-alt"></i>#}</a>
        <a class="btn btn-sm btn-dark" href="{{ path_for('home') }}"><span class="ml-1">Regresar</span></a>
    </div>
    {#<div class=" mt-3 ml-auto mr-auto">
        <a class="btn btn-sm btn-dark export" href="#" onclick="generarExcel()"><span class="ml-1">ECL</span>#}{#<i class="fa fa-sign-out-alt"></i>#}{#</a>
    </div>#}



{% endblock %}


{% block head %}

    <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style>
        .chartWrapper {
            position: relative;

        }

        .chartWrapper > canvas {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events:none;
        }
        .chartAreaWrapper {
            overflow-x: scroll;
            position: relative;
            width: 100%;
        }

        .chartAreaWrapper2 {
            position: relative;
            height: 300px;
        }
        .chartAreaWrapperTR2 {
            position: relative;
            height: 300px;
        }
        .chartAreaWrapperCP {
            position: relative;
            height: 300px;
        }


    </style>
    <style type="text/css">




        #myChart{
            /* margin: -20px !important;*/
            height: 140px !important;
            width: 45% !important;
        }

        .table-black{
            color: #fff !important;
            background-color: #000000 !important;
        }




        .custom-fontsize-table{
            font-size: small !important;

        }

        .table_llegadas_tr1>tbody>tr>td{
            vertical-align: middle;
        }



        .vehicle_arriving{
            border: 1px solid white;
            border-radius: 5px;
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }
        .vehicle_arrived{
            /*border: 1px solid white;
            border-radius: 10px;*/
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }

        /*styles for filtros */
        .select-filtros{
            /* width: 70%!important;*/

        }



        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            /* padding: 0.5rem 0 5px 0; */
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;

            padding: 0.25rem 0.5rem!important;
            font-size: 0.8rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }
        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }
        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
            /*transform: translate3d(80px, 121px, 0px)!important;*/
        }
        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #aeaca4 !important;
        }
        .select-filtros .dropdown-item {
            font-size: 0.8rem;
            color: #ffffff!important;
            background-color: black!important;

        }
        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
        /* .select-filtros>.dropdown-menu[x-out-of-boundaries]{
             transform: translate3d(0px, 30px, 0px) !important; //give valid transform
         //or use visiblity hidden;
         }*/

        /*styles for datetime*/
        .form-control {
            height: calc(1.5em + 0.75rem + 2px)!important;
            padding: 0.065rem 0.25rem!important;
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
        }
        .input-group-text {
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            padding: 0.375rem 0.30rem!important;
            color: #ffffff;
            border: none;
        }
        /*end styles for filtros */



        /*maps styles */
        #mapModalLlegadasTr1{
            width: 100%;
            height: 80vh;
        }
        .seePosition{
            cursor: pointer;
        }

        .labels {
            color: white;
            background-color: red;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            text-align: center;
            width: 30px;
            white-space: nowrap;
        }
        /*end maps styles */



        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
        /*styles for control burrons*/






        /*styles for calendar datetimepicker*/
        .icon-calendar-custom{
            color: white;
            font-size: large;
            cursor: pointer;
        }
        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }


        div.select-filtros {
            padding: 0 5px 0 0!important;
        }



        /*styles for date time picker*/
        .datetimepicker{
            background-color: black!important;
            border: 1px solid white!important;
            color: white!important;
            font-size: 0.8rem!important;
        }
        .datetimepicker table tr td.active{
            background-color:  #ffea55!important;
        }
        .datetimepicker table tr td span:hover {
            background-image: linear-gradient(to bottom, #ffea55, #ccbf23)!important;
            color: black!important;
        }
        .datetimepicker table tr td.day:hover {
            background: #ffea55!important;
            cursor: pointer;
            color: black!important;
        }
        .datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
            background: #ffea55!important;
            color: black!important;
        }
        /*end styles for date time picker*/




        /*styles for menu d+5*/
        .custom-modal-menu .jconfirm-box{
            background-color: #b1b1b1 !important;
            color: black!important;
        }
        .button-menu-d5{
            background-color: #b1b1b1 !important;
            color: black!important;
        }
        /*end styles for menu d+5*/






        /*custom modal border size*/
        .jconfirm .jconfirm-box{
            padding: 7px 8px 0 8px!important;
        }
        .jconfirm .jconfirm-title-c{
            padding-bottom: 7px!important;
        }
        .jconfirm .jconfirm-box div.jconfirm-content-pane {
            margin-bottom: 0!important;
            /*padding: 0 0 10px 0!important;*/
            color: rgba(0, 0, 0, 0.87)!important;
        }
        .jconfirm .jconfirm-bootstrap .jconfirm-box div.jconfirm-content {
            color: rgba(0, 0, 0, 0.87)!important;
            /* padding: 0 0 10px 0!important;*/

        }
        /*end custom modal border size*/


        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
        /*styles for control burrons*/








        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }
        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus,
        /*.select2-container--default .select2-selection--multiple > span > span > ul > li > input::placeholder*/
        {
            background-color: #5d5757;
        }
        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }
        .select2 {
            width:100%!important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }



        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }


        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }

        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }


        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }

    </style>
{% endblock %}
{% block contenido %}


    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 justify-content-center">
            <div class="title_chart text-center"> {#Plazas Mérida#}</div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10 justify-content-center">
            <div id="canvas-holder " style="/*background-color: rgba(148,148,148,0.5)*/">
                <canvas id="myChart_dias"  height="150vh" ></canvas>
                <div id="output" style="position:absolute; padding:5px;"></div>
                <div class="text-center" id="legends">
                    <ul class="0-legend">
                        <li><span style="background-color:#8d83cf"></span>9:30</li>
                        <li><span style="background-color:#e8a97d"></span>11:30</li>
                        <li><span style="background-color:#aeaca4"></span>Dia Siguiente</li>
                        <li><span style="background-color:#ddda69"></span>Dia Siguiente Terrestre</li>
                        <li><span style="background-color:#9dcfa5"></span>2 Dias</li>
                        <li><span style="background-color: #91aec4;"></span>Terrestre</li>
                        <li><span style="background-color: #ffdbad;"></span>LTL</li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
    <div class="row">
        {#<div class="col-12 col-sm-12 col-md-12 col-lg-12 justify-content-center">
            <div class="title_chart text-center">Detalle Mérida - D+1 por Ruta TR2</div>
        </div>#}
    </div>
    <div class="row justify-content-md-center">
        {#<div class="col-10 col-sm-10 col-md-10 col-lg-10 justify-content-center">
            <div id="canvas-holder " style="background-color: rgba(148,148,148,0.5)">
                <canvas id="myChart_tr2"  height="150vh" ></canvas>
            </div>
        </div>#}


    </div>



{% endblock %}


{% block scripts %}
    <script src="{{ asset_base_url }}/dist/js/libs/table2excel/jquery.table2excel.js"></script>
    {#<script src="{{ asset_base_url }}/dist/js/libs/hammerjs/hammerjs208.js"></script>#}
    {#<script src="{{ asset_base_url }}/dist/js/libs/ChartJS/plugins/chartjs-plugin-zoom074.js"></script>#}
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                width: '100%',
                allowClear: false
            });
            /* $(document).ready(function() {
             $('.js-example-basic-single').select2({
             width: '100%',
             allowClear: false
             });
             
             });*/
        });


    </script>

    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n, 10) < 10 ? '0' : '') + n;
        }
        function updateTime() {
            var timeNow = new Date(),
                    hh = timeNow.getHours(),
                    mm = timeNow.getMinutes(),
                    ss = timeNow.getSeconds(),
                    formatAMPM = (hh >= 12 ? 'PM' : 'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) + " " + formatAMPM;
            currentTime_date.innerHTML = monthNames[timeNow.getMonth()] + " " + timeNow.getDate() + ", " + timeNow.getFullYear();
            setTimeout(updateTime, 1000);
        }
        updateTime();
    </script>

    <script>

        /*Chart.plugins.register({
         onEvent: function(chartInstance, chartEvent) {
         var xAxis = chartInstance.scales['xAxis1'];
         
         // If mouse is over the legend, change cursor style to pointer, else don't show it
         var x = chartEvent.x;
         var y = chartEvent.y;
         
         if (chartEvent.type === 'click' &&
         x <= xAxis.right && x >= xAxis.left &&
         y <= xAxis.bottom && y >= xAxis.top) {
         // category scale returns index here for some reason
         var index = xAxis.getValueForPixel(x);
         console.log (chartInstance.data.labels[index]);
         }
         }
         });*/

        /*var dataSource = {
         codigopos:"{{ path_for('api.data.codigopos') }}",
         tr2:"{{ path_for('api.data.tr2') }}",
         tr1:"{{ path_for('api.origen.ant.filtrar') }}",
         
         };*/
        var dataSource = {
            codigopos: "{{ path_for('api.data.codigopos') }}",
            codigopos_detalle: "{{ path_for('api.data.det.guias') }}",
            tr1: "{{ path_for('api.origen.ant.filtrar') }}",
            tr1_detalle: "{{ path_for('api.data.det.guias.tr1') }}",
            tr2_detalle: "{{ path_for('api.data.det.guias.tr2') }}",
            tr2: "{{ path_for('api.data.tr2') }}",
            /*params: post()*/
        };

        var barChartData = {
            labels: ['D-30', 'D+0', 'D+1', 'D+2', 'D+3', 'D+4', 'D+5'],
            datasets: [
                {
                    label: '9:30',
                    backgroundColor: "#8d83cf",
                    stack: 'Stack 0',
                    data: [
                        100,
                        150,
                        0,
                        50,
                        40,
                        30
                    ]
                },
                {
                    label: '11:30',
                    backgroundColor: "#e8a97d",
                    stack: 'Stack 0',
                    data: [
                        400,
                        350,
                        0,
                        20,
                        80,
                        0
                    ]
                },
                {
                    label: 'Día Sig.',
                    backgroundColor: "#aeaca4",
                    stack: 'Stack 0',
                    data: [
                        1000,
                        600,
                        0,
                        50,
                        0,
                        5
                    ]
                },
                {
                    label: 'Día Sig. Terr.',
                    backgroundColor: "#ddda69",
                    stack: 'Stack 0',
                    data: [
                        800,
                        500,
                        800,
                        100,
                        0,
                        0
                    ]
                },
                {
                    label: '2 Días',
                    backgroundColor: "#9dcfa5",
                    stack: 'Stack 0',
                    data: [
                        20,
                        103,
                        41,
                        86,
                        0,
                        0
                    ]
                },
                {
                    label: 'Apoyo a OT',
                    backgroundColor: "#c3af85",
                    stack: 'Stack 0',
                    data: [
                        20,
                        103,
                        41,
                        86,
                        0,
                        0
                    ]
                },
                {
                    label: 'LTL',
                    backgroundColor: "#d07162",
                    stack: 'Stack 0',
                    data: [
                        20,
                        103,
                        41,
                        86,
                        0,
                        0
                    ]
                },
                {
                    label: 'Internacional',
                    backgroundColor: "#8eb8da",
                    stack: 'Stack 0',
                    data: [
                        20,
                        103,
                        41,
                        86,
                        0,
                        0
                    ]
                },

                {
                    label: '9:30',
                    backgroundColor: "#8d83cf",
                    stack: 'Stack 1',
                    data: [
                        100,
                        120,
                        0,
                        0,
                        0,
                        0
                    ]
                },
                {
                    label: '11:30',
                    backgroundColor: "#e8a97d",
                    stack: 'Stack 1',
                    data: [
                        300,
                        200,
                        0,
                        180,
                        20,
                        0
                    ]
                },
                {
                    label: 'Día Sig.',
                    backgroundColor: "#aeaca4",
                    stack: 'Stack 1',
                    data: [
                        500,
                        400,
                        380,
                        100,
                        0,
                        0
                    ]
                },
                {
                    label: 'Día Sig. Terr.',
                    backgroundColor: "#ddda69",
                    stack: 'Stack 1',
                    data: [
                        800,
                        600,
                        50,
                        30,
                        0,
                        0
                    ]
                },
                {
                    label: '2 Días',
                    backgroundColor: "#9dcfa5",
                    stack: 'Stack 1',
                    data: [
                        56,
                        10,
                        83,
                        21,
                        0,
                        0
                    ]
                },
                {
                    label: 'Apoyo a OT',
                    backgroundColor: "#c3af85",
                    stack: 'Stack 1',
                    data: [
                        56,
                        5,
                        83,
                        21,
                        0,
                        0
                    ]
                },
                {
                    label: 'LTL',
                    backgroundColor: "#d07162",
                    stack: 'Stack 1',
                    data: [
                        56,
                        4,
                        83,
                        21,
                        0,
                        0
                    ]
                },
                {
                    label: 'Internacional',
                    backgroundColor: "#8eb8da",
                    stack: 'Stack 1',
                    data: [
                        56,
                        56,
                        83,
                        21,
                        0,
                        0
                    ]
                }
            ]
        };
        //initMainChart(barChartData);

    </script>

    <script type="text/javascript">
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + '/' + mm + '/' + yyyy;
        if ($('#switch1').is(':checked')) {
            //$('#fechaInicio').val(today);
            $('#fechaInicio').val(today);
        }

        $('#switch1').change(function () {
            if (this.checked) {

                $('#fechaInicio').val(today);
            } else {
                $('#fechaInicio').val('');
            }
        });

        $(function () {

            $(".form_datetime").datetimepicker({
                /*format: "dd/mm/yyyy HH:ii P",*/
                format: "dd/mm/yyyy",
                /*format: 'LT'*/


                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,

                autoclose: true,
                todayBtn: true,
                weekStart: 1,
                language: "es",
                showMeridian: true,
                //container: ".content-date",
                pickerPosition: "bottom-right",
                fontAwesome: "far",

            }).on("show", function (e) {
                //if($("body").hasClass("sb-sidenav-toggled")&&$('#cerrarSidebar').is(":visible") ){

                if ($("body").prop('scrollHeight') > $("body").prop('clientHeight')) {
                    //if 'true', the content overflows the tab: we show the hidden link
                    $("body").css({"overflow-y": "hidden"});
                }

                /*  }else{
                 
                 }*/
            }).on("hide", function () {
                if (!$('#cerrarSidebar').is(":visible")) {
                    $("body").css({"overflow-y": "auto"});
                }
            });


        });


    </script>

    <script>

        //var ctx_dias = document.getElementById('myChart_dias').getContext('2d');
        var myChart = null;
        var barChartData = {
            labels: ['D-30', 'D+0', 'D+1', 'D+2', 'D+3', 'D+4', 'D+5'],
            datasets: []
        };
        Chart.plugins.register({
            id: 'p1',
        });
        //  window.onload = function() {

        var canvas = document.getElementById("myChart_dias");
        if (canvas && canvas.getContext) {
            var ctx = canvas.getContext("2d");
            if (ctx) {
                var output = document.getElementById("output");

                canvas.addEventListener("mousemove", function (evt) {
                    var mousePos = oMousePos(canvas, evt);
                    marcarCoords(output, mousePos.x, mousePos.y)
                }, false);

                canvas.addEventListener("mouseout", function (evt) {
                    limpiarCoords(output);
                }, false);
            }
        }

        function marcarCoords(output, x, y) {
            /* output.innerHTML = ("--x: " + x + ", y: " + y);
             output.style.top = (y + 10) + "px";
             output.style.left = (x + 10) + "px";
             output.style.backgroundColor = "transparent";
             output.style.border = "1px solid #d9d9d9";*/
            output.style.border = "none";
            canvas.style.cursor = "pointer";
        }

        function limpiarCoords(output) {
            output.innerHTML = "";
            output.style.top = 0 + "px";
            output.style.left = 0 + "px";
            output.style.backgroundColor = "transparent";
            output.style.border = "none";
            canvas.style.cursor = "default";
        }
        function oMousePos(canvas, evt) {
            var ClientRect = canvas.getBoundingClientRect();
            return {//objeto
                x: Math.round(evt.clientX - ClientRect.left),
                y: Math.round(evt.clientY - ClientRect.top)
            }
        }

        myChart = new Chart(document.getElementById('myChart_dias').getContext('2d'), {
            type: 'bar',
            data: barChartData,
            options: {
                tooltips: {
                    enabled: true
                },
                /*legendCallback: function(chart) {
                 var text = [];
                 text.push('<ul class="0-legend">');
                 var ds = chart.data.datasets[0];
                 var sum = ds.data.reduce(function add(a, b) { return a + b; }, 0);
                 for (var i=0; i<ds.data.length; i++) {
                 text.push('<li>');
                 var perc = Math.round(100*ds.data[i]/sum,0);
                 text.push('<span style="background-color:' + chart.data.datasets[i].backgroundColor + '">' + '</span>' + chart.data.datasets[i].label);
                 text.push('</li>');
                 }
                 text.push('</ul>');
                 return text.join("");
                 },*/
                onClick: function (clickEvt, activeElems) {
                    onChartClick(clickEvt, activeElems)
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 0,
                        bottom: 10
                    }
                },
                title: {
                    display: false,
                    text: 'Wisdom Application My To Do'
                },

                legend: {
                    onClick: null,
                    display: false,
                    position: 'bottom',
                    labels: {

                        fontColor: 'white',
                        fontSize: 14,
                        generateLabels: function (chart) {
                            return Chart.defaults.global.legend.labels.generateLabels.apply(this, [chart]).filter(function (item, i) {
                                return i <= 7;
                            });
                        }
                    }
                },

                responsive: true,
                scales: {
                    xAxes: [{
                            id: 'xAxis1',
                            type: "category",

                            stacked: true,
                            ticks: {
                                fontColor: "white",
                                fontSize: 15,
                                padding: 15,
                            },
                            gridLines: {
                                color: 'white',
                                drawTicks: true,
                                tickMarkLength: 90,
                                zeroLineColor: 'rgba(255, 255, 255, 1)'
                            },

                        },
                    ],
                    yAxes: [{
                            stacked: true,
                            scaleLabel: {
                                display: true,
                                //labelString: 'Task Count'
                            },
                            gridLines: {
                                color: "white",
                                // borderDash: [2, 5],
                            },
                            ticks: {
                                fontColor: "white",
                                fontSize: 15,
                                padding: 5,
                                beginAtZero: true,
                                userCallback: function (label, index, labels) {
                                    // when the floored value is the same as the value we have a whole number
                                    if (Math.floor(label) === label) {
                                        return  label.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                        //return label;
                                    }

                                },

                                //  beginAtZero: true,
                                /*callback: function(value, index, values) {
                                 return 'Entrega  /  Recoleccion' ;
                                 }*/
                            },
                        }]
                },
                plugins:
                        {
                            datalabels: {
                                anchor: 'start',
                                align: 'start',
                                rotation: 0,
                                color: 'white',
                                font: {
                                    // weight:'bold'
                                    lineHeight: "20px"
                                },
                                formatter: function (value, ctx_local) {
                                    //console.log("DATA",value,ctx_local);
                                    var datasets = ctx_local.chart.data.datasets.filter(function (ds) {

                                        return !ds._meta[0]?.hidden
                                    });

                                    /*console.log('ctx :', ctx_local);
                                     console.log('ctx.chart.data :', ctx_local.chart.data);
                                     */
                                    var chartInstance = ctx_local.chart;
                                    var textSShow = null;

                                    var stack0 = chartInstance.data.datasets.filter(function (itm) {
                                        return itm.stack === "Stack 0";
                                    });

        {#var stack1 = chartInstance.data.datasets.filter(function(itm){
            return itm.stack ==="Stack 1";
        });#}
                                        /*
                                         console.log("stak0",stack0);
                                         console.log("stak1",stack1);
                                         console.log("value",value +"");*/

                                        if (stack0.indexOf(ctx_local.dataset) === 0) {
                                            var sum = 0;
                                            stack0.map(function (dataset) {
                                                if (typeof dataset.data[ctx_local.dataIndex] !== 'undefined')
                                                    sum += parseInt(dataset.data[ctx_local.dataIndex]);
                                                //console.log("SUM",sum,parseInt(dataset.data));
                                            });

                                            textSShow = "Entrega\n  " + sum;
                                        }
        {#else if(stack1.indexOf(ctx_local.dataset) === 0){
            var sum2 = 0;
            stack1.map(function (dataset) {
                if (typeof dataset.data[ctx_local.dataIndex] !== 'undefined')
                    sum2 += parseInt(dataset.data[ctx_local.dataIndex]);
                //console.log("SUM2",sum2,dataset.data,"dataIndex",ctx_local.dataIndex);
            });
            textSShow ="Recolec.\n     "+sum2;
        }#}

                                        return textSShow;

                                    }


                                },
                                /*zoom: {
                                 // Container for pan options
                                 pan: {
                                 // Boolean to enable panning
                                 enabled: true,
                                 
                                 // Panning directions. Remove the appropriate direction to disable
                                 // Eg. 'y' would only allow panning in the y direction
                                 mode: 'x'
                                 },
                                 
                                 // Container for zoom options
                                 zoom: {
                                 // Boolean to enable zooming
                                 enabled: true,
                                 
                                 // Zooming directions. Remove the appropriate direction to disable
                                 // Eg. 'y' would only allow zooming in the y direction
                                 mode: 'x',
                                 }
                                 }*/
                            }
                }
            });

            //document.getElementById('legends').innerHTML = myChart.generateLegend();

            function onChartClick(clickEvt, activeElems) {
                console.log("CLICK", clickEvt, activeElems);
                //alert("asdasddsasda");
                //if click was on a bar, we don't care (we want clicks on labels)
                if (activeElems && activeElems.length)
                    return;
                var mousePoint = Chart.helpers.getRelativePosition(clickEvt, myChart);
                var indexPosition = myChart.chart.scales["xAxis1"].getValueForPixel(mousePoint.x);
                filtros.dia = indexPosition;
                var valueLabel = myChart.chart.scales["xAxis1"].ticks[indexPosition];
                //var valueLabel = myFCH.chart.scales["xAxis1"]._labelItems[indexPosition].label;
                console.log(indexPosition, activeElems, myChart.chart.scales["xAxis1"]);
                showMenuProyeccionEntregasD5(valueLabel, dataSource);
                //}
            }

            console.log("Chart Cargado", myChart);
            $(document).ready(function () {
                filtrar();
            });
            var filtros = {
                fecha_filtro: today,
                fecha_fin_filtro: 0,
                plaza_filtro: 0,
                garantia_filtro: 0,
                plazas_filtro: [],
                garantias_filtro: [],
                cliente_filtro: 0,
                guia_filtro: '',
                dia: -1,
                fecha_entrega: true,
                codigo_postal: true
            };

            function filtrar() {
                return $.ajax({
                    type: "POST",
                    url: "{{ path_for('api.tr1.filtrar') }}",
                    dataType: "json",
                    success: function (data) {
                        console.log("filtrando", data.datasets);
                        var bcD = {
                            labels: ['D-30', 'D+0', 'D+1', 'D+2', 'D+3', 'D+4', 'D+5'],
                            datasets: data.datasets
                        };
                        myChart.config.data = bcD;
                        myChart.update();

                    },
                    data: filtros
                });
            }

            $('#btn_consultar').on('click', function () {
            var plzs = $('#filtro_plaza').select2('data');
            var plazasSeleccionadas = [];
            $.each(plzs, function (i, e) {
                plazasSeleccionadas.push(e.text);
            });
            console.log("filtrando", "filtro_plaza", plazasSeleccionadas);
            filtros.plazas_filtro = plazasSeleccionadas;
            //
            var idGarantia = $(this).children(":selected").attr("id");
            var gtrs = $('#filtro_garantia').select2('data');
            console.log(gtrs);
            var garantiasSeleccionadas = [];
            $.each(gtrs, function (i, e) {
                garantiasSeleccionadas.push(e.id);
            });
            console.log("filtrando", "filtro_garantia", garantiasSeleccionadas);
            filtros.garantias_filtro = garantiasSeleccionadas;
            //
            var idCliente = $("#filtro_cliente").val();
            var valueCliente = idCliente;
            //Para anular el filtro en caso que no tenga valor
            if (idCliente === 0 || idCliente === '0') {
                valueCliente = 0;
            }
            console.log("filtrando", "filtro_cliente", valueCliente);
            filtros.cliente_filtro = valueCliente;
            //
            var idGuia = $("#filtro_guia").val();
            var valueGuia = idGuia;
            //Para anular el filtro en caso que no tenga valor
            if (idGuia.length === 0) {
                valueGuia = 0;
            }
            console.log("filtrando", "filtro_guia", valueGuia);
            filtros.guia_filtro = valueGuia;
            // fechaInicio
            var idFechaIni = $("#fechaInicio").val();
            var valueFechaIni = idFechaIni;
            //Para anular el filtro en caso que no tenga valor
            if (idFechaIni.length === 0) {
                valueFechaIni = today;
            }
            console.log("filtrando", "fechaInicio", valueFechaIni);
            filtros.fecha_filtro = valueFechaIni;
            //entregados
            var fechaEntrega = $("#fechaEntrega").val();
            //var valueFechaEntrega =fechaEntrega;
            if ($('#fechaEntrega').prop('checked')) {
                    fechaEntrega = true;
                } else {
                    fechaEntrega = false;
                }
                
                console.log("filtrando", "fecha_entrega", fechaEntrega);
                filtros.fecha_entrega = fechaEntrega;
            //cp null
            var cpNull = $("#codigoPostal").val();
            if ($('#codigiPostal').prop('checked')) {
                    cpNull = true;
                } else {
                    cpNull = false;
                }
                //alert(cpNull);
                console.log("filtrando", "Codigo_postal", cpNull);
                filtros.codigo_postal = cpNull;
                
            filtrar();
        });
            {#$('#filtro_plaza').on('change', function () {

                var plzs = $('#filtro_plaza').select2('data');
                var plazasSeleccionadas = [];
                $.each(plzs, function (i, e) {
                    plazasSeleccionadas.push(e.text);
                });

                console.log("filtrando", "filtro_plaza", plazasSeleccionadas);
                filtros.plazas_filtro = plazasSeleccionadas;
                filtrar();
            });
            $('#filtro_garantia').on('change', function () {
                var id = $(this).children(":selected").attr("id");
                var gtrs = $('#filtro_garantia').select2('data');
                console.log(gtrs)
                var garantiasSeleccionadas = [];
                $.each(gtrs, function (i, e) {
                    garantiasSeleccionadas.push(e.id);
                });
                console.log("filtrando", "filtro_garantia", garantiasSeleccionadas);
                filtros.garantias_filtro = garantiasSeleccionadas;
                filtrar();
            });
            $('#filtro_cliente').on('change', function () {
                var id = $(this).children(":selected").attr("id");
                var value = this.value;
                //Para anular el filtro en caso que no tenga valor
                if (value.length === 0) {
                    value = 0;
                }
                console.log("filtrando", "filtro_cliente", value);
                filtros.cliente_filtro = value;
                filtrar();
            });
            $('#filtro_guia').on('change', function () {
                var id = $(this).children(":selected").attr("id");
                var value = this.value;
                //Para anular el filtro en caso que no tenga valor
                if (value.length === 0) {
                    value = 0;
                }
                console.log("filtrando", "filtro_guia", value);
                filtros.guia_filtro = value;
                filtrar();
            });
            $('#fechaInicio').on('change', function () {
                var id = $(this).children(":selected").attr("id");
                var value = this.value;
                //Para anular el filtro en caso que no tenga valor
                if (value.length === 0) {
                    value = today;
                }
                console.log("filtrando", "fechaInicio", value);
                filtros.fecha_filtro = value;
                filtrar();
            });
            $('#fechaFin').on('change', function () {
                var id = $(this).children(":selected").attr("id");
                var value = this.value;
                //Para anular el filtro en caso que no tenga valor
                if (value.length === 0) {
                    value = today;
                }
                console.log("filtrando", "fechaFin", value);
                filtros.fecha_fin_filtro = value;
                filtrar();
            });
            $('#fechaEntrega').on('change', function () {
                var value = this.value;
                if ($('#fechaEntrega').prop('checked')) {
                    value = true;
                } else {
                    value = false;
                }

                console.log("filtrando", "fecha_entrega", value);
                filtros.fecha_entrega = value;
                filtrar();
            });
            $('#codigoPostal').on('change', function () {
                var value = this.value;
                if ($('#codigoPostal').prop('checked')) {
                    value = true;
                } else {
                    value = false;
                }

                console.log("filtrando", "Codigo_postal", value);
                filtros.codigo_postal = value;
                filtrar();
            });#}
    </script>
{% endblock %}