{% extends 'app/skeleton.twig' %}

{% block filtros %}
    {#<div class="sb-sidenav-menu-heading row" style="width: 100%">
        <div class="col-5 col-sm-5 col-md-5 ">Plaza</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
        <div class="col-5 col-sm-5 col-md-5 ">Estatus Ruta</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
    </div>#}
    <div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize"> Plaza </div>
        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option>Seleccione</option>
            <option>Mérida</option>
        </select>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora inicial</label>
    </div>
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora final</label>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-0 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>



{% endblock %}


{% block head %}
    <style type="text/css">

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date{
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        #myChart{
           /* margin: -20px !important;*/
            height: 140px !important;
            width: 45% !important;
        }

        .table-black{
            color: #fff !important;
            background-color: #000000 !important;
        }


        .color_border_botom_white {
            border-bottom:.5pt solid white !important;
        }
        .color_border_top_white {
            border-top:.5pt solid white !important;
        }

        .title_chart{
            color: #e0dd57;
            font-weight: bold;
            width: 100% !important;
        }

        .text-total-color{
            color: #f0e411;
        }

        .custom-fontsize-table{
            font-size: small !important;

        }

        .table_llegadas_tr1>tbody>tr>td{
            vertical-align: middle;
        }



        .vehicle_arriving{
            border: 1px solid white;
            border-radius: 5px;
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }
        .vehicle_arrived{
            /*border: 1px solid white;
            border-radius: 10px;*/
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }

        /*styles for filtros */
        .select-filtros{
           /* width: 70%!important;*/

        }

        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            /* padding: 0.5rem 0 5px 0; */
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;

            padding: 0.25rem 0.5rem!important;
            font-size: 0.875rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }
        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }
        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
            transform: translate3d(80px, 121px, 0px)!important;
        }
        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #ffea55!important;
        }
        .select-filtros .dropdown-item {
            color: #ffffff!important;
            background-color: black!important;

        }
        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
       /* .select-filtros>.dropdown-menu[x-out-of-boundaries]{
            transform: translate3d(0px, 30px, 0px) !important; //give valid transform
        //or use visiblity hidden;
        }*/

        /*styles for datetime*/
        .form-control {
            height: calc(1.5em + 0.75rem + 2px)!important;
            padding: 0.065rem 0.25rem!important;
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
        }
        .input-group-text {
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            padding: 0.375rem 0.30rem!important;
            color: #ffffff;
            border: none;
        }
        /*end styles for filtros */



        /*maps styles */
        #mapModalLlegadasTr1{
            width: 100%;
            height: 80vh;
        }
        .seePosition{
            cursor: pointer;
        }

        .labels {
            color: white;
            background-color: red;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            text-align: center;
            width: 30px;
            white-space: nowrap;
        }
        /*end maps styles */



        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
        /*styles for control burrons*/

    </style>
{% endblock %}
{% block contenido %}


    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 justify-content-center">
            <div class="title_chart text-center">Plaza Mérida</div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10 justify-content-center">
            <div id="canvas-holder " style="/*background-color: rgba(148,148,148,0.5)*/">
                <canvas id="myChart_dias"  height="150vh" ></canvas>
            </div>
        </div>


    </div>
    <div class="row">
        {#<div class="col-12 col-sm-12 col-md-12 col-lg-12 justify-content-center">
            <div class="title_chart text-center">Detalle Mérida - D+1 por Ruta TR2</div>
        </div>#}
    </div>
    <div class="row justify-content-md-center">
        {#<div class="col-10 col-sm-10 col-md-10 col-lg-10 justify-content-center">
            <div id="canvas-holder " style="background-color: rgba(148,148,148,0.5)">
                <canvas id="myChart_tr2"  height="150vh" ></canvas>
            </div>
        </div>#}


    </div>
    <button class="btn btn-primary detallePlaza">Detalle D+1</button>


{% endblock %}


{% block scripts %}


    <script>

        $('.detallePlaza').on('click', function(){
            showDetallePlazaTr2()
        });


    </script>


    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n,10) < 10 ? '0' : '')+n;
        }
        function updateTime(){
            var timeNow= new Date(),
                hh = timeNow.getHours(),
                mm = timeNow.getMinutes(),
                ss = timeNow.getSeconds(),
                formatAMPM = (hh >= 12?'PM':'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) +  " " + formatAMPM ;
            currentTime_date.innerHTML =    monthNames[timeNow.getMonth()]+" "+timeNow.getUTCDate()+", "+timeNow.getFullYear();
            setTimeout(updateTime,1000);
        }
        updateTime();
    </script>

    <script>

        var barChartData = {
            labels: ['D+0', 'D+1', 'D+2', 'D+3', 'D+4', 'D+5'],
            datasets: [
                {
                label: '9:30',
                backgroundColor: "blue",
                stack: 'Stack 0',
                data: [
                    66,
                    93,
                    31,
                    76,
                    39,
                    75
                ]
            },
                {
                label: '11:30',
                backgroundColor: "orange",
                stack: 'Stack 0',
                data: [
                    76,
                    203,
                    41,
                    86,
                    49,
                    85
                ]
            },
                {
                label: 'Día Sig.',
                backgroundColor: "gray",
                stack: 'Stack 0',
                data: [
                    76,
                    103,
                    41,
                    86,
                    49,
                    85
                ]
            },
                {
                label: 'Día Sig. Terr.',
                backgroundColor: "yellow",
                stack: 'Stack 0',
                data: [
                    76,
                    103,
                    41,
                    86,
                    49,
                    85
                ]
            },
                {
                label: '2 Días',
                backgroundColor: "purple",
                stack: 'Stack 0',
                data: [
                    76,
                    103,
                    41,
                    86,
                    49,
                    85
                ]
            },
                {
                label: 'Apoyo a OT',
                backgroundColor: "cyan",
                stack: 'Stack 0',
                data: [
                    76,
                    103,
                    41,
                    86,
                    49,
                    85
                ]
            },
                {
                label: 'LTL',
                backgroundColor: "green",
                stack: 'Stack 0',
                data: [
                    76,
                    103,
                    41,
                    86,
                    49,
                    85
                ]
            },
                {
                label: 'Internacional',
                backgroundColor: "pink",
                stack: 'Stack 0',
                data: [
                    76,
                    103,
                    41,
                    86,
                    49,
                    85
                ]
            },

                {
                label: '9:30',
                backgroundColor: "blue",
                stack: 'Stack 1',
                data: [
                    56,
                    56,
                    83,
                    21,
                    66,
                    29
                ]
            },
                {
                    label: '11:30',
                    backgroundColor: "orange",
                    stack: 'Stack 1',
                    data: [
                        56,
                        56,
                        83,
                        21,
                        66,
                        29
                    ]
                },
                {
                    label: 'Día Sig.',
                    backgroundColor: "gray",
                    stack: 'Stack 1',
                    data: [
                        56,
                        56,
                        83,
                        21,
                        66,
                        29
                    ]
                },
                {
                    label: 'Día Sig. Terr.',
                    backgroundColor: "yellow",
                    stack: 'Stack 1',
                    data: [
                        56,
                        56,
                        83,
                        21,
                        66,
                        29
                    ]
                },
                {
                    label: '2 Días',
                    backgroundColor: "purple",
                    stack: 'Stack 1',
                    data: [
                        56,
                        56,
                        83,
                        21,
                        66,
                        29
                    ]
                },
                {
                    label: 'Apoyo a OT',
                    backgroundColor: "cyan",
                    stack: 'Stack 1',
                    data: [
                        56,
                        56,
                        83,
                        21,
                        66,
                        29
                    ]
                },
                {
                    label: 'LTL',
                    backgroundColor: "green",
                    stack: 'Stack 1',
                    data: [
                        56,
                        56,
                        83,
                        21,
                        66,
                        29
                    ]
                },
                {
                    label: 'Internacional',
                    backgroundColor: "pink",
                    stack: 'Stack 1',
                    data: [
                        56,
                        56,
                        83,
                        21,
                        66,
                        29
                    ]
                }
            ]

        };
      //  window.onload = function() {
            var ctx_dias = document.getElementById('myChart_dias').getContext('2d');
           var myChart = new Chart(ctx_dias, {
                type: 'bar',
                data: barChartData,
                options: {
                    layout: {
                        padding: {
                            left: 0,
                            right: 0,
                            top: 0,
                            bottom: 10
                        }
                    },
                    title: {
                        display: false,
                        text: 'Wisdom Application My To Do'
                    },
                    legend: {
                        display: true,
                        position:'bottom',
                        labels:{
                            fontColor:'white',
                            fontSize:14,
                            generateLabels: function(chart) {
                                return Chart.defaults.global.legend.labels.generateLabels.apply(this, [chart]).filter(function(item, i){
                                    return i <= 7;
                                });
                            }
                        }
                    },
                    legendCallback: function(chart) {
                        // Return the HTML string here.
                        return "<div style='background-color: #00D9D2'>ss</div>";
                    },
                    tooltips: {
                        enabled: true,
                        custom: function (tooltipModel) {

                        }
                    },
                    /*animation: {
                        duration: 1000,
                        currentStep: 1,
                        onComplete: function () {
                            var chartInstance = this.chart,
                                ctx = chartInstance.ctx;
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';
                            var stackGroup = [];
                            var stackIndex = [];
                            for (index = 0; index < this.data.datasets.length; index++) {
                                var stackName = this.data.datasets[index].stack;
                                var stack = {Name: stackName, stackIndex: index};
                                var result = stackGroup.filter(function(obj){
                                        return obj.Name === stackName
                                    }
                                    )
                                ;
                                if (result.length > 0) {
                                    var sliceCount = stackGroup.findIndex(function(x){ return x.Name === stackName}
                                        )
                                    ;
                                    stackGroup.splice(sliceCount, true);
                                    stackIndex.splice(sliceCount, true);
                                    stackGroup.push(stack);
                                    stackIndex.push(stack.stackIndex);
                                }
                                else {
                                    stackGroup.push(stack);
                                    stackIndex.push(stack.stackIndex);
                                }
                            }
                            this.data.datasets.forEach(function (dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    var result = stackGroup.filter(function(obj ) {
                                            return obj.stackIndex === i
                                        }
                                        )
                                    ;
                                    if (result.length > 0) {
                                        if (result[0].Name == "Stack 0") {
                                            ctx.fillText("Entrega", bar._model.x, bar._model.y - 5);
                                        }
                                        if (result[0].Name == "Stack 1") {
                                            var str = "Not<br/>Completed";
                                            var html = $.parseHTML(str);
                                            ctx.fillText("Recolección", bar._model.x, bar._model.y - 5);
                                        }
                                    }
                                    //if($.inArray(i, stackIndex) !== -1){
                                    //ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                    //}
                                });
                            });
                        }
                    },*/
                    responsive: true,
                    scales: {
                        xAxes: [{
                            id:'xAxis1',
                            type:"category",

                            stacked: true,
                            ticks: {
                                fontColor:"white",
                                fontSize:15,
                                padding: 15,

                              //  beginAtZero: true,
                                /*callback: function(value, index, values) {
                                    return 'Entrega  /  Recoleccion' ;
                                }*/
                            },
                            gridLines:{
                                color:'white',
                                drawTicks:true,
                                tickMarkLength:90,
                                zeroLineColor:'rgba(255, 255, 255, 1)'
                            }

                        },/*{
                            type: 'category',
                            ticks:{
                                position:"center",
                            },
                            labels: ['January', 'February', 'March', 'April', 'May']
                        },*/

                            /*{
                            id:'xAxis2',
                            type:"category",
                            stacked: true,
                            ticks: {
                                callback: function(value, index, values) {
                                    return '' + value;
                                }
                            }
                        },*/
                        ],
                        yAxes: [{
                            stacked: true,
                            scaleLabel: {
                                display: true,
                                //labelString: 'Task Count'
                            },
                            gridLines: {
                                color: "white",
                                // borderDash: [2, 5],
                            },
                            ticks: {
                                fontColor:"white",
                                fontSize:15,
                                padding: 5,

                                //  beginAtZero: true,
                                /*callback: function(value, index, values) {
                                 return 'Entrega  /  Recoleccion' ;
                                 }*/
                            },
                        }]
                    },
                    plugins:
                        {
                            datalabels: {
                               // display:false,
                                anchor: 'start',
                                align: 'start',
                                //backgroundColor:"white",
                                //borderRadius: 5,
                                rotation: -90,
                                color: 'white',
                                font:{
                                   // weight:'bold'
                                },
                                formatter: function (value, ctx_local) {

                                    var datasets = ctx_local.chart.data.datasets.filter(function (ds) {
                                        return !ds._meta[0].hidden
                                    });

                                    console.log('ctx :', ctx_local);
                                    console.log('ctx.chart.data :', ctx_local.chart.data);



                                    /*if (datasets.indexOf(ctx_local.dataset) === datasets.length - 1) {
                                        var sum = 0;
                                        datasets.map(function (dataset) {
                                            sum += dataset.data[ctx_local.dataIndex];
                                        });
                                        return sum/!*.toLocaleString('fr-FR', {style: 'currency', currency: 'EUR'})*!/;
                                    }
                                    else {
                                        return '';
                                    }*/
                                  var chartInstance = ctx_local.chart;
                                    var textSShow = null;

                                    var stack0 = chartInstance.data.datasets.filter(function(itm){
                                        return itm.stack ==="Stack 0";
                                    });

                                    var stack1 = chartInstance.data.datasets.filter(function(itm){
                                        return itm.stack ==="Stack 1";
                                    });

                                    console.log("stak0",stack0);
                                    console.log("stak1",stack1);
                                    console.log("value",value +"");

                                    if (stack0.indexOf(ctx_local.dataset) === 0) {

                                        textSShow ="Entrega";
                                    }else if(stack1.indexOf(ctx_local.dataset) === 0){
                                        textSShow ="Recolección";
                                    }



                                    /*for (index = 0; index < chartInstance.data.datasets.length; index++) {
                                        var stackName = chartInstance.data.datasets[index].stack;
                                        var stack = {Name: stackName, stackIndex: index};
                                        var result = stackGroup.filter(function(obj){
                                                return obj.Name === stackName
                                            }
                                        );
                                        if (result.length > 0) {
                                            var sliceCount = stackGroup.findIndex(function(x){ return x.Name === stackName}
                                                )
                                            ;
                                            stackGroup.splice(sliceCount, true);
                                            stackIndex.splice(sliceCount, true);
                                            stackGroup.push(stack);
                                            stackIndex.push(stack.stackIndex);
                                        }
                                        else {
                                            stackGroup.push(stack);
                                            stackIndex.push(stack.stackIndex);
                                        }
                                    }

                                    //if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {

                                         chartInstance.data.datasets.forEach(function (dataset, i) {
                                            var meta = chartInstance.controller.getDatasetMeta(i);
                                            meta.data.forEach(function (bar, index) {
                                                var data = dataset.data[index];
                                                var result = stackGroup.filter(function(obj ) {
                                                        return obj.stackIndex === i
                                                    }
                                                    )
                                                ;
                                                if (result.length > 0) {
                                                    if (result[0].Name == "Stack 0") {
                                                        // ctx.fillText("Entrega", bar._model.x, bar._model.y - 5);
                                                        textSShow= "hola 1";
                                                    }
                                                    if (result[0].Name == "Stack 1") {
                                                        var str = "Not<br/>Completed";
                                                        var html = $.parseHTML(str);
                                                        // ctx.fillText("Recolección", bar._model.x, bar._model.y - 5);
                                                        textSShow = "hola 2";
                                                    }
                                                }
                                                //if($.inArray(i, stackIndex) !== -1){
                                                //ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                                //}
                                            });
                                        });*/
                                   /* }
                                    else {
                                        return '';
                                    }*/

                                   return textSShow;

                                },


                            }
                        }




                }
            });


        $('#myChart_dias').click(function (e) {
            var helpers = Chart.helpers;

            var eventPosition = helpers.getRelativePosition(e, myChart.chart);
            var mouseX = eventPosition.x;
            var mouseY = eventPosition.y;

            var activePoints = [];
            helpers.each(myChart.scale.ticks, function (label, index) {
                for (var i = this.getValueCount() - 1; i >= 0; i--) {
                    var pointLabelPosition = this.getPointPosition(i, this.getDistanceFromCenterForValue(this.options.reverse ? this.min : this.max) + 5);

                    var pointLabelFontSize = helpers.getValueOrDefault(this.options.pointLabels.fontSize, Chart.defaults.global.defaultFontSize);
                    var pointLabeFontStyle = helpers.getValueOrDefault(this.options.pointLabels.fontStyle, Chart.defaults.global.defaultFontStyle);
                    var pointLabeFontFamily = helpers.getValueOrDefault(this.options.pointLabels.fontFamily, Chart.defaults.global.defaultFontFamily);
                    var pointLabeFont = helpers.fontString(pointLabelFontSize, pointLabeFontStyle, pointLabeFontFamily);
                    ctx.font = pointLabeFont;

                    var labelsCount = this.pointLabels.length,
                        halfLabelsCount = this.pointLabels.length / 2,
                        quarterLabelsCount = halfLabelsCount / 2,
                        upperHalf = (i < quarterLabelsCount || i > labelsCount - quarterLabelsCount),
                        exactQuarter = (i === quarterLabelsCount || i === labelsCount - quarterLabelsCount);
                    var width = ctx.measureText(this.pointLabels[i]).width;
                    var height = pointLabelFontSize;

                    var x, y;

                    if (i === 0 || i === halfLabelsCount)
                        x = pointLabelPosition.x - width / 2;
                    else if (i < halfLabelsCount)
                        x = pointLabelPosition.x;
                    else
                        x = pointLabelPosition.x - width;

                    if (exactQuarter)
                        y = pointLabelPosition.y - height / 2;
                    else if (upperHalf)
                        y = pointLabelPosition.y - height;
                    else
                        y = pointLabelPosition.y

                    if ((mouseY >= y && mouseY <= y + height) && (mouseX >= x && mouseX <= x + width))
                        activePoints.push({ index: i, label: this.pointLabels[i] });
                }
            }, myChart.scale);

            var firstPoint = activePoints[0];
            if (firstPoint !== undefined) {
                alert(firstPoint.index + ': ' + firstPoint.label);
            }
        });




    </script>

    <script type="text/javascript">
        $(function () {

            $(".form_datetime").datetimepicker({
                format: "dd/mm/yyyy HH:ii P",
                autoclose: true,
                todayBtn: true,
                weekStart:1,
                language:"es",
                showMeridian:true,
                //container: ".content-date",
                pickerPosition: "bottom-right",
                fontAwesome:"far",


            }).on("show",function (e) {
                //if($("body").hasClass("sb-sidenav-toggled")&&$('#cerrarSidebar').is(":visible") ){

                if ($("body").prop('scrollHeight') > $("body").prop('clientHeight')){
                //if 'true', the content overflows the tab: we show the hidden link
                    $("body").css({"overflow-y":"hidden"});
                 }

                /*  }else{

                 }*/
            }).on("hide",function () {
                if(!$('#cerrarSidebar').is(":visible") ) {
                    $("body").css({"overflow-y": "auto"});
                }
            });


        });



        /**
         * funcion para generar la grafica de detalle de plaza por ruta tr2
         */
        function showDetallePlazaTr2() {
            $.alert({
                title: 'Detalle Mérida - D+1 por Ruta TR2',
                titleClass: 'custom-title-modal',
                content: generateContentGraphPlazaTr2(),
                columnClass: 'col-lg-12 col-md-12  col-sm-12 col-xs-rastreo-guias custom-modal-closeicon',
                closeIcon: true,
                buttons: false,
                bgOpacity:.9,
                onContentReady: function () {
                    var barChartData_tr2 = {
                        labels: ['P297160', 'P297161', 'P297162', 'P297163', 'P297164', 'P297165'],
                        datasets: [
                            {
                                label: '9:30',
                                backgroundColor: "blue",
                                stack: 'Stack 0',
                                data: [
                                    66,
                                    93,
                                    31,
                                    76,
                                    39,
                                    75
                                ]
                            },
                            {
                                label: '11:30',
                                backgroundColor: "orange",
                                stack: 'Stack 0',
                                data: [
                                    76,
                                    203,
                                    41,
                                    86,
                                    49,
                                    85
                                ]
                            },
                            {
                                label: 'Día Sig.',
                                backgroundColor: "gray",
                                stack: 'Stack 0',
                                data: [
                                    76,
                                    103,
                                    41,
                                    86,
                                    49,
                                    85
                                ]
                            },
                            {
                                label: 'Día Sig. Terr.',
                                backgroundColor: "yellow",
                                stack: 'Stack 0',
                                data: [
                                    76,
                                    103,
                                    41,
                                    86,
                                    49,
                                    85
                                ]
                            },
                            {
                                label: '2 Días',
                                backgroundColor: "purple",
                                stack: 'Stack 0',
                                data: [
                                    76,
                                    103,
                                    41,
                                    86,
                                    49,
                                    85
                                ]
                            },
                            {
                                label: 'Apoyo a OT',
                                backgroundColor: "cyan",
                                stack: 'Stack 0',
                                data: [
                                    76,
                                    103,
                                    41,
                                    86,
                                    49,
                                    85
                                ]
                            },
                            {
                                label: 'LTL',
                                backgroundColor: "green",
                                stack: 'Stack 0',
                                data: [
                                    76,
                                    103,
                                    41,
                                    86,
                                    49,
                                    85
                                ]
                            },
                            {
                                label: 'Internacional',
                                backgroundColor: "pink",
                                stack: 'Stack 0',
                                data: [
                                    76,
                                    103,
                                    41,
                                    86,
                                    49,
                                    85
                                ]
                            },

                            {
                                label: '9:30',
                                backgroundColor: "blue",
                                stack: 'Stack 1',
                                data: [
                                    56,
                                    56,
                                    83,
                                    21,
                                    66,
                                    29
                                ]
                            },
                            {
                                label: '11:30',
                                backgroundColor: "orange",
                                stack: 'Stack 1',
                                data: [
                                    56,
                                    56,
                                    83,
                                    21,
                                    66,
                                    29
                                ]
                            },
                            {
                                label: 'Día Sig.',
                                backgroundColor: "gray",
                                stack: 'Stack 1',
                                data: [
                                    56,
                                    56,
                                    83,
                                    21,
                                    66,
                                    29
                                ]
                            },
                            {
                                label: 'Día Sig. Terr.',
                                backgroundColor: "yellow",
                                stack: 'Stack 1',
                                data: [
                                    56,
                                    56,
                                    83,
                                    21,
                                    66,
                                    29
                                ]
                            },
                            {
                                label: '2 Días',
                                backgroundColor: "purple",
                                stack: 'Stack 1',
                                data: [
                                    56,
                                    56,
                                    83,
                                    21,
                                    66,
                                    29
                                ]
                            },
                            {
                                label: 'Apoyo a OT',
                                backgroundColor: "cyan",
                                stack: 'Stack 1',
                                data: [
                                    56,
                                    56,
                                    83,
                                    21,
                                    66,
                                    29
                                ]
                            },
                            {
                                label: 'LTL',
                                backgroundColor: "green",
                                stack: 'Stack 1',
                                data: [
                                    56,
                                    56,
                                    83,
                                    21,
                                    66,
                                    29
                                ]
                            },
                            {
                                label: 'Internacional',
                                backgroundColor: "pink",
                                stack: 'Stack 1',
                                data: [
                                    56,
                                    56,
                                    83,
                                    21,
                                    66,
                                    29
                                ]
                            }
                        ]

                    };
                    var ctx_tr2 = document.getElementById('myChart_tr2').getContext('2d');
                    window.myBar_tr2 = new Chart(ctx_tr2, {
                        type: 'bar',
                        data: barChartData_tr2,
                        options: {
                            layout: {
                                padding: {
                                    left: 0,
                                    right: 0,
                                    top: 0,
                                    bottom: 10
                                }
                            },
                            title: {
                                display: false,
                                text: 'Wisdom Application My To Do'
                            },
                            legend: {
                                display: true,
                                position:'bottom',
                                labels:{
                                    fontColor:'white',
                                    fontSize:14,
                                    generateLabels: function(chart) {
                                        return Chart.defaults.global.legend.labels.generateLabels.apply(this, [chart]).filter(function(item, i){
                                            return i <= 7;
                                        });
                                    }
                                }
                            },
                            legendCallback: function(chart) {
                                // Return the HTML string here.
                                return "<div style='background-color: #00D9D2'>ss</div>";
                            },
                            tooltips: {
                                enabled: true,
                                custom: function (tooltipModel) {

                                }
                            },
                            responsive: true,
                            scales: {
                                xAxes: [{
                                    id:'xAxis1',
                                    type:"category",

                                    stacked: true,
                                    ticks: {
                                        fontColor:"white",
                                        fontSize:15,
                                        padding: 15,

                                        //  beginAtZero: true,
                                        /*callback: function(value, index, values) {
                                         return 'Entrega  /  Recoleccion' ;
                                         }*/
                                    },
                                    gridLines:{
                                        color:'white',
                                        drawTicks:true,
                                        tickMarkLength:90,
                                        zeroLineColor:'rgba(255, 255, 255, 1)'
                                    }

                                }
                                ],
                                yAxes: [{
                                    stacked: true,
                                    scaleLabel: {
                                        display: true,
                                        //labelString: 'Task Count'
                                    },
                                    gridLines: {
                                        color: "white",
                                        // borderDash: [2, 5],
                                    },
                                    ticks: {
                                        fontColor:"white",
                                        fontSize:15,
                                        padding: 5,

                                        //  beginAtZero: true,
                                        /*callback: function(value, index, values) {
                                         return 'Entrega  /  Recoleccion' ;
                                         }*/
                                    },
                                }]
                            },
                            plugins:
                                {
                                    datalabels: {
                                        // display:false,
                                        anchor: 'start',
                                        align: 'start',
                                        //backgroundColor:"white",
                                        //borderRadius: 5,
                                        rotation: -90,
                                        color: 'white',
                                        font:{
                                            // weight:'bold'
                                        },
                                        formatter: function (value, ctx_local) {



                                            console.log('ctx :', ctx_local);
                                            console.log('ctx.chart.data :', ctx_local.chart.data);



                                            /*if (datasets.indexOf(ctx_local.dataset) === datasets.length - 1) {
                                             var sum = 0;
                                             datasets.map(function (dataset) {
                                             sum += dataset.data[ctx_local.dataIndex];
                                             });
                                             return sum/!*.toLocaleString('fr-FR', {style: 'currency', currency: 'EUR'})*!/;
                                             }
                                             else {
                                             return '';
                                             }*/
                                            var chartInstance = ctx_local.chart;
                                            var textSShow = null;

                                            var stack0 = chartInstance.data.datasets.filter(function(itm){
                                                return itm.stack ==="Stack 0";
                                            });

                                            var stack1 = chartInstance.data.datasets.filter(function(itm){
                                                return itm.stack ==="Stack 1";
                                            });

                                            console.log("stak0",stack0);
                                            console.log("stak1",stack1);
                                            console.log("value",value +"");

                                            if (stack0.indexOf(ctx_local.dataset) === 0) {

                                                textSShow ="Entrega";
                                            }else if(stack1.indexOf(ctx_local.dataset) === 0){
                                                textSShow ="Recolección";
                                            }


                                            return textSShow;

                                        },


                                    }
                                }




                        }
                    });

                }

            });
        }

        function generateContentGraphPlazaTr2() {
            var e='';

            e+='<div class="col-12 col-sm-12 col-md-12 col-lg-12 justify-content-center">'+
                '<div id="canvas-holder " style="background-color:rgb(0, 0, 0)">'+//
                '<canvas id="myChart_tr2"  height="140vh" ></canvas>'+
                '</div>'+
                '</div>';


            return e;
        }
    </script>
{% endblock %}