{% extends 'app/skeleton.twig' %}

{% block head %}
    <style>
        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover-dark tbody tr:hover {
            color: #9a9a9a!important;
            background-color: rgba(191, 187, 187, 0.08)!important;;
        }

        .thead-border-bottom th, .thead-border-bottom td, .tbody-border-bottom td {
            border-bottom: 1px solid #c1c1c1 !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date {
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 5px 5px 5px 5px;
            margin: 0 0 0 8px;
            padding: 2px;
            width: 97px;
        }


        /*styles for colapsed column grantias*/
        .hideGroupGarantiaTotal{
            display: none;
        }

        .group-garantias, .group-garantias-terrestres{
            overflow:hidden;
            transition:max-height 0.3s ease-out;
            background-color: rgba(55, 55, 55, 0.3);
        }

        /*.group-*-btn*/.button_open{
                            content:url('{{ asset_base_url }}/dist/assets/icons/button-open.png');
                            cursor:pointer;
                        }

        /*.group-garantias-btn*/.button_closed{
                                    content: url('{{ asset_base_url }}/dist/assets/icons/button-closed.png');
                                    cursor:pointer;
                                }

        /*styles for colapsed column grantias*/


        .custom-fontsize-table{
            font-size: small !important;

        }
        .custom-table-sm th, .custom-table-sm td {
            padding: 0.1rem;
        }
    </style>
{% endblock %}

{% block filtros %}

{% endblock %}

{% block contenido %}


    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 justify-content-center">
            <div class="title_chart text-center">Detalle Mérida - D+1 Por Código Postal</div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10 justify-content-center">
            <div id="canvas-holder2 ">
                <canvas id="myChart_cp"  height="150vh" ></canvas>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Dropdown Example
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 justify-content-center">
            <div class="title_chart text-center">Detalle Mérida - D+1 Origen Anterior y Destino Siguiente</div>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-10 col-sm-10 col-md-10 col-lg-10 justify-content-center">
            <div id="canvas-holder2 ">
                <canvas id="myChart_orige_destino"  height="150vh" ></canvas>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="table-responsive">
            <table class="mb-0 bg-dark table table-sm table-hover-dark text-light table-hover table-striped no-border-top table-striped table-dark custom-fontsize-table custom-table-sm" style="text-align: center;">
                <thead class="thead-border-bottom">
                <tr>
                    <td colspan="7">Gu&iacute;a</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td colspan="3">Cliente</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td colspan="9">Ubicaci&oacute;n</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                </tr>
                <tr>
                    <td>Consec Num.</td>
                    <td>&nbsp;</td>
                    <td>Tipo de empaque</td>
                    <td>&nbsp;</td>
                    <td>Garant&iacute;a</td>
                    <td>&nbsp;</td>
                    <td>Contenido</td>
                    <td>&nbsp;</td>
                    <td>N&uacute;mero</td>
                    <td>&nbsp;</td>
                    <td>Raz&oacute;n Social</td>
                    <td>&nbsp;</td>
                    <td>Distrito</td>
                    <td>&nbsp;</td>
                    <td>Regional</td>
                    <td>&nbsp;</td>
                    <td>Plaza</td>
                    <td>&nbsp;</td>
                    <td>CP</td>
                    <td>&nbsp;</td>
                    <td>Direcci&oacute;n</td>
                    <td>&nbsp;</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td style="border-bottom: none!important;">&nbsp;</td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>

        window.onload = function() {
            var myFCH = new Chart(document.getElementById('myChart_cp').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: ['97000', '97060', '97099', '97117', '97134', '97147'],
                    datasets: [
                        {
                            label: '9:30',
                            backgroundColor: "#001a33",
                            stack: 'Stack 0',
                            data: [
                                66,
                                93,
                                31,
                                76,
                                39,
                                75
                            ]
                        },
                        {
                            label: '11:30',
                            backgroundColor: "#036",
                            stack: 'Stack 0',
                            data: [
                                76,
                                203,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: 'Día Sig.',
                            backgroundColor: "#004d99",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: 'Día Sig. Terr.',
                            backgroundColor: "#06c",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: '2 Días',
                            backgroundColor: "#44a2ff",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: 'Apoyo a OT',
                            backgroundColor: "#2291ff",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: 'LTL',
                            backgroundColor: "#9cf",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: 'Internacional',
                            backgroundColor: "#bdf",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },

                        {
                            label: '9:30',
                            backgroundColor: "#001a33",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: '11:30',
                            backgroundColor: "#036",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: 'Día Sig.',
                            backgroundColor: "#004d99",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: 'Día Sig. Terr.',
                            backgroundColor: "#06c",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: '2 Días',
                            backgroundColor: "#44a2ff",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: 'Apoyo a OT',
                            backgroundColor: "#2291ff",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: 'LTL',
                            backgroundColor: "#9cf",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: 'Internacional',
                            backgroundColor: "#bdf",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        }
                    ]

                },
                options: {

                    onClick: function(clickEvt, activeElems) {
                        onChartClick(clickEvt, activeElems)
                    },
                    layout: {
                        padding: {
                            left: 0,
                            right: 0,
                            top: 0,
                            bottom: 10
                        }
                    },
                    title: {
                        display: false,
                        text: 'Wisdom Application My To Do'
                    },
                    legend: {

                        display: true,
                        position:'bottom',
                        labels:{
                            fontColor:'white',
                            fontSize:14,
                            generateLabels: function(chart) {
                                return Chart.defaults.global.legend.labels.generateLabels.apply(this, [chart]).filter(function(item, i){
                                    return i <= 7;
                                });
                            }
                        }
                    },
                    legendCallback: function(chart) {
                        // Return the HTML string here.
                        return "<div style='background-color: #00D9D2'>ss</div>";
                    },
                    tooltips: {
                        enabled: true,
                        custom: function (tooltipModel) {

                        }
                    },
                    responsive: true,
                    scales: {
                        xAxes: [
                            {

                                id:'xAxis1',
                                type:"category",

                                stacked: true,
                                ticks: {
                                    fontColor:"white",
                                    fontSize:15,
                                    padding: 15,
                                    onClick : function (evt, item) {
                                        alert(item);
                                        console.log ('legend onClick', evt, item);
                                    },

                                    //  beginAtZero: true,
                                    /*callback: function(value, index, values) {
                                     return 'Entrega  /  Recoleccion' ;
                                     }*/
                                },
                                gridLines:{
                                    color:'white',
                                    drawTicks:true,
                                    tickMarkLength:90,
                                    zeroLineColor:'rgba(255, 255, 255, 1)'
                                }

                            },
                        ],
                        yAxes: [{
                            stacked: true,
                            scaleLabel: {
                                display: true,
                                //labelString: 'Task Count'
                            },
                            gridLines: {
                                color: "white",
                                // borderDash: [2, 5],
                            },
                            ticks: {
                                fontColor:"white",
                                fontSize:15,
                                padding: 5,

                                //  beginAtZero: true,
                                /*callback: function(value, index, values) {
                                 return 'Entrega  /  Recoleccion' ;
                                 }*/
                            },
                        }]
                    },
                    plugins:
                        {
                            datalabels: {

                                // display:false,
                                anchor: 'start',
                                align: 'start',
                                //backgroundColor:"white",
                                //borderRadius: 5,
                                rotation: -90,
                                color: 'white',
                                font:{
                                    // weight:'bold'
                                },
                                formatter: function (value, ctx_local) {

                                    /*var datasets = ctx_local.chart.data.datasets.filter(function (ds) {
                                     return !ds._meta[0].hidden
                                     });*/

                                    console.log('ctx :', ctx_local);
                                    console.log('ctx.chart.data :', ctx_local.chart.data);
                                    var chartInstance = ctx_local.chart;
                                    var textSShow = null;

                                    var stack0 = chartInstance.data.datasets.filter(function(itm){
                                        return itm.stack ==="Stack 0";
                                    });

                                    var stack1 = chartInstance.data.datasets.filter(function(itm){
                                        return itm.stack ==="Stack 1";
                                    });

                                    console.log("stak0",stack0);
                                    console.log("stak1",stack1);
                                    console.log("value",value +"");

                                    if (stack0.indexOf(ctx_local.dataset) === 0) {

                                        textSShow ="Entrega";
                                    }else if(stack1.indexOf(ctx_local.dataset) === 0){
                                        textSShow ="Recolección";
                                    }
                                    return textSShow;

                                },

                            }
                        }




                }
            });
            function onChartClick(clickEvt,activeElems){
                console.log("CLICK",clickEvt,activeElems);
                //alert("asdasddsasda");
                //if click was on a bar, we don't care (we want clicks on labels)
                if(activeElems && activeElems.length) return;

                var mousePoint = Chart.helpers.getRelativePosition(clickEvt, myFCH);
                var indexPosition = myFCH.chart.scales["xAxis1"].getValueForPixel(mousePoint.x);
                var valueLabel = myFCH.chart.scales["xAxis1"].ticks[indexPosition];
                //var valueLabel = myFCH.chart.scales["xAxis1"]._labelItems[indexPosition].label;
                console.log(indexPosition,activeElems,myFCH.chart.scales["xAxis1"]);

                var menu = '<div class="btn-group-vertical  btn-block" role="group" aria-label="Vertical button group">'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '</div>';

                $.dialog({
                    title: valueLabel,
                    content: menu,
                });
            }


            function onChartClickOrigenDestino(clickEvt,activeElems){
                console.log("CLICK",clickEvt,activeElems);
                //alert("asdasddsasda");
                //if click was on a bar, we don't care (we want clicks on labels)
                if(activeElems && activeElems.length) return;

                var mousePoint = Chart.helpers.getRelativePosition(clickEvt, myChOrigenDestino);
                var indexPosition = myChOrigenDestino.chart.scales["xAxis1"].getValueForPixel(mousePoint.x);
                var valueLabel = myChOrigenDestino.chart.scales["xAxis1"].ticks[indexPosition];
                //var valueLabel = myFCH.chart.scales["xAxis1"]._labelItems[indexPosition].label;
                console.log(indexPosition,activeElems,myChOrigenDestino.chart.scales["xAxis1"]);

                var menu = '<div class="btn-group-vertical  btn-block" role="group" aria-label="Vertical button group">'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '<button type="button" class="btn btn-secondary btn-block">Button</button>'+
                    '</div>';

                $.dialog({
                    title: valueLabel,
                    content: menu,
                });
            }

            var myChOrigenDestino = new Chart(document.getElementById('myChart_orige_destino').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: ['CIS', 'CLM', 'AMX', 'Can Cun', 'Oaxaca', 'Villahermosa'],
                    datasets: [
                        {
                            label: '9:30',
                            backgroundColor: "#56170c",
                            stack: 'Stack 0',
                            data: [
                                66,
                                93,
                                31,
                                76,
                                39,
                                75
                            ]
                        },
                        {
                            label: '11:30',
                            backgroundColor: "#922714",
                            stack: 'Stack 0',
                            data: [
                                76,
                                203,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: 'Día Sig.',
                            backgroundColor: "#bf331a",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: 'Día Sig. Terr.',
                            backgroundColor: "#b02f18",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: '2 Días',
                            backgroundColor: "#e86d57",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: 'Apoyo a OT',
                            backgroundColor: "#f0a193",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: 'LTL',
                            backgroundColor: "#f6c8bf",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },
                        {
                            label: 'Internacional',
                            backgroundColor: "#fcefec",
                            stack: 'Stack 0',
                            data: [
                                76,
                                103,
                                41,
                                86,
                                49,
                                85
                            ]
                        },

                        {
                            label: '9:30',
                            backgroundColor: "#56170c",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: '11:30',
                            backgroundColor: "#922714",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: 'Día Sig.',
                            backgroundColor: "#bf331a",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: 'Día Sig. Terr.',
                            backgroundColor: "#b02f18",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: '2 Días',
                            backgroundColor: "#e86d57",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: 'Apoyo a OT',
                            backgroundColor: "#f0a193",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: 'LTL',
                            backgroundColor: "#f6c8bf",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        },
                        {
                            label: 'Internacional',
                            backgroundColor: "#fcefec",
                            stack: 'Stack 1',
                            data: [
                                56,
                                56,
                                83,
                                21,
                                66,
                                29
                            ]
                        }
                    ]

                },
                options: {
                    onClick: function(clickEvt, activeElems) {
                        onChartClickOrigenDestino(clickEvt, activeElems)
                    },
                    layout: {
                        padding: {
                            left: 0,
                            right: 0,
                            top: 0,
                            bottom: 10
                        }
                    },
                    title: {
                        display: false,
                        text: 'Wisdom Application My To Do'
                    },
                    legend: {
                        display: true,
                        position:'bottom',
                        labels:{
                            fontColor:'white',
                            fontSize:14,
                            generateLabels: function(chart) {
                                return Chart.defaults.global.legend.labels.generateLabels.apply(this, [chart]).filter(function(item, i){
                                    return i <= 7;
                                });
                            }
                        }
                    },
                    legendCallback: function(chart) {
                        // Return the HTML string here.
                        return "<div style='background-color: #00D9D2'>ss</div>";
                    },
                    tooltips: {
                        enabled: true,
                        custom: function (tooltipModel) {

                        }
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            id:'xAxis1',
                            type:"category",

                            stacked: true,
                            ticks: {
                                fontColor:"white",
                                fontSize:15,
                                padding: 15,

                                //  beginAtZero: true,
                                /*callback: function(value, index, values) {
                                 return 'Entrega  /  Recoleccion' ;
                                 }*/
                            },
                            gridLines:{
                                color:'white',
                                drawTicks:true,
                                tickMarkLength:90,
                                zeroLineColor:'rgba(255, 255, 255, 1)'
                            }

                        },
                        ],
                        yAxes: [{
                            stacked: true,
                            scaleLabel: {
                                display: true,
                                //labelString: 'Task Count'
                            },
                            gridLines: {
                                color: "white",
                                // borderDash: [2, 5],
                            },
                            ticks: {
                                fontColor:"white",
                                fontSize:15,
                                padding: 5,

                                //  beginAtZero: true,
                                /*callback: function(value, index, values) {
                                 return 'Entrega  /  Recoleccion' ;
                                 }*/
                            },
                        }]
                    },
                    plugins:
                        {
                            datalabels: {
                                // display:false,
                                anchor: 'start',
                                align: 'start',
                                //backgroundColor:"white",
                                //borderRadius: 5,
                                rotation: -90,
                                color: 'white',
                                font:{
                                    // weight:'bold'
                                },
                                formatter: function (value, ctx_local) {

                                    /*var datasets = ctx_local.chart.data.datasets.filter(function (ds) {
                                     return !ds._meta[0].hidden
                                     });*/

                                    console.log('ctx :', ctx_local);
                                    console.log('ctx.chart.data :', ctx_local.chart.data);
                                    var chartInstance = ctx_local.chart;
                                    var textSShow = null;

                                    var stack0 = chartInstance.data.datasets.filter(function(itm){
                                        return itm.stack ==="Stack 0";
                                    });

                                    var stack1 = chartInstance.data.datasets.filter(function(itm){
                                        return itm.stack ==="Stack 1";
                                    });

                                    console.log("stak0",stack0);
                                    console.log("stak1",stack1);
                                    console.log("value",value +"");

                                    if (stack0.indexOf(ctx_local.dataset) === 0) {

                                        textSShow ="Origen Ant.";
                                    }else if(stack1.indexOf(ctx_local.dataset) === 0){
                                        textSShow ="Destino Sig.";
                                    }
                                    return textSShow;

                                },

                            }
                        }




                }
            });
        };



    </script>
    {#<script>
        var ctx = document.getElementById("myChart").getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["D - 0", "D - 1", "D - 2", "D - 3", "D - 4", "D - 5"],
                datasets: [
                    {
                        label: '9:30',
                        stack: 0,
                        data: [100, 100, 100, 100, 100, 100],
                        backgroundColor: 'green',
                    },
                    {
                        label: '11:30',
                        stack: 0,
                        data: [240, 270, 302, 554, 100, 100],
                        backgroundColor: 'blue',
                    },
                    {
                        label: 'Día siguiennte',
                        stack: 0,
                        data: [120, 300, 655, 325, 100, 100],
                        backgroundColor: 'orange',
                    },
                    {
                        label: 'Terrestre',
                        data: [500, 700, 200, 654, 100, 100],
                        stack: 0,
                        backgroundColor: 'yellow',
                    },

                    {
                        label: '9:30',
                        stack: 1,
                        data: [100, 100, 100, 100, 100, 100],
                        backgroundColor: 'green',
                    },
                    {
                        label: '11:30',
                        stack: 1,
                        data: [240, 270, 654, 212, 100, 100],
                        backgroundColor: 'blue',
                    },
                    {
                        label: 'Día siguiennte',
                        stack: 1,
                        data: [120, 300, 120,545, 100, 100],
                        backgroundColor: 'orange',
                    },
                    {
                        label: 'Terrestre',
                        data: [500, 700, 200, 651, 100, 100],
                        stack: 1,
                        backgroundColor: 'yellow',
                    },



                ]
            },
            options: {
                legend:false,
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
        });

    </script>
    <script>

        const ctxx = document.getElementById("myChart2").getContext("2d");

        const data = {
            labels: [
                "Entregas",
                "Recoleccion",
                "Entregas",
                "Recoleccion",
                "Entregas",
                "Recoleccion",
                "Entregas",
                "Recoleccion",
                "Entregas",
                "Recoleccion",
                "Entregas",
                "Recoleccion",
            ],
            datasets: [
                {
                    label: "9:30",
                    backgroundColor: "#0353a4",
                    data: [
                        1000,
                        5000,
                        5240,
                        3520,
                        2510,
                        3652,
                        4555,
                        7850,
                        8850,
                        4000,
                        5000,
                        4520,

                    ]
                },
                {
                    label: "11:30",
                    backgroundColor: "#ff8552",
                    data: [
                        3000,
                        4000,
                        6000,
                        3500,
                        3600,
                        8060,
                        9120,
                        8900,
                        9300,
                        10010,
                        9500,
                        6300,

                    ]
                },
                {
                    label: "Día Siguiente",
                    backgroundColor: "#4ecdc4",
                    data: [
                        6000,
                        7200,
                        6500,
                        4600,
                        3600,
                        9200,
                        8600,
                        7500,
                        3600,
                        5000,
                        6050,
                        7300,
                    ]
                }
            ]
        };

        var Ds = {
            "1":"D + 0",
            "3":"D + 1",
            "5":"D + 2",
            "7":"D + 3",
            "9":"D + 4",
            "11":"D + 5",
        };

        //alert(Ds[1]);

        const options = {
            scales: {
                yAxes: [{ stacked: true }],
                xAxes: [
                    {
                        stacked: true,
                        ticks: { maxRotation: 90, minRotation: 90 }
                    },
                    {
                        type: 'category',
                        position:'center',
                        labels: ['0', '1', '2', '3', '4', '5', '6'],
                        labelOffset:55,
                    },
                    {
                        ticks: {
                            labelOffset:-15,
                            type: 'category',
                            padding:5,
                            callback: function(value,index,values) {
                                var lab = ( index%2 !==0 ? Ds[index] : "" );
                                return lab;
                            }
                        }

                    }
                ]
            }
        };

        const chart = new Chart(ctxx, {
            // The type of chart we want to create
            type: "bar",
            // The data for our dataset
            data: data,
            // Configuration options go here
            options: options
        });


    </script>#}
{% endblock %}