{% extends 'app/skeleton_landing.twig' %}
{% block head %}
    <style>
        body{
            background-color: #000000;
        }

    </style>
{% endblock %}
{% block filtros %}

{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                {% include 'app/flash.twig' %}
                <div class="mx-auto col-md-9 mt-5">
                    <div class="text-center">
                        <span class="titulo-principal-color"> {{ page_title }}</span>
                    </div>
                    <div class="card-body text-light">
                        <form action="{{ path_for('usuario.create') }}" method="post" autocomplete="off">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label class="small mb-1"><span class="required_field">*</span>Id</label>
                                        <input name="nombres" type="text" class="input-transparent {{ errors.nombres ? ' is-invalid':'' }}" required="required" autofocus="autofocus" value="{{ old.nombres }}">
                                        {% if errors.nombres %}
                                            <div class="invalid-feedback">
                                                Ingrese nombres válidos
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <label class="small mb-1"><span class="required_field">*</span>Nombre de Distribución</label>
                                        <div class="form-label-group">
                                            <input type="text" name="apellidopat"  class="input-transparent {{ errors.apellidopat ? ' is-invalid':'' }}" required="required" value="{{ old.apellidopat }}">
                                            {% if errors.apellidopat %}
                                                <div class="invalid-feedback">
                                                    Ingrese un apellido válido
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label class="small mb-1"><span class="required_field">*</span>Día Inicial</label>
                                        <div class="form-label-group">
                                            <input type="text" name="apellidopat"  class="input-transparent {{ errors.apellidopat ? ' is-invalid':'' }}" required="required" value="{{ old.apellidopat }}">
                                            {% if errors.apellidopat %}
                                                <div class="invalid-feedback">
                                                    Ingrese un apellido válido
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="small mb-1"><span class="required_field">*</span>Día Final</label>
                                        <div class="form-label-group">
                                            <input type="text" name="apellidopat"  class="input-transparent {{ errors.apellidopat ? ' is-invalid':'' }}" required="required" value="{{ old.apellidopat }}">
                                            {% if errors.apellidopat %}
                                                <div class="invalid-feedback">
                                                    Ingrese un apellido válido
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mr-auto mb-1">
                                    <a class="btn btn-danger btn-block" href="{{ path_for('items_perdidos') }}">Cancelar</a>
                                </div>
                                <div class="col-md-4 ml-auto mb-1">
                                    <button type="submit" class="btn btn-primary btn-block">Agregar</button>
                                </div>

                            </div>
                            <input type="hidden" name="id" value="">
                            {{ csrf.field | raw }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}