{% extends 'app/skeleton_landing.twig' %}
{% block head %}
    <style>
         body{
         color: #fff !important;
         background-image: url("{{ asset_base_url }}/dist/assets/brand/background_pert.png");
         /*Create the parallax scrolling effect */
         background-attachment: fixed;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         }        
        
        .parallax {
            min-height: 100%;
            height: auto;
        }
        .table .table {
            background-color: transparent;
            color: white;
        }
        .table-hover tbody tr:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
        }
        td>span{
            font-size: 4em;
            line-height: .4em;
        }
        .btn-block {
            display: block;
            width: 12%;
            text-align: center;
            padding-left: 0px!important;
        }
        .modal { 
            background-color: rgba(212, 211, 211, 0.4) !important
        }
        .modal-content {
            background-color: #242425;
        }
        .modal-content .close {
            color: white;
        }
        .modal-content .modal-header {
            color: #919192;
            font-weight: bold;
        }
        .modal-content .form-group {
            font-size: 12px;
            color: white;
        }
        .modal-content .form-control {
            font-size: 12px;
        }
        .btn-primary {
            color: #fff;
            background-color: transparent;
            border-color: #007bff;
        }
    </style>
{% endblock %}
{% block filtros %}

{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                {% include 'app/flash.twig' %}
                {#white-box#}
                <div class="">
                    <div class="text-center">
                        <span class="titulo-principal-color">{{ page_title }}</span>
                    </div>
                    
                    
                    <div class="table table-responsive text-white p-2">                       
                        <table class="mb-2 table table-sm table-borderless text-center table-striped table-hover" 
                               id="dataTableGeocerca" width="100%" cellspacing="0" >
                            <thead class="color_border_botom_white">
                                <tr>

                                    <th></th>
                                    <th>Id</th>
                                    <th>Localidad</th>
                                    <!--<th>Poligono</th>
                                    <th>Vertice </th> --> 
                                    <th>Longitud</th>
                                    <th>Latitud</th>
                                    <!--<th>Activo</th>
                                    <th>Alta</th>
                                    <th>Actualización</th>    -->                                 
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                {% set idLocAnt = 0 %}
                                {% set cont = 1 %}
                                {% for entry in GeocercasSelect   %}
                                    {% if idLocAnt != entry.locationid %}
                                    <tr>
                                        <td></td>
                                        <td>{{ cont }}</td>
                                        <td>{{ entry.typecode }}-{{ entry.city }}</td>
                                        <!--<td>{{ entry.poligonoid }}</td>
                                        <td>{{ entry.verticeid }}</td> --> 
                                        <td>{{ entry.longitude }}<input id="prodId" name="hiLongitud" type="hidden" value="{{ entry.longitud }}"></td>
                                        <td>{{ entry.latitude }}</td>
                                        <!--<td>{{ entry.status == 1?'Si':'No' }}</td>
                                        <td>{{ entry.fechaAlta | date("d/m/Y h:i a") }}</td>
                                        <td>{{ entry.fechaCambio | date("d/m/Y h:i a") }}</td>--> 
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalDataList" 
                                                    data-typecode="{{ entry.typecode }}" data-city="{{ entry.city }}"
                                                    data-longitud="{{ entry.longitud }}" data-latitud="{{ entry.latitud }}" >
                                                    <img src="dist/assets/img/map.png" /></button>
                                        </td>                                        
                                    </tr>
                                    {% set cont = cont+1 %} 
                                    {% else %}
                                    <!--<tr>
                                        <td></td>
                                        <td>{{ entry.id }}</td>
                                        <td></td>
                                        <td>{{ entry.poligonoid }}</td>
                                        <td>{{ entry.verticeid }}</td>
                                        <td>{{ entry.longitud }}</td>
                                        <td>{{ entry.latitud }}</td>
                                        <td>{{ entry.status == 1?'Si':'No' }}</td>
                                        <td>{{ entry.fechaAlta | date("d/m/Y h:i a") }}</td>
                                        <td>{{ entry.fechaCambio | date("d/m/Y h:i a") }}</td>
                                        <td></td>                                        
                                    </tr>    -->                                    
                                    {% endif %}
                                {% set idLocAnt = entry.locationid %}    
                                                                 
                                {% else %}
                                    <tr>
                                        <td colspan="10">Sin registros</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-2 ml-auto mr-2 mt-2">
                            <a class="btn btn-dark btn-block" href="{{ path_for('home') }}">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                        
<div class="modal fade" id="ModalDataList" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Localidad</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
	 <div id="datos_ajax"></div>
          <div id="map" style="height: 450px; width: 450px; background-color: #e7e700;">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>     
                        

    <!-- Modal -->
     <!--<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <input type="text" class="form-control" id="modLocalidad"> 
               
            <div id="map" style="height: 450px; width: 450px; background-color: #e7e700;"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>  -->                      
</div>

{% endblock %}

{% block scripts %}
    <!--AIzaSyC32vpDAaozqg71wzy2CHgVAVlvxQtLsIE-->
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSPepYUd4O0H6j3p17XZ2TqWLjEq9lrXA&callback=initMap">
    </script> 
    <script>
       
                $('#ModalDataList').on('show.bs.modal', function (event) {
		  var button = $(event.relatedTarget) // Botón que activó el modal
		  var codigoLoc = button.data('typecode') // Extraer la información de atributos de datos
		  var idCity = button.data('city') // Extraer la información de atributos de datos
                  var longitud = button.data('longitud') // Extraer la información de atributos de datos
                  var latitud = button.data('latitud') // Extraer la información de atributos de datos
		  
		  var modal = $(this)
		  modal.find('.modal-title').text('Localidad: '+codigoLoc+' '+idCity)
		 // modal.find('.modal-body').text('Latitud'+latitud)
                 // modal.find('.modal-body #idCity').val(id)

                  initMap(longitud,latitud);
                  
		  $('.alert').hide();//Oculto alert
		})        
        
        function initMap(longitud,latitud) {
           console.log("Valor Map" + longitud,latitud);
            
            // The location of Uluru
            var uluru = {lat: longitud, lng: latitud };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 16, center: uluru, mapTypeId: google.maps.MapTypeId.RoadMap});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map, title: 'PERT::Localidad'});
            
            //var map = new google.maps.Map(document.getElementById('map'),mapOptions);
              // Polygon Coordinates
              var triangleCoords = [
               /* new google.maps.LatLng(28.72405919756444,-106.13042939933624),
                new google.maps.LatLng(28.72521174386293,-106.12972666057433),
                new google.maps.LatLng(28.725735713843516,-106.13093475851778),*/
                new google.maps.LatLng(longitud,latitud)
              ];
              var flightPath = new google.maps.Polyline({
                            path: triangleCoords,
                            geodesic: true,
                            strokeColor: '#FF0000',
                            strokeOpacity: 1.0,
                            strokeWeight: 2
                          });
                flightPath.setMap(map);  
                
        // Add a listener for the click event.
       // flightPath.addListener('click', showArrays);

        //infoWindow = new google.maps.InfoWindow;                

              // Styling & Controls
              /*myPolygon = new google.maps.Polygon({
                paths: triangleCoords,
                draggable: true, // turn off if it gets annoying
                editable: true,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#FF0000',
                fillOpacity: 0.35
              });*/

              //myPolygon.setMap(map);
              //google.maps.event.addListener(myPolygon, "dragend", getPolygonCoords);
              //google.maps.event.addListener(myPolygon.getPath(), "insert_at", getPolygonCoords);
              //google.maps.event.addListener(myPolygon.getPath(), "remove_at", getPolygonCoords);
              //google.maps.event.addListener(myPolygon.getPath(), "set_at", getPolygonCoords);    
            
            //Display Coordinates below map
            /*function getPolygonCoords() {
              var len = myPolygon.getPath().getLength();
              var htmlStr = "";
              for (var i = 0; i < len; i++) {
                htmlStr += "new google.maps.LatLng(" + myPolygon.getPath().getAt(i).toUrlValue(5) + "), ";
                //Use this one instead if you want to get rid of the wrap > new google.maps.LatLng(),
                //htmlStr += "" + myPolygon.getPath().getAt(i).toUrlValue(5);
              }
              document.getElementById('info').innerHTML = htmlStr;
            }*/
            /*function copyToClipboard(text) {
              window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
            }   */           
            
        }        
       /** @this {google.maps.Polygon} */
     /* function showArrays(event) {
        // Since this polygon has only one path, we can call getPath() to return the
        // MVCArray of LatLngs.
        var vertices = this.getPath();

        var contentString = '<b>Bermuda Triangle polygon</b><br>' +
            'Clicked location: <br>' + event.latLng.lat() + ',' + event.latLng.lng() +
            '<br>';

        // Iterate over the vertices.
        for (var i =0; i < vertices.getLength(); i++) {
          var xy = vertices.getAt(i);
          contentString += '<br>' + 'Coordinate ' + i + ':<br>' + xy.lat() + ',' +
              xy.lng();
        }

        // Replace the info window's content and position.
        infoWindow.setContent(contentString);
        infoWindow.setPosition(event.latLng);

        infoWindow.open(map);
      }   */     
        /*
            $(document).on("click", ".open-Modal", function () {
            var myLoc = $(this).data('id');
            $(".modal-body #modLocalidad").val( myLoc );
            $(".modal-body #exampleModalLongTitle").val( myLoc );
            });        
        $(document).ready(function(){
                $(document).on('click', '.exampleModalCenter', function(){
                        var id=$(this).val();
                        var first=$('#hiLongitud').text();

                        $('#edit').modal('show');
                        $('#efirstname').val("TEST");
                        
                        console.log("Valor" + first);
                });
        });    */    
           /* $(document).ready(function (e) {
              $('#exampleModalCenter').on('show.bs.modal', function(e) {    
                 var id = $(e.relatedTarget).data().id;
                     $(e.currentTarget).find('#efirstname').val(id);
                  
                      alert("Valor" + id);
              });
            });*/
    </script>    
    <script>
        
        // Initialize and add the map
       /* function initMap() {
            // The location of Uluru
            var uluru = {lat: 19.0931, lng: -98.2191 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 18, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map, title: 'PERT::Localidad'});
        }*/
    </script> 
    <script>
        
        var varGeocerca = {
            selectedCheckBoxArray: [],
            getItemsToDelete: function () {

                return this.selectedCheckBoxArray === null ? [] : this.selectedCheckBoxArray;
            },
            setNewIdToDelete: function (id) {
                if (typeof id === "string") {
                    id = parseInt(id);
                }
                var rowIndex = $.inArray(id, this.getItemsToDelete());
                if (/*this.checked &&*/ rowIndex === -1) {
                    this.selectedCheckBoxArray.push(id);
                }
                this.selectedCheckBoxArray.sort(this.sortAsc);
            },
            removeIdToDelete: function (id) {
                if (typeof id === "string") {
                    id = parseInt(id);
                }
                var rowIndex = $.inArray(id, this.getItemsToDelete());
                if (/*!this.checked &&*/ rowIndex !== -1) {
                    //console.log("datos elimindaos");
                    this.selectedCheckBoxArray = $.grep(this.selectedCheckBoxArray, function (value) {
                        // console.log("value deleted:" +value);
                        return value !== id;
                    });
                    this.selectedCheckBoxArray.sort(this.sortAsc);

                }
            },
            sortAsc: function (a, b) {
                return a > b ? 1 : b > a ? -1 : 0;
            },
            checkIfOneOrMore: function () {
                return this.selectedCheckBoxArray.length < 2 ? "este elemento" : "estos elementos"
            }
        };
        // Call the dataTables jQuery plugin
        $(document).ready(function () {

            var id_seleccionado = 0;
            /*
            var table = $('#dataTableGeocerca').DataTable({
                dom: '<"top">Bfrltip',
                columnDefs: [{
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0,
                        checkboxes: {
                            selectRow: false
                        }
                    }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']],
                buttons: [
                    {
                        text: 'Agregar',
                        action: function (e, dt, node, config) {
                            //if (parseInt(id_seleccionado)!==0){
                          ///  window.location.assign('');
                            // }
                        }
                    },
                    {
                        text: 'Editar',
                        action: function () {
                           var selected = table.rows( { selected: true } );
                             console.log(selected);

                            if (parseInt(id_seleccionado) !== 0) {
                               // window.location.assign('' + id_seleccionado);
                            }
                        }
                    },
                    {
                        text: 'Activar/Desactivar',
                        action: function (e, dt, node, config) {
                            // alert( 'Button activated' );
                            var ids_hide = $('<input>')
                                    .attr('id', 'usuarios_delete')
                                    .attr('type', 'hidden')
                                    .attr('name', "usuarios_delete")
                                    .val(usuario.getItemsToDelete());
                            $("#form_help_delete").append(ids_hide).submit();
                            //confirmDelete();
                        }
                    },

                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "createdRow": function (row, data, index) {
                    if ( data[5].replace(/[\$,]/g, '') * 1 > 150000 ) {
                     $('td', row).eq(5).addClass('highlight');
                     }
                },

            });
*/

            //var selectedCheckBoxArray =[];
            table.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    var rowData = table.rows(indexes).data().toArray();
                    var id = parseInt(rowData[0][1]);
                    id_seleccionado = id;
                    console.log("Id Seelccionado" + id);
                    //usuario.setNewIdToDelete(id);

                   /// console.log(usuario.getItemsToDelete());
                }
            })
            .on('deselect', function (e, dt, type, indexes) {
                if (type === 'row') {
                    var rowData = table.rows(indexes).data().toArray();
                    var id = parseInt(rowData[0][1]);
                    //varGeocerca.removeIdToDelete(id);
                   // console.log(varGeocerca.getItemsToDelete());
                }
            });

            $("div.top").html('<b>Custom tool bar! Text/images etc.</b>');
        });


        function confirmDelete() {

            $.confirm({
                title: '¿Esta seguro(a)?',
                content: "Al desactivar " + varGeocerca.checkIfOneOrMore() + ", el usuario no podrá acceder a su cuenta. Esta acción es reversible.",
                //theme: 'supervan',
                bgOpacity: 0.7,
                columnClass: 'col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1',
                buttons: {
                    success: {
                        text: "Aceptar",
                        btnClass: "btn-warning",
                        action: function () {
                            var ids_hide = $('<input>')
                                    .attr('id', 'usuarios_delete')
                                    .attr('type', 'hidden')
                                    .attr('name', "usuarios_delete")
                                    .val(usuario.getItemsToDelete());
                            $("#form_help_delete").append(ids_hide).submit();
                        }
                    },
                    cancel: function () {
                        $("#usuarios_delete").remove();
                    }
                }
            });
        }
    </script>
    <div id="form_content" style="display: block" >
        <form id="form_help_delete" action="" method="post" autocomplete="off">

            {{ csrf.field | raw }}
        </form>
    </div>
{% endblock %}