{% extends 'app/skeleton_landing.twig' %}
{% block head %}
    <style>

    </style>
{% endblock %}
{% block filtros %}

{% endblock %}
{% block contenido %}
    <div class="parallax">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-9 ml-auto mr-auto"  style="margin-top: 5rem !important;">
                    {% include 'app/flash.twig' %}
                </div>
                <div class="col-sm-8 col-sm-7 col-md-6 col-lg-4 mt-4">
                    <div class="card-body text-light">

                        <h4 class="text-center font-weight-light my-4">Cambiar contraseña</h4>
                        <form action="{{ path_for('pwchange') }}" method="post">
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="small mb-1" for="inputPassword_old">Contraseña actual</label>
                                        <input name="contrasena_old" type="password" id="inputPassword_old" class="input-transparent  {{ errors.contrasena_old ? ' is-invalid':'' }}" required="required" value="{{ old.contrasena }}">
                                        {% if errors.contrasena_old %}
                                            <div class="invalid-feedback">
                                                {#{{ errors.contrasena  }}#}
                                                {% if errors.contrasena_old == '- Contraseña actual incorrecta' %}
                                                    Contraseña actual incorrecta
                                                {% else %}
                                                    Ingrese una contraseña válida
                                                {% endif %}

                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-label-group">
                                        <label class="small mb-1" for="inputPassword">Nueva contraseña</label>
                                        <input name="contrasena" type="password" id="inputPassword" class="input-transparent  {{ errors.contrasena ? ' is-invalid':'' }}" required="required" value="{{ old.contrasena }}">
                                        {% if errors.contrasena %}
                                            <div class="invalid-feedback">
                                                {#{{ errors.contrasena  }}#}
                                                Ingrese una contraseña válida
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-block">Cambiar contraseña</button>
                                {{ csrf.field | raw }}
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="container container-footer" style="">
        <div class="row row-footer">
            <div class="pt-2 pb-2 ml-auto mr-auto">
                <img class="estafeta_pert " src="{{ asset_base_url }}/dist/assets/brand/estafeta.png">
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}
    <script>

    </script>
{% endblock %}