<!DOCTYPE html>
<html lang="es">

{% include 'app/head' %}

<body class="bg-dark">

<div class="container">

    {% include 'app/flash.twig' %}
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="mx-auto mt-5">
                <div class="card-header">Cambiar contraseña</div>
                <div class="card-body">
                    <form action="{{ path_for('pwchange') }}" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <label class="small mb-1" for="inputPassword_old">Contraseña actual</label>
                                <input name="contrasena_old" type="password" id="inputPassword_old" class="form-control {{ errors.contrasena_old ? ' is-invalid':'' }}" placeholder="Contraseña actual" required="required" value="{{ old.contrasena }}">
                                {% if errors.contrasena_old %}
                                    <div class="invalid-feedback">
                                        {#{{ errors.contrasena  }}#}
                                        {% if errors.contrasena_old == '- Contraseña actual incorrecta' %}
                                            Contraseña actual incorrecta
                                        {% else %}
                                            Ingrese una contraseña válida
                                        {% endif %}

                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <label class="small mb-1" for="inputPassword">Nueva contraseña</label>
                                <input name="contrasena" type="password" id="inputPassword" class="form-control {{ errors.contrasena ? ' is-invalid':'' }}" placeholder="Nueva contraseña" required="required" value="{{ old.contrasena }}">
                                {% if errors.contrasena %}
                                    <div class="invalid-feedback">
                                        {#{{ errors.contrasena  }}#}
                                        Ingrese una contraseña válida
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Cambiar contraseña</button>
                        {{ csrf.field | raw }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'app/scripts' %}

</body>

</html>
