{% extends 'app/skeleton-empty.twig' %}

{% block contenido %}

{% if usuario %}
    <div class="card  mt-5">
        <div class="card-header">{{ page_title }}</div>
        <div class="card-body">
            <form action="{{ path_for('usuario',{'id':usuario.id}) }}" method="post" autocomplete="off">
                <div class="form-group">
                    <div class="form-label-group">
                        <label class="small mb-1"><span class="required_field">*</span>Nombres</label>
                        <input name="nombres" type="text" class="form-control {{ errors.nombres ? ' is-invalid':'' }}" placeholder="Nombres" required="required" autofocus="autofocus" value="{{ old.nombres ?? usuario.nombres }}">
                        {% if errors.nombres %}
                            <div class="invalid-feedback">
                                Ingrese nombres válidos
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label class="small mb-1"><span class="required_field">*</span>Apellido Paterno</label>
                            <div class="form-label-group">
                                <input type="text" name="apellidopat"  class="form-control {{ errors.apellidopat ? ' is-invalid':'' }}" placeholder="Apellido Paterno" required="required" value="{{ old.apellidopat ?? usuario.apellidopat }}">
                                {% if errors.apellidopat %}
                                    <div class="invalid-feedback">
                                        Ingrese un apellido válido
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1"><span class="required_field">*</span>Apellido Materno</label>
                            <div class="form-label-group">
                                <input type="text" name="apellidomat" class="form-control {{ errors.apellidomat ? ' is-invalid':'' }}" placeholder="Apellido Materno" required="required" autofocus="autofocus" value="{{ old.apellidomat ?? usuario.apellidomat  }}">
                                {% if errors.apellidomat %}
                                    <div class="invalid-feedback">
                                        Ingrese un apellido válido
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <label class="small mb-1"><span class="required_field">*</span>Correo</label>
                        <input type="email" name="correo" class="small mb-1 form-control{{ errors.correo ? ' is-invalid':'' }}" placeholder="Correo" required="required" value="{{ old.correo ?? usuario.correo }}">
                        {% if errors.correo %}
                            <div class="invalid-feedback">
                                {#{{ errors.correo  }}#}
                                {% if errors.correo == '- Email registrado previamente' %}
                                    Email registrado previamente
                                {% else %}
                                    Ingrese un correo válido
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <span class="span mt-6">Si desea cambiar la contraseña complete los datos de abajo</span>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <label class="small mb-1" for="inputPassword">Contraseña</label>
                                <input type="password" name="contrasena" class="form-control {{ errors.contrasena ? ' is-invalid':'' }}" placeholder="Contraseña" >
                                {% if errors.contrasena %}
                                    <div class="invalid-feedback">
                                        {#{{ errors.contrasena  }}#}
                                        Ingrese una contraseña válida
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group">
                                <label class="small mb-1">Confirmar contraseña</label>
                                <input type="password" name="contrasena2" class="form-control {{ errors.contrasena2 ? ' is-invalid':'' }}" placeholder="Confirmar contraseña" >
                                {% if errors.contrasena2 %}
                                    <div class="invalid-feedback">
                                        Las contraseñas no coinciden
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                <input type="hidden" name="id" value="">
                {{ csrf.field | raw }}
            </form>
        </div>
    </div>
{% else %}
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">No encontrado</div>
    </div>
{% endif %}
{% endblock %}
