{% extends 'app/skeleton_landing.twig' %}
{% block head %}
    <style>
        body{
            background-color: #000000;
        }

    </style>
{% endblock %}
{% block filtros %}

{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                {% include 'app/flash.twig' %}
                <div class="mx-auto col-md-9 mt-5">
                    <div class="text-center">
                        <span class="titulo-principal-color"> {{ page_title }}</span>
                    </div>
                    <div class="card-body text-light">
                        <form action="{{ path_for('usuario',{'id':usuario.id}) }}" method="post" autocomplete="off">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <label class="small mb-1"><span class="required_field">*</span>Nombres</label>
                                        <input name="nombres" type="text" class="input-transparent {{ errors.nombres ? ' is-invalid':'' }}" required="required" autofocus="autofocus" value="{{ old.nombres ?? usuario.nombres }}">
                                        {% if errors.nombres %}
                                            <div class="invalid-feedback">
                                                Ingrese nombres válidos
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <label class="small mb-1"><span class="required_field">*</span>Apellido Paterno</label>
                                        <div class="form-label-group">
                                            <input type="text" name="apellidopat"  class="input-transparent {{ errors.apellidopat ? ' is-invalid':'' }}" required="required" value="{{ old.apellidopat ?? usuario.apellidopat }}">
                                            {% if errors.apellidopat %}
                                                <div class="invalid-feedback">
                                                    Ingrese un apellido válido
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="small mb-1"><span class="required_field">*</span>Apellido Materno</label>
                                        <div class="form-label-group">
                                            <input type="text" name="apellidomat" class="input-transparent {{ errors.apellidomat ? ' is-invalid':'' }}" required="required" autofocus="autofocus" value="{{ old.apellidomat ?? usuario.apellidomat  }}">
                                            {% if errors.apellidomat %}
                                                <div class="invalid-feedback">
                                                    Ingrese un apellido válido
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <div class="form-label-group">
                                    <label class="small mb-1"><span class="required_field">*</span>Correo</label>
                                    <input type="email" name="correo" class="small mb-1 input-transparent {{ errors.correo ? ' is-invalid':'' }}" required="required" value="{{ old.correo ?? usuario.correo }}">
                                    {% if errors.correo %}
                                        <div class="invalid-feedback">
                                            {#{{ errors.correo  }}#}
                                            {% if errors.correo == '- Email registrado previamente' %}
                                                Email registrado previamente
                                            {% else %}
                                                Ingrese un correo válido
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>

                            <span class="span">Si desea cambiar la contraseña complete los datos de abajo</span>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <label class="small mb-1" for="inputPassword">Contraseña</label>
                                            <input type="password" name="contrasena" class="input-transparent {{ errors.contrasena ? ' is-invalid':'' }}" >
                                            {% if errors.contrasena %}
                                                <div class="invalid-feedback">
                                                    {#{{ errors.contrasena  }}#}
                                                    Ingrese una contraseña válida
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <label class="small mb-1">Confirmar contraseña</label>
                                            <input type="password" name="contrasena2" class="input-transparent {{ errors.contrasena2 ? ' is-invalid':'' }}" >
                                            {% if errors.contrasena2 %}
                                                <div class="invalid-feedback">
                                                    Las contraseñas no coinciden
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mr-auto mb-1">
                                    <a class="btn btn-danger btn-block" href="{{ path_for('usuarios') }}">Cancelar</a>
                                </div>
                                <div class="col-md-4 ml-auto mb-1">
                                    <button type="submit" class="btn btn-primary btn-block">Actualizar</button>
                                </div>

                            </div>
                            <input type="hidden" name="id" value="">
                            {{ csrf.field | raw }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}