{% extends 'app/skeleton_landing.twig' %}
{% block head %}
    <style>
        body{
            /*background-color: #000000;*/
            color: #ffffff;
            background-image: url("{{ asset_base_url }}/dist/assets/brand/background_pert_dark.png");
            background-size:100% 100%;    
        }

        .dataTables_filter>label>input, .dataTables_filter>label>input:focus{

            color: #ffffff!important;
            background-color: #929292;
            border: none;
        }

        .dataTables_paginate > ul.pagination > li.disabled > a {
            color: #bfbfbf;
            cursor: auto;
            background-color: #6b6b6b;
            border-color: #151515;
        }

        .dataTables_paginate > ul.pagination > li > a {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #ffffff;
            background-color: #504d4d;
            border: 1px solid #3c3d3e;
        }


        .dataTables_length > label > select,
        .dataTables_length > label > select:focus {
            color: #ffffff;
            background-color: #6b6b6b;
            border: 1px solid #3c3d3e;
        }

    </style>
{% endblock %}
{% block filtros %}

{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                {% include 'app/flash.twig' %}
                {#white-box#}
                <div class="">
                    <div class="text-center">
                        <span class="titulo-principal-color"> {{ page_title }}</span>
                    </div>
                    <div class="table-responsive bg-dark text-white p-2 ">
                        <table class="mb-2 table table-sm table-borderless text-center table-striped table-hover table-dark table-black" id="dataTableusuario" width="100%" cellspacing="0">
                            <thead class="color_border_botom_white">
                                <tr>

                                    <th></th>
                                    <th>Id</th>
                                    <th>Nombres</th>
                                    <th>Apellido Pat.</th>
                                    <th>Apellido Mat.</th>
                                    <th>Correo</th>
                                    <th>Activo</th>
                                    <th>Alta</th>
                                    <th>Actualización</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in usuarios %}
                                    <tr>
                                        <td></td>
                                        <td>{{ entry.id }}</td>
                                        <td>{{ entry.nombres }}</td>
                                        <td>{{ entry.apellidopat }}</td>
                                        <td>{{ entry.apellidomat }}</td>
                                        <td>{{ entry.correo }}</td>
                                        <td>{{ entry.activo == 1?'Si':'No' }}</td>
                                        <td>{{ entry.fecha_alta | date("d/m/Y h:i a") }}</td>
                                        <td>{{ entry.fecha_cambio | date("d/m/Y h:i a") }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">Sin registros</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-2 ml-auto mr-2 mt-2" style="text-align: right">
                            <a class="btn btn-dark" href="{{ path_for('administrar') }}">Regresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        var usuario = {
            selectedCheckBoxArray: [],
            getItemsToDelete: function () {

                return this.selectedCheckBoxArray === null ? [] : this.selectedCheckBoxArray;
            },
            setNewIdToDelete: function (id) {
                if (typeof id === "string") {
                    id = parseInt(id);
                }
                var rowIndex = $.inArray(id, this.getItemsToDelete());
                if (/*this.checked &&*/ rowIndex === -1) {
                    this.selectedCheckBoxArray.push(id);
                }
                this.selectedCheckBoxArray.sort(this.sortAsc);
            },
            removeIdToDelete: function (id) {
                if (typeof id === "string") {
                    id = parseInt(id);
                }
                var rowIndex = $.inArray(id, this.getItemsToDelete());
                if (/*!this.checked &&*/ rowIndex !== -1) {
                    //console.log("datos elimindaos");
                    this.selectedCheckBoxArray = $.grep(this.selectedCheckBoxArray, function (value) {
                        // console.log("value deleted:" +value);
                        return value !== id;
                    });
                    this.selectedCheckBoxArray.sort(this.sortAsc);

                }
            },
            sortAsc: function (a, b) {
                return a > b ? 1 : b > a ? -1 : 0;
            },
            checkIfOneOrMore: function () {
                return this.selectedCheckBoxArray.length < 2 ? "este elemento" : "estos elementos"
            }
        };
        // Call the dataTables jQuery plugin
        $(document).ready(function () {

            var id_seleccionado = 0;
            var table = $('#dataTableusuario').DataTable({
                dom: '<"top">Bfrltip',
                columnDefs: [{
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0,
                        checkboxes: {
                            selectRow: false
                        }
                    }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']],
                buttons: [
                    {
                        text: 'Agregar',
                        action: function (e, dt, node, config) {
                            //if (parseInt(id_seleccionado)!==0){
                            window.location.assign('{{ path_for('usuario.create') }}');
                            // }
                        }
                    },
                    {
                        text: 'Editar',
                        action: function () {
                            /*var selected = table.rows( { selected: true } );
                             console.log(selected);*/

                            if (parseInt(id_seleccionado) !== 0) {
                                window.location.assign('{{ path_for('usuario',{'id':id_seleccionado}) }}' + id_seleccionado);
                            }
                        }
                    },
                    {
                        text: 'Plazas',
                        action: function () {
                            /*var selected = table.rows( { selected: true } );
                             console.log(selected);*/

                            if (parseInt(id_seleccionado) !== 0) {
                                window.location.assign('{{ path_for('usuario.plazas',{'id':id_seleccionado}) }}' + id_seleccionado);
                            }
                        }
                    },
                    {
                        text: 'Pantallas',
                        action: function () {
                            /*var selected = table.rows( { selected: true } );
                             console.log(selected);*/

                            if (parseInt(id_seleccionado) !== 0) {
                                window.location.assign('{{ path_for('usuario.pantallas',{'id':id_seleccionado}) }}' + id_seleccionado);
                            }
                        }
                    },
                    {
                        text: 'Activar/Desactivar',
                        action: function (e, dt, node, config) {
                            // alert( 'Button activated' );
                            var ids_hide = $('<input>')
                                    .attr('id', 'usuarios_delete')
                                    .attr('type', 'hidden')
                                    .attr('name', "usuarios_delete")
                                    .val(usuario.getItemsToDelete());
                            $("#form_help_delete").append(ids_hide).submit();
                            //confirmDelete();
                        }
                    },
                            /*{
                             extend:    'copyHtml5',
                             text:      '<i class="fas fa-fw fa-copy"></i>',
                             titleAttr: 'Copiar'
                             },
                             {
                             extend:    'excelHtml5',
                             text:      '<i class="fas fa-fw fa-file-excel"></i>',
                             titleAttr: 'Exportar a Excel'
                             },
                             {
                             extend:    'csvHtml5',
                             text:      '<i class="fas fa-fw fa-file-csv"></i>',
                             titleAttr: 'Exportar a CSV'
                             },
                             {
                             extend:    'pdfHtml5',
                             text:      '<i class="fas fa-fw fa-file-pdf"></i>',
                             titleAttr: 'Exportar a PDF'
                             },
                             'colvis',*/

                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "createdRow": function (row, data, index) {
                    /*if ( data[5].replace(/[\$,]/g, '') * 1 > 150000 ) {
                     $('td', row).eq(5).addClass('highlight');
                     }*/
                },

            });


            //var selectedCheckBoxArray =[];
            table.on('select', function (e, dt, type, indexes) {
                if (type === 'row') {
                    var rowData = table.rows(indexes).data().toArray();
                    var id = parseInt(rowData[0][1]);
                    id_seleccionado = id;
                    /*console.log(id);*/
                    usuario.setNewIdToDelete(id);

                    console.log(usuario.getItemsToDelete());
                }
            })
                    .on('deselect', function (e, dt, type, indexes) {
                        if (type === 'row') {
                            var rowData = table.rows(indexes).data().toArray();
                            var id = parseInt(rowData[0][1]);
                            usuario.removeIdToDelete(id);
                            console.log(usuario.getItemsToDelete());
                        }
                    });

            $("div.top").html('<b>Custom tool bar! Text/images etc.</b>');
        });


        function confirmDelete() {

            $.confirm({
                title: '¿Esta seguro(a)?',
                content: "Al desactivar " + usuario.checkIfOneOrMore() + ", el usuario no podrá acceder a su cuenta. Esta acción es reversible.",
                //theme: 'supervan',
                bgOpacity: 0.7,
                columnClass: 'col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1',
                buttons: {
                    success: {
                        text: "Aceptar",
                        btnClass: "btn-warning",
                        action: function () {
                            var ids_hide = $('<input>')
                                    .attr('id', 'usuarios_delete')
                                    .attr('type', 'hidden')
                                    .attr('name', "usuarios_delete")
                                    .val(usuario.getItemsToDelete());
                            $("#form_help_delete").append(ids_hide).submit();
                        }
                    },
                    cancel: function () {
                        $("#usuarios_delete").remove();
                    }
                }
            });
        }
    </script>
    <div id="form_content" style="display: block" >
        <form id="form_help_delete" action="{{ path_for('usuario.delete') }}" method="post" autocomplete="off">

            {{ csrf.field | raw }}
        </form>
    </div>
{% endblock %}