{% extends 'app/skeleton_landing.twig' %}
{% block head %}

    <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style>
        body{
            background-color: #000000;
        }

        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }
        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus,
        /*.select2-container--default .select2-selection--multiple > span > span > ul > li > input::placeholder*/
        {
            background-color: #5d5757;
        }
        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }
    </style>
{% endblock %}
{% block filtros %}

{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                {% include 'app/flash.twig' %}
                <div class="mx-auto col-md-6 mt-5">
                    <div class="text-center">
                        <span class="titulo-principal-color"> Plazas de {{ usuario.nombres ~' '~ usuario.apellidopat }}</span>
                    </div>

                    <div class="card-body">

                        <form action="{{ path_for('usuario',{'id':usuario.id}) }}" method="post" autocomplete="off">

                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group mx-sm-3 mb-2">
                                        <label class="sr-only">Plazas</label>
                                        <select class="form-control select2" name="CODE[]"  multiple="multiple"></select>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <button id="btn-add-plazas" type="button" class="btn btn-primary mb-2">Agregar</button>
                                </div>
                            </div>

                            <p class="mt-4 text-light">Plazas asignadas</p>

                            <div class="row">
                                <div class="col-md-10 mx-auto">

                                    <ul class="list-group plazas-list" style="    height: 20rem; overflow-x: auto;">
                                        {#<li class="list-group-item d-flex justify-content-between"><p class="p-0 m-0 flex-grow-1">First item</p>
                                            <button class="btn btn-sm  btn-link"><i class="fa fa-trash"></i></button>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between"><p class="p-0 m-0 flex-grow-1">Second item</p>
                                            <button class="btn btn-sm  btn-link"><i class="fa fa-trash"></i></button>
                                        </li>#}
                                    </ul>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-4 mt-4">
                                    <a class="btn btn-dark btn-block" href="{{ path_for('usuarios') }}">Regresar</a>
                                </div>
                            </div>
                            <input type="hidden" name="id" value="{{ usuario.id }}">
                            {{ csrf.field | raw }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
        var plazasSelect = {
            selectedObjects: [],
            mySelect2: function () {
                $('.select2').select2({
                    placeholder: 'Buscar una plaza a asignar',
                    ajax: {
                        url: function (params) {
                            var uid = '{{ usuario.id }}';
                            var tr = params.term !== undefined ? params.term : '';
                            var ca = '{{ path_for('api.plazas',{ 'filterid':usuario.id}) }}/' + tr;
                            console.log(ca);
                            return ca;
                        },
                        data: null,
                        processResults: function (response) {
                            var parsed = [];
                            $.each(response.data, function (v, a) {
                                parsed.push({id: a.id, text: a.code});
                            });
                            console.log(parsed);
                            return {
                                results: parsed
                            };
                        },
                        cache: true
                    }
                });
            },
            init: function () {
                //Init select2
                this.mySelect2();
                //Init variables
                plazasSelect.selectedObjects = [];
                //Init listeners
                /* ESTO SOLO FUNCIONA SI ES SELECCION MULTIPLE */
                $('.select2').on('select2:select', function (e) {
                    var data = e.params.data;
                    plazasSelect.selectedObjects.push({id: data.id, code: data.text});
                    console.log("selecciono", plazasSelect.selectedObjects, data);
                });

                $('.select2').on("select2:unselect", function (e) {
                    var data = e.params.data;
                    plazasSelect.selectedObjects.pop({id: data.id, code: data.text});
                    console.log("deselecciono", plazasSelect.selectedObjects, data);
                });
                /* _________________________________________________ */

                $('#btn-add-plazas').click(function (e) {
                    var sendInfo = {
                        id: "{{ usuario.id }}",
                        /* ESTO SOLO FUNCIONA SI ES SELECCION MULTIPLE */
                        ids: plazasSelect.selectedObjects//$('.select2').val(),
                    };


                    console.log(sendInfo);

                    $.ajax({
                        type: "POST",
                        url: "{{ path_for('api.plazas.asignar') }}",
                        dataType: "json",
                        success: function (data) {
                            console.log(data);
                            $('.select2').val(null).trigger("change");
                            /*TODO se puede optimizar agregando el elemento nuevo al arrego sin necesidad de refrescar todo*/
                            plazasList.refreshPlazas();
                        },
                        data: sendInfo
                    });
                    e.preventDefault();
                });
            }
        };

        var plazasList = {
            listContainer: null,
            plazas: [],
            refreshPlazas: function () {
                $('.plazas-list').html('');
                return $.ajax({
                    url: '{{ path_for('api.usuario.plazas',{ 'id':usuario.id}) }}',
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (result) {
                        plazasList.plazas = result.data;
                        if (result.data.length > 0) {
                            for (i = 0; i < plazasList.plazas.length; i++) {
                                var item =
                                        '<li class="list-group-item list-group-item-dark d-flex justify-content-between" id="plzList' + plazasList.plazas[i].id + '">' +
                                        '<p class="p-0 m-0 flex-grow-1">' + plazasList.plazas[i].locationcode + '</p>' +
                                        '<button type="button" class="btn btn-sm  btn-link" onclick="plazasList.removePlaza(event,' + plazasList.plazas[i].id + ')"><i class="fa fa-trash"></i></button>' +
                                        '</li>';
                                $('.plazas-list').append(item);
                            }

                        } else {
                            $('.plazas-list').html('<h5>Añada nuevas plazas para el usuario</h5>');
                        }

                    }
                });
            },
            removePlaza: function (e, i) {
                console.log(e, i);

                $('#plzList' + i).remove();
                $.ajax({
                    url: '{{ path_for('api.plaza.remover') }}/' + i,
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (result) {
                        console.log(result);
                    }
                });
                e.preventDefault();
            },
            init: function () {
                this.listContainer = $('.plazas-list');
                this.refreshPlazas();
            }

        };

        $(document).ready(function () {
            plazasSelect.init();
            plazasList.init();
        });

    </script>
    <script>


        var list = document.getElementById('demo');
        var lastid = 0;

        function changeText2() {
            var firstname = 'dummie';
            var entry = document.createElement('li');
            entry.appendChild(document.createTextNode(firstname));
            entry.setAttribute('id', 'item' + lastid);
            var removeButton = document.createElement('button');
            removeButton.appendChild(document.createTextNode("remove"));
            removeButton.setAttribute('onClick', 'removeName("' + 'item' + lastid + '")');
            entry.appendChild(removeButton);
            lastid += 1;
            list.appendChild(entry);
        }


        function removeName(itemid) {
            var item = document.getElementById(itemid);
            list.removeChild(item);
        }

        /*$.ajax({
         url:  ,
         contentType: "application/json",
         dataType: 'json',
         success: function(result){
         console.log(result);
         $('#cont').html(JSON.stringify(result));
         }
         });*/
        /*var url = '{#{{ path_for('api.usuario.plazas',{ 'id':usuario.id}) }}#}';
         $.ajax({
         url:  url,
         contentType: "application/json",
         dataType: 'json',
         success: function(result){
         console.log(result);
         $('#cont').html(JSON.stringify(result));
         }
         })*/
    </script>
{% endblock %}