<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div>
                    <button class="btn btn-link text-light float-right mt-1 mr-1" id="cerrarSidebar" href="#"><i class="fas fa-times"></i></button>
                </div>

                <div class="sb-sidenav-menu-heading text-center">
                    Filtros

                </div>
                {% block filtros %}{% endblock %}


            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">En línea</div>
        </div>
    </nav>
</div>