<div id="layoutSidenav_content" class="bg-dark">
    <main class="text-light">
        <nav id="pertNav" class=" navbar navbar-expand navbar-dark bg-dark " style="/*position: fixed;*/ top: 0;/* z-index: 1039;*/ ">
            <button class="btn btn-link btn-sm order-1 order-lg-0 text-light" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <a class="navbar-brand text-center ml-auto mr-auto" href="index.html">Proceso en Plataforma</a>
            <a class="ml-auto float-right mr-0" href="#">
                <img src="{{ asset_base_url }}/dist/assets/brand/PERT_white.png" alt="" width="110px">
            </a>
        </nav>

        <div class="container-fluid" style="/*padding-top: 56px*/">
            <!-- CONTENIDO -->
            <p>CONTENIDO</p>
            {% block contenido %}

            {% endblock %}
            <!-- /CONTENIDO -->
        </div>
    </main>
</div>