<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'app/head' %}
    {% block head %}
    {% endblock %}
    <style>
        .title-lmenu{

            font-size: 1rem !important;
            color: #e0dd57;
            font-weight: bold;
            width: 100% !important;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date{
            font-size: 20px !important;
            /*color: #a6f331;*/
        }
    </style>
</head>
<body class="sb-nav-fixed  sb-sidenav-toggled">
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div>
                        <button class="btn btn-link text-light float-right mt-1 mr-1" id="cerrarSidebar" href="#"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="sb-sidenav-menu-heading text-center">
                        <div class="title-lmenu text-center text-capitalize text-light">Filtros</div>
                    </div>
                    {% block filtros %}{% endblock %}
                </div>
            </div>
            {#<div class="sb-sidenav-footer">
                <div class="small">En línea</div>
            </div>#}
        </nav>
    </div>
    <div id="layoutSidenav_content" class="bg-dark">
        <main class="text-light">
            <nav id="pertNav" class="navbar navbar-expand navbar-dark bg-dark" style="/*position: fixed;*/ top: 0;/* z-index: 1039;*/ ">
                <button class="btn btn-link btn-sm order-1 order-lg-0 text-light pl-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
                <div class="text-center" id="time-container">
                    <time id="realtime" class="time"></time>
                    <h5 id="realtime_date"></h5>
                </div>
                
                <a class="navbar-brand text-center ml-auto mr-auto title-responsive text-light font-weight-bold" href="#">{{ titulo_principal }}</a>
                <a class="float-right mr-0" href="#">
                    <img src="{{ asset_base_url }}/dist/assets/brand/PERT_white.png" alt="" width="150px">
                </a>
            </nav>

            <div class="container-fluid" style="/*padding-top: 56px*/">
                {% block contenido %}

                {% endblock %}
                <!-- /CONTENIDO -->
            </div>
        </main>
    </div>
</div>
{% include 'app/scripts' %}
{% block scripts %}{% endblock %}
</body>
</html>
