<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'app/head' %}
    {% block head %}{% endblock %}
</head>
<body>


<!-- CONTENIDO -->
{% block contenido %}

{% endblock %}
<!-- /CONTENIDO -->



{% include 'app/scripts' %}
{% block scripts %}{% endblock %}
</body>
</html>
