<!DOCTYPE html>
<html lang="es">
<head>
    {% include 'app/head' %}
    {% block head %}{% endblock %}
</head>
<body class="bg-dark">
<div class="container">

    {% include 'app/flash.twig' %}
    {% block contenido %}

    {% endblock %}
</div>

{% include 'app/scripts' %}
{% block scripts %}{% endblock %}
</body>
</html>
