{% extends 'app/skeleton.twig' %}

{% block head %}
    <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />

    <style>
        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover-dark tbody tr:hover {
            color: #9a9a9a!important;
            background-color: rgba(191, 187, 187, 0.08)!important;;
        }

        .thead-border-bottom th, .thead-border-bottom td {
            border-bottom: 1px solid #ffffff !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date {
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 5px 5px 5px 5px;
            margin: 0 0 0 8px;
            padding: 2px;
            width: 97px;
        }
        .table-black{
            color: #fff !important;
            background-image: url("{{ asset_base_url }}/dist/assets/brand/background_pert_dark.png");
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .custom-fontsize-table{
            font-size: small !important;

        }

        .table_llegadas_tr1>tbody>tr>td{
            vertical-align: middle;
        }
        /*styles for filtros */
        .select-filtros{
            /* width: 70%!important;*/

        }

        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            /* padding: 0.5rem 0 5px 0; */
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;

            padding: 0.25rem 0.5rem!important;
            font-size: 0.875rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }
        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }
        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
            transform: translate3d(80px, 121px, 0px)!important;
        }
        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #ffea55!important;
        }
        .select-filtros .dropdown-item {
            color: #ffffff!important;
            background-color: black!important;

        }
        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
        /* .select-filtros>.dropdown-menu[x-out-of-boundaries]{
             transform: translate3d(0px, 30px, 0px) !important; //give valid transform
         //or use visiblity hidden;
         }*/

        /*styles for datetime*/
        .form-control {
            height: calc(1.5em + 0.75rem + 2px)!important;
            padding: 0.065rem 0.25rem!important;
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
        }
        .input-group-text {
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            padding: 0.375rem 0.30rem!important;
            color: #ffffff;
            border: none;
        }
        /*end styles for filtros */



        /*maps styles */
        #mapModalLlegadasTr1{
            width: 100%;
            height: 80vh;
        }
        .seePosition{
            cursor: pointer;
        }

        .labels {
            color: white;
            background-color: red;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            text-align: center;
            width: 30px;
            white-space: nowrap;
        }
        /*end maps styles */



        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
        /*styles for control burrons*/
        /*styles for calendar datetimepicker*/
        .icon-calendar-custom{
            color: white;
            font-size: large;
            cursor: pointer;
        }
        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }



        div.select-filtros {
            padding: 0 5px 0 0!important;
        }




        /*styles for date time picker*/
        .datetimepicker{
            background-color: black!important;
            border: 1px solid white!important;
            color: white!important;
            font-size: 0.8rem!important;
        }
        .datetimepicker table tr td.active{
            background-color:  #ffea55!important;
        }
        .datetimepicker table tr td span:hover {
            background-image: linear-gradient(to bottom, #ffea55, #ccbf23)!important;
            color: black!important;
        }
        .datetimepicker table tr td.day:hover {
            background: #ffea55!important;
            cursor: pointer;
            color: black!important;
        }
        .datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
            background: #ffea55!important;
            color: black!important;
        }
        /*end styles for date time picker*/

        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }
        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus,
        /*.select2-container--default .select2-selection--multiple > span > span > ul > li > input::placeholder*/
        {
            background-color: #5d5757;
        }
        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }
        .select2 {
            width:100%!important;
        }


        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }




        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }


        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }



        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }


        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }



        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }


        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }


        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }

    </style>
{% endblock %}

{% block filtros %}

    {#            filtro Distrito#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Distrito </div>
                <select class="js-example-basic-single" name="IdRuta[]"  multiple="multiple" id="id_ruta">
                    {% for entry in id_ruta %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Distrito</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>
    {#            filtro Regional#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Regional </div>
                <select class="js-example-basic-single" name="regional[]"  multiple="multiple" id="regional">
                    {% for entry in id_ruta %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Regional</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>
    {#            filtro Plaza#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="plaza[]"  multiple="multiple" id="plaza">
                    {% for entry in id_ruta %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Plaza</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>

    {#            filtro rutaTR2#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Ruta TR2 </div>
                <select class="js-example-basic-single" name="rutaTr2[]"  multiple="multiple" id="ruta_Tr2">
                    {% for entry in id_ruta %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Ruta TR2</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>

    {#            filtro Num. Eco#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Num. Eco. </div>
                <select class="js-example-basic-single" name="numEco[]"  multiple="multiple" id="num_eco">
                    {% for entry in id_ruta %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Num. Eco.</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>
    {#            filtro Operador#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Operador </div>
                <select class="js-example-basic-single" name="operador[]"  multiple="multiple" id="operador">
                    {% for entry in id_ruta %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Distrito</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>

    {#            filtro Tipo Garantia#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Tipo garantia </div>
                <select class="js-example-basic-single" name="TipoGarantia[]"  multiple="multiple" id="tipo_garantia">
                    {% for entry in id_ruta %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin tipo garantia</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>
    <br>
    <label class="custom-control-label text-white" >Estatus Items</label>
    <div class="sb-sidenav-menu-heading text-center">  

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="entregado" name="estatusItems">
            <label class="custom-control-label" for="entregado">Entregado</label>
        </div>

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="recolectado" name="estatusItems">
            <label class="custom-control-label" for="recolectado">Recolectado</label>
        </div>

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="devuelto" name="estatusItems">
            <label class="custom-control-label" for="devuelto">Devuelto&nbsp&nbsp&nbsp</label>
        </div>

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="pendiente" name="estatusItems">
            <label class="custom-control-label" for="pendiente">Pendiente</label>
        </div>

    </div>

    <label class="custom-control-label text-white" >Prioridad Entregas</label>
    <div class="sb-sidenav-menu-heading text-center">  

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="vencidas" name="prioridadEntregas">
            <label class="custom-control-label" for="vencidas">Vencidas</label>
        </div>

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="con_retraso" name="prioridadEntregas">
            <label class="custom-control-label" for="con_retraso">Con retraso</label>
        </div>

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="a_tiempo" name="prioridadEntregas">
            <label class="custom-control-label" for="a_tiempo">A tiempo</label>
        </div>

    </div>

    <label class="custom-control-label text-white" >Ubicación Recolección</label>
    <div class="sb-sidenav-menu-heading text-center">  

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="oficina_estafeta" name="ubicacionRecoleccion">
            <label class="custom-control-label" for="oficina_estafeta">Oficina Estafeta</label>
        </div>

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="fuera_oficina" name="ubicacionRecoleccion">
            <label class="custom-control-label" for="fuera_oficina">Fuera de oficina</label>
        </div>



    </div>

    <label class="custom-control-label text-white" >Capas de mapa</label>
    <div class="sb-sidenav-menu-heading text-center">  

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="orden_entrega_real" name="capasMapa">
            <label class="custom-control-label" for="orden_entrega_real">Orden Entrega Real</label>
        </div>

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="orden_entrega_sugerido" name="capasMapa">
            <label class="custom-control-label" for="orden_entrega_sugerido">Orden Entrega Sug.</label>
        </div>

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="geoposicion_tr2" name="capasMapa">
            <label class="custom-control-label" for="geoposicion_tr2">Geoposición TR2</label>
        </div>

        <div class="custom-control custom-radio float-left text-white">
            <input type="radio" class="custom-control-input" id="geocercas acce" name="capasMapa">
            <label class="custom-control-label" for="geocercas_acce">Geocercas ACCE</label>
        </div>


    </div>

    {#            filtro Tipo Garantia#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Destino </div>
                <select class="js-example-basic-single" name="destino[]"  multiple="multiple" id="destino">
                    {% for entry in id_ruta %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin destino</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>

    {#    filtro cliente #}
    <div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1" >
        <div class="float-left text-white text-capitalize"> Cliente </div>
        <input id="cliente" type="text" class="input-calendar-custom float-right " name="cliente"  style="width: 65%!important;">
    </div>
    
        <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora inicial</label>
    </div>
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora final</label>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-left pb-1 pt-0 mt-3">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-0 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>
    <div class=" mt-3 ml-auto mr-auto">
        <a class="btn btn-sm btn-dark" href="{{ path_for('logout') }}" ><span class="ml-1">Cerrar sesión</span>{#<i class="fa fa-sign-out-alt"></i>#}</a>
        <a class="btn btn-sm btn-dark" href="{{ path_for('home') }}"><span class="ml-1">Regresar</span></a>
    </div>



{% endblock %}

{% block contenido %}



    <div class="row">

        {#start mapa#}
        <div class="col-md-5">

            <br>
            <div class="text-center"><strong>Mapa de entregas y recolecciones</strong></div>
            <div id="map" style="height: 400px; width: 100%; background-color: #17a2b8;"></div>
        </div>
        {#end mapa#}


        <div class="col-md-7">
            <div class="row">
                <br>
                {#<div class="col-md-2">
                </div>  #}
                <div class="col-md-6">

                    <div class="card text-red bg-dark border-0" style="border: white 2px solid; " >
                        <div class="text-center"><strong> Avance de entregas</strong></div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <dl>
                                <dt><div class="text-center" style="font-size: 30px;" id='porciento'>70%</div></dt>
                                <dt class="example1">Pendiente:<div id='pendiente_entregas'></div></dt>
                                <dt>Entregado:<div id='entregado'></div></dt>
                                <dt>Excepcionado:<div id='excepcionado'></div></dt>
                                <dt>Total:<div id='total'></div></dt>

                            </dl>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>  
                <div class="col-md-6">
                    <div class="card text-red bg-dark border-0" style="border: white 2px solid; " >
                        <div class="text-center"><strong> Avance de recolección</strong></div>
                        <div class="card-body">
                            <dl>
                                <dt><div class="text-center" style="font-size: 30px;" id='porciento'>70%</div></dt>
                                <dt>Pendiente:<div id='pendiente_recoleccion'></div></dt>
                                <dt>Entregado:<div id='entregado'></div></dt>
                                <dt>No Show:<div id='no_show'></div></dt>
                                <dt>Total:<div id='total'></div></dt>

                            </dl>
                        </div> 
                    </div> 
                </div>  
                {#            <div class="text-center" >Avance de entregas</div>#}
                <div class="col-md-6">
                    <canvas id="ENTREGA" ></canvas>
                </div>  
                <div class="table table-responsive w-auto small col-md-6">
                    <div class="text-center" style="color: #FFFFFF;"><h6>Recolecciones Faltantes</h6></div>
                    <table class="table table-borderless custom-fontsize-table  table-sm table-hover table-light table-dark table-black table_llegadas_tr1" border=0 cellpadding=0 cellspacing=0 width=1537 style="text-align: center;" {#style='border-collapse:collapse;table-layout:fixed;width:1152pt'#}>
                        <thead class="thead-gris-oscuro">
                            <tr>
                                <th >No.</th>
                                <th >Rutas</th>
                                <th >Salidas</th>
                                <th >Llegadas</th>
                            </tr>
                        </thead>
                        <tr>
                            <td >1</td>
                            <td ></td>
                            <td ></td>
                            <td ></td>

                        </tr>
                        <tr>
                            <td >2</td>
                            <td ></td>
                            <td ></td>
                            <td ></td>
                        </tr>
                        <tr>
                            <td >3</td>
                            <td ></td>
                            <td ></td>
                            <td ></td>
                        </tr>
                        <tr>
                            <td >4</td>
                            <td ></td>
                            <td ></td>
                            <td ></td>
                        </tr>
                    </table>
                </div>  <!--Garantia entrega!-->


            </div><hr width=100%  align="right"  size=20 color="#F0F0F0" >
        </div>



    </div>

    <br>
    <br><br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="color: #FFFFFF ;"><h4>Analisis de items en ruta TR2</h4></div>
        <div class="col-md-4" style="float: right">
            {#<div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>



            </div>#}
        </div>

        <div class="col-md-4" >
            <canvas id="garantias_totales" ></canvas>
        </div>
        <div class="col-md-4" >
            <canvas id="garantia_entrega" ></canvas>
        </div>
        <div class="col-md-4" >
            <canvas id="no_entregadas" ></canvas>
        </div>

    </div>


    <br>
    <div class="row">
        {#        <div class="col-md-4"></div>#}
        <div class="col-md-4" style="color: #FFFFFF ;"><h4>Analisis de entregas</h4></div>
        <div class="table table-responsive w-auto small col-md-12">
            <table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table bg-dark" style="text-align: center;">
                <thead class="thead-border-bottom">

                    <tr>
                        <td colspan=4 >Ruta TR2</td>
                        <td style="border-bottom: none!important;"></td>
                        <td colspan=3>Eficiencia de entrega</td>
                        <td style="border-bottom: none!important;"></td>
                        <td colspan=2>Estatus de entregas</td>
                        <td style="border-bottom: none!important;"></td>
                        <td colspan=2>Devoluciones</td>
                        <td style="border-bottom: none!important;"></td>
                        <td colspan=2>Envios de valor</td>

                    </tr>
                    <tr>
                        <td style="text-align: left;">Distrito</td>
                        <td>Región</td>
                        <td>Plaza</td>
                        <td>Ruta TR2</td>
                        <td style="border-bottom: none!important;"></td>
                        <td>Total a entregar</td>
                        <td># Items</td>
                        <td>% Eficiencia</td>
                        <td style="border-bottom: none!important;"></td>
                        <td>Visitas de Entrega</td>
                        <td>Drop Size</td>
                        <td style="border-bottom: none!important;"></td>
                        <td># Items</td>
                        <td>%</td>
                        <td style="border-bottom: none!important;"></td>
                        <td># Items</td>
                        <td>%</td>


                        {#encabezado para el total de garantias colapsado#}
                        <td class=" group-garantias-total" colspan="5" style="vertical-align:bottom;">Estatus</td>
                        {#                        <td style="border-bottom: none!important;"></td>#}

                        {#encabezado para el total de garantias terrestres colapsado#}


                    </tr>
                </thead>
                <tbody >

                    <tr>
                        {#rutaTR2#}
                        <td>Domi</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Eficiencia de garantia#}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Estatus de garantias#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Devoluciones#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Envios de valor#}
                        <td>-</td>
                        <td>-</td>
                        <td>Por salir <img src="/PR/dist/assets/img/red.png"></td>
                    </tr>
                    <tr>
                        {#rutaTR2#}
                        <td>Domi</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Eficiencia de garantia#}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Estatus de garantias#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Devoluciones#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Envios de valor#}
                        <td>-</td>
                        <td>-</td>
                        <td>Por salir <img src="/PR/dist/assets/img/red.png"></td>
                    </tr>
                    <tr>
                        {#rutaTR2#}
                        <td>Domi</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Eficiencia de garantia#}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Estatus de garantias#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Devoluciones#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Envios de valor#}
                        <td>-</td>
                        <td>-</td>
                        <td>En Ruta <img src="/PR/dist/assets/img/green.png"></td>
                    </tr>

                    <tr>
                        {#rutaTR2#}
                        <td>Domi</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Eficiencia de garantia#}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Estatus de garantias#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Devoluciones#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Envios de valor#}
                        <td>-</td>
                        <td>-</td>
                        <td>En ruta <img src="/PR/dist/assets/img/green.png"></td>
                    </tr>


                    <tr class="title_chart text-center text-light">
                        <td style="text-align: left;"><span>TOTALES</span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span>680</td>
                        <td><span></span>650</td>

                        <td class="group-garantias"><span>95%</span></td>
                        <td class="group-garantias"><span></span></td>
                        <td class="group-garantias"><span>56</span></td>
                        <td class="group-garantias"><span>4</span></td>
                        <td class="group-garantias"><span></span></td>

                        {#columna para el total de garantias#}
                        <td colspan="5" class="group-garantias-total" ></td>

                        <td><span></span></td>


                    </tr>
                </tbody>
            </table>
        </div>  <!--Garantia entrega!-->
        <div class="col-md-4" style="color: #FFFFFF ;"><h4>Analisis de recolección</h4></div>
        <div class="table table-responsive w-auto small col-md-12">
            <table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table bg-dark" style="text-align: center;">
                <thead class="thead-border-bottom">

                    <tr>
                        <td colspan=4 >Ruta TR2</td>
                        <td style="border-bottom: none!important;"></td>
                        <td colspan=3>Eficiencia de entrega</td>
                        <td style="border-bottom: none!important;"></td>
                        <td colspan=2>Análisis de Drop Size</td>
                        <td style="border-bottom: none!important;"></td>
                        <td colspan=2>No Show</td>
                        <td style="border-bottom: none!important;"></td>
                        <td colspan=2></td>
                        <td style="border-bottom: none!important;"></td>
                        <td colspan=2>Tipos de Garintia</td>
                        <td style="border-bottom: none!important;"></td>
                        <td colspan=2></td>

                    </tr>
                    <tr>
                        <td style="text-align: left;">Distrito</td>
                        <td>Región</td>
                        <td>Plaza</td>
                        <td>Ruta TR2</td>
                        <td style="border-bottom: none!important;"></td>
                        <td>Total a entregar</td>
                        <td># Items</td>
                        <td>% Eficiencia</td>
                        <td style="border-bottom: none!important;"></td>
                        <td>Visitas de Recolección</td>
                        <td>Drop Size</td>
                        <td style="border-bottom: none!important;"></td>
                        <td># Órdenes</td>
                        <td>%</td>
                        <td style="border-bottom: none!important;"></td>
                        <td>9:30</td>
                        <td>11:30</td>
                        <td style="border-bottom: none!important;"></td>
                        <td>Día siguiente</td>
                        <td>Dia sig. Terrestre</td>
                        <td style="border-bottom: none!important;"></td>
                        <td>2 días</td>
                        <td>(+)</td>

                    </tr>
                </thead>
                <tbody >

                    <tr>
                        {#rutaTR2#}
                        <td>Domi</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Eficiencia de entrega#}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Analisis drop size#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#No show#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#9:30-11:30#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#tipo de garantia#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#2dias#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                    </tr>

                    <tr>
                        {#rutaTR2#}
                        <td>Domi</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Eficiencia de entrega#}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Analisis drop size#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#No show#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#9:30-11:30#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#tipo de garantia#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#2dias#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                    </tr>

                    <tr>
                        {#rutaTR2#}
                        <td>Domi</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Eficiencia de entrega#}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Analisis drop size#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#No show#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#9:30-11:30#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#tipo de garantia#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#2dias#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                    </tr>

                    <tr>
                        {#rutaTR2#}
                        <td>Domi</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Eficiencia de entrega#}
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#Analisis drop size#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#No show#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#9:30-11:30#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#tipo de garantia#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                        {#2dias#}
                        <td>-</td>
                        <td>-</td>
                        <td></td>
                    </tr>


                    <tr class="title_chart text-center text-light">
                        <td style="text-align: left;"><span>TOTALES</span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span></td>
                        <td><span></span>680</td>
                        <td><span></span>650</td>

                        <td class="group-garantias"><span>95%</span></td>
                        <td class="group-garantias"><span></span></td>
                        <td class="group-garantias"><span>56</span></td>
                        <td class="group-garantias"><span>4</span></td>
                        <td class="group-garantias"><span></span></td>

                        {#columna para el total de garantias#}
                        <td>3</td>
                        <td>0.05%</td>
                        <td></td>

                        <td>5</td>
                        <td>3</td>
                        <td></td>

                        <td>8</td>
                        <td>12</td>

                        <td></td>
                        <td>15</td>


                    </tr>
                </tbody>
            </table>
        </div>  <!--Garantia entrega!-->
        {#        <div class="col-md-6"><I>PTA:Tiempo Planeado de Arribo-ETA:Tiempo Estimado de Arribo-RTA:Tiempo Real de Arribo</I></div>#}
        {#       <div class="col-md-6">
                   <img src="resources/templates/views/img/green.png" style="width:20px; height:20px;"><small>Diferencial<30 minutos</small>&nbsp;&nbsp;&nbsp;
                   <img src="resources/templates/views/img/yellow.png" style="width:20px; height:20px;"><small>Dif<60 minutos</small>&nbsp;&nbsp;&nbsp;
                   <img src="resources/templates/views/img/red.png" style="width:20px; height:20px;"><small>Dif>60 minutos</small>
               </div>
           </div>#}


    </div>




{% endblock %}

{% block scripts %}

    <!--AIzaSyC32vpDAaozqg71wzy2CHgVAVlvxQtLsIE-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/hammerjs/hammerjs208.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/ChartJS/plugins/chartjs-plugin-zoom074.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/ChartJS/plugins/chartjs-plugin-datalabels.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/ChartJS/plugins/chartjs-plugin-piechart-outlabels.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                width: '100%',
                allowClear: false
            });
            /* $(document).ready(function() {
             $('.js-example-basic-single').select2({
             width: '100%',
             allowClear: false
             });
             
             });*/
        });



    </script>
    <script type="text/javascript">
        function initialize() {
            // Configuración del mapa
            var mapProp = {
                zoom: 13,
                center: {lat: 21.036668, lng: -86.859465},
                mapTypeId: 'satellite'
            };
            // Agregando el mapa al tag de id googleMap
            var map = new google.maps.Map(document.getElementById("map"), mapProp);

            // Coordenada de la ruta (desde Misiones hasta Tierra del Fuego)
            var flightPlanCoordinates = [
                {lat: 21.049108, lng: -86.878210},
                {lat: 21.036668, lng: -86.859465},
                {lat: 21.030673, lng: -86.864300},
                {lat: 21.045156, lng: -86.887396}
            ];

            // Información de la ruta (coordenadas, color de línea, etc...)
            var flightPath = new google.maps.Polyline({
                path: flightPlanCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            // Creando la ruta en el mapa
            flightPath.setMap(map);
        }

        // Inicializando el mapa cuando se carga la página
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script>  //pop up

        $('.example1').on('click', function () {
            $.alert({
                closeIcon: true,
                /*theme: 'supervan',*/
                /*theme: 'light',*/
                /*theme: 'dark',*/
                theme: 'bootstrap',

                buttons: false,
                /*theme: 'dark',*/
                columnClass: 'col-md-8 custom-modal-closeicon',
                titleClass: 'custom-title-modal',
                boxWidth: '100%',
                title: 'Detalle de Frecuencia Programada',
                content: '' +
                        '<div class="table-responsive">' +
                        '<table class="bg-dark table table-sm table-hover-dark text-light table-hover border-0 table-active" style="text-align: center;">' +
                        '<thead>' +
                        '<tr>'+
                        '<td colspan="2"></td>'+
                        '<td style="border-bottom: none!important;"></td>'+
                        '<td colspan="9">Garantia Terrestre</td></tr>'+
                        '<tr>' +
                        '<td></td>' +
                        '<td></td>' +
                        '<td>9:30</td>' +
                        '<td>11:30</td>' +
                        '<td>Dia Siguiente</td>' +
                        '<td>Total Items</td>' +
                        '<td>Dia Siguiente Terrestre</td>' +
                        '<td>2 Dias</td>' +
                        '<td>Apoyo a Operaciones Terrestres</td>' +
                        '<td>LTL</td>' +
                        '<td>Internacional</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>250</td>' +
                        '<td>250</td>' +
                        '<td>250</td>' +
                        '<td>250</td>' +
                        '<td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_verde.svg" /> </span></td>' +
                        '<td>250</td>' +
                        '<td>100</td>' +
                        '<td>100</td>' +
                        '<td>30</td>' +
                        '<td>20</td>' +
                        '<td>0</td>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody class="no-border-tbody">' +
                        '<tr>' +
                        '<td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_amarillo.svg" /> </span></td>' +
                        '<td>30</td>' +
                        '<td>10</td>' +
                        '<td>5</td>' +
                        '<td>5</td>' +
                        '<td>5</td>' +
                        '<td>5</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_rojo.svg" /> </span></td>' +
                        '<td>20</td>' +
                        '<td>0</td>' +
                        '<td>0</td>' +
                        '<td>10</td>' +
                        '<td>5</td>' +
                        '<td>5</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td><span style="color: #ffff00;">TOTAL&nbsp;</span></td>' +
                        '<td><span style="color: #ffff00;">300</span></td>' +
                        '<td><span style="color: #ffff00;">110</span></td>' +
                        '<td><span style="color: #ffff00;">105</span></td>' +
                        '<td><span style="color: #ffff00;">45</span></td>' +
                        '<td><span style="color: #ffff00;">30</span></td>' +
                        '<td><span style="color: #ffff00;">10</span></td>' +
                        '</tr>' +
                        '</tbody>' +
                        '</table>' +
                        '</div>'
            });

        });

    </script> <!--pop up-->


    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n, 10) < 10 ? '0' : '') + n;
        }
        function updateTime() {
            var timeNow = new Date(),
                    hh = timeNow.getHours(),
                    mm = timeNow.getMinutes(),
                    ss = timeNow.getSeconds(),
                    formatAMPM = (hh >= 12 ? 'PM' : 'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) + " " + formatAMPM;
            currentTime_date.innerHTML = monthNames[timeNow.getMonth()] + " " + timeNow.getUTCDate() + ", " + timeNow.getFullYear();
            setTimeout(updateTime, 1000);
        }
        updateTime();
    </script>

    <script>

        var ctx = document.getElementById('ENTREGA').getContext('2d');

        var myDoughnutChart =
                new Chart(ctx,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {
                                "datasets": [
                                    /* Outer doughnut data starts*/
                                    {
                                        data: [
                                            150,
                                            100

                                        ],
                                        backgroundColor: [
                                            "#FF7276", // red
                                            "#8DE971" // green

                                        ],
                                        label: 'Doughnut 1'
                                    },
                                    /* Outer doughnut data ends*/
                                    /* Inner doughnut data starts*/
                                    {
                                        data: [
                                            160,
                                            110

                                        ],
                                        backgroundColor: [
                                            "#FF7276", // red
                                            "#8DE971" // green

                                        ],
                                        label: 'Doughnut 2'
                                    },
                                    /* Inner doughnut data ends*/
                                    /* Outer doughnut data starts*/
                                    {
                                        data: [
                                            170,
                                            120

                                        ],
                                        backgroundColor: [
                                            "#FF7276", // red
                                            "#8DE971" // green

                                        ],
                                        label: 'Doughnut 3'
                                    }
                                    /* Outer doughnut data ends*/
                                ]
                            },
                            options: {
                                responsive: true,
                                position: 'outside',
                                segment: true,
                                legend: {
                                    display: true,
                                    position: 'right',
                                },
                                tooltips: {
                                    enabled: true,
                                },
                                title: {
                                    display: true,
                                    text: 'Garantía de entregas',
                                    fontColor: "#FFFFFF ",
                                    fontSize: 16,
                                    weight: 100,
                                    fontStyle: 'normal'
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 0,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                }
                            }
                        });

        //

        var ctx_garantias_totales = document.getElementById('garantias_totales').getContext('2d');

        var myDoughnutChart =
                new Chart(ctx_garantias_totales,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {
                                "datasets": [
                                    /* Outer doughnut data starts*/
                                    {
                                        data: [
                                            150,
                                            100,
                                            100


                                        ],
                                        backgroundColor: [
                                            "#FF7276", // red
                                            "#8DE971", // green
                                            "#FFF36D"


                                        ],
                                        borderColor: [
                                            '#FF7276',
                                            "#8DE971",
                                            "#FFF36D"
                                        ],
                                        label: 'Doughnut 1'
                                    }
                                    /* Outer doughnut data ends*/
                                ]
                            },
                            options: {
                                responsive: true,
                                position: 'outside',
                                segment: true,
                                cutoutPercentage: 70,
                                legend: {
                                    display: true,
                                    position: 'right',
                                },
                                tooltips: {
                                    enabled: true,
                                },
                                title: {
                                    display: true,
                                    text: 'Garantías totales',
                                    fontColor: "#FFFFFF ",
                                    fontSize: 16,
                                    weight: 100,
                                    fontStyle: 'normal'
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '%p', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 7,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                },
                            }
                        });

        var ctx_garantia_entrega = document.getElementById('garantia_entrega').getContext('2d');

        var myDoughnutChart =
                new Chart(ctx_garantia_entrega,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {
                                "datasets": [
                                    /* Outer doughnut data starts*/
                                    {
                                        data: [
                                            150,
                                            100,
                                            100

                                        ],
                                        backgroundColor: [
                                            "#FF7276", // red
                                            "#8DE971", // green
                                            "#FFF36D"


                                        ],
                                        borderColor: [
                                            '#FF7276',
                                            "#8DE971",
                                            "#FFF36D"
                                        ],
                                        label: 'Doughnut 1'
                                    }
                                    /* Outer doughnut data ends*/
                                ]
                            },
                            options: {
                                responsive: true,
                                position: 'outside',
                                segment: true,
                                cutoutPercentage: 70,
                                legend: {
                                    display: true,
                                    position: 'right',
                                },
                                tooltips: {
                                    enabled: true,
                                },
                                title: {
                                    display: true,
                                    text: 'Prioridad de entrega',
                                    fontColor: "#FFFFFF",
                                    fontSize: 16,
                                    weight: 100,
                                    fontStyle: 'normal'
                                },
                                cutoutPercentage: 70,
                                zoomOutPercentage: 20,
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '%p', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 7,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 12
                                        }
                                    }
                                }
                            }
                        });




        var ctx_entregadas = document.getElementById('no_entregadas').getContext('2d');

        var myDoughnutChart =
                new Chart(ctx_entregadas,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {
                                "datasets": [
                                    /* Outer doughnut data starts*/
                                    {
                                        data: [
                                            150,
                                            100,
                                            100

                                        ],
                                        backgroundColor: [
                                            "#FF7276", // red
                                            "#8DE971", // green
                                            "#FFF36D"

                                        ],
                                        label: 'Doughnut 1'
                                    },
                                    /* Outer doughnut data ends*/
                                    /* Inner doughnut data starts*/
                                    {
                                        data: [
                                            150,
                                            100,
                                            100

                                        ],
                                        backgroundColor: [
                                            "#FF7276", // red
                                            "#8DE971", // green
                                            "#FFF36D"

                                        ],
                                        label: 'Doughnut 2'
                                    },
                                    /* Inner doughnut data ends*/
                                    /* Outer doughnut data starts*/
                                    {
                                        data: [
                                            150,
                                            100,
                                            100

                                        ],
                                        backgroundColor: [
                                            "#FF7276", // red
                                            "#8DE971", // green
                                            "#FFF36D"

                                        ],
                                        label: 'Doughnut 3'
                                    }
                                    /* Outer doughnut data ends*/
                                ]
                            },
                            options: {
                                position: 'outside',
                                segment: true,
                                legend: {
                                    display: true,
                                    position: 'right',
                                },
                                tooltips: {
                                    enabled: true,
                                },
                                title: {
                                    display: true,
                                    text: 'Garantías no entregadas',
                                    fontColor: "#FFFFFF ",
                                    fontSize: 16,
                                    weight: 100,
                                    fontStyle: 'normal'
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 0,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                }
                            }
                        });
    </script>





{% endblock %}