{% extends 'app/skeleton.twig' %}

{% block head %}
    <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style>
        .sb-sidenav-dark {
            height: 100%;
        }

        .table {
            color: #fff;
            font-size: 12px;
        }

        .table .table {
            background-color: transparent;
        }

        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover tbody tr:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .thead-border-bottom th, .thead-border-bottom td {
            border-bottom: 1px solid #ffffff !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
        }
        #realtime_date {
            font-size: 20px !important;
        }

        .title-lmenu{

            font-size: 1rem !important;
            color: #ffffff !important;
            font-weight: bold;
            width: 100% !important;
        }

        .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
            padding: 1rem 1rem 0.20rem 1rem;
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: none;
        }

        .controls-tr1>img {
            width: 25px;
            cursor: pointer;
        }

        .form-control:disabled, .form-control[readonly] {
            background: transparent;
            border: transparent;
            border-bottom: 1px solid #e9ecef;
            line-height: 0;
            height: 20px;
            border-radius: 0;
            color: white;
            font-weight: normal;
        }

        /*Styles Select*/

        .js-example-basic-single{
            width:100%;
        }

        .select-filtros{

        }

        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;
            padding: 0.25rem 0.5rem!important;
            font-size: 0.8rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }

        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }

        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
        }

        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #aeaca4 !important;
        }

        .select-filtros .dropdown-item {
            font-size: 0.8rem;
            color: #ffffff!important;
            background-color: black!important;

        }

        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }

        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }

        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus,
        {
            background-color: #5d5757;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }

        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }

        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }

        textarea:focus, input:focus{
            outline: none;
        }

        /*Styles Radio Buttom*/
        .container_rd {
            position: relative;
            margin-top: 10px;
            padding-left: 11%;
            cursor: pointer;
            font-size: 12px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: white;
            text-transform: capitalize;
            font-weight: normal;
        }

        .container_rd input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: #eee;
            border-radius: 50%;
        }

        .container_rd:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .container_rd input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        .container_rd input:checked ~ .checkmark:after {
            display: block;
        }

        .container_rd .checkmark:after {
            top: 5px;
            left: 5px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: white;
        }

    </style>

{% endblock %}

{% block filtros %}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="plazas[]"  id="plaza_filter" multiple>
                    {% for entry in plazas %}
                        <option value="{{ entry.warehouse }}">{{ entry.warehouse }}</option>
                    {% else %}
                        <option value="0">Sin plazas</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>

    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Estatus de ruta </div>
                <form id="radiosTypeEvent" name="radiosTypeEvent">
                    <label class="container_rd">Cuadrada sin incidencias
                        <input type="radio" checked="checked" name="radio" value="Llegadas">
                        <span class="checkmark"></span>
                    </label><br/>
                    <label class="container_rd">Cuadrada con incidencias
                        <input type="radio" name="radio" value="Salidas">
                        <span class="checkmark"></span>
                    </label><br/>
                    <label class="container_rd">No cuadradas
                        <input type="radio" name="radio" value="En tránsito">
                        <span class="checkmark"></span>
                    </label>
                </form>
            </div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Items de valor </div>
                <form id="radiosTypeEvent" name="radiosTypeEvent">
                    <label class="container_rd">Si
                        <input type="radio" checked="checked" name="radio" value="Llegadas">
                        <span class="checkmark"></span>
                    </label><br/>
                    <label class="container_rd">No
                        <input type="radio" name="radio" value="Salidas">
                        <span class="checkmark"></span>
                    </label><br/>
                    <label class="container_rd">Todos
                        <input type="radio" name="radio" value="En tránsito">
                        <span class="checkmark"></span>
                    </label>
                </form>
            </div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Inicial</label>
        <input size="12" type="text" class="form-control" id="datetimestart" readonly>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Final</label>
        <input size="12" type="text" class="form-control" id="datetimeend" readonly>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>

    <div class=" mt-3 ml-auto mr-auto">
        <a class="btn btn-sm btn-dark" href="{{ path_for('logout') }}" ><span class="ml-1">Cerrar sesión</span>{#<i class="fa fa-sign-out-alt"></i>#}</a>
        <a class="btn btn-sm btn-dark" href="{{ path_for('home') }}"><span class="ml-1">Regresar</span></a>
    </div>
    <br/>

{% endblock %}
{% block contenido %}
    <div>
        <div style="text-align: center;font-weight: bold;padding-bottom: 2%;"><span id="radioSelected">Información de Llegadas</span></div>

        {#<div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <canvas id="TOTAL"></canvas>
            </div>
            <div class="col-md-3">
            </div>
        </div>#}

        <div class="row">
            <div class="col-md-6">
                <span id="title_p" style="text-align: center;width: 100%;position: absolute;top: 4%;">Región Pacífico-Norte</span>
                <canvas id="cuadratura_entregas"></canvas>
            </div>
            <div class="col-md-6">
                <span id="title_c" style="text-align: center;width: 100%;position: absolute;top: 4%;">Región Centro-Sureste</span>
                <canvas id="cuadratura_recoleccion"></canvas>
            </div>
            {#<div class="col-md-4">
                <span id="title_b" style="text-align: center;width: 100%;position: absolute;top: 4%;">Región Bajío-Occidente</span>
                <canvas id="BAJIO"></canvas>
            </div>#}
        </div>
        <!--
            <div class="table table-responsive">
        
        
                    <table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top" style="text-align: center;">
                        <thead class="thead-border-bottom">
                        <tr>
                            <td colspan="3" rowspan="3">&nbsp;</td>
                            <td style="text-align: center;" colspan="13">Garant&iacute;as</td>
                        </tr>
                        <tr>
                            <td colspan="3">Estatus</td>
                            <td style="border-bottom: none!important;"></td>
                            <td colspan="9">Tipos</td>
                        </tr>
                        <tr>
                            <td colspan="3">&nbsp;&nbsp;&nbsp;</td>
                            <td style="border-bottom: none!important;"></td>
                            <td colspan="5">(+)Garant&iacute;as</td>
                            <td style="border-bottom: none!important;"></td>
                            <td colspan="3">(+)Garant&iacute;as Terrestres</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Proceso</td>
                            <td>Items</td>
                            <td>Art&iacute;culos de valor</td>
                            <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_verde.svg" /> </span></td>
                            <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_amarillo.svg" /> </span></td>
                            <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_rojo.svg" /> </span></td>
                            <td style="border-bottom: none!important;"></td>
                            <td>09:30</td>
                            <td>11:30</td>
                            <td>D&iacute;a Sig.</td>
                            <td>D&iacute;a Sig. Terr</td>
                            <td>2 D&iacute;as</td>
                            <td style="border-bottom: none!important;"></td>
                            <td>Apoyo a OT</td>
                            <td>LTL</td>
                            <td>Internacional</td>
                        </tr>
                        </thead>
                        <tbody >
                        <tr>
                            <td style="text-align: left;">Ad&eacute;n de recepci&oacute;n</td>
                            <td>2,000</td>
                            <td>450</td>
                            <td>1,300</td>
                            <td>600</td>
                            <td>100</td>
                            <td></td>
                            <td>1,000</td>
                            <td>800</td>
                            <td>200</td>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Frecuencia programada</td>
                            <td>300</td>
                            <td>50</td>
                            <td>250</td>
                            <td>30</td>
                            <td>20</td>
                            <td></td>
                            <td>200</td>
                            <td>50</td>
                            <td>30</td>
                            <td>10</td>
                            <td>10</td>
                            <td></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Seguridad patrimonial</td>
                            <td>300</td>
                            <td>30</td>
                            <td>-</td>
                            <td>-</td>
                            <td>300</td>
                            <td></td>
                            <td>100</td>
                            <td>50</td>
                            <td>50</td>
                            <td>20</td>
                            <td>20</td>
                            <td></td>
                            <td>20</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Servicio al cliente</td>
                            <td>850</td>
                            <td>150</td>
                            <td>300</td>
                            <td>400</td>
                            <td>400</td>
                            <td></td>
                            <td>100</td>
                            <td>50</td>
                            <td>60</td>
                            <td>10</td>
                            <td>10</td>
                            <td></td>
                            <td>20</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Plataforma en proceso de salida</td>
                            <td>700</td>
                            <td>120</td>
                            <td>500</td>
                            <td>150</td>
                            <td>50</td>
                            <td></td>
                            <td>300</td>
                            <td>150</td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                            <td></td>
                            <td>20</td>
                            <td>30</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;">Anden de salida</td>
                            <td>1,900</td>
                            <td>450</td>
                            <td>1,300</td>
                            <td>400</td>
                            <td>100</td>
                            <td></td>
                            <td>900</td>
                            <td>800</td>
                            <td>200</td>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td style="text-align: left;"><span style="color: #ffff00;">TOTAL</span></td>
                            <td><span style="color: #ffff00;">6,050</span></td>
                            <td><span style="color: #ffff00;">1,130</span></td>
                            <td><span style="color: #ffff00;">3,500</span></td>
                            <td><span style="color: #ffff00;">1,680</span></td>
                            <td><span style="color: #ffff00;">970</span></td>
                            <td></td>
                            <td><span style="color: #ffff00;">2,900</span></td>
                            <td><span style="color: #ffff00;">1,950</span></td>
                            <td><span style="color: #ffff00;">630</span></td>
                            <td><span style="color: #ffff00;">130</span></td>
                            <td><span style="color: #ffff00;">130</span></td>
                            <td><span style="color: #ffff00;"></span></td>
                            <td><span style="color: #ffff00;">50</span></td>
                            <td><span style="color: #ffff00;">70</span></td>
                            <td><span style="color: #ffff00;">90</span></td>
                        </tr>
                        </tbody>
                    </table>
            </div>
        
        -->
        <br>

        <div class="row">



            <div class="table table-responsive w-auto small col-md-6">
                <table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table bg-dark" style="text-align: center;">
                    <thead class="thead-border-bottom">

                        <tr>
                            <td style="border-bottom: none!important;"></td>
                            <td style="border-bottom: none!important;"></td>
                            <td style="border-bottom: none!important;"></td>
                            <td style="border-bottom: none!important;"></td>
                            <td style="border-bottom: none!important;"></td>
                            <td style="border-bottom: none!important;"></td>
                            <td colspan=4>Items</td>


                        </tr>
                        <tr>
                            <td style="text-align: left;">Distrito</td>
                            <td>Plaza</td>
                            <td>Ruta TR2</td>
                            <td>Vechiculo</td>

                            <td>Operador</td>
                            <td>Verificador</td>
                            <td>Total</td>
                            <td>Devoluciones</td>
                            <td>Faltantes</td>
                            <td>Excedentes</td>

                            <td>Estatus</td>


                        </tr>
                    </thead>
                    <tbody >

                        <tr>
                            {#rutaTR2#}
                            <td>Domi</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Eficiencia de entrega#}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                            {#Analisis drop size#}
                            <td>-</td>
                            <td><img src="/PR/dist/assets/img/green.png"></td>


                        </tr>

                        <tr>
                            {#rutaTR2#}
                            <td>Domi</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td></td>
                            {#Eficiencia de entrega#}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Analisis drop size#}
                            <td>-</td>
                            <td><img src="/PR/dist/assets/img/green.png"></td>


                        </tr>

                        <tr>
                            {#rutaTR2#}
                            <td>Domi</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Eficiencia de entrega#}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Analisis drop size#}
                            <td>-</td>
                            <td><img src="/PR/dist/assets/img/green.png"></td>

                        </tr>

                        <tr>
                            {#rutaTR2#}
                            <td>Domi</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Eficiencia de entrega#}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Analisis drop size#}
                            <td>-</td>
                            <td><img src="/PR/dist/assets/img/red.png"></td>

                        </tr>



                    </tbody>
                </table>
            </div>

            <div class="table table-responsive w-auto small col-md-6">
                <table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table bg-dark" style="text-align: center;">
                    <thead class="thead-border-bottom">

                        <tr>
                            <td style="border-bottom: none!important;"></td>
                            <td style="border-bottom: none!important;"></td>
                            <td style="border-bottom: none!important;"></td>
                            <td style="border-bottom: none!important;"></td>
                            <td style="border-bottom: none!important;"></td>
                            <td style="border-bottom: none!important;"></td>
                            <td colspan=4>Items</td>


                        </tr>
                        <tr>
                            <td style="text-align: left;">Distrito</td>
                            <td>Plaza</td>
                            <td>Ruta TR2</td>
                            <td>Vechiculo</td>

                            <td>Operador</td>
                            <td>Verificador</td>
                            <td>Total</td>
                            <td>Devoluciones</td>
                            <td>Faltantes</td>
                            <td>Excedentes</td>

                            <td>Estatus</td>
                            {#<td>%</td>
                            <td style="border-bottom: none!important;"></td>
                            <td>9:30</td>
                            <td>11:30</td>
                            <td style="border-bottom: none!important;"></td>
                            <td>Día siguiente</td>
                            <td>Dia sig. Terrestre</td>
                            <td style="border-bottom: none!important;"></td>
                            <td>2 días</td>
                            <td>(+)</td>#}

                        </tr>
                    </thead>
                    <tbody >

                        <tr>
                            {#rutaTR2#}
                            <td>Domi</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Eficiencia de entrega#}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Analisis drop size#}
                            <td>-</td>
                            <td><img src="/PR/dist/assets/img/red.png"></td>


                        </tr>

                        <tr>
                            {#rutaTR2#}
                            <td>Domi</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Eficiencia de entrega#}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Analisis drop size#}
                            <td>-</td>
                            <td><img src="/PR/dist/assets/img/red.png"></td>


                        </tr>

                        <tr>
                            {#rutaTR2#}
                            <td>Domi</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Eficiencia de entrega#}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Analisis drop size#}
                            <td>-</td>
                            <td><img src="/PR/dist/assets/img/red.png"></td>


                        </tr>

                        <tr>
                            {#rutaTR2#}
                            <td>Domi</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Eficiencia de entrega#}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            {#Analisis drop size#}
                            <td>-</td>
                            <td><img src="/PR/dist/assets/img/green.png"></td>



                        </tr>



                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="font-size: 12px; padding: 0 0 5px 0;">

            <div class="col-md-7" style="text-align: right">
                <img src="/PR/dist/assets/img/green.png"><span> A Tiempo (RTA-PTA<=0)</span>&nbsp;&nbsp;
                <img src="/PR/dist/assets/img/yellow.png"><span> Retrasado (RTA-PTA<=15min)</span>&nbsp;&nbsp;
                <img src="/PR/dist/assets/img/red.png"><span> Tarde (RTA-PTA>15min)</span>
            </div>
        </div>


    </div>
{% endblock %}

{% block scripts %}

    <!--AIzaSyC32vpDAaozqg71wzy2CHgVAVlvxQtLsIE-->
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSPepYUd4O0H6j3p17XZ2TqWLjEq9lrXA&callback=initMap">
    </script>

    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: -25.344, lng: 131.036};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 4, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>

    <script>  //pop up

        $('.example1').on('click', function () {
            $.alert({
                closeIcon: true,
                /*theme: 'supervan',*/
                /*theme: 'light',*/
                /*theme: 'dark',*/
                theme: 'bootstrap',

                buttons: false,
                /*theme: 'dark',*/
                columnClass: 'col-md-8',
                boxWidth: '100%',
                title: 'Detalle de Frecuencia Programada',
                content: '' +
                        '<div class="table-responsive">' +
                        '<table class="bg-dark table table-sm table-hover-dark text-light table-hover border-0 table-active" style="text-align: center;">' +
                        '<thead>' +
                        '<tr>' +
                        '<td>Estatus</td>' +
                        '<td>Total Items</td>' +
                        '<td>Lunes 2</td>' +
                        '<td>Martes 3</td>' +
                        '<td>Mi&eacute;rcoles 4</td>' +
                        '<td>Jueves 5</td>' +
                        '<td>Viernes 6</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_verde.svg" /> </span></td>' +
                        '<td>250</td>' +
                        '<td>100</td>' +
                        '<td>100</td>' +
                        '<td>30</td>' +
                        '<td>20</td>' +
                        '<td>0</td>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody class="no-border-tbody">' +
                        '<tr>' +
                        '<td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_amarillo.svg" /> </span></td>' +
                        '<td>30</td>' +
                        '<td>10</td>' +
                        '<td>5</td>' +
                        '<td>5</td>' +
                        '<td>5</td>' +
                        '<td>5</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_rojo.svg" /> </span></td>' +
                        '<td>20</td>' +
                        '<td>0</td>' +
                        '<td>0</td>' +
                        '<td>10</td>' +
                        '<td>5</td>' +
                        '<td>5</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td><span style="color: #ffff00;">TOTAL&nbsp;</span></td>' +
                        '<td><span style="color: #ffff00;">300</span></td>' +
                        '<td><span style="color: #ffff00;">110</span></td>' +
                        '<td><span style="color: #ffff00;">105</span></td>' +
                        '<td><span style="color: #ffff00;">45</span></td>' +
                        '<td><span style="color: #ffff00;">30</span></td>' +
                        '<td><span style="color: #ffff00;">10</span></td>' +
                        '</tr>' +
                        '</tbody>' +
                        '</table>' +
                        '</div>'
            });

        });

    </script> <!--pop up-->


    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n, 10) < 10 ? '0' : '') + n;
        }
        function updateTime() {
            var timeNow = new Date(),
                    hh = timeNow.getHours(),
                    mm = timeNow.getMinutes(),
                    ss = timeNow.getSeconds(),
                    formatAMPM = (hh >= 12 ? 'PM' : 'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) + " " + formatAMPM;
            currentTime_date.innerHTML = monthNames[timeNow.getMonth()] + " " + timeNow.getUTCDate() + ", " + timeNow.getFullYear();
            setTimeout(updateTime, 1000);
        }
        updateTime();
    </script>

    <!--Datetimepicker-->
    <script type="text/javascript">
        $("#datetimestart").datetimepicker({
            format: 'dd-mm-yyyy hh:ii',
            autoclose: true
        });
        $("#datetimeend").datetimepicker({
            format: 'dd-mm-yyyy hh:ii',
            autoclose: true
        });
    </script>

    <!--Checkboxs-->
    <script src="{{ asset_base_url }}/dist/js/libs/table2excel/jquery.table2excel.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                //width: '100%',
                allowClear: false
            });
        });
    </script>

    <!--Show value selected in radio-->
    <script type="text/javascript">
        document.radiosTypeEvent.onclick = function () {
            var radVal = document.radiosTypeEvent.radio.value;
            radioSelected.innerHTML = "Información de " + radVal;

            filters.type_event_filter = radVal;
            getData();
        }
    </script>

    <!--Charts-->
    <script type="text/javascript" src="{{ asset_base_url }}/dist/js/chartjs-plugin-piechart-outlabels.js"></script>

    <!--Get data by filters-->
    <script>
        var datasets = [];
        $("#title_p").css("display", "none");
        $("#title_c").css("display", "none");
        $("#title_b").css("display", "none");

        //Format number
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }

        //Cuadratura de entregas 
        var ctx_cuadratura_entregas = document.getElementById('cuadratura_entregas').getContext('2d');

        var myDoughnutChart =
                new Chart(ctx_cuadratura_entregas,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {
                                "datasets": [
                                    /* Outer doughnut data starts*/
                                    {
                                        data: [
                                            150,
                                            100,
                                        ],
                                        backgroundColor: [
                                            "#FF7276", // red
                                            "#8DE971", // green



                                        ],
                                        borderColor: [
                                            '#FF7276',
                                            "#8DE971",
                                        ],
                                        label: 'Doughnut 1'
                                    }
                                    /* Outer doughnut data ends*/
                                ]
                            },
                            options: {
                                responsive: true,
                                position: 'outside',
                                segment: true,
                                cutoutPercentage: 70,
                                legend: {
                                    display: true,
                                    position: 'right',
                                },
                                tooltips: {
                                    enabled: true,
                                },
                                title: {
                                    display: true,
                                    text: 'Cuadratura de entregas',
                                    fontColor: "#FFFFFF ",
                                    fontSize: 16,
                                    weight: 100,
                                    fontStyle: 'normal'
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '%p', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 7,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                },
                            }
                        });


        //Cuadratura de entregas 
        var ctx_cuadratura_recoleccion = document.getElementById('cuadratura_recoleccion').getContext('2d');

        var myDoughnutChart =
                new Chart(ctx_cuadratura_recoleccion,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {
                                "datasets": [
                                    /* Outer doughnut data starts*/
                                    {
                                        data: [
                                            150,
                                            100,
                                        ],
                                        backgroundColor: [
                                            "#FF7276", // red
                                            "#8DE971", // green



                                        ],
                                        borderColor: [
                                            '#FF7276',
                                            "#8DE971",
                                        ],
                                        label: 'Doughnut 1'
                                    }
                                    /* Outer doughnut data ends*/
                                ]
                            },
                            options: {
                                responsive: true,
                                position: 'outside',
                                segment: true,
                                cutoutPercentage: 70,
                                legend: {
                                    display: true,
                                    position: 'right',
                                },
                                tooltips: {
                                    enabled: true,
                                },
                                title: {
                                    display: true,
                                    text: 'Cuadratura de recoleccion',
                                    fontColor: "#FFFFFF ",
                                    fontSize: 16,
                                    weight: 100,
                                    fontStyle: 'normal'
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '%p', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 7,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                }
                            }
                        });



        const $valueSpan = $('.por_ocupation');
        const $value = $('#customRange');
        $(document).ready(function () {
        {# var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();
        var hrs = today.getHours();
        var min = String(today.getMinutes()).padStart(2, '0');

        var now = dd + '-' + mm + '-' + yyyy + ' ' + hrs + ':' + min;
        var onehourmore = dd + '-' + mm + '-' + yyyy + ' ' + String(today.getHours() + 1).padStart(2, '0') + ':' + min;
        $("#datetimestart").val(now);
        $("#datetimeend").val(onehourmore);

        filters.start_date_filter = now;
        filters.end_date_filter = onehourmore; #}

                $valueSpan.html($value.val());
                filters.por_ocupation_filter = $value.val();

                getData();
            });

            var filters = {
                id_route_filter: [],
                plaza_filter: [],
                type_route_filter: [],
                origin_filter: [],
                destiny_filter: [],
                n_operator_filter: [],
                type_vehicle_filter: [],
                vehicle_filter: [],
                por_ocupation_filter: 0,
                status_filter: [],
                type_incidences_filter: [],
                type_event_filter: 'Llegadas',
                start_date_filter: '',
                end_date_filter: ''
            };

            function getData() {
        {# var data = {
            "datasetsTotal": {
                "labels": [
                "A tiempo",
                "Retrasado",
                "Tarde"
                ],
                "datasets": [
                {
                    "backgroundColor": [
                    "#8DE971",
                    "#FFF36D",
                    "#FF7276"
                    ],
                    "borderWidth": 0,
                    "data": [
                    126,
                    0,
                    0
                    ]
                }
                ]
            },
            "datasetsPacific": {
                "labels": [
                "A tiempo",
                "Retrasado",
                "Tarde"
                ],
                "datasets": [
                {
                    "backgroundColor": [
                    "#8DE971",
                    "#FFF36D",
                    "#FF7276"
                    ],
                    "borderWidth": 0,
                    "data": [
                    117,
                    0,
                    0
                    ]
                }
                ]
            },
            "datasetsCentral": {
                "labels": [
                "A tiempo",
                "Retrasado",
                "Tarde"
                ],
                "datasets": [
                {
                    "backgroundColor": [
                    "#8DE971",
                    "#FFF36D",
                    "#FF7276"
                    ],
                    "borderWidth": 0,
                    "data": [
                    9,
                    0,
                    0
                    ]
                }
                ]
            },
            "datasetsBajio": {
                "labels": [
                "A tiempo",
                "Retrasado",
                "Tarde"
                ],
                "datasets": [
                {
                    "backgroundColor": [
                    "#8DE971",
                    "#FFF36D",
                    "#FF7276"
                    ],
                    "borderWidth": 0,
                    "data": [
                    0,
                    0,
                    0
                    ]
                }
                ]
            },
            "data": [
                {
                "dates": "18/05/2020 07:00:00 AM",
                "idroute": "TTE0000079742",
                "route": 159,
                "region": "PANO",
                "regional": "P",
                "plaza": "NLD",
                "typeroute": "Programado",
                "idtramo": "PLZNLD-PLZPDN",
                "origendestinytramo": "NLD-PDN",
                "percentagecharge": "60",
                "status": "FINALIZADO",
                "incidencetype": "",
                "incidenceobservations": "",
                "minutes": "0",
                "umbralesjson": "{\"green\":{\"a\":{\"operator\":\">\",\"comparator\":\"0\",\"time\":\"min\"},\"b\":{\"operator\":\"<=\",\"comparator\":\"20\",\"time\":\"min\"}},\"yellow\":{\"a\":{\"operator\":\">=\",\"comparator\":\"21\",\"time\":\"min\"},\"b\":{\"operator\":\"<=\",\"comparator\":\"30\",\"time\":\"min\"}},\"red\":{\"a\":{\"operator\":\">=\",\"comparator\":\"31\",\"time\":\"min\"},\"b\":{\"operator\":\">=\",\"comparator\":\"31\",\"time\":\"min\"}}}"
                },
                {
                "dates": "18/05/2020 07:00:00 AM",
                "idroute": "TTE0000079742",
                "route": 159,
                "region": "PANO",
                "regional": "P",
                "plaza": "NLD",
                "typeroute": "Programado",
                "idtramo": "PLZPDN-CONCAC",
                "origendestinytramo": "PDN-CAC",
                "percentagecharge": "60",
                "status": "FINALIZADO",
                "incidencetype": "",
                "incidenceobservations": "",
                "minutes": "0",
                "umbralesjson": "{\"green\":{\"a\":{\"operator\":\">\",\"comparator\":\"0\",\"time\":\"min\"},\"b\":{\"operator\":\"<=\",\"comparator\":\"20\",\"time\":\"min\"}},\"yellow\":{\"a\":{\"operator\":\">=\",\"comparator\":\"21\",\"time\":\"min\"},\"b\":{\"operator\":\"<=\",\"comparator\":\"30\",\"time\":\"min\"}},\"red\":{\"a\":{\"operator\":\">=\",\"comparator\":\"31\",\"time\":\"min\"},\"b\":{\"operator\":\">=\",\"comparator\":\"31\",\"time\":\"min\"}}}"
                }
            ]
        }; #}
                return $.ajax({
                    type: "POST",
                    url: "{{ path_for('api.tr1.cumplimiento') }}",
                    dataType: "json",
                    success: function (data) {
                        myDoughnutChart_total.data = data.datasetsTotal;
                        myDoughnutChart_total.update();

                        if (sumData(data.datasetsPacific.datasets[0].data) > 0) {
                            myDoughnutChart_pacific.data = data.datasetsPacific;
                            myDoughnutChart_pacific.update();
                        } else {
                            myDoughnutChart_pacific.destroy();
                            $("#title_p").css("display", "block");
                        }

                        if (sumData(data.datasetsCentral.datasets[0].data) > 0) {
                            myDoughnutChart_central.data = data.datasetsCentral;
                            myDoughnutChart_central.update();
                        } else {
                            myDoughnutChart_central.destroy();
                            $("#title_c").css("display", "block");
                        }

                        if (sumData(data.datasetsBajio.datasets[0].data) > 0) {
                            myDoughnutChart_bajio.data = data.datasetsBajio;
                            myDoughnutChart_bajio.update();
                        } else {
                            myDoughnutChart_bajio.destroy();
                            $("#title_b").css("display", "block");
                        }

                        buildTable(data.data);
                    },
                    data: filters
                });
            }

            function sumData(input) {
                var total = 0;
                for (var i = 0; i < input.length; i++)
                {
                    if (isNaN(input[i])) {
                        continue;
                    }
                    total += Number(input[i]);
                    return total;
                }
            }

            function buildTable(data) {
                $("#dtDetailMovements").find('tbody').empty();
                ;

                for (var i = 0; i < data.length; i++) {
                    $("#dtDetailMovements").find('tbody').append(
                            '<tr>' +
                            '<td class="tg-0pky">' + data[i].dates + '</td>' +
                            '<td class="tg-0pky">' + data[i].idroute + '</td>' +
                            '<td class="tg-0pky">' + data[i].route + '</td>' +
                            '<td class="tg-0pky">' + data[i].region + '</td>' +
                            '<td class="tg-0pky">' + data[i].regional + '</td>' +
                            '<td class="tg-0pky">' + data[i].plaza + '</td>' +
                            '<td class="tg-0pky">' + data[i].typeroute + '</td>' +
                            '<td class="tg-0pky"></td>' +
                            '<td class="tg-0pky"></td>' +
                            '<td class="tg-0pky">' + data[i].idtramo + '</td>' +
                            '<td class="tg-0pky">' + data[i].origendestinytramo + '</td>' +
                            '<td class="tg-0pky"></td>' +
                            '<td class="tg-0pky"></td>' +
                            '<td class="tg-0pky"></td>' +
                            '<td class="tg-0lax"></td>' +
                            '<td class="tg-0lax"></td>' +
                            '<td class="tg-0lax"></td>' +
                            '<td class="tg-0lax">' + data[i].status + '</td>' +
                            '<td class="tg-0lax">' + data[i].incidencetype + '</td>' +
                            '<td class="tg-0lax">' + data[i].incidenceobservations + '</td>' +
                            '</tr>'
                            );
                }

                //Pagination table
                $('#dtDetailMovements').DataTable({
                    "ordering": false,
                    "searching": false,
                    "language": {
                        "paginate": {
                            "previous": "Anterior",
                            "next": "Siguiente"
                        },
                        "emptyTable": "No hay registros que mostrar",
                        "lengthMenu": "Mostrar _MENU_ registros",
                        "search": "Buscar:",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                        "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                    }
                });
                $('.dataTables_length').addClass('bs-select');

                $('#containerTable').css('margin-top', '-54px')
            }

            $('#idroute_filter').on('change', function () {
                var id = $('#idroute_filter').select2('data');
                var idSeleccionados = [];
                $.each(id, function (i, e) {
                    idSeleccionados.push(e.text);
                });
                filters.id_route_filter = idSeleccionados;
                getData();
            });
            $('#plaza_filter').on('change', function () {
                var plaza = $('#plaza_filter').select2('data');
                var plazaSeleccionadas = [];
                $.each(plaza, function (i, e) {
                    plazaSeleccionadas.push(e.text);
                });
                filters.plaza_filter = plazaSeleccionadas;
                getData();
            });
            $('#typeroute_filter').on('change', function () {
                var type = $('#type_route_filter').select2('data');
                var typeSeleccionados = [];
                $.each(type, function (i, e) {
                    if (e.text == 'Viaje Extra')
                        typeSeleccionados.push(true);
                    else
                        typeSeleccionados.push(false);
                });
                filters.type_route_filter = typeSeleccionados;
                getData();
            });
            $('#origin_filter').on('change', function () {
                var origin = $('#origin_filter').select2('data');
                var originSeleccionados = [];
                $.each(origin, function (i, e) {
                    originSeleccionados.push(e.text);
                });
                filters.origin_filter = originSeleccionados;
                getData();
            });
            $('#destiny_filter').on('change', function () {
                var destiny = $('#destiny_filter').select2('data');
                var destinySeleccionados = [];
                $.each(destiny, function (i, e) {
                    destinySeleccionados.push(e.text);
                });
                filters.destiny_filter = destinySeleccionados;
                getData();
            });
            $('#noperator_filter').on('change', function () {
                var noperator = $('#noperator_filter').select2('data');
                var noperatorSeleccionados = [];
                $.each(noperator, function (i, e) {
                    noperatorSeleccionados.push(e.text);
                });
                filters.n_operator_filter = noperatorSeleccionados;
                getData();
            });
            $('#typevehicle_filter').on('change', function () {
                var typevehicle = $('#typevehicle_filter').select2('data');
                var typevehicleSeleccionados = [];
                $.each(typevehicle, function (i, e) {
                    typevehicleSeleccionados.push(e.text);
                });
                filters.type_vehicle_filter = typevehicleSeleccionados;
                getData();
            });
            $('#vehicle_filter').on('change', function () {
                var vehicle = $('#vehicle_filter').select2('data');
                var vehicleSeleccionados = [];
                $.each(vehicle, function (i, e) {
                    vehicleSeleccionados.push(e.text);
                });
                filters.vehicle_filter = vehicleSeleccionados;
                getData();
            });
            $('#status_filter').on('change', function () {
                var status = $('#status_filter').select2('data');
                var statusSeleccionados = [];
                $.each(status, function (i, e) {
                    statusSeleccionados.push(e.text);
                });
                filters.status_filter = statusSeleccionados;
                getData();
            });
            $('#datetimestart').on('change', function () {
                filters.start_date_filter = $("#datetimestart").val();
                getData();
            });
            $('#datetimeend').on('change', function () {
                filters.end_date_filter = $("#datetimeend").val();
                getData();
            });

            $value.on('input change', () => {
                $valueSpan.html($value.val());
                filters.por_ocupation_filter = $value.val();
            });
            $value.on("focusout", function () {
                console.log('out');
                getData();
            });

    </script>

{% endblock %}