{% extends 'app/skeleton.twig' %}

{% block head %}
    <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style>
        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }
        .table-hover-dark tbody tr:hover {
            color: #9a9a9a!important;
            background-color: rgba(191, 187, 187, 0.08)!important;;
        }
        .thead-border-bottom th, .thead-border-bottom td, .tbody-border-bottom td {
            border-bottom: 1px solid #c1c1c1 !important;
            text-align: center;
            font-weight: bold;
        }
        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date {
            font-size: 20px !important;
            /*color: #a6f331;*/
        }
        select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 5px 5px 5px 5px;
            margin: 0 0 0 8px;
            padding: 2px;
            width: 97px;
        }
        /*styles for colapsed column grantias*/
        .hideGroupGarantiaTotal{
            display: none;
        }
        .group-garantias, .group-garantias-terrestres{
            overflow:hidden;
            transition:max-height 0.3s ease-out;
            background-color: rgba(55, 55, 55, 0.3);
        }
        /*.group-*-btn*/.button_open{
            content:url('{{ asset_base_url }}/dist/assets/icons/button-open.png');
            cursor:pointer;
        }

        /*.group-garantias-btn*/.button_closed{
            content: url('{{ asset_base_url }}/dist/assets/icons/button-closed.png');
            cursor:pointer;
        }

        /*styles for colapsed column grantias*/
        .custom-fontsize-table{
            font-size: small !important;

        }
        .custom-table-sm th, .custom-table-sm td {
            padding: 0.1rem;
        }
        /* styles input */
        /*styles for calendar datetimepicker*/
        .icon-calendar-custom{
            color: white;
            font-size: large;
            cursor: pointer;
        }
        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }



        div.select-filtros {
            padding: 0 5px 0 0!important;
        }




        /*styles for date time picker*/
        .datetimepicker{
            background-color: black!important;
            border: 1px solid white!important;
            color: white!important;
            font-size: 0.8rem!important;
        }
        .datetimepicker table tr td.active{
            background-color:  #ffea55!important;
        }
        .datetimepicker table tr td span:hover {
            background-image: linear-gradient(to bottom, #ffea55, #ccbf23)!important;
            color: black!important;
        }
        .datetimepicker table tr td.day:hover {
            background: #ffea55!important;
            cursor: pointer;
            color: black!important;
        }
        .datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
            background: #ffea55!important;
            color: black!important;
        }
        /*end styles for date time picker*/

        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }
        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus,
        /*.select2-container--default .select2-selection--multiple > span > span > ul > li > input::placeholder*/
        {
            background-color: #5d5757;
        }
        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }
        .select2 {
            width:100%!important;
        }


        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }




        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }


        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }



        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }


        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }



        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }


        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }


        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }
        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
    </style>
{% endblock %}

{% block filtros %}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="plaza[]"  multiple="multiple" id="plaza">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin plazas</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
        <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Ruta </div>
                <select class="js-example-basic-single" name="ruta[]"  multiple="multiple" id="ruta">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin ruta</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora inicial</label>
    </div>
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora final</label>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>
    <div class=" mt-3 ml-auto mr-auto">
        <a class="btn btn-sm btn-dark" href="{{ path_for('logout') }}" ><span class="ml-1">Cerrar sesión</span>{#<i class="fa fa-sign-out-alt"></i>#}</a>
        <a class="btn btn-sm btn-dark" href="{{ path_for('home') }}"><span class="ml-1">Regresar</span></a>
    </div>
{% endblock %}
{% block contenido %}
    <div class="row mb-5">
    </div>
    <div class="table table-responsive">
        <table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table bg-dark" style="text-align: center;">
            <thead class="thead-border-bottom">
                <tr>
                    <td colspan="3"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td></td>
                    <td style="border-bottom: none!important;"></td>
                    <td class="group-garantias-content" colspan="2">Tipo de Empaque</td>
                    <td style="border-bottom: none!important;"></td>
                    {#<td colspan="5">(+)Garant&iacute;as</td>#}
                    <td class="group-garantias-content" colspan=5 >Garantías</td>
                    <td style="border-bottom: none!important;"></td>
                    <td class="group-garantias-terrestres-content" colspan="3">Garant&iacute;as Terrestres</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Ruta</td>
                    <td>Reg. Destino</td>
                    <td>Plaza Destino</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>Total Items</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>Sobre</td>
                    <td>Paquete</td>
                    <td style="border-bottom: none!important;"></td>
                    <td class="group-garantias">09:30</td>
                    <td class="group-garantias">11:30</td>
                    <td class="group-garantias">D&iacute;a Sig.</td>
                    <td class="group-garantias">D&iacute;a Sig. Terr</td>
                    <td class="group-garantias">2 D&iacute;as</td>
                    {#encabezado para el total de garantias colapsado#}
                    <td class="group-garantias-total" colspan="5" style="vertical-align:bottom;">Total</td>
                    <td style="border-bottom: none!important;"></td>
                    <td class="group-garantias-terrestres">Apoyo a OT</td>
                    <td class="group-garantias-terrestres">LTL</td>
                    <td class="group-garantias-terrestres">Internacional</td>
                    {#encabezado para el total de garantias terrestres colapsado#}
                    <td class=" group-garantias-terrestres-total" colspan="3" style="vertical-align:bottom;">Total</td>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td style="text-align: left;">[-]K0000008</td>
                    <td style="text-align: left;"></td>
                    <td style="text-align: left;"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td>450</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>250</td>
                    <td>200</td>
                    <td></td>
                    {#Garantias#}
                    <td class="group-garantias">1,000</td>
                    <td class="group-garantias">800</td>
                    <td class="group-garantias">200</td>
                    <td class="group-garantias">-</td>
                    <td class="group-garantias">-</td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >2000</td>
                    <td></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
                </tr>
                <tr>
                    <td style="text-align: left;"></td>
                    <td style="text-align: left;">[+]CVA</td>
                    <td style="text-align: left;"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td>150</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>100</td>
                    <td>50</td>
                    <td></td>
                    <td class="group-garantias">200</td>
                    <td class="group-garantias">50</td>
                    <td class="group-garantias">30</td>
                    <td class="group-garantias">10</td>
                    <td class="group-garantias">10</td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >2000</td>
                    <td></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
                </tr>
                <tr>
                    <td style="text-align: left;"></td>
                    <td style="text-align: left;">[+]GDL</td>
                    <td style="text-align: left;"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td>200</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>150</td>
                    <td>50</td>
                    <td></td>

                    <td class="group-garantias">100</td>
                    <td class="group-garantias">50</td>
                    <td class="group-garantias">50</td>
                    <td class="group-garantias">20</td>
                    <td class="group-garantias">20</td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >2000</td>
                    <td></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
                </tr>
                <tr>
                    <td style="text-align: left;"></td>
                    <td style="text-align: left;">[+]MEX</td>
                    <td style="text-align: left;"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td>102</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>70</td>
                    <td>32</td>
                    <td></td>
                    <td class="group-garantias">100</td>
                    <td class="group-garantias">50</td>
                    <td class="group-garantias">60</td>
                    <td class="group-garantias">10</td>
                    <td class="group-garantias">10</td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >2000</td>
                    <td></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres">20</td>
                    <td class="group-garantias-terrestres">20</td>
                    <td class="group-garantias-terrestres">20</td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
                </tr>
                <tr>
                    <td style="text-align: left;"></td>
                    <td style="text-align: left;">[+]MLM</td>
                    <td style="text-align: left;"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td>32</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>20</td>
                    <td>12</td>
                    <td></td>
                    <td class="group-garantias">300</td>
                    <td class="group-garantias">150</td>
                    <td class="group-garantias">50</td>
                    <td class="group-garantias">50</td>
                    <td class="group-garantias">50</td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >2000</td>
                    <td></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres">20</td>
                    <td class="group-garantias-terrestres">30</td>
                    <td class="group-garantias-terrestres">50</td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
                </tr>
                <tr>
                    <td style="text-align: left;"></td>
                    <td style="text-align: left;">[+]MTY</td>
                    <td style="text-align: left;"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td>30</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>20</td>
                    <td>10</td>
                    <td></td>
                    <td class="group-garantias">900</td>
                    <td class="group-garantias">800</td>
                    <td class="group-garantias">200</td>
                    <td class="group-garantias">-</td>
                    <td class="group-garantias">-</td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >2000</td>
                    <td></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
                </tr>
                <tr>
                    <td style="text-align: left;"></td>
                    <td style="text-align: left;">[+]NLD</td>
                    <td style="text-align: left;"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td>40</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>25</td>
                    <td>15</td>
                    <td></td>
                    <td class="group-garantias">900</td>
                    <td class="group-garantias">800</td>
                    <td class="group-garantias">200</td>
                    <td class="group-garantias">-</td>
                    <td class="group-garantias">-</td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >2000</td>
                    <td></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
                </tr>
                <tr>
                    <td style="text-align: left;"></td>
                    <td style="text-align: left;">[+]SPL</td>
                    <td style="text-align: left;"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td>10</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>11</td>
                    <td>15</td>
                    <td></td>
                    <td class="group-garantias">0</td>
                    <td class="group-garantias">0</td>
                    <td class="group-garantias">0</td>
                    <td class="group-garantias">-</td>
                    <td class="group-garantias">-</td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >20</td>
                    <td></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >20</td>
                </tr>
                <tr>
                    <td style="text-align: left;">[+]K0000001</td>
                    <td style="text-align: left;"></td>
                    <td style="text-align: left;"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td>450</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>250</td>
                    <td>200</td>
                    <td></td>
                    {#Garantias#}
                    <td class="group-garantias">1,000</td>
                    <td class="group-garantias">800</td>
                    <td class="group-garantias">200</td>
                    <td class="group-garantias">-</td>
                    <td class="group-garantias">-</td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >2000</td>
                    <td></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
                </tr>
                <tr>
                    <td style="text-align: left;">[+]M001400</td>
                    <td style="text-align: left;"></td>
                    <td style="text-align: left;"></td>
                    <td style="border-bottom: none!important;"></td>
                    <td>450</td>
                    <td style="border-bottom: none!important;"></td>
                    <td>250</td>
                    <td>200</td>
                    <td></td>
                    {#Garantias#}
                    <td class="group-garantias">1,000</td>
                    <td class="group-garantias">800</td>
                    <td class="group-garantias">200</td>
                    <td class="group-garantias">-</td>
                    <td class="group-garantias">-</td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >2000</td>
                    <td></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    <td class="group-garantias-terrestres">-</td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
                </tr>
                <tr class="title_chart text-center text-light">
                    <td style="text-align: left;"><span>TOTAL</span></td>
                    <td><span></span></td>
                    <td><span></span></td>
                    <td style="border-bottom: none!important;"></td>
                    <td><span>1000</span></td>
                    <td style="border-bottom: none!important;"></td>
                    <td><span>635</span></td>
                    <td><span>365</span></td>
                    <td></td>
                    <td class="group-garantias"><span>2,900</span></td>
                    <td class="group-garantias"><span>1,950</span></td>
                    <td class="group-garantias"><span>630</span></td>
                    <td class="group-garantias"><span>130</span></td>
                    <td class="group-garantias"><span>130</span></td>
                    {#columna para el total de garantias#}
                    <td colspan="5" class="group-garantias-total" >2000</td>
                    <td><span></span></td>
                    {#Garantias terrestres#}
                    <td class="group-garantias-terrestres"><span>50</span></td>
                    <td class="group-garantias-terrestres"><span>70</span></td>
                    <td class="group-garantias-terrestres"><span>90</span></td>
                    {#columna para el total de garantias terrestres#}
                    <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                width: '100%',
                allowClear: false
            });
            /* $(document).ready(function() {
             $('.js-example-basic-single').select2({
             width: '100%',
             allowClear: false
             });
             
             });*/
        });



    </script>
    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n, 10) < 10 ? '0' : '') + n;
        }
        function updateTime() {
            var timeNow = new Date(),
                    hh = timeNow.getHours(),
                    mm = timeNow.getMinutes(),
                    ss = timeNow.getSeconds(),
                    formatAMPM = (hh >= 12 ? 'PM' : 'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) + " " + formatAMPM;
            currentTime_date.innerHTML = monthNames[timeNow.getMonth()] + " " + timeNow.getUTCDate() + ", " + timeNow.getFullYear();
            setTimeout(updateTime, 1000);
        }
        updateTime();
    </script>
    <script>
        var groupGarantias = new COLLAPSE_COLUMN();
        /*para mostrar boton gregar clase group-garantias-content al td */
        /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
        groupGarantias.setGroupNameClass("group-garantias");
        var groupGarantiasTerrestres = new COLLAPSE_COLUMN();
        /*para mostrar boton gregar clase group-garantias-content al td */
        /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
        groupGarantiasTerrestres.setGroupNameClass("group-garantias-terrestres");
        var t2 = '<div class="table-responsive"><table class="mb-0 bg-dark table table-sm table-hover-dark text-light table-hover table-striped no-border-top table-striped table-dark custom-fontsize-table custom-table-sm" style="text-align: center;"> <thead class="thead-border-bottom"> <tr> <td colspan="7">Gu&iacute;a</td><td style="border-bottom: none!important;">&nbsp;</td><td colspan="3">Cliente</td><td style="border-bottom: none!important;">&nbsp;</td><td colspan="7">Ubicaci&oacute;n</td><td style="border-bottom: none!important;">&nbsp;</td><td colspan="9">&Uacute;ltimo Estatus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr><tr> <td>Consec Num.</td><td></td><td>Tipo de empaque</td><td></td><td>Garant&iacute;a</td><td></td><td>Contenido</td><td></td><td>N&uacute;mero</td><td></td><td>Raz&oacute;n Social</td><td></td><td>Distrito</td><td></td><td>Regional</td><td></td><td>Plaza</td><td></td><td>CD</td><td></td><td>Movimiento</td><td></td><td>C&oacute;digo de Razon</td><td></td><td>No. Empleado</td><td></td><td>Ruta</td><td></td><td>Fecha del Evento</td></tr></thead> <tbody> <tr> <td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>11</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>12</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>13</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>14</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>15</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>16</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>17</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>18</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>19</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>20</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody> </table></div>';
    </script>

    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n, 10) < 10 ? '0' : '') + n;
        }
        function updateTime() {
            var timeNow = new Date(),
                    hh = timeNow.getHours(),
                    mm = timeNow.getMinutes(),
                    ss = timeNow.getSeconds(),
                    formatAMPM = (hh >= 12 ? 'PM' : 'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) + " " + formatAMPM;
            currentTime_date.innerHTML = monthNames[timeNow.getMonth()] + " " + timeNow.getUTCDate() + ", " + timeNow.getFullYear();
            setTimeout(updateTime, 1000);
        }
        updateTime();
    </script>
    <script>
    $(function () {

                $(".form_datetime").datetimepicker({
                    format: "dd/mm/yyyy HH:ii P",
                    autoclose: true,
                    todayBtn: true,
                    weekStart: 1,
                    language: "es",
                    showMeridian: true,
                    //container: ".content-date",
                    pickerPosition: "top-right",
                    fontAwesome: "far",

                }).on("show", function (e) {
                    //if($("body").hasClass("sb-sidenav-toggled")&&$('#cerrarSidebar').is(":visible") ){

                    if ($("body").prop('scrollHeight') > $("body").prop('clientHeight')) {
                        //if 'true', the content overflows the tab: we show the hidden link
                        $("body").css({"overflow-y": "hidden"});
                    }

                    /*  }else{
                     
                     }*/
                }).on("hide", function () {
                    if (!$('#cerrarSidebar').is(":visible")) {
                        $("body").css({"overflow-y": "auto"});
                    }
                });


            });
    </script>

{% endblock %}