{% extends 'app/skeleton.twig' %}

{% block filtros %}
    {#<div class="sb-sidenav-menu-heading row" style="width: 100%">
        <div class="col-5 col-sm-5 col-md-5 ">Plaza</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
        <div class="col-5 col-sm-5 col-md-5 ">Estatus Ruta</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
    </div>#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_plaza">
                    {#        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">#}
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin plazas</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>


    {#<div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <select class="selectpicker form-control">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
        </div>
    </div>#}
    {#    filtro Estatus Ruta#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="estatusRuta[]"  multiple="multiple" id="estatus_ruta">
                    {% for entry in estatus_ruta %}
                        <option value="{{ entry.status }}">{{ entry.status }}</option>
                    {% else %}
                        <option value="0">Sin estatus ruta</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>
    {#            filtro Id Ruta#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize">  Ruta </div>
                <select class="js-example-basic-single" name="IdRuta[]"  multiple="multiple" id="id_ruta">
                    {% for entry in id_ruta %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Id ruta</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>


 
    {#    <div class="sb-sidenav-menu-heading  select-filtros-text pb-0 pt-0 pl-1 pr-0" >
            <div class="float-left text-white text-capitalize" data-toggle="tooltip" data-placement="top" title="Número eco.">Núm. Eco.</div>
            <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
                <option>Seleccione</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
            </select>
        </div>#}
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora inicial</label>
    </div>
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora final</label>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-left pb-1 pt-0 mt-3">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-0 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>
    <div class=" mt-3 ml-auto mr-auto">
        <a class="btn btn-sm btn-dark" href="{{ path_for('logout') }}" ><span class="ml-1">Cerrar sesión</span>{#<i class="fa fa-sign-out-alt"></i>#}</a>
        <a class="btn btn-sm btn-dark" href="{{ path_for('home') }}"><span class="ml-1">Regresar</span></a>
    </div>

    {#<div class="sb-sidenav-menu-heading  select-filtros-text pt-1 pl-1 pr-0" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>#}
{% endblock %}


{% block head %}
    {#    se agregan estilos#}
    <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style type="text/css">

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date{
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        #myChart{
            /* margin: -20px !important;*/
            height: 140px !important;
            width: 45% !important;
        }

        .table-black{
            color: #fff !important;
            background-image: url("{{ asset_base_url }}/dist/assets/brand/background_pert_dark.png");
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }



        .color_border_botom_white {
            border-bottom:.5pt solid white !important;
        }
        .color_border_top_white {
            border-top:.5pt solid white !important;
        }

        .title_chart{
            color: #e0dd57;
            font-weight: bold;
            width: 100% !important;
        }

        .text-total-color{
            color: #f0e411;
        }

        .custom-fontsize-table{
            font-size: small !important;

        }

        .table_llegadas_tr1>tbody>tr>td{
            vertical-align: middle;
        }



        .vehicle_arriving{
            border: 1px solid white;
            border-radius: 5px;
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }
        .vehicle_arrived{
            /*border: 1px solid white;
            border-radius: 10px;*/
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }

        /*styles for filtros */
        .select-filtros{
            /* width: 70%!important;*/

        }

        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            /* padding: 0.5rem 0 5px 0; */
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;

            padding: 0.25rem 0.5rem!important;
            font-size: 0.875rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }
        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }
        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
            transform: translate3d(80px, 121px, 0px)!important;
        }
        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #ffea55!important;
        }
        .select-filtros .dropdown-item {
            color: #ffffff!important;
            background-color: black!important;

        }
        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
        /* .select-filtros>.dropdown-menu[x-out-of-boundaries]{
             transform: translate3d(0px, 30px, 0px) !important; //give valid transform
         //or use visiblity hidden;
         }*/

        /*styles for datetime*/
        .form-control {
            height: calc(1.5em + 0.75rem + 2px)!important;
            padding: 0.065rem 0.25rem!important;
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
        }
        .input-group-text {
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            padding: 0.375rem 0.30rem!important;
            color: #ffffff;
            border: none;
        }
        /*end styles for filtros */



        /*maps styles */
        #mapModalLlegadasTr1{
            width: 100%;
            height: 80vh;
        }
        .seePosition{
            cursor: pointer;
        }

        .labels {
            color: white;
            background-color: red;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            text-align: center;
            width: 30px;
            white-space: nowrap;
        }
        /*end maps styles */



        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
        /*styles for control burrons*/
        /*styles for calendar datetimepicker*/
        .icon-calendar-custom{
            color: white;
            font-size: large;
            cursor: pointer;
        }
        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }



        div.select-filtros {
            padding: 0 5px 0 0!important;
        }




        /*styles for date time picker*/
        .datetimepicker{
            background-color: black!important;
            border: 1px solid white!important;
            color: white!important;
            font-size: 0.8rem!important;
        }
        .datetimepicker table tr td.active{
            background-color:  #ffea55!important;
        }
        .datetimepicker table tr td span:hover {
            background-image: linear-gradient(to bottom, #ffea55, #ccbf23)!important;
            color: black!important;
        }
        .datetimepicker table tr td.day:hover {
            background: #ffea55!important;
            cursor: pointer;
            color: black!important;
        }
        .datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
            background: #ffea55!important;
            color: black!important;
        }
        /*end styles for date time picker*/

        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }
        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus,
        /*.select2-container--default .select2-selection--multiple > span > span > ul > li > input::placeholder*/
        {
            background-color: #5d5757;
        }
        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }
        .select2 {
            width:100%!important;
        }


        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }




        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }


        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }



        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }


        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }



        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }


        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }


        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }

    </style>
{% endblock %}
{% block contenido %}


    <div class="col-md-12">
        <div class="row">
            <br>
            {#<div class="col-md-2">
            </div>  #}



            <div class="table table-responsive w-auto small col-md-6">
                <div class="text-center" style="color: #FFFFFF;"><h6>Carga para entrega y recolección</h6></div>
                <table class="table table-borderless custom-fontsize-table  table-sm table-hover table-light table-dark table-black table_llegadas_tr1" border=0 cellpadding=0 cellspacing=0 width=1537 style="text-align: center;" {#style='border-collapse:collapse;table-layout:fixed;width:1152pt'#}>
                    <thead class="thead-gris-oscuro">
                        <tr>
                            <th >Plaza</th>
                            <th >Id Ruta</th>
                            <th >Servicio</th>
                            <th >Items Registrados</th>
                            <th >Mostrar detalles</th>
                        </tr>
                    </thead>
                    <tr>
                        <td >GDL</td>
                        <td >V001</td>
                        <td >Entrega</td>
                        <td >80</td>
                        <td ></td>

                    </tr>
                    <tr>
                        <td >GDL</td>
                        <td >V001</td>
                        <td >Recoleccion</td>
                        <td >120</td>
                        <td ></td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                    </tr>
                    <tr>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                        <td ></td>
                    </tr>
                </table>
            </div>  <!--Garantia entrega!-->
        </div>
    </div>




    <section class="table-responsive">
        <div class="text-center" style="color: #FFFFFF;"><h6>Detalle de la ruta de GDL, para el servicio de ENTREGA</h6></div>
        <table class="table table-borderless custom-fontsize-table  table-sm table-hover table-light table-dark table-black table_llegadas_tr1" border=0 cellpadding=0 cellspacing=0 width=1537 style="text-align: center;" {#style='border-collapse:collapse;table-layout:fixed;width:1152pt'#}>
            {# <col width=80 style='width:60pt'>
             <col width=87 style='mso-width-source:userset;mso-width-alt:3181;width:65pt'>
             <col width=95 style='mso-width-source:userset;mso-width-alt:3474;width:71pt'>
             <col width=80 span=11 style='width:60pt'>
             <col width=155 style='mso-width-source:userset;mso-width-alt:5668;width:116pt'>
             <col width=80 span=3 style='width:60pt'>#}

            {#<colgroup>
                <col>
                <col style="width: auto">
                <col>
            </colgroup>#}
            <thead>
                
                <tr class=" font-weight-bold prevent-hover-table-header" height=40 style='height:30.0pt'>
                    <td class="color_border_botom_white" height=40 style='height:30.0pt;vertical-align:bottom;' >Vehículo</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">Orden</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">Tipo Garantia</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">Cliente</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">Destinatario</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">Código Postal</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">Dirección</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">Teléfono</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">No. Items registrados</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">Guía</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">Último estatus</td>
                    <td class="color_border_botom_white" style="vertical-align:bottom;">Fecha y hora</td>
                    
                </tr>
            </thead>
            <tbody>
                <tr height=20 style='height:15.0pt'>
                    <td >-</td>
                    <td >-</td>
                    <td >-</td>
                    <td >-</td>
                    <td >-</td>
                    <td >-</td>
                    <td >-</td>{#total real#}
                    <td>-{#esta columna siempre va vacio es solo un separador#}</td>
                    <td >-</td>

                    {#garantias#}
                    <td class="group-garantias">-</td>
                    <td class="group-garantias">-</td>
                    <td class="group-garantias">-</td>

                </tr>
                 <tr height=20 style='height:15.0pt'>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>{#total real#}
                    <td>{#esta columna siempre va vacio es solo un separador#}</td>
                    <td ></td>

                    {#garantias#}
                    <td class="group-garantias" ></td>
                    <td class="group-garantias"></td>
                    <td class="group-garantias"></td>
                    <td class="group-garantias"></td>
                    <td class="group-garantias"></td>

                    <td>{#esta columna siempre va vacio es solo un separador#}</td>

                    <td ></td>
                    <td ></td>
                    <td ></td>
                </tr>
                 <tr height=20 style='height:15.0pt'>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>{#total real#}
                    <td>{#esta columna siempre va vacio es solo un separador#}</td>
                    <td ></td>

                    {#garantias#}
                    <td class="group-garantias" ></td>
                    <td class="group-garantias"></td>
                    <td class="group-garantias"></td>
                    <td class="group-garantias"></td>
                    <td class="group-garantias"></td>

                    <td>{#esta columna siempre va vacio es solo un separador#}</td>

                    <td ></td>
                    <td ></td>
                    <td ></td>
                </tr>
                 <tr height=20 style='height:15.0pt'>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>{#total real#}
                    <td>{#esta columna siempre va vacio es solo un separador#}</td>
                    <td ></td>

                    {#garantias#}
                    <td class="group-garantias" ></td>
                    <td class="group-garantias"></td>
                    <td class="group-garantias"></td>
                    <td class="group-garantias"></td>
                    <td class="group-garantias"></td>

                    <td>{#esta columna siempre va vacio es solo un separador#}</td>

                    <td ></td>
                    <td ></td>
                    <td ></td>
                </tr>
                
                
            </tbody>
        </table>
        
    </section>


{% endblock %}


{% block scripts %}

    <!--AIzaSyC32vpDAaozqg71wzy2CHgVAVlvxQtLsIE-->
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSPepYUd4O0H6j3p17XZ2TqWLjEq9lrXA&callback=initMap">
    </script>
    <script src="{{ asset_base_url }}/dist/js/libs/hammerjs/hammerjs208.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/ChartJS/plugins/chartjs-plugin-zoom074.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/ChartJS/plugins/chartjs-plugin-datalabels.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/ChartJS/plugins/chartjs-plugin-piechart-outlabels.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
                $(document).ready(function () {
                    $('.js-example-basic-single').select2({
                        width: '100%',
                        allowClear: false
                    });
                    /* $(document).ready(function() {
                     $('.js-example-basic-single').select2({
                     width: '100%',
                     allowClear: false
                     });
                     
                     });*/
                });



    </script>

    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: -25.344, lng: 131.036};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 14, center: uluru, mapTypeId: 'hybrid'});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }

        $(document).ready(function () {
            initMap();
        });
    </script>

    <script>

        $('.example1').on('click', function () {
            $.alert({
                title: 'Alert!',
                content: 'Simple alert!',
            });
        });

        var arrayGroupColapse = ["group-garantias", "group-garantias-terrestres"];

        $.each(arrayGroupColapse, function (idx, groupName) {
            /*var group=*/ new COLLAPSE_COLUMN().setGroupNameClass(groupName);
            /*para mostrar boton gregar clase group-garantias-content al td */
            /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
            //group;
        });

        // var groupGarantias = new COLLAPSE_COLUMN();
        /*para mostrar boton gregar clase group-garantias-content al td */
        /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
        //groupGarantias.setGroupNameClass("group-garantias");

        //console.log(groupGarantias);


        /*mostrar detalle de la cuadratura*/
        var obj = {
            //title_detail: "",
            route_name: "Ruta AE-002",
            list_guias: [
                {
                    guia: "123456789012",
                    plaza_destino: "MTY",
                    cliente: "Radio móvil Dipsa",
                    contenido: "Celulares",
                    plaza_escaneo: "MEX",
                    codigo_razon: "C29-CARGA REVUELTA"
                }, {
                    guia: "987654321098",
                    plaza_destino: "AGS",
                    cliente: "Lenovo",
                    contenido: "Tablets",
                    plaza_escaneo: "SLP",
                    codigo_razon: "C52-CONTENEDOR SALE DIA SIGUIENTE"
                }, {
                    guia: "678901234567",
                    plaza_destino: "MOR",
                    cliente: "Mercado Libre",
                    contenido: "Laptop",
                    plaza_escaneo: "GDL",
                    codigo_razon: "C21-EMPAQUE REPARADO"
                },
            ]
        };
        $('.cuadratura').on('click', function () {
            showDetalleGuias(obj)
        });
        $('.cuadratura_items').on('click', function () {
            showDetalleDestinosItems(object);
        });

        $('.detalle_garantias').on('click', function () {
            showDetalleGarantias(object_garantias);
        });

        $('.seePosition').on('click', function () {
            showGeopositionVehicle(objectVehicle);
        });

        $('.rastreo_guias').on('click', function () {
            showRatreoGuias(objectRastreo);
        });

        $(function () {
            $('#datetimepicker1').datetimepicker();
        });

    </script>


    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n, 10) < 10 ? '0' : '') + n;
        }
        function updateTime() {
            var timeNow = new Date(),
                    hh = timeNow.getHours(),
                    mm = timeNow.getMinutes(),
                    ss = timeNow.getSeconds(),
                    formatAMPM = (hh >= 12 ? 'PM' : 'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) + " " + formatAMPM;
            currentTime_date.innerHTML = monthNames[timeNow.getMonth()] + " " + timeNow.getUTCDate() + ", " + timeNow.getFullYear();
            setTimeout(updateTime, 1000);
        }
        updateTime();
    </script>

    <script>


        //Chart.defaults.global.defaultFontStyle = 'Bold'
        var ctx_llegadas = document.getElementById('myChart_llegadas').getContext('2d');
        var ctx_garantia_llegadas = document.getElementById('myChart_garantia_llegadas').getContext('2d');
        var ctx_garantia_pendientes = document.getElementById('myChart_garantia_pendientes').getContext('2d');

        /*var data = {
         datasets: [{
         data: [10, 20, 30]
         }],
         
         // These labels appear in the legend and in the tooltips when hovering different arcs
         labels: [
         'Red',
         'Yellow',
         'Blue'
         ]
         };*/



        var myDoughnutChart =
                new Chart(ctx_llegadas,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {"labels": ["Llegadas 0%", "Pendientes '0%"],
                                "datasets": []
                            },
                            options: {
                                //showAllTooltips:true,
                                responsive: true,
                                maintainAspectRatio: false,
                                position: 'outside',
                                segment: true,
                                cutoutPercentage: 70,
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        fontSize: 14,
                                        fontColor: '#fff',
                                        fontStyle: "bold"
                                    },
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '%p', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 14,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                },
                                tooltips: {
                                    formatter: function (value) {
                                        return Math.round(value) + '%';
                                    },
                                    enabled: true,
                                    bodyFontSize: 14,
                                    backgroundColor: "#fff",
                                    bodyFontColor: "#000",
                                }, layout: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        top: 0,
                                        bottom: 0
                                    }
                                }

                            }
                        });
        var myDoughnutChart_garantia_llegadas =
                new Chart(ctx_garantia_llegadas,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {"labels": ["PTA > 10 minutos 0%", "PTA > 30 minutos 0%", "PTA > 60 minutos 0%"],
                                "datasets": []
                            },
                            options: {
                                //showAllTooltips:true,
                                responsive: true,
                                maintainAspectRatio: false,
                                position: 'outside',
                                segment: true,
                                cutoutPercentage: 70,
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        fontSize: 14,
                                        fontColor: '#fff',
                                        fontStyle: "bold"
                                    },
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: ' %p', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 14,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                },
                                tooltips: {
                                    //mode: 'label',
                                    enabled: true,
                                    bodyFontSize: 14,
                                    //yPadding:8,
                                    // caretSize:28,
                                    backgroundColor: "#fff",
                                    bodyFontColor: "#000",
                                    // multiKeyBackground:"#fff",
                                    // position: 'average',
                                    // yAlign: 'bottom'
                                    //yAlign: 'top',
                                    // textDirection:"rtl"
                                    /*position : 'custom',   //<-- important same name as your function above
                                     callbacks: {
                                     label: function(tooltipItem, data) {
                                     var label = Math.floor(tooltipItem.yLabel*100)/100+" "+data.datasets[tooltipItem.datasetIndex].label;
                                     return label;
                                     }
                                     }*/
                                }, layout: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        top: 0,
                                        bottom: 0
                                    }
                                }

                            }
                        });

        var myDoughnutChart_garantia_pendientes =
                new Chart(ctx_garantia_pendientes,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {"labels": ["PTA > 10 minutos 0%", "PTA > 30 minutos 0%", "PTA > 60 minutos 0%"],
                                "datasets": []
                            },
                            options: {
                                // showAllTooltips:true,
                                responsive: true,
                                maintainAspectRatio: false,
                                position: 'outside',
                                segment: true,
                                cutoutPercentage: 70,
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        fontSize: 14,
                                        fontColor: '#fff',
                                        fontStyle: "bold"
                                    },
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '%p', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 14,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                },
                                tooltips: {
                                    //position:"nearest",
                                    enabled: true,
                                    bodyFontSize: 14,
                                    backgroundColor: "#fff",
                                    bodyFontColor: "#000",

                                }, layout: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        top: 0,
                                        bottom: 0
                                    }
                                }

                            }
                        });
    </script>

    <script type="text/javascript">
        console.log("Chart Cargado", myDoughnutChart);
        $(document).ready(function () {
            filtrar();
        });

        var filtros = {
            plazas_filtro: [],
            estatus_ruta: [],
            id_ruta: [],
            tramo: [],
            cliente: '',
            tipo_vehiculo: [],
            numero_eco: 0,
            fecha_inicial: today

        };

        function filtrar() {
            return $.ajax({
                type: "POST",
                url: "{{ path_for('api.ent.filtrar') }}",
                dataType: "json",
                success: function (data) {
                    console.log("filtrando", data.labels);
                    console.log("filtrando", data.datasets);
                    var bcD = {
                        labels: data.labels,
                        datasets: [
                            {
                                "label": "My F*rst Dataset",
                                "data": data.datasets,
                                fontSize: 12,
                                backgroundColor: [
                                    "#8DE971",
                                    "#FFFFFF",
                                            //   "#F80000"
                                ],
                                borderColor: [
                                    '#8DE971',
                                    "#FFFFFF",
                                            //   "#e90000"
                                ],
                                borderWidth: 1,
                            }
                        ]
                    };
                    myDoughnutChart.config.data = bcD;
                    myDoughnutChart.update();
                    //carga garantias de llegada
                    var gaL = {
                        labels: data.labels2,
                        datasets: [
                            {
                                "label": "My F*rst Dataset",
                                "data": data.datasets2,
                                backgroundColor: [
                                    "#8DE971",
                                    "#FFF36D",
                                    "#FF7276"
                                ],
                                borderColor: [
                                    '#8DE971',
                                    "#FFF36D",
                                    "#FF7276"
                                ],
                                borderWidth: 1,
                            }
                        ]
                    };
                    myDoughnutChart_garantia_llegadas.config.data = gaL;
                    myDoughnutChart_garantia_llegadas.update();
                    //carga garantias de pendientes
                    var gaP = {
                        labels: data.labels3,
                        datasets: [
                            {
                                "label": "My F*rst Dataset",
                                "data": data.datasets3,
                                backgroundColor: [
                                    "#8DE971",
                                    "#FFF36D",
                                    "#FF7276"
                                ],
                                borderColor: [
                                    '#8DE971',
                                    "#FFF36D",
                                    "#FF7276"
                                ],
                                borderWidth: 1,
                            }
                        ]
                    };
                    myDoughnutChart_garantia_pendientes.config.data = gaP;
                    myDoughnutChart_garantia_pendientes.update();
                },
                data: filtros
            });
        }
        $('#filtro_plaza').on('change', function () {

            var plzs = $('#filtro_plaza').select2('data');
            var plazasSeleccionadas = [];
            $.each(plzs, function (i, e) {
                plazasSeleccionadas.push(e.text);
            });

            console.log("filtrando", "filtro_plaza", plazasSeleccionadas);
            filtros.plazas_filtro = plazasSeleccionadas;
            filtrar();
        });
        $('#estatus_ruta').on('change', function () {

            var eRuta = $('#estatus_ruta').select2('data');
            var estatusRuta = [];
            $.each(eRuta, function (i, e) {
                estatusRuta.push(e.text);
            });

            console.log("filtrando", "estatus_ruta", estatusRuta);
            filtros.estatus_ruta = estatusRuta;
            filtrar();
        });

        $('#id_ruta').on('change', function () {

            var iRuta = $('#id_ruta').select2('data');
            var idRuta = [];
            $.each(iRuta, function (i, e) {
                idRuta.push(e.text);
            });

            console.log("filtrando", "id_ruta", idRuta);
            filtros.id_ruta = idRuta;
            filtrar();
        });

        $('#tramo').on('change', function () {

            var filtroTramo = $('#tramo').select2('data');
            var tramo = [];
            $.each(filtroTramo, function (i, e) {
                tramo.push(e.text);
            });

            console.log("filtrando", "tramo", tramo);
            filtros.tramo = tramo;
            filtrar();
        });

        $('#cliente').on('change', function () {
            var id = $(this).children(":selected").attr("id");
            var value = this.value;
            //Para anular el filtro en caso que no tenga valor
            if (value.length === 0) {
                value = 0;
            }
            console.log("filtrando", "cliente", value);
            filtros.cliente = value;
            filtrar();
        });

        $('#tipo_vehiculo').on('change', function () {

            var tVehiculo = $('#tipo_vehiculo').select2('data');
            var tipoVehiculo = [];
            $.each(tVehiculo, function (i, e) {
                tipoVehiculo.push(e.text);
            });

            console.log("filtrando", "filtro_plaza", tipoVehiculo);
            filtros.tipo_vehiculo = tipoVehiculo;
            filtrar();
        });

        $('#numero_eco').on('change', function () {

            var nEco = $('#numero_eco').select2('data');
            var numeroEco = [];
            $.each(nEco, function (i, e) {
                numeroEco.push(e.text);
            });

            console.log("filtrando", "numero_eco", numeroEco);
            filtros.numero_eco = numeroEco;
            filtrar();
        });

        $(function () {

            $(".form_datetime").datetimepicker({
                format: "dd/mm/yyyy HH:ii P",
                autoclose: true,
                todayBtn: true,
                weekStart: 1,
                language: "es",
                showMeridian: true,
                //container: ".content-date",
                pickerPosition: "top-right",
                fontAwesome: "far",

            }).on("show", function (e) {
                //if($("body").hasClass("sb-sidenav-toggled")&&$('#cerrarSidebar').is(":visible") ){

                if ($("body").prop('scrollHeight') > $("body").prop('clientHeight')) {
                    //if 'true', the content overflows the tab: we show the hidden link
                    $("body").css({"overflow-y": "hidden"});
                }

                /*  }else{
                 
                 }*/
            }).on("hide", function () {
                if (!$('#cerrarSidebar').is(":visible")) {
                    $("body").css({"overflow-y": "auto"});
                }
            });


        });


    </script>
{% endblock %}