{% extends 'app/skeleton.twig' %}

{% block filtros %}
    {#<div class="sb-sidenav-menu-heading row" style="width: 100%">
        <div class="col-5 col-sm-5 col-md-5 ">Plaza</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
        <div class="col-5 col-sm-5 col-md-5 ">Estatus Ruta</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
    </div>#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_plaza">
                    {#        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">#}
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin plazas</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>


    {#<div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <select class="selectpicker form-control">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
        </div>
    </div>#}
    {#    filtro Estatus Ruta#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Estatus Ruta </div>
                <select class="js-example-basic-single" name="estatusRuta[]"  multiple="multiple" id="estatus_ruta">
                    {% for entry in estatus_ruta %}
                        <option value="{{ entry.status }}">{{ entry.status }}</option>
                    {% else %}
                        <option value="0">Sin estatus ruta</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>
    {#            filtro Id Ruta#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> ID Ruta </div>
                <select class="js-example-basic-single" name="IdRuta[]"  multiple="multiple" id="id_ruta">
                    {% for entry in id_ruta %}
                        <option value="{{ entry.code }}">{{ entry.code }}</option>
                    {% else %}
                        <option value="0">Sin Id ruta</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>
    {#    filtro tramo #}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Tramo </div>
                <select class="js-example-basic-single" name="tramo[]"  multiple="multiple" id="tramo">
                    {% for entry in tramo %}
                        <option value="{{ entry.tramo }}">{{ entry.tramo }}</option>
                    {% else %}
                        <option value="0">Sin Id ruta</option>
                    {% endfor %}

                </select>

            </div>
        </div>
    </div>

    {#    filtro cliente #}
    <div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1" >
        <div class="float-left text-white text-capitalize"> Cliente </div>
        <input id="cliente" type="text" class="input-calendar-custom float-right " name="cliente"  style="width: 65%!important;">
    </div>

    {#    filtro tipo vehiculo#}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Tipo Vehículo</div>
                <select class="js-example-basic-single"  name="tipoVehiculo[]"  multiple="multiple" id="tipo_vehiculo">
                    {% for entry in tipo_vehiculo %}
                        <option value="{{ entry.typename }}">{{ entry.typename }}</option>
                    {% else %}
                        <option value="0">Sin tipo vehiculo</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {#    Filtro Numero eco #}
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row"> 
            <div class="col-12" >
                <div class="float-left text-white text-capitalize"> Número eco. </div>
                <select class="js-example-basic-single"  name="numeroEco[]"  multiple="multiple" id="numero_eco">
                    {% for entry in numero_eco %}
                        <option value="{{ entry.numeroeco }}">{{ entry.numeroeco }}</option>
                    {% else %}
                        <option value="0">Sin Numero Eco.</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {#    <div class="sb-sidenav-menu-heading  select-filtros-text pb-0 pt-0 pl-1 pr-0" >
            <div class="float-left text-white text-capitalize" data-toggle="tooltip" data-placement="top" title="Número eco.">Núm. Eco.</div>
            <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
                <option>Seleccione</option>
                <option>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
                <option>Option 3</option>
            </select>
        </div>#}
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora inicial</label>
    </div>
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input id="fecha_inicial" class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora final</label>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input id="fecha_final" class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-left pb-1 pt-0 mt-3">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-0 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>
    <div class=" mt-3 ml-auto mr-auto">
        <a class="btn btn-sm btn-dark" href="{{ path_for('logout') }}" ><span class="ml-1">Cerrar sesión</span>{#<i class="fa fa-sign-out-alt"></i>#}</a>
        <a class="btn btn-sm btn-dark" href="{{ path_for('home') }}"><span class="ml-1">Regresar</span></a>
    </div>

    {#<div class="sb-sidenav-menu-heading  select-filtros-text pt-1 pl-1 pr-0" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>#}
{% endblock %}


{% block head %}
    <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style>
        .sb-sidenav-dark {
            height: 100%;
        }

        .table {
            color: #fff;
            font-size: 12px;
        }

        .table .table {
            background-color: transparent;
        }

        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover tbody tr:hover {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .thead-border-bottom th, .thead-border-bottom td {
            border-bottom: 1px solid #ffffff !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
        }
        #realtime_date {
            font-size: 20px !important;
        }

        .title-lmenu{

            font-size: 1rem !important;
            color: #ffffff !important;
            font-weight: bold;
            width: 100% !important;
        }

        .sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
            padding: 1rem 1rem 0.20rem 1rem;
            font-size: 0.75rem;
            font-weight: bold;
            text-transform: none;
        }

        .controls-tr1>img {
            width: 25px;
            cursor: pointer;
        }

        .form-control:disabled, .form-control[readonly] {
            background: transparent;
            border: transparent;
            border-bottom: 1px solid #e9ecef;
            line-height: 0;
            height: 20px;
            border-radius: 0;
            color: white;
            font-weight: normal;
        }

        /*Styles Select*/

        .js-example-basic-single{
            width:100%;
        }

        .select-filtros{

        }

        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;
            padding: 0.25rem 0.5rem!important;
            font-size: 0.8rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }

        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }

        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
        }

        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #aeaca4 !important;
        }

        .select-filtros .dropdown-item {
            font-size: 0.8rem;
            color: #ffffff!important;
            background-color: black!important;

        }

        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }

        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }

        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus,
        {
            background-color: #5d5757;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }

        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }

        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }

        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }

        textarea:focus, input:focus{
            outline: none;
        }

        /*Styles Radio Buttom*/
        .container_rd {
            position: relative;
            margin-top: 10px;
            padding-left: 11%;
            cursor: pointer;
            font-size: 12px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: white;
            text-transform: capitalize;
            font-weight: normal;
        }

        .container_rd input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 15px;
            background-color: #eee;
            border-radius: 50%;
        }

        .container_rd:hover input ~ .checkmark {
            background-color: #ccc;
        }

        .container_rd input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        .container_rd input:checked ~ .checkmark:after {
            display: block;
        }

        .container_rd .checkmark:after {
            top: 5px;
            left: 5px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: white;
        }
    </style>
{% endblock %}
{% block contenido %}


    <div class="row">
        <div class="col-md-4">
            <div class="title_chart text-center text-light">Avance de llegadas</div>
            <div class="text-center" >
                <canvas id="myChart_llegadas" style="position: relative; height:50vh; width:90vw"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="title_chart text-center text-light">Garantías de Llegadas</div>
            <div class="text-center" >
                <canvas id="myChart_garantia_llegadas" style="position: relative; height:50vh; width:90vw"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <div class="title_chart text-center text-light">Garantías de Pendientes</div>
            <div class="text-center" >
                <canvas id="myChart_garantia_pendientes" style="position: relative; height:50vh; width:90vw"></canvas>
            </div>
        </div>
    </div>

    <div id="containerTable" class="table table-responsive text-white p-2">
        <table id="dtDetailLlegadasTr1" class="mb-2 table table-sm table-borderless text-center table-striped table-hover" style="text-align: center;">
            <thead>
                <tr class="font-weight-bold prevent-hover-table-header"  height=20 style='height:15.0pt'>
                    <td class="tg-0pky" height=20  style='height:15.0pt'></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="color_border_botom_white tg-0pky" colspan=11 >Garantías</td>
                </tr>
                <tr class="font-weight-bold prevent-hover-table-header" height=20 style='height:15.0pt'>
                    <td class="tg-0pky" height=20  style='height:15.0pt'></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="color_border_botom_white tg-0pky" colspan=7 style="vertical-align:bottom;">Tipos</td>
                    <td class="tg-0pky">{#esta columna siempre va vacio es solo un separador#}</td>
                    <td class="color_border_botom_white tg-0pky" colspan=3 >Estatus</td>
                </tr>
                <tr class="font-weight-bold prevent-hover-table-header" height=20 style='height:15.0pt'>
                    <td class="tg-0pky" height=20  style='height:15.0pt'></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky">{#esta columna siempre va vacio es solo un separador#}</td>
                    <td class="tg-0pky">{#esta columna siempre va vacio es solo un separador#}</td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                    <td class="tg-0pky"></td>
                </tr>
                <tr class=" font-weight-bold prevent-hover-table-header" height=40 style='height:30.0pt'>
                    <td class="color_border_botom_white tg-0pky" height=40 style='height:30.0pt;vertical-align:bottom;' >Vehículo</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">Ruta</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">Tramo</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">% Carga</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">Cuadratura</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">Excedente</td>
                    <td class="tg-0pky">{#esta columna siempre va vacio es solo un separador#}</td>
                    <td class="color_border_botom_white tg-0pky" width=80 style='width:60pt;vertical-align:bottom;'>Items de Valor</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">9:30</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">11:30</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">Día sig.</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">Terrestre</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">2 Días</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">LTL</td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align:bottom;">D&iacute;a Sig. Terr</td>
                    <td class="tg-0pky">{#esta columna siempre va vacio es solo un separador#}</td>
                    {#encabezado para el total de garantias terrestres colapsado#}
                    <td class="color_border_botom_white tg-0pky" style="vertical-align : middle;text-align:center;"><img src="{{ asset_base_url }}/dist/assets/icons/pack_verde.svg" width="30px"></td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align : middle;text-align:center;"><img src="{{ asset_base_url }}/dist/assets/icons/pack_amarillo.svg" width="30px"></td>
                    <td class="color_border_botom_white tg-0pky" style="vertical-align : middle;text-align:center;"><img src="{{ asset_base_url }}/dist/assets/icons/pack_rojo.svg" width="30px"></td>
                        {#                    <td class="color_border_botom_white group-garantias-terrestres-total" colspan="3" style="vertical-align:bottom;">Total</td>#}
                    <td class="tg-0pky">{#esta columna siempre va vacio es solo un separador#}</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button class="detalle_garantias btn btn-dark">Detalle de: Garantías 09:30 am Total: 400</button>
        <button class="rastreo_guias btn btn-dark">Rastreo de Guías</button>
    </div>


{% endblock %}


{% block scripts %}

    <!--AIzaSyC32vpDAaozqg71wzy2CHgVAVlvxQtLsIE-->
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSPepYUd4O0H6j3p17XZ2TqWLjEq9lrXA&callback=initMap">
    </script>
    <script src="{{ asset_base_url }}/dist/js/libs/hammerjs/hammerjs208.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/ChartJS/plugins/chartjs-plugin-zoom074.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/ChartJS/plugins/chartjs-plugin-datalabels.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/ChartJS/plugins/chartjs-plugin-piechart-outlabels.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
                $(document).ready(function () {
                    $('.js-example-basic-single').select2({
                        width: '100%',
                        allowClear: false
                    });
                    /* $(document).ready(function() {
                     $('.js-example-basic-single').select2({
                     width: '100%',
                     allowClear: false
                     });
                     
                     });*/
                });



    </script>

    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: -25.344, lng: 131.036};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 14, center: uluru, mapTypeId: 'hybrid'});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }

        {#$(document).ready(function () {
            initMap();
        });#}
    </script>

    <script>

        $('.example1').on('click', function () {
            $.alert({
                title: 'Alert!',
                content: 'Simple alert!',
            });
        });

        {#var arrayGroupColapse = ["group-garantias", "group-garantias-terrestres"];

        $.each(arrayGroupColapse, function (idx, groupName) {
            /*var group=*/ new COLLAPSE_COLUMN().setGroupNameClass(groupName);
            /*para mostrar boton gregar clase group-garantias-content al td */
            /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
            //group;
        });#}

            /*mostrar detalle de la cuadratura*/
            {#var obj = {
                //title_detail: "",
                route_name: "Ruta AE-002",
                list_guias: [
                    {
                        guia: "123456789012",
                        plaza_destino: "MTY",
                        cliente: "Radio móvil Dipsa",
                        contenido: "Celulares",
                        plaza_escaneo: "MEX",
                        codigo_razon: "C29-CARGA REVUELTA"
                    }, {
                        guia: "987654321098",
                        plaza_destino: "AGS",
                        cliente: "Lenovo",
                        contenido: "Tablets",
                        plaza_escaneo: "SLP",
                        codigo_razon: "C52-CONTENEDOR SALE DIA SIGUIENTE"
                    }, {
                        guia: "678901234567",
                        plaza_destino: "MOR",
                        cliente: "Mercado Libre",
                        contenido: "Laptop",
                        plaza_escaneo: "GDL",
                        codigo_razon: "C21-EMPAQUE REPARADO"
                    },
                ]
            };
            $('.cuadratura').on('click', function () {
                showDetalleGuias(obj)
            });#}
            $('.cuadratura_items').on('click', function () {
                showDetalleDestinosItems(object);
            });

            $('.detalle_garantias').on('click', function () {
                showDetalleGarantias(object_garantias);
            });



            $('.rastreo_guias').on('click', function () {
                showRatreoGuias(objectRastreo);
            });

            $(function () {
                $('#datetimepicker1').datetimepicker();
            });

    </script>


    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n, 10) < 10 ? '0' : '') + n;
        }
        function updateTime() {
            var timeNow = new Date(),
                    hh = timeNow.getHours(),
                    mm = timeNow.getMinutes(),
                    ss = timeNow.getSeconds(),
                    formatAMPM = (hh >= 12 ? 'PM' : 'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) + " " + formatAMPM;
            currentTime_date.innerHTML = monthNames[timeNow.getMonth()] + " " + timeNow.getUTCDate() + ", " + timeNow.getFullYear();
            setTimeout(updateTime, 1000);
        }
        updateTime();
    </script>

    {# <script type="text/javascript">
     var today = new Date();
     var dd = String(today.getDate()).padStart(2, '0');
     var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
     var yyyy = today.getFullYear();

     today = dd + '/' + mm + '/' + yyyy;
     if ($('#switch1').is(':checked')) {
         //$('#fechaInicio').val(today);
         $('#fechaInicio').val(today);
     }

     $('#switch1').change(function () {
         if (this.checked) {

             $('#fechaInicio').val(today);
         } else {
             $('#fechaInicio').val('');
         }
     });

     $(function () {

         $(".form_datetime").datetimepicker({
             /*format: "dd/mm/yyyy HH:ii P",*/
             format: "dd/mm/yyyy",
             /*format: 'LT'*/


             todayHighlight: 1,
             startView: 2,
             minView: 2,
             forceParse: 0,

             autoclose: true,
             todayBtn: true,
             weekStart: 1,
             language: "es",
             showMeridian: true,
             //container: ".content-date",
             pickerPosition: "bottom-right",
             fontAwesome: "far",

         }).on("show", function (e) {
             //if($("body").hasClass("sb-sidenav-toggled")&&$('#cerrarSidebar').is(":visible") ){

             if ($("body").prop('scrollHeight') > $("body").prop('clientHeight')) {
                 //if 'true', the content overflows the tab: we show the hidden link
                 $("body").css({"overflow-y": "hidden"});
             }

             /*  }else{
              
              }*/
         }).on("hide", function () {
             if (!$('#cerrarSidebar').is(":visible")) {
                 $("body").css({"overflow-y": "auto"});
             }
         });


     });


 </script>#}

    <script>


        //Chart.defaults.global.defaultFontStyle = 'Bold'
        var ctx_llegadas = document.getElementById('myChart_llegadas').getContext('2d');
        var ctx_garantia_llegadas = document.getElementById('myChart_garantia_llegadas').getContext('2d');
        var ctx_garantia_pendientes = document.getElementById('myChart_garantia_pendientes').getContext('2d');

        var myDoughnutChart =
                new Chart(ctx_llegadas,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {"labels": ["Llegada 0%", "Pendientes '0%"],
                                "datasets": []
                            },
                            options: {

                                responsive: true,
                                maintainAspectRatio: false,
                                position: 'outside',
                                segment: true,
                                cutoutPercentage: 70,
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        fontSize: 14,
                                        fontColor: '#fff',
                                        fontStyle: "bold"
                                    },
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '%p', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 14,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                },
                                tooltips: {

                                    enabled: true,
                                    bodyFontSize: 14,
                                    backgroundColor: "#fff",
                                    bodyFontColor: "#000",
                                }, layout: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        top: 0,
                                        bottom: 0
                                    }
                                }

                            }
                        });
        var myDoughnutChart_garantia_llegadas =
                new Chart(ctx_garantia_llegadas,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {"labels": ["PTA > 10 minutos 0%", "PTA > 30 minutos 0%", "PTA > 60 minutos 0%"],
                                "datasets": []
                            },
                            options: {
                                //showAllTooltips:true,
                                responsive: true,
                                maintainAspectRatio: false,
                                position: 'outside',
                                segment: true,
                                cutoutPercentage: 70,
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        fontSize: 14,
                                        fontColor: '#fff',
                                        fontStyle: "bold"
                                    },
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '%p', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 14,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                },
                                tooltips: {
                                    //mode: 'label',
                                    enabled: true,
                                    bodyFontSize: 14,
                                    //yPadding:8,
                                    // caretSize:28,
                                    backgroundColor: "#fff",
                                    bodyFontColor: "#000",
                                    // multiKeyBackground:"#fff",
                                    // position: 'average',
                                    // yAlign: 'bottom'
                                    //yAlign: 'top',
                                    // textDirection:"rtl"
                                    /*position : 'custom',   //<-- important same name as your function above
                                     callbacks: {
                                     label: function(tooltipItem, data) {
                                     var label = Math.floor(tooltipItem.yLabel*100)/100+" "+data.datasets[tooltipItem.datasetIndex].label;
                                     return label;
                                     }
                                     }*/
                                }, layout: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        top: 0,
                                        bottom: 0
                                    }
                                }

                            }
                        });

        var myDoughnutChart_garantia_pendientes =
                new Chart(ctx_garantia_pendientes,
                        {
                            dataset: {

                            },
                            "type": "doughnut",
                            "data": {"labels": ["PTA > 10 minutos 0%", "PTA > 30 minutos 0%", "PTA > 60 minutos 0%"],
                                "datasets": []
                            },
                            options: {
                                // showAllTooltips:true,
                                responsive: true,
                                maintainAspectRatio: false,
                                position: 'outside',
                                segment: true,
                                cutoutPercentage: 70,
                                legend: {
                                    display: true,
                                    position: 'right',
                                    labels: {
                                        fontSize: 14,
                                        fontColor: '#fff',
                                        fontStyle: "bold"
                                    },
                                },
                                plugins: {
                                    datalabels: {
                                        display: false
                                    },
                                    outlabels: {
                                        text: '%p', // text: '%v Viajes %p %l',
                                        color: 'white',
                                        backgroundColor: "rgba(255,255,255,0)",
                                        stretch: 14,
                                        font: {
                                            resizable: true,
                                            minSize: 12,
                                            maxSize: 18
                                        }
                                    }
                                },
                                tooltips: {
                                    //position:"nearest",
                                    enabled: true,
                                    bodyFontSize: 14,
                                    backgroundColor: "#fff",
                                    bodyFontColor: "#000",

                                }, layout: {
                                    padding: {
                                        left: 50,
                                        right: 0,
                                        top: 0,
                                        bottom: 0
                                    }
                                }

                            }
                        });
    </script>

    <script type="text/javascript">
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        console.log("Chart Cargado", myDoughnutChart);
        $(document).ready(function () {
            filtrar();
        });

        var filtros = {
            plazas_filtro: [],
            estatus_ruta: [],
            id_ruta: [],
            tramo: [],
            cliente: '',
            tipo_vehiculo: [],
            numero_eco: [],
            fecha_inicial: today,
            fecha_final: today
        };

        function filtrar() {
            return $.ajax({
                type: "POST",
                url: "{{ path_for('api.ent.filtrar') }}",
                dataType: "json",
                success: function (data) {
                    console.log("filtrando", data.labels);
                    console.log("filtrando", data.datasets);
                    var bcD = {
                        labels: data.labels,
                        datasets: [
                            {
                                "label": "My F*rst Dataset",
                                "data": data.datasets,
                                fontSize: 12,
                                backgroundColor: [
                                    "#8DE971",
                                    "#FFFFFF",
                                            //   "#F80000"
                                ],
                                borderColor: [
                                    '#8DE971',
                                    "#FFFFFF",
                                            //   "#e90000"
                                ],
                                borderWidth: 1,
                            }
                        ]
                    };
                    myDoughnutChart.config.data = bcD;
                    myDoughnutChart.update();
                    //carga garantias de llegada
                    var gaL = {
                        labels: data.labels2,
                        datasets: [
                            {
                                "label": "My F*rst Dataset",
                                "data": data.datasets2,
                                backgroundColor: [
                                    "#8DE971",
                                    "#FFF36D",
                                    "#FF7276"
                                ],
                                borderColor: [
                                    '#8DE971',
                                    "#FFF36D",
                                    "#FF7276"
                                ],
                                borderWidth: 1,
                            }
                        ]
                    };
                    myDoughnutChart_garantia_llegadas.config.data = gaL;
                    myDoughnutChart_garantia_llegadas.update();
                    //carga garantias de pendientes
                    var gaP = {
                        labels: data.labels3,
                        datasets: [
                            {
                                "label": "My F*rst Dataset",
                                "data": data.datasets3,
                                backgroundColor: [
                                    "#8DE971",
                                    "#FFF36D",
                                    "#FF7276"
                                ],
                                borderColor: [
                                    '#8DE971',
                                    "#FFF36D",
                                    "#FF7276"
                                ],
                                borderWidth: 1,
                            }
                        ]
                    };
                    myDoughnutChart_garantia_pendientes.config.data = gaP;
                    myDoughnutChart_garantia_pendientes.update();
                    buildTable(data.data);
                },
                data: filtros
            });
        }

        function buildTable(data) {
            $("#dtDetailLlegadasTr1").find('tbody').empty();

            for (var i = 0; i < data.length; i++) {
                $("#dtDetailLlegadasTr1").find('tbody').append(
                        '<tr height=20 style="height:15.0pt">' +
                        '<td height=20 style="height:15.0pt"><img class="vehicle_arriving seePosition tg-0pky" src="{{ asset_base_url }}/dist/assets/icons/transporte_rojo.svg" width="25px"></td>' +
                        '<td class="tg-0pky">' + data[i].ruta + '</td>' +
                        '<td class="tg-0pky">' + data[i].tramo + '</td>' +
                        '<td class="tg-0pky">' + data[i].porcentaje_carga + '%</td>' +
                        '<td class="tg-0pky"><span class="cuadraturaNum">' + data[i].numerador + '</span>/' + data[i].denominador + '</td>' +
                        '<td class="tg-0pky">' + data[i].excedente + '</td>' +
                        '<td class="tg-0pky"></td>' +
                        '<td class="tg-0pky">' + data[i].items_valor + '</td>' +
                        '<td class="tg-0pky">' + data[i].nueve_treinta + '</td>' +
                        '<td class="tg-0pky">' + data[i].once_treinta + '</td>' +
                        '<td class="tg-0pky">' + data[i].dia_siguiente + '</td>' +
                        '<td class="tg-0pky">' + data[i].terrestre + '</td>' +
                        '<td class="tg-0pky">' + data[i].dos_dias + '</td>' +
                        '<td class="tg-0pky">' + data[i].ltl + '</td>' +
                        '<td class="tg-0pky">' + data[i].siguiente_terrestre + '</td>' +
                        '<td class="tg-0pky"></td>' +
                        '<td class="tg-0pky">' + data[i].items_verdes + '</td>' +
                        '<td class="tg-0pky">' + data[i].items_amarillos + '</td>' +
                        '<td class="tg-0pky">' + data[i].items_rojos + '</td>' +
                        '</tr>'
                        );
            }

            $('.seePosition').on('click', function () {
                showGeopositionVehicle(objectVehicle);
            });
            
            /*mostrar detalle de la cuadratura*/
            var obj = {
                //title_detail: "",
                route_name: "Ruta AE-002",
                list_guias: [
                    {
                        guia: "123456789012",
                        plaza_destino: "MTY",
                        cliente: "Radio móvil Dipsa",
                        contenido: "Celulares",
                        plaza_escaneo: "MEX",
                        codigo_razon: "C29-CARGA REVUELTA"
                    }, {
                        guia: "987654321098",
                        plaza_destino: "AGS",
                        cliente: "Lenovo",
                        contenido: "Tablets",
                        plaza_escaneo: "SLP",
                        codigo_razon: "C52-CONTENEDOR SALE DIA SIGUIENTE"
                    }, {
                        guia: "678901234567",
                        plaza_destino: "MOR",
                        cliente: "Mercado Libre",
                        contenido: "Laptop",
                        plaza_escaneo: "GDL",
                        codigo_razon: "C21-EMPAQUE REPARADO"
                    },
                ]
            };
            $('.cuadraturaNum').on('click', function () {
                showDetalleGuias(obj);
            });

            //Pagination table
        {#$('#dtDetailLlegadasTr1').DataTable({
            "ordering": false,
            "searching": false,
            "language": {
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                },
                "emptyTable": "No hay registros que mostrar",
                "lengthMenu": "Mostrar _MENU_ registros",
                "search": "Buscar:",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
            }
        });
        $('.dataTables_length').addClass('bs-select');

        $('#containerTable').css('margin-top', '-45px')#}

            }

            $('#filtro_plaza').on('change', function () {

                var plzs = $('#filtro_plaza').select2('data');
                var plazasSeleccionadas = [];
                $.each(plzs, function (i, e) {
                    plazasSeleccionadas.push(e.text);
                });

                console.log("filtrando", "filtro_plaza", plazasSeleccionadas);
                filtros.plazas_filtro = plazasSeleccionadas;
                filtrar();
            });
            $('#estatus_ruta').on('change', function () {

                var eRuta = $('#estatus_ruta').select2('data');
                var estatusRuta = [];
                $.each(eRuta, function (i, e) {
                    estatusRuta.push(e.text);
                });

                console.log("filtrando", "estatus_ruta", estatusRuta);
                filtros.estatus_ruta = estatusRuta;
                filtrar();
            });

            $('#id_ruta').on('change', function () {

                var iRuta = $('#id_ruta').select2('data');
                var idRuta = [];
                $.each(iRuta, function (i, e) {
                    idRuta.push(e.text);
                });

                console.log("filtrando", "id_ruta", idRuta);
                filtros.id_ruta = idRuta;
                filtrar();
            });

            $('#tramo').on('change', function () {

                var filtroTramo = $('#tramo').select2('data');
                var tramo = [];
                $.each(filtroTramo, function (i, e) {
                    tramo.push(e.text);
                });

                console.log("filtrando", "tramo", tramo);
                filtros.tramo = tramo;
                filtrar();
            });

            $('#cliente').on('change', function () {
                var id = $(this).children(":selected").attr("id");
                var value = this.value;
                //Para anular el filtro en caso que no tenga valor
                if (value.length === 0) {
                    value = 0;
                }
                console.log("filtrando", "cliente", value);
                filtros.cliente = value;
                filtrar();
            });

            $('#tipo_vehiculo').on('change', function () {

                var tVehiculo = $('#tipo_vehiculo').select2('data');
                var tipoVehiculo = [];
                $.each(tVehiculo, function (i, e) {
                    tipoVehiculo.push(e.text);
                });

                console.log("filtrando", "filtro_plaza", tipoVehiculo);
                filtros.tipo_vehiculo = tipoVehiculo;
                filtrar();
            });

            $('#numero_eco').on('change', function () {

                var nEco = $('#numero_eco').select2('data');
                var numeroEco = [];
                $.each(nEco, function (i, e) {
                    numeroEco.push(e.text);
                });

                console.log("filtrando", "numero_eco", numeroEco);
                filtros.numero_eco = numeroEco;
                filtrar();
            });

            $('#fecha_inicial').on('change', function () {
                var id = $(this).children(":selected").attr("id");
                var value = this.value;
                //Para anular el filtro en caso que no tenga valor
                if (value.length === 0) {
                    value = 0;
                }
        {#            alert(value);#}
                console.log("filtrando", "fecha_inicial", value);
                filtros.fecha_inicial = value;
                filtrar();
            });

            $('#fecha_final').on('change', function () {
                var id = $(this).children(":selected").attr("id");
                var value = this.value;
                //Para anular el filtro en caso que no tenga valor
                if (value.length === 0) {
                    value = 0;
                }
        {#            alert(value);#}
                console.log("filtrando", "fecha_final", value);
                filtros.fecha_final = value;
                filtrar();
            });

            $(function () {

                $(".form_datetime").datetimepicker({
                    format: "dd/mm/yyyy HH:ii P",
                    autoclose: true,
                    todayBtn: true,
                    weekStart: 1,
                    language: "es",
                    showMeridian: true,
                    //container: ".content-date",
                    pickerPosition: "top-right",
                    fontAwesome: "far",

                }).on("show", function (e) {
                    //if($("body").hasClass("sb-sidenav-toggled")&&$('#cerrarSidebar').is(":visible") ){

                    if ($("body").prop('scrollHeight') > $("body").prop('clientHeight')) {
                        //if 'true', the content overflows the tab: we show the hidden link
                        $("body").css({"overflow-y": "hidden"});
                    }

                    /*  }else{
                     
                     }*/
                }).on("hide", function () {
                    if (!$('#cerrarSidebar').is(":visible")) {
                        $("body").css({"overflow-y": "auto"});
                    }
                });


            });



            var groupGarantias = new COLLAPSE_COLUMN();
            /*para mostrar boton gregar clase group-garantias-content al td */
            /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
            groupGarantias.setGroupNameClass("group-garantias");

    </script>
{% endblock %}