<!DOCTYPE html>
<html lang="es">

{% include 'app/head' %}

<body class="bg-dark">

<div class="container">

    {% include 'app/flash.twig' %}
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card text-white bg-dark mx-auto mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Iniciar Sesión</h3>
                </div>
                <div class="card-body">
                    <form action="{{ path_for('login') }}" method="post">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmail">Correo</label>
                                <input name="correo" type="email" id="inputEmail" class="form-control {{ errors.nombres ? ' is-invalid':'' }}" placeholder="Correo" required="required" autofocus="autofocus" value="{{ old.correo }}">
                                {% if errors.correo %}
                                    Ingrese un correo válido
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <label class="small mb-1" for="inputPassword">Contraseña</label>
                                <input name="contrasena" type="password" id="inputPassword" class="form-control {{ errors.contrasena ? ' is-invalid':'' }}" placeholder="Contraseña" required="required" value="{{ old.contrasena }}">
                                {% if errors.contrasena %}
                                    <div class="invalid-feedback">
                                        {#{{ errors.contrasena  }}#}
                                        Ingrese una contraseña válida
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="remember-me">
                                    Recordar
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        {{ csrf.field | raw }}
                    </form>
                    <div class="text-center">
                        <a class="d-block small mt-3" href="{{ path_for('signup') }}">Registro</a>
                        <a class="d-block small" href="forgot-password.html">¿Olvidó su contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% include 'app/scripts' %}

</body>

</html>
