<!DOCTYPE html>
<html lang="es">


{% include 'app/head' %}

<body class="bg-dark">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-5">

            <div class="card text-white bg-dark mx-auto mt-5">
                <div class="card-header">
                    <h3 class="text-center font-weight-light my-4">Registro</h3>
                </div>
                <div class="card-body">

                    <form action="{{ path_for('signup') }}" method="post">
                        <div class="form-group">
                            <div class="form-label-group">
                                <label for="inputEmail">Correo</label>
                                <input type="email" name="correo" id="inputEmail" class="small mb-1 form-control{{ errors.correo ? ' is-invalid':'' }}" placeholder="Correo" required="required" value="{{ old.correo }}">

                                {% if errors.correo %}
                                    <div class="invalid-feedback">
                                        {#{{ errors.correo  }}#}
                                        {% if errors.correo == '- Email registrado previamente' %}
                                            Email registrado previamente
                                        {% else %}
                                            Ingrese un correo válido
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <label class="small mb-1" for="inputPassword">Contraseña</label>
                                        <input type="password" name="contrasena" id="inputPassword{{ errors.contrasena ? ' is-invalid':'' }}" class="form-control" placeholder="Contraseña" required="required" value="{{ old.contrasena }}">
                                        {% if errors.contrasena %}
                                            <div class="invalid-feedback">
                                                {#{{ errors.contrasena  }}#}
                                                Ingrese una contraseña válida
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-label-group">
                                        <label class="small mb-1" for="confirmPassword">Confirmar contraseña</label>
                                        <input type="password" name="contrasena2" id="confirmPassword{{ errors.contrasena2 ? ' is-invalid':'' }}" class="form-control" placeholder="Confirmar contraseña" required="required" value="{{ old.contrasena2 }}">
                                        {% if errors.contrasena2 %}
                                            <div class="invalid-feedback">
                                                {#{{ errors.contrasena2  }}#}
                                                Las contraseñas no coinciden
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>

                        {{ csrf.field | raw }}
                    </form>
                    <div class="text-center">
                        <a class="d-block small mt-3" href="{{ path_for('login') }}">Ingresar</a>
                        <a class="d-block small" href="forgot-password.html">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'app/scripts' %}

</body>

</html>
