{% extends 'app/skeleton.twig' %}

{% block head %}
     <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style>
        .title-lmenu{

            font-size: 1rem !important;
            color: #ffffff !important;
            font-weight: bold;
            width: 100% !important;
        }      
        .chartWrapper {
            position: relative;

        }

        .chartWrapper > canvas {
            position: absolute;
            left: 0;
            top: 0;
            pointer-events:none;
        }
        .chartAreaWrapper {
            overflow-x: scroll;
            position: relative;
            width: 100%;
        }

        .chartAreaWrapper2 {
            position: relative;
            height: 300px;
        }
        .chartAreaWrapperTR2 {
            position: relative;
            height: 300px;
        }
        .chartAreaWrapperCP {
            position: relative;
            height: 300px;
        }


    </style>
    <style type="text/css">
        #myChart{
            /* margin: -20px !important;*/
            height: 140px !important;
            width: 45% !important;
        }

        .table-black{
            color: #fff !important;
            background-color: #000000 !important;
        }
        .custom-fontsize-table{
            font-size: small !important;

        }

        .table_llegadas_tr1>tbody>tr>td{
            vertical-align: middle;
        }
        .vehicle_arriving{
            border: 1px solid white;
            border-radius: 5px;
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }
        .vehicle_arrived{
            /*border: 1px solid white;
            border-radius: 10px;*/
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }

        /*styles for filtros */
        .select-filtros{
            /* width: 70%!important;*/

        }
        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            /* padding: 0.5rem 0 5px 0; */
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;

            padding: 0.25rem 0.5rem!important;
            font-size: 0.8rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }
        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }
        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
            /*transform: translate3d(80px, 121px, 0px)!important;*/
        }
        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #aeaca4 !important;
        }
        .select-filtros .dropdown-item {
            font-size: 0.8rem;
            color: #ffffff!important;
            background-color: black!important;

        }
        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
        /* .select-filtros>.dropdown-menu[x-out-of-boundaries]{
             transform: translate3d(0px, 30px, 0px) !important; //give valid transform
         //or use visiblity hidden;
         }*/

        /*styles for datetime*/
        .form-control {
            height: calc(1.5em + 0.75rem + 2px)!important;
            padding: 0.065rem 0.25rem!important;
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
        }
        .input-group-text {
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            padding: 0.375rem 0.30rem!important;
            color: #ffffff;
            border: none;
        }
        /*end styles for filtros */



        /*maps styles */
        #mapModalLlegadasTr1{
            width: 100%;
            height: 80vh;
        }
        .seePosition{
            cursor: pointer;
        }

        .labels {
            color: white;
            background-color: red;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            text-align: center;
            width: 30px;
            white-space: nowrap;
        }
        /*end maps styles */

        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
        /*styles for calendar datetimepicker*/
        .icon-calendar-custom{
            color: white;
            font-size: large;
            cursor: pointer;
        }
        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }

        div.select-filtros {
            padding: 0 5px 0 0!important;
        }

        /*styles for date time picker*/
        .datetimepicker{
            background-color: black!important;
            border: 1px solid white!important;
            color: white!important;
            font-size: 0.8rem!important;
        }
        .datetimepicker table tr td.active{
            background-color:  #ffea55!important;
        }
        .datetimepicker table tr td span:hover {
            background-image: linear-gradient(to bottom, #ffea55, #ccbf23)!important;
            color: black!important;
        }
        .datetimepicker table tr td.day:hover {
            background: #ffea55!important;
            cursor: pointer;
            color: black!important;
        }
        .datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
            background: #ffea55!important;
            color: black!important;
        }

        /*styles for menu d+5*/
        .custom-modal-menu .jconfirm-box{
            background-color: #b1b1b1 !important;
            color: black!important;
        }
        .button-menu-d5{
            background-color: #b1b1b1 !important;
            color: black!important;
        }

        /*custom modal border size*/
        .jconfirm .jconfirm-box{
            padding: 7px 8px 0 8px!important;
        }
        .jconfirm .jconfirm-title-c{
            padding-bottom: 7px!important;
        }
        .jconfirm .jconfirm-box div.jconfirm-content-pane {
            margin-bottom: 0!important;
            /*padding: 0 0 10px 0!important;*/
            color: rgba(0, 0, 0, 0.87)!important;
        }
        .jconfirm .jconfirm-bootstrap .jconfirm-box div.jconfirm-content {
            color: rgba(0, 0, 0, 0.87)!important;
            /* padding: 0 0 10px 0!important;*/

        }
        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }
        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus
        {
            background-color: #5d5757;
        }
        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }
        .select2 {
            width:100%!important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }



        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }


        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }

        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }


        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }

    </style>     
    <style>

        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover-dark tbody tr:hover {
            color: #9a9a9a!important;
            background-color: rgba(191, 187, 187, 0.08)!important;;
        }

        .thead-border-bottom th, .thead-border-bottom td {
            border-bottom: 1px solid #ffffff !important;
            text-align: center;
            font-weight: bold;
        }

        /*select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 5px 5px 5px 5px;
            margin: 0 0 0 8px;
            padding: 2px;
            width: 97px;
        }*/
    </style>
{% endblock %}

{% block filtros %}

    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Id Ruta </div>
                <select class="js-example-basic-single" name="arRuta[]"  multiple="multiple" id="filtro_ruta">
                    {% for entry in arRutas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Rutas</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>    
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_plaza">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin plazas</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>    
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Tipo Ruta </div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_TipoPlaza">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Tipo Ruta</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>        
                
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Origen</div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_Origen">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Origen</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div> 

    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Destino</div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_Destino">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Destino</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div> 
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Tipo Garantía</div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_Garantia">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Garantia</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div> 
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Cliente</div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_Cliente">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Cliente</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>                 

                
    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Inicial</label>
        <input size="12" type="text" class="form-control" id="datetimestart" readonly>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Final</label>
        <input size="12" type="text" class="form-control" id="datetimeend" readonly>
    </div>                

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>   
    





    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>

{% endblock %}

{% block contenido %}

        <div class="row">
            <div class="col-md-12" style="color: #ffffff; text-align:left; height: 45px;">
                <h4>Análisis por Tramos</h4>
            </div>
            <div style="position: absolute; right: 1.7%;">
                <img src="/PR/dist/assets/img/excel.png">
                <img src="/PR/dist/assets/img/pdf.png">
                <img src="/PR/dist/assets/img/printer.png">      
            </div>
        </div>
<!-- <table class="table table-sm table-hover table-striped table-dark table-bordered table-responsive" style="text-align: center;">  -->
<div class="table table-responsive text-white p-2" style="font-size: 12px;">
<!-- <table class="table table-sm table-hover table-striped table-bordered table-responsive" 
       style="text-align: center; background-color: transparent;" > -->
<table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table bg-dark" style="text-align: center;">    
     <thead class="thead-border-bottom">
        <tr>
            <th rowspan="2" class="tg-0pky">Id Ruta</th>
            <th rowspan="2" class="tg-0pky">Región</th>
            <th rowspan="2" class="tg-0pky">Regional</th>
            <th rowspan="2" class="tg-0pky">Plaza</th>
            <th class="tg-0pky"> </th>
            <th class="tg-0pky" colspan="3">Tramo</th>
            <th rowspan="4" class="tg-0pky">&nbsp;</th>
            <th colspan="7" class="tg-0pky">Días Programados</th>
            <th rowspan="4" class="tg-0pky">&nbsp;</th>
            <th colspan="4" class="tg-0pky">Cantidad Items Período</th>
            <th rowspan="3" class="tg-0pky"></th>
            <th colspan="4" class="tg-0pky">% Ocupación Período</th>
            <th rowspan="4" class="tg-0pky">&nbsp;</th>
            <th class="tg-0pky" colspan="4">Cantidad Rutas Extra</th>
        </tr>       
        <tr>
          <th class="tg-0pky">Id</th>
          <th class="tg-0pky">Origen</th>
          <th class="tg-0pky">Destino</th>
          <th class="tg-0pky">q&nbsp;</th>
            <th class="tg-0pky">L</th>
            <th class="tg-0pky">M</td>
            <th class="tg-0pky">M</th>
            <th class="tg-0pky">J</th>
            <th class="tg-0pky">V</th>
            <th class="tg-0pky">S</th>
            <th class="tg-0pky">D</th>
            <th class="tg-0pky">&nbsp;</th>
            <th class="tg-0pky">Actual</th>
            <th class="tg-0pky">Año Ant</th>
            <th class="tg-0pky">% Incremento</th>            
            <th class="tg-0pky">&nbsp;</th>
            <th class="tg-0pky">Actual</th>
            <th class="tg-0pky">Año Ant</th>
            <th class="tg-0pky">% Incremento</th>
            <th class="tg-0pky">Actual</th>
            <th class="tg-0pky">Año Ant</th>
            <th class="tg-0pky">% Incremento</th>
        </tr>
    </thead>        
        <tr>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
        </tr>
    </table>
        <div class="row">
            <div class="col-md-12" style="color: #ffffff; text-align:left; height: 45px;">
                <h4>Análisis Detallado por Viaje</h4>
            </div>
            <div style="position: absolute; right: 1.7%;">
                <img src="/PR/dist/assets/img/excel.png">
                <img src="/PR/dist/assets/img/pdf.png">
                <img src="/PR/dist/assets/img/printer.png">      
            </div>            
        </div>

<table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table bg-dark" style="text-align: center;">    
 <thead class="thead-border-bottom">
    <tr>
    <th rowspan="2" class="tg-0pky">Fecha</th>
    <th rowspan="2">Id Ruta</th>
    <th rowspan="2">Región</th>
    <th rowspan="2">Regional</th>
    <th rowspan="2">Plaza</th>
    <th rowspan="2">&nbsp;</th>
    <th colspan="3">Tramo</th>
    <th rowspan="2">&nbsp;</th>
    <th rowspan="2">Tipo de Viaje</th>
    <th rowspan="2">&nbsp;</th>
    <th colspan="7">Días Programados</th>
    <th rowspan="2">&nbsp;</th>
    <th colspan="5">Cantidad Items por Viaje</th>
    <th rowspan="2">&nbsp;</th>
    <th colspan="5">Cantidad Rutas Extra</th>
  </tr>
  <tr>
    <th>ID</th>
    <th>Origen</th>
    <th>Destino</th>
    <th>L</th>
    <th>M</th>
    <th>M</th>
    <th>J</th>
    <th>V</th>
    <th>S</th>
    <th>D</th>
    <th>Actual</th>
    <th>Viaje Ant</th>
    <th>Incremento vs Viaje Ant</th>
    <th>Viaje Año Ant</th>
    <th>Incemento vs año ant</th>
    <th>Actual</th>
    <th>Viaje Ant</th>
    <th>Incremento vs Viaje Ant</th>
    <th>Viaje Año Ant </th>
    <th>Incremento vs Año Ant</th>
  </tr>
 </thead>   
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
        <div class="row">
            <div class="col-md-12" style="color: #ffffff; text-align:left; height: 45px;">
                <h4>Análisis por Tipo de Garantía</h4>
            </div>
            <div style="position: absolute; right: 1.7%;">
                <img src="/PR/dist/assets/img/excel.png">
                <img src="/PR/dist/assets/img/pdf.png">
                <img src="/PR/dist/assets/img/printer.png">      
            </div>            
        </div>

<table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table bg-dark" style="text-align: center;">    
     <thead class="thead-border-bottom">
        <tr>
            <th rowspan="2" class="tg-0pky">Id Ruta</th>
            <th rowspan="2" class="tg-0pky">Región</th>
            <th rowspan="2" class="tg-0pky">Regional</th>
            <th rowspan="2" class="tg-0pky">Plaza</th>
            <th rowspan="2" class="tg-0pky"></th>
            <th colspan="3" class="tg-0pky"> Tramo</th>
            <th rowspan="4" class="tg-0pky">&nbsp;</th>
            <th colspan="7" class="tg-0pky">Días Programados</th>
            <th rowspan="4" class="tg-0pky">&nbsp;</th>
            <th rowspan="4" class="tg-0pky">Tipo de Garantía</th>
            <th rowspan="4" class="tg-0pky">&nbsp;</th>
            <th colspan="3" class="tg-0pky">Cantidad Items Período</th>
            <th rowspan="3" class="tg-0pky"></th>
            <th colspan="3" class="tg-0pky">% Ocupación Período</th>
            <th rowspan="4" class="tg-0pky">&nbsp;</th>
            <th class="tg-0pky" colspan="3">Cantidad Rutas Extra</th>
        </tr>       
        <tr>
          <th class="tg-0pky">Id</th>
          <th class="tg-0pky">Origen</th>
          <th class="tg-0pky">Destino</th>
          <th class="tg-0pky">L</th>
            <th class="tg-0pky">M</td>
            <th class="tg-0pky">M</th>
            <th class="tg-0pky">J</th>
            <th class="tg-0pky">V</th>
            <th class="tg-0pky">S</th>
            <th class="tg-0pky">D</th>
            <th class="tg-0pky">Actual</th>
            <th class="tg-0pky">Año Ant</th>
            <th class="tg-0pky">% Incremento</th>            
            <th class="tg-0pky">Actual</th>
            <th class="tg-0pky">Año Ant</th>
            <th class="tg-0pky">% Incremento</th>
            <th class="tg-0pky">Actual</th>
            <th class="tg-0pky">Año Ant</th>
            <th class="tg-0pky">% Incremento</th>
        </tr>
    </thead>        
        <tr>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
          <td class="tg-0pky">&nbsp;</td>
        </tr>
    </table>


</div>


{% endblock %}

{% block scripts %}
    <script src="{{ asset_base_url }}/dist/js/libs/table2excel/jquery.table2excel.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2({
                width: '100%',
                allowClear: false
            });
            /* $(document).ready(function() {
             $('.js-example-basic-single').select2({
             width: '100%',
             allowClear: false
             });

             });*/
        });
    </script>   
    <!--AIzaSyC32vpDAaozqg71wzy2CHgVAVlvxQtLsIE-->
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSPepYUd4O0H6j3p17XZ2TqWLjEq9lrXA&callback=initMap">
    </script>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: 19.4978, lng: -99.1269 };
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 4, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>

    <script>  //pop up

        $('.example1').on('click', function(){
            $.alert({
                closeIcon: true,
                /*theme: 'supervan',*/
                /*theme: 'light',*/
                /*theme: 'dark',*/
                 theme: 'bootstrap',

                buttons:false,
                /*theme: 'dark',*/
                columnClass: 'col-md-8',
                boxWidth:'100%',
                title: 'Detalle de Frecuencia Programada',
                content: '' +
                '<div class="table-responsive">' +
                '<table class="bg-dark table table-sm table-hover-dark text-light table-hover border-0 table-active" style="text-align: center;">' +
                '<thead>' +
                '<tr>' +
                '<td>Estatus</td>' +
                '<td>Total Items</td>' +
                '<td>Lunes 2</td>' +
            '<td>Martes 3</td>' +
            '<td>Mi&eacute;rcoles 4</td>' +
            '<td>Jueves 5</td>' +
            '<td>Viernes 6</td>' +
            '</tr>' +
            '<tr>' +
            '<td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_verde.svg" /> </span></td>' +
                '<td>250</td>' +
                '<td>100</td>' +
                '<td>100</td>' +
                '<td>30</td>' +
                '<td>20</td>' +
                '<td>0</td>' +
                '</tr>' +
                '</thead>' +
                '<tbody class="no-border-tbody">' +
                '<tr>' +
                '<td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_amarillo.svg" /> </span></td>' +
                '<td>30</td>' +
                '<td>10</td>' +
                '<td>5</td>' +
                '<td>5</td>' +
                '<td>5</td>' +
                '<td>5</td>' +
                '</tr>' +
                '<tr>' +
                '<td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_rojo.svg" /> </span></td>' +
                '<td>20</td>' +
                '<td>0</td>' +
                '<td>0</td>' +
                '<td>10</td>' +
                '<td>5</td>' +
                '<td>5</td>' +
                '</tr>' +
                '<tr>' +
                '<td><span style="color: #ffff00;">TOTAL&nbsp;</span></td>' +
            '<td><span style="color: #ffff00;">300</span></td>' +
                '<td><span style="color: #ffff00;">110</span></td>' +
                '<td><span style="color: #ffff00;">105</span></td>' +
                '<td><span style="color: #ffff00;">45</span></td>' +
                '<td><span style="color: #ffff00;">30</span></td>' +
                '<td><span style="color: #ffff00;">10</span></td>' +
                '</tr>' +
                '</tbody>' +
                '</table>' +
                '</div>'
            });

        });

    </script> <!--pop up-->


    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n,10) < 10 ? '0' : '')+n;
        }
        function updateTime(){
            var timeNow= new Date(),
                hh = timeNow.getHours(),
                mm = timeNow.getMinutes(),
                ss = timeNow.getSeconds(),
                formatAMPM = (hh >= 12?'PM':'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) +  " " + formatAMPM ;
            currentTime_date.innerHTML =    monthNames[timeNow.getMonth()]+" "+timeNow.getUTCDate()+", "+timeNow.getFullYear();
            setTimeout(updateTime,1000);
        }
        updateTime();
    </script>

    <script>
      var dataSource = {
            Transito1: "{{ path_for('api.data.RutasTransito1') }}",
            Transito2: "{{ path_for('api.data.RutasTransito2') }}",
            /*params: post()*/
        };
        
        var ctx = document.getElementById('ANALISIS').getContext('2d');

        var myDoughnutChart =
            new Chart(ctx,
                {
                    dataset:{

                    },
                    "type":"doughnut",
                    "data":{"labels":["A tiempo 120","Retrasado 105","Tarde 75"],
                        "datasets": [
                            {
                                "label":"My F*rst Dataset",
                                "data":[
                                    120,
                                    105,
                                    75
                                ],
                                        backgroundColor: [
                                            "#8DE971",
                                            "#FFF36D",
                                            "#FF7276"
                                        ],
                                        borderColor: [
                                            "#8DE971",
                                            "#FFF36D",
                                            "#FF7276"
                                        ],
                                borderWidth:0,
                            }
                        ]
                    },
                    options:{
                        responsive: true,
                        position: 'outside',
                        segment: true,
                        cutoutPercentage: 70,
                        legend: {
                            display: true,
                            position:'right',
                                    labels: {
                                        fontSize: 14,
                                        fontColor: '#fff'
                                    },                            
                        },
                                tooltips: {
                                    enabled: true,
                                    bodyFontSize: 14,
                                    backgroundColor: "#fff",
                                    bodyFontColor: "#000",
                                    callbacks: {
                                        label: function(tooltipItem, data) {
                                            let datasets = data.datasets;
                                            let label = data.labels[tooltipItem.index];
                                            let value = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];
                                            let sum = datasets[0].data.reduce((a, b) => a + b, 0);
                                            let percentage = Math.round((value / sum) * 100);
                                            return value + ' viajes ' + percentage + '%';
                                        }
                                    }
                                },
                                plugins: {
                                    datalabels: {
                                    {# formatter: (value, ctx) => {
                                        let datasets = ctx.chart.data.datasets;
                                        if (datasets.indexOf(ctx.dataset) === datasets.length - 1) {
                                        let sum = datasets[0].data.reduce((a, b) => a + b, 0);
                                        let percentage = Math.round((value / sum) * 100) + '%';
                                        return percentage;
                                        } else {
                                        return percentage;
                                        }
                                    }, #}
                                    color: 'transparent',
                                    }
                                },                                
                        title: {
                            display: true,
                            text: 'Análisis PTA vs ETA (Rutas en Tránsito)',
                            fontColor: "#FFFFFF",
                            fontSize:16,
                            weight: 100,
                            fontStyle: 'normal',
                        }
                    }
                });
    </script><!--PACIFICO NORTE-->

 <script type="text/javascript">
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = today.getFullYear();

        today = dd + '/' + mm + '/' + yyyy;
        if ($('#switch1').is(':checked')){
            //$('#fechaInicio').val(today);
            $('#fechaInicio').val(today);
        }

        $('#switch1').change(function() {
            if(this.checked) {

                $('#fechaInicio').val(today);
            }else{
                $('#fechaInicio').val('');
            }
        });

        $(function () {

            $(".form_datetime").datetimepicker({
                /*format: "dd/mm/yyyy HH:ii P",*/
                format: "dd/mm/yyyy",
                /*format: 'LT'*/


                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,



                autoclose: true,
                todayBtn: true,
                weekStart:1,
                language:"es",
                showMeridian:true,
                //container: ".content-date",
                pickerPosition: "bottom-right",
                fontAwesome:"far",


            }).on("show",function (e) {
                //if($("body").hasClass("sb-sidenav-toggled")&&$('#cerrarSidebar').is(":visible") ){

                if ($("body").prop('scrollHeight') > $("body").prop('clientHeight')){
                    //if 'true', the content overflows the tab: we show the hidden link
                    $("body").css({"overflow-y":"hidden"});
                }

                /*  }else{

                 }*/
            }).on("hide",function () {
                if(!$('#cerrarSidebar').is(":visible") ) {
                    $("body").css({"overflow-y": "auto"});
                }
            });


        });


    </script>

{% endblock %}