{% extends 'app/skeleton.twig' %}

{% block filtros %}
    {#<div class="sb-sidenav-menu-heading row" style="width: 100%">
        <div class="col-5 col-sm-5 col-md-5 ">Plaza</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
        <div class="col-5 col-sm-5 col-md-5 ">Estatus Ruta</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
    </div>#}
    <div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize"> Plaza </div>
        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option>Seleccione</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>

        </select>
    </div>
    <div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-0 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize">Destino</div>
        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option>Seleccione</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading  select-filtros-text pb-2 pt-0 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize">Operación</div>

    </div>
    <div class="sb-sidenav-menu-heading text-white pb-2 pt-0 pl-4 pr-0" >
        <div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="operacion" id="carga" value="option1" checked>
                <label class="form-check-label text-capitalize" for="carga">
                    Carga
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="operacion" id="descarga" value="option2">
                <label class="form-check-label text-capitalize" for="descarga">
                    Descarga
                </label>
            </div>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading  select-filtros-text pb-2 pt-0 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize">Estatus</div>
    </div>

    <div class="sb-sidenav-menu-heading text-white pb-2 pt-0 pl-4 pr-0" >
        <div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="estatus" id="transito" value="option1" checked>
                <label class="form-check-label text-capitalize" for="transito">
                    Transito
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="estatus" id="pendiente" value="option2">
                <label class="form-check-label text-capitalize" for="pendiente">
                    Pendiente
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="estatus" id="procesado" value="option3">
                <label class="form-check-label text-capitalize" for="procesado">
                    Procesado
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="estatus" id="todos" value="option3">
                <label class="form-check-label text-capitalize" for="todos">
                    Todos
                </label>
            </div>
        </div>
    </div>

    {#<div class="sb-sidenav-menu-heading text-left pb-2 pt-0 mt-3">
        <label class="mb-0 text-white" for="dateofbirth">Fecha-hora inicial</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>
    <div class="sb-sidenav-menu-heading text-left pb-2 pt-0 mt-3">
        <label class="mb-0 text-white" for="dateofbirth">Fecha-hora final</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3 pb-0">
        <label class="mb-0 text-white">Fecha-hora inicial</label>
    </div>
    <div class=" text-center pt-1 mt-0" style="display: flex; padding: 1.75rem 1rem 0.75rem;">
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            <input placeholder="dd/mm/aaaa" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
            </div>
        </div>
        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
            <input placeholder="--:-- am/pm" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="far fa-clock"></i></div>
            </div>
        </div>
    </div>#}
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora inicial</label>
    </div>
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora final</label>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>


{% endblock %}


{% block head %}
    <style type="text/css">

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date{
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        .table-black{
            color: #fff !important;
            background-color: #000000 !important;
        }


        .color_border_botom_white {
            border-bottom:.5pt solid white !important;
        }
        .color_border_top_white {
            border-top:.5pt solid white !important;
        }

        .title_chart{
            color: #e0dd57;
            font-weight: bold;
            width: 100% !important;
        }

        .title_table{
            color: #e0dd57;
            font-weight: bold;
            width: 100% !important;
            font-size: large;
        }

        .text-total-color{
            color: #f0e411;
        }

        .custom-fontsize-table{
            font-size: small !important;

        }

        .table_llegadas_tr1>tbody>tr>td{
            vertical-align: middle;
        }



        .vehicle_arriving{
            border: 1px solid white;
            border-radius: 5px;
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }
        .vehicle_arrived{
            /*border: 1px solid white;
            border-radius: 10px;*/
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }

        /*styles for filtros */
        .select-filtros{
            /* width: 70%!important;*/

        }

        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            /* padding: 0.5rem 0 5px 0; */
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;

            padding: 0.25rem 0.5rem!important;
            font-size: 0.875rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }
        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }
        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
            transform: translate3d(80px, 121px, 0px)!important;
        }
        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #ffea55!important;
        }
        .select-filtros .dropdown-item {
            color: #ffffff!important;
            background-color: black!important;

        }
        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
        /* .select-filtros>.dropdown-menu[x-out-of-boundaries]{
             transform: translate3d(0px, 30px, 0px) !important; //give valid transform
         //or use visiblity hidden;
         }*/


        /*styles for datetime*/
        .form-control {
            height: calc(1.5em + 0.75rem + 2px)!important;
            padding: 0.065rem 0.25rem!important;
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
        }
        .input-group-text {
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            padding: 0.375rem 0.30rem!important;
            color: #ffffff;
            border: none;
        }
        /*end styles for filtros */


        .table-content{
            height: 40vh;
        }

        /*maps styles */
        #mapCargaDescarga{
            width: 100%;
            height: 40vh;
        }
        .seePosition{
            cursor: pointer;
        }

        .text-underline{
            text-decoration: underline!important;
        }

        .cursor-pointer{
            cursor: pointer!important;
        }


        /*end maps styles */


        /*badges pendiente*/

        .badge-danger-pendiente {
            color: #fff;
            font-size: small;
            background-color: #dc0008;
        }

        /*end badges pendiente*/


        /*footer nav side*/
        /*desabilitar para esta pagina*/
        .sb-sidenav-footer{
            display: none!important;
        }
        /*end footer nav side*/


        .table-gray{
            background-color: #212121!important;
        }

    </style>
{% endblock %}
{% block contenido %}


    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <div class="title_table">Detalle por Estatus y Tipo de Carga</div>
            <section class="table-responsive table-content" >
                <table id="table-collapse" class="table table-borderless custom-fontsize-table text-center table-sm table-hover table-light table-dark table-black table_llegadas_tr1" border=0 cellpadding=0 cellspacing=0 width=1537 >

                    <thead>
                    <tr class="color_border_botom_white">
                        <th rowspan="2" class="text-left w-25"  style="vertical-align: middle">Ruta</th>
                        <th rowspan="2" class="w-25" style="vertical-align: middle">Vehículo / Destino</th>
                        <th rowspan="2" style="vertical-align: middle">% Ocupación</th>
                        <th rowspan="2" style="vertical-align: middle">Estatus</th>
                        <th rowspan="2" class="w-50" style="vertical-align: middle">Fecha/Hora</th>
                        <th colspan="4">Tipos de Carga</th>
                    </tr>
                    <tr class="color_border_botom_white">
                        <th>Sobres</th>
                        <th>Garantía</th>
                        <th>Terrestre</th>
                        <th>TOTAL</th>
                    </tr>
                    </thead>
                    <tbody >

                    </tbody>
                </table>

            </section>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="title_table">Posición Actual de RADC0152</div>
            <div id="mapCargaDescarga"></div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="title_table">Detalle de Carga</div>
            <section class="table-responsive" >
                <table id="detalle_carga" class="table table-borderless custom-fontsize-table text-center table-striped table-sm table-hover table-light table-dark table-black table_llegadas_tr1" border=0 cellpadding=0 cellspacing=0 width=1537 >

                    <thead>
                    <tr class="header-divider-table text-uppercase">

                        <th>#</th>
                        <th>Guía</th>
                        <th>Garantía</th>
                        <th>Cliente</th>
                        <th>Razón social</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Tipo de item</th>
                        <th>Operación</th>
                        <th>Ut/bolsa</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody class="table-gray">

                    </tbody>
                </table>

            </section>
        </div>
    </div>







{% endblock %}


{% block scripts %}




    {#script for this template #}

    <script src="{{ asset_base_url }}/dist/js/analisis_carga_descarga_rutastr1.js"></script>



    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n,10) < 10 ? '0' : '')+n;
        }
        function updateTime(){
            var timeNow= new Date(),
                hh = timeNow.getHours(),
                mm = timeNow.getMinutes(),
                ss = timeNow.getSeconds(),
                formatAMPM = (hh >= 12?'PM':'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) +  " " + formatAMPM ;
            currentTime_date.innerHTML =    monthNames[timeNow.getMonth()]+" "+timeNow.getUTCDate()+", "+timeNow.getFullYear();
            setTimeout(updateTime,1000);
        }
        updateTime();
    </script>


    <script type="text/javascript">
        $(function () {
            /*  $('#datetimepicker1').datetimepicker({
             locale: 'es-us',
             /!*format: 'L',*!/
             format:'DD/MM/YYYY',
             icons: {
             time: "far fa-clock",
             date: "far fa-calendar-alt",
             up: "fa fa-arrow-up",
             down: "fa fa-arrow-down"
             }
             });
             $('#datetimepicker2').datetimepicker({
             locale: 'es-us',
             format:'DD/MM/YYYY hh:mm A',
             inline: false,
             sideBySide: false,
             icons: {
             time: "far fa-clock",
             date: "far fa-calendar-alt",
             up: "fa fa-arrow-up",
             down: "fa fa-arrow-down"
             }
             });
             $('#datetimepicker3').datetimepicker({
             locale: 'es-us',
             format:'hh:mm A',
             /!*format: 'LT',*!/
             // position: 'relative',
             // widgetParent: "#layoutSidenav",
             icons: {
             time: "far fa-clock",
             date: "far fa-calendar-alt",
             up: "fa fa-arrow-up",
             down: "fa fa-arrow-down"
             }
             });
             $('#datetimepicker4').datetimepicker({
             locale: 'es-us',
             format:'DD/MM/YYYY hh:mm A',
             inline: false,
             sideBySide: true,
             widgetParent: "#layoutSidenav",
             // position: 'relative',
             icons: {
             time: "far fa-clock",
             date: "far fa-calendar-alt",
             up: "fa fa-arrow-up",
             down: "fa fa-arrow-down"
             }
             });
             $('#datetimepicker5').datetimepicker({
             locale: 'es-us',
             format:'DD/MM/YYYY hh:mm A',
             inline: false,
             sideBySide: true,
             widgetParent: ".content-date",
             position: 'relative',
             icons: {
             time: "far fa-clock",
             date: "far fa-calendar-alt",
             up: "fa fa-arrow-up",
             down: "fa fa-arrow-down"
             }
             });
             $('#datetimepicker5').on("show.datetimepicker",function (e) {
             alert("hola");
             });*/

            $(".form_datetime").datetimepicker({
                format: "dd/mm/yyyy HH:ii P",
                autoclose: true,
                todayBtn: true,
                weekStart:1,
                language:"es",
                showMeridian:true,
                //container: ".content-date",
                pickerPosition: "top-right",
                fontAwesome:"far",


            }).on("show",function (e) {
                if ($("body").prop('scrollHeight') > $("body").prop('clientHeight')){
                    //if 'true', the content overflows the tab: we show the hidden link
                    $("body").css({"overflow-y":"hidden"});
                }
            }).on("hide",function () {
                if(!$('#cerrarSidebar').is(":visible") ) {
                    $("body").css({"overflow-y": "auto"});
                }
            });


        });


    </script>

{% endblock %}