{% extends 'app/skeleton.twig' %}

{% block head %}
    <style>
        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover-dark tbody tr:hover {
            color: #9a9a9a!important;
            background-color: rgba(191, 187, 187, 0.08)!important;;
        }

        .thead-border-bottom th, .thead-border-bottom td, .tbody-border-bottom td {
            border-bottom: 1px solid #c1c1c1 !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date {
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 5px 5px 5px 5px;
            margin: 0 0 0 8px;
            padding: 2px;
            width: 97px;
        }


        /*styles for colapsed column grantias*/
        .hideGroupGarantiaTotal{
            display: none;
        }

        .group-garantias, .group-garantias-terrestres{
            overflow:hidden;
            transition:max-height 0.3s ease-out;
            background-color: rgba(55, 55, 55, 0.3);
        }

        /*.group-*-btn*/.button_open{
                            content:url('{{ asset_base_url }}/dist/assets/icons/button-open.png');
                            cursor:pointer;
                        }

        /*.group-garantias-btn*/.button_closed{
                                    content: url('{{ asset_base_url }}/dist/assets/icons/button-closed.png');
                                    cursor:pointer;
                                }

        /*styles for colapsed column grantias*/


        .custom-fontsize-table{
            font-size: small !important;

        }
        .custom-table-sm th, .custom-table-sm td {
            padding: 0.1rem;
        }

        .text-total-color{
            color: yellow;
        }
    </style>
{% endblock %}

{% block filtros %}
    <div class="sb-sidenav-menu-heading text-center" >
        <div class="float-left text-white text-capitalize"> Plaza </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <label class="mb-0" for="dateofbirth">Fecha-hora inicial</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <label class="mb-0" for="dateofbirth">Fecha-hora final</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>


{% endblock %}
{% block contenido %}

    <div class="row mb-3">
        {#<div class="col-md-3">
            <canvas id="myAreaChart"></canvas>
        </div>#}
        <div class="col-md-3">
            <p  class="text-center title_chart">Tendencia de Volúmen de Carga</p>
            <div style="background-color: #8080802e;">
                <canvas height="200vh" id="chartjs-0"></canvas>
            </div>
        </div>
        <div class="col-md-3">
            <p  class="text-center title_chart">Tendencia de Paquetes</p>
            <div style="background-color: #8080802e;">
                <canvas height="200vh" id="chartjs-1"></canvas>
            </div>
        </div>
        <div class="col-md-3">
            <p  class="text-center title_chart">Tendencia de Sobres</p>
            <div style="background-color: #8080802e;">
                <canvas height="200vh" id="chartjs-2"></canvas>
            </div>
        </div>
        <div class="col-md-3">
            <p  class="text-center title_chart">Tendencia de Irregulares</p>
            <div style="background-color: #8080802e;">
                <canvas height="200vh" id="chartjs-3"></canvas>
            </div>
        </div>
    </div>

    <section class="table-responsive">
        <table class="mb-0 bg-dark table table-sm table-hover-dark text-light table-hover table-striped no-border-top table-striped table-dark custom-fontsize-table custom-table-sm" style="text-align: center;">
            <thead class="thead-border-bottom">
            <tr>
                <td>Operaci&oacute;n</td>
                <td>Irregulares</td>
                <td>Paquetes</td>
                <td>Sobres</td>
                <td>Total Operados</td>
                <td>Total Mensual</td>
                <td>Total de Rutas</td>
                <td>Eventos de Demora</td>
                <td>% Demora</td>
                <td>Demora M&aacute;xima (min)</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>23/07/2019</td>
                <td>735</td>
                <td>15,942</td>
                <td>1,698</td>
                <td>18,375</td>
                <td>359,240</td>
                <td>24</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>24/07/2019</td>
                <td>860</td>
                <td>16,092</td>
                <td>1,694</td>
                <td>18,646</td>
                <td>377,886</td>
                <td>24</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>25/07/2019</td>
                <td>907</td>
                <td>16,685</td>
                <td>1,502</td>
                <td>19,094</td>
                <td>396,980</td>
                <td>24</td>
                <td>1</td>
                <td>4%</td>
                <td>20</td>
            </tr>
            <tr>
                <td>26/07/2019</td>
                <td>688</td>
                <td>17,443</td>
                <td>1,401</td>
                <td>19,532</td>
                <td>436,512</td>
                <td>23</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>27/07/2019</td>
                <td>782</td>
                <td>19,120</td>
                <td>1,294</td>
                <td>21,196</td>
                <td>437,708</td>
                <td>22</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>29/07/2019</td>
                <td>546</td>
                <td>10,907</td>
                <td>1,320</td>
                <td>12,773</td>
                <td>450,481</td>
                <td>24</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>30/07/2019</td>
                <td>762</td>
                <td>14,763</td>
                <td>&nbsp;1,553</td>
                <td>17,078&nbsp;</td>
                <td>467,559</td>
                <td>24</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>31/07/2019</td>
                <td>702</td>
                <td>16,329</td>
                <td>1,746</td>
                <td>18,777</td>
                <td>468,336</td>
                <td>24</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>01/08/2019</td>
                <td>1,064</td>
                <td>1,064</td>
                <td>16,094</td>
                <td>1,730</td>
                <td>18,888</td>
                <td>24</td>
                <td>1</td>
                <td>4%</td>
                <td>28</td>
            </tr>
            <tr>
                <td>02/08/2019</td>
                <td>846</td>
                <td>16,11</td>
                <td>1,622</td>
                <td>18,479</td>
                <td>37,367</td>
                <td>22</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>03/08/2019</td>
                <td>831</td>
                <td>21,964</td>
                <td>1,684</td>
                <td>24,479</td>
                <td>61,846</td>
                <td>24</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>05/08/2019</td>
                <td>437</td>
                <td>11,176</td>
                <td>1,741</td>
                <td>13,354</td>
                <td>75,200</td>
                <td>24</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>06/08/2019</td>
                <td>893</td>
                <td>15,231</td>
                <td>1,917</td>
                <td>18,041</td>
                <td>93,241</td>
                <td>24</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            <tr>
                <td>07/08/2019</td>
                <td>998</td>
                <td>15,205</td>
                <td>1,749</td>
                <td>17,952</td>
                <td>111,103</td>
                <td>24</td>
                <td>0</td>
                <td>0%</td>
                <td>0</td>
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}

{% block scripts %}

    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n,10) < 10 ? '0' : '')+n;
        }
        function updateTime(){
            var timeNow= new Date(),
                hh = timeNow.getHours(),
                mm = timeNow.getMinutes(),
                ss = timeNow.getSeconds(),
                formatAMPM = (hh >= 12?'PM':'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) +  " " + formatAMPM ;
            currentTime_date.innerHTML =    monthNames[timeNow.getMonth()]+" "+timeNow.getUTCDate()+", "+timeNow.getFullYear();
            setTimeout(updateTime,1000);
        }
        updateTime();
    </script>

    <script>

        $(document).ready(function() {

            for (var i = 0; i <= 3; i++) {
                new Chart(document.getElementById("chartjs-"+i),
                    {
                        "type":"line",
                        "data":{"labels":["24/07/2019","25/07/2019","26/07/2019","27/07/2019","29/07/2019","30/07/2019","31/07/2019","01/08/2019","02/08/2019","03/08/2019","05/08/2019","06/08/2019"],
                            "datasets":[
                                {
                                    "label":"My First Dataset",
                                    "data":[88,75,88,97,82,75,60,57,100,98,100],
                                    "fill":false,

                                    "borderColor":"rgb(1,123,255)",
                                    "lineTension":0.3
                                }
                            ]
                        },
                        "options":{scales: {
                            xAxes: [{
                                /*time: {
                                 unit: 'date'
                                 },*/
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    /*maxTicksLimit: 12,*/
                                    fontColor:'#f4f4f4'
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Fecha'
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    min: 0,
                                    max: 120,
                                    steps:20,
                                    maxTicksLimit: 20,
                                    fontColor:'#f4f4f4'
                                },
                                gridLines: {
                                    color: "rgb(126,130,134,0.20)",
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Unidades'
                                },
                            }],
                        },
                            legend: {
                                display: false
                            }
                        }
                    }
                );
            }



// Area Chart Example
            /*var ctx = document.getElementById("myAreaChart");
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5", "Mar 6", "Mar 7", "Mar 8", "Mar 9", "Mar 10", "Mar 11", "Mar 12", "Mar 13"],
                    datasets: [{
                        label: "Sessions",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 50,
                        pointBorderWidth: 2,
                        data: [10000, 30162, 26263, 18394, 18287, 28682, 31274, 33259, 25849, 24159, 32651, 31984, 38451],
                    }],
                },
                options: {

                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: 7,
                                fontColor:'#ffffff'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 40000,
                                maxTicksLimit: 5,
                                fontColor:'#fefffd'
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                    },
                    legend: {
                        display: false
                    }
                }
            });*/
        });
    </script>


{% endblock %}