{% extends 'app/skeleton.twig' %}

{% block head %}
    <!-- Bloque donde se deberá escribir los estilos -->
    <!-- Ejemplo -->
    <style>
        h1 { color: #e90000; }
    </style>
{% endblock %}

{% block filtros %}
    <!-- Bloque donde se deberá añadir los filtros -->
    <!-- Ejemplo -->
    <div class="sb-sidenav-menu-heading text-center" >
        <div class="float-left text-white text-capitalize"> Plaza </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Estatus Ruta </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> ID Ruta </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>
{% endblock %}

{% block contenido %}
    <!-- Bloque donde se deberá añadir el contenido -->
    <!-- Ejemplo -->
    <h1>Hola Mundo</h1>
{% endblock %}

{% block scripts %}
    <!-- Bloque donde se deberá añadir los scripts -->
    <!-- Ejemplo -->
    <script>
        alert("Hola mundo!");
    </script>
{% endblock %}