{% extends 'app/skeleton.twig' %}

{% block filtros %}
    {#<div class="sb-sidenav-menu-heading row" style="width: 100%">
        <div class="col-5 col-sm-5 col-md-5 ">Plaza</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
        <div class="col-5 col-sm-5 col-md-5 ">Estatus Ruta</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
    </div>#}
    <div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-1 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize"> Plaza </div>
        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option>Seleccione</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
        </select>
    </div>

    {#<div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <select class="selectpicker form-control">
                    <option>Mustard</option>
                    <option>Ketchup</option>
                    <option>Relish</option>
                </select>
            </div>
        </div>
    </div>#}
    <div class="sb-sidenav-menu-heading select-filtros-text pb-2 pt-0 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize"> Estatus Ruta </div>
        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option>Seleccione</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
        </select>
        {#<div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>#}
    </div>
    <div class="sb-sidenav-menu-heading  select-filtros-text pb-2 pt-0 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize"> ID Ruta </div>
        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option>Seleccione</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading  select-filtros-text pb-2 pt-0 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize"> Tramo </div>
        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option>Seleccione</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading  select-filtros-text pb-2 pt-0 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize">Cliente </div>
        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option>Seleccione</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading  select-filtros-text pb-2 pt-0 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize">Tipo Vehículo</div>
        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option>Seleccione</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading  select-filtros-text pb-0 pt-0 pl-1 pr-0" >
        <div class="float-left text-white text-capitalize" data-toggle="tooltip" data-placement="top" title="Número eco.">Núm. Eco.</div>
        <select class="select-filtros float-right  selectpicker btn-sm" name=" " data-container="#layoutSidenav_nav" data-width="65%">
            <option>Seleccione</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
            <option>Option 3</option>
        </select>
    </div>

    {#<div class="sb-sidenav-menu-heading text-center pb-2 pt-0 mt-3">
        <label class="mb-0 text-white" for="dateofbirth">Fecha-hora inicial</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>
    <div class="sb-sidenav-menu-heading text-left pb-2 pt-0 mt-3">
        <label class="mb-0 text-white" for="dateofbirth">Fecha-hora final</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>#}
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora inicial</label>
    </div>
    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-3 pb-0">
        <label class="mb-0 text-white text-capitalize">Fecha-hora final</label>
    </div>


    <div class="sb-sidenav-menu-heading text-left pt-0 mt-1 pb-0">
        <div class="input-append date form_datetime">
            <input class="input-calendar-custom" size="16" placeholder="dd/mm/yyyy hh:mm " type="text" value="" >
            <span class="add-on"><i  class="icon-th far fa-calendar-alt icon-calendar-custom"></i></span>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-left pb-1 pt-0 mt-3">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-0 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>



    {#<div class="sb-sidenav-menu-heading  select-filtros-text pt-1 pl-1 pr-0" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>#}
{% endblock %}


{% block head %}
    <style type="text/css">

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date{
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        #myChart{
            /* margin: -20px !important;*/
            height: 140px !important;
            width: 45% !important;
        }

        .table-black{
            color: #fff !important;
            background-color: #000000 !important;
        }


        .color_border_botom_white {
            border-bottom:.5pt solid white !important;
        }
        .color_border_top_white {
            border-top:.5pt solid white !important;
        }

        .title_chart{
            color: #e0dd57;
            font-weight: bold;
            width: 100% !important;
        }

        .text-total-color{
            color: #f0e411;
        }

        .custom-fontsize-table{
            font-size: small !important;

        }

        .table_llegadas_tr1>tbody>tr>td{
            vertical-align: middle;
        }



        .vehicle_arriving{
            border: 1px solid white;
            border-radius: 5px;
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }
        .vehicle_arrived{
            /*border: 1px solid white;
            border-radius: 10px;*/
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }

        /*styles for filtros */
        .select-filtros{
            /* width: 70%!important;*/

        }

        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            /* padding: 0.5rem 0 5px 0; */
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;

            padding: 0.25rem 0.5rem!important;
            font-size: 0.875rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }
        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }
        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
            transform: translate3d(80px, 121px, 0px)!important;
        }
        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #ffea55!important;
        }
        .select-filtros .dropdown-item {
            color: #ffffff!important;
            background-color: black!important;

        }
        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
        /* .select-filtros>.dropdown-menu[x-out-of-boundaries]{
             transform: translate3d(0px, 30px, 0px) !important; //give valid transform
         //or use visiblity hidden;
         }*/

        /*styles for datetime*/
        .form-control {
            height: calc(1.5em + 0.75rem + 2px)!important;
            padding: 0.065rem 0.25rem!important;
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
        }
        .input-group-text {
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            padding: 0.375rem 0.30rem!important;
            color: #ffffff;
            border: none;
        }
        /*end styles for filtros */



        /*maps styles */
        #mapModalLlegadasTr1{
            width: 100%;
            height: 80vh;
        }
        .seePosition{
            cursor: pointer;
        }

        .labels {
            color: white;
            background-color: red;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            text-align: center;
            width: 30px;
            white-space: nowrap;
        }
        /*end maps styles */



        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
        /*styles for control burrons*/

    </style>
{% endblock %}
{% block contenido %}


    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="title_chart text-center">Avance de llegadas</div>
            <div id="canvas-holder text-center" style="width: 100%; align-content: center">
                <canvas id="myChart_llegadas"  ></canvas>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="title_chart text-center">Garantías de Llegadas</div>
            <div id="canvas-holder text-center" style="width: 100%; align-content: center">
                <canvas id="myChart_garantia_llegadas"></canvas>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="title_chart text-center">Garantías de Pendientes</div>
            <div id="canvas-holder text-center" style="width: 100%; align-content: center">
                <canvas id="myChart_garantia_pendientes"></canvas>
            </div>
        </div>
    </div>




    <section class="table-responsive">
        <table class="table table-borderless custom-fontsize-table  table-sm table-hover table-light table-dark table-black table_llegadas_tr1" border=0 cellpadding=0 cellspacing=0 width=1537 style="text-align: center;" {#style='border-collapse:collapse;table-layout:fixed;width:1152pt'#}>
            {# <col width=80 style='width:60pt'>
             <col width=87 style='mso-width-source:userset;mso-width-alt:3181;width:65pt'>
             <col width=95 style='mso-width-source:userset;mso-width-alt:3474;width:71pt'>
             <col width=80 span=11 style='width:60pt'>
             <col width=155 style='mso-width-source:userset;mso-width-alt:5668;width:116pt'>
             <col width=80 span=3 style='width:60pt'>#}

            {#<colgroup>
                <col>
                <col style="width: auto">
                <col>
            </colgroup>#}
            <thead>
            <tr class="font-weight-bold prevent-hover-table-header"  height=20 style='height:15.0pt'>
                <td height=20  style='height:15.0pt'></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td class="color_border_botom_white" colspan=13 >Garantías</td>
            </tr>
            <tr class="font-weight-bold prevent-hover-table-header" height=20 style='height:15.0pt'>
                <td height=20  style='height:15.0pt'></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td class="color_border_botom_white" colspan=9 >Tipos</td>
                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td class="color_border_botom_white" colspan=3 >Estatus</td>
            </tr>
            <tr class="font-weight-bold prevent-hover-table-header" height=20 style='height:15.0pt'>
                <td height=20  style='height:15.0pt'></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td class="color_border_botom_white group-garantias-content" colspan=5 >Garantías</td>
                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td class="color_border_botom_white group-garantias-terrestres-content"  colspan=3 >Garantías Terrestres</td>
                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td class="color_border_botom_white" rowspan=2  style="vertical-align : middle;text-align:center;"><img src="{{ asset_base_url }}/dist/assets/icons/pack_verde.svg" width="30px"></td>
                <td class="color_border_botom_white" rowspan=2  style="vertical-align : middle;text-align:center;"><img src="{{ asset_base_url }}/dist/assets/icons/pack_amarillo.svg" width="30px"></td>
                <td class="color_border_botom_white" rowspan=2  style="vertical-align : middle;text-align:center;"><img src="{{ asset_base_url }}/dist/assets/icons/pack_rojo.svg" width="30px"></td>
            </tr>
            <tr class=" font-weight-bold prevent-hover-table-header" height=40 style='height:30.0pt'>
                <td class="color_border_botom_white" height=40  style='height:30.0pt;vertical-align:bottom;' >Vehículo</td>
                <td class="color_border_botom_white" style="vertical-align:bottom;">Ruta</td>
                <td class="color_border_botom_white" style="vertical-align:bottom;">Tramo</td>
                <td class="color_border_botom_white" style="vertical-align:bottom;">% Carga</td>
                <td class="color_border_botom_white" style="vertical-align:bottom;">Cuadratura</td>
                <td class="color_border_botom_white" style="vertical-align:bottom;">Excedente</td>
                <td class="color_border_botom_white" style="vertical-align:bottom;">Total Real</td>
                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td class="color_border_botom_white" width=80 style='width:60pt;vertical-align:bottom;'>Items de Valor</td>


                {#grupo de encabezados de garantias a colapsar#}
                <td class="color_border_botom_white group-garantias" style="vertical-align:bottom;">09:30</td>
                <td class="color_border_botom_white group-garantias" style="vertical-align:bottom;">11:30</td>
                <td class="color_border_botom_white group-garantias" style="vertical-align:bottom;">Día Sig.</td>
                <td class="color_border_botom_white group-garantias" style="vertical-align:bottom;">Día Sig. Terr.</td>
                <td class="color_border_botom_white group-garantias" style="vertical-align:bottom;">2 Días</td>

                {#encabezado para el total de garantias colapsado#}
                <td class="color_border_botom_white group-garantias-total" colspan="5" style="vertical-align:bottom;">Total</td>


                <td  style="">{#esta columna siempre va vacio es solo un separador#}</td>
                <td class="color_border_botom_white group-garantias-terrestres" style="vertical-align:bottom;">Apoyo a OT</td>
                <td class="color_border_botom_white group-garantias-terrestres" style="vertical-align:bottom;">LTL</td>
                <td class="color_border_botom_white group-garantias-terrestres" style="vertical-align:bottom;">Internacional</td>

                {#encabezado para el total de garantias terrestres colapsado#}
                <td class="color_border_botom_white group-garantias-terrestres-total" colspan="3" style="vertical-align:bottom;">Total</td>


                <td>{#esta columna siempre va vacio es solo un separador#}</td>




            </tr>
            </thead>
            <tbody>
            <tr height=20 style='height:15.0pt'>
                <td height=20  style='height:15.0pt'><img  class="vehicle_arriving seePosition" src="{{ asset_base_url }}/dist/assets/icons/avion_verde.svg" width="25px"></td>
                <td >AE-002</td>
                <td ></td>
                <td >***</td>
                <td ><span class="cuadratura">3</span>/2000</td>
                <td >10</td>
                <td >2,007</td>{#total real#}
                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td >120</td>

                {#garantias#}
                <td class="group-garantias" >1000</td>
                <td class="group-garantias">800</td>
                <td class="group-garantias">200</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">0</td>

                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >2000</td>


                <td>{#esta columna siempre va vacio es solo un separador#}</td>

                {#garantias terrestres#}
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>

                {#columna para el total de garantias terrestres#}
                <td colspan="3" class="group-garantias-terrestres-total" >0</td>

                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td >1800</td>
                <td >180</td>
                <td >20</td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td height=20  style='height:15.0pt'><img class="vehicle_arriving" src="{{ asset_base_url }}/dist/assets/icons/transporte_rojo.svg" width="25px"></td>
                <td >ACA-3316</td>
                <td >ACA-MEX | C1</td>
                <td >100%</td>
                <td >7/<span class="cuadratura_items">800</span></td>
                <td >5</td>
                <td >798</td>{#total real#}
                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td >70</td>


                {#garantias#}
                <td class="group-garantias">400</td>
                <td class="group-garantias">300</td>
                <td class="group-garantias">100</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">0</td>

                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >800</td>

                <td>{#esta columna siempre va vacio es solo un separador#}</td>

                {#garantias terrestres#}
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>

                {#columna para el total de garantias terrestres#}
                <td colspan="3" class="group-garantias-terrestres-total" >0</td>


                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td >200</td>
                <td >100</td>
                <td >500</td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td height=20  style='height:15.0pt'><img class="vehicle_arriving" src="{{ asset_base_url }}/dist/assets/icons/transporte_rojo.svg" width="25px"></td>
                <td >ACA-3316</td>
                <td >ACA-MEX | C2</td>
                <td >90%</td>
                <td >5/750</td>
                <td >3</td>
                <td >748</td>{#total real#}
                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td >40</td>

                {#garantias#}
                <td class="group-garantias">350</td>
                <td class="group-garantias">200</td>
                <td class="group-garantias">80</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">0</td>

                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >630</td>

                <td>{#esta columna siempre va vacio es solo un separador#}</td>

                {#garantias terrestres#}
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>

                {#columna para el total de garantias terrestres#}
                <td colspan="3" class="group-garantias-terrestres-total" >0</td>


                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td >190</td>
                <td >80</td>
                <td >480</td>
            </tr>
            <tr height=20 style='height:15.0pt'>
                <td height=20  style='height:15.0pt'><img class="vehicle_arrived" src="{{ asset_base_url }}/dist/assets/icons/transporte_verde.svg" width="25px"></td>
                <td >CLC-1619</td>
                <td >EPZ-MLM</td>
                <td >80%</td>
                <td >0/90</td>
                <td >0</td>
                <td >90</td>{#total real#}
                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td >0</td>

                {#garantias#}
                <td class="group-garantias">0</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">90</td>
                <td class="group-garantias">0</td>

                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >90</td>


                <td>{#esta columna siempre va vacio es solo un separador#}</td>


                {#garantias terrestres#}
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>

                {#columna para el total de garantias terrestres#}
                <td colspan="3" class="group-garantias-terrestres-total" >0</td>


                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td >70</td>
                <td >20</td>
                <td >0</td>
            </tr>
            <tr class="text-total-color" height=60 >
                <td colspan=3 >TOTAL</td>
                <td >90%</td>
                <td >15/3640</td>
                <td >18</td>
                <td >3,643</td>{#total real#}
                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td >230</td>

                {#garantias#}
                <td class="group-garantias">1,750</td>
                <td class="group-garantias">1,300</td>
                <td class="group-garantias">380</td>
                <td class="group-garantias">90</td>
                <td class="group-garantias">-</td>

                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >3,520</td>

                <td>{#esta columna siempre va vacio es solo un separador#}</td>


                {#garantias terrestres#}
                <td class="group-garantias-terrestres">-</td>
                <td class="group-garantias-terrestres">-</td>
                <td class="group-garantias-terrestres">-</td>

                {#columna para el total de garantias terrestres#}
                <td colspan="3" class="group-garantias-terrestres-total" >-</td>


                <td>{#esta columna siempre va vacio es solo un separador#}</td>
                <td >2,260</td>
                <td >380</td>
                <td >1,000</td>
            </tr>
            </tbody>
        </table>
        <button class="detalle_garantias">Detalle de: Garantías 09:30 am Total: 400</button>
        <button class="rastreo_guias">Rastreo de Guías</button>
    </section>


{% endblock %}


{% block scripts %}

    <!--AIzaSyC32vpDAaozqg71wzy2CHgVAVlvxQtLsIE-->
    {#<script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSPepYUd4O0H6j3p17XZ2TqWLjEq9lrXA&callback=initMap">
    </script>#}
    <script>
        // Initialize and add the map
        /* function initMap() {
         // The location of Uluru
         var uluru = {lat: -25.344, lng: 131.036};
         // The map, centered at Uluru
         var map = new google.maps.Map(
         document.getElementById('map'), {zoom: 14, center: uluru, mapTypeId: 'hybrid'});
         // The marker, positioned at Uluru
         var marker = new google.maps.Marker({position: uluru, map: map});
         }

         $(document).ready(function () {
         initMap();
         });*/
    </script>

    <script>

        $('.example1').on('click', function(){
            $.alert({
                title: 'Alert!',
                content: 'Simple alert!',
            });
        });

        var arrayGroupColapse = ["group-garantias","group-garantias-terrestres"];

        $.each(arrayGroupColapse,function (idx,groupName) {
            /*var group=*/ new COLLAPSE_COLUMN().setGroupNameClass(groupName);
            /*para mostrar boton gregar clase group-garantias-content al td */
            /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
            //group;
        });

        // var groupGarantias = new COLLAPSE_COLUMN();
        /*para mostrar boton gregar clase group-garantias-content al td */
        /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
        //groupGarantias.setGroupNameClass("group-garantias");

        //console.log(groupGarantias);


        /*mostrar detalle de la cuadratura*/
        var obj = {
            //title_detail: "",
            route_name:"Ruta AE-002",
            list_guias : [
                {
                    guia: "123456789012",
                    plaza_destino:"MTY",
                    cliente:"Radio móvil Dipsa",
                    contenido: "Celulares",
                    plaza_escaneo:"MEX",
                    codigo_razon:"C29-CARGA REVUELTA"
                },{
                    guia: "987654321098",
                    plaza_destino:"AGS",
                    cliente:"Lenovo",
                    contenido: "Tablets",
                    plaza_escaneo:"SLP",
                    codigo_razon:"C52-CONTENEDOR SALE DIA SIGUIENTE"
                },{
                    guia: "678901234567",
                    plaza_destino:"MOR",
                    cliente:"Mercado Libre",
                    contenido: "Laptop",
                    plaza_escaneo:"GDL",
                    codigo_razon:"C21-EMPAQUE REPARADO"
                },
            ]
        };
        $('.cuadratura').on('click', function(){
            showDetalleGuias(obj)
        });
        $('.cuadratura_items').on('click', function(){
            showDetalleDestinosItems(object);
        });

        $('.detalle_garantias').on('click', function(){
            showDetalleGarantias(object_garantias);
        });

        $('.seePosition').on('click', function(){
            showGeopositionVehicle(objectVehicle);
        });

        $('.rastreo_guias').on('click', function(){
            showRatreoGuias(objectRastreo);
        });

        $(function () {
            $('#datetimepicker1').datetimepicker();
        });

    </script>


    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n,10) < 10 ? '0' : '')+n;
        }
        function updateTime(){
            var timeNow= new Date(),
                hh = timeNow.getHours(),
                mm = timeNow.getMinutes(),
                ss = timeNow.getSeconds(),
                formatAMPM = (hh >= 12?'PM':'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) +  " " + formatAMPM ;
            currentTime_date.innerHTML =    monthNames[timeNow.getMonth()]+" "+timeNow.getUTCDate()+", "+timeNow.getFullYear();
            setTimeout(updateTime,1000);
        }
        updateTime();
    </script>

    <script>



        var ctx_llegadas = document.getElementById('myChart_llegadas').getContext('2d');
        var ctx_garantia_llegadas = document.getElementById('myChart_garantia_llegadas').getContext('2d');
        var ctx_garantia_pendientes = document.getElementById('myChart_garantia_pendientes').getContext('2d');

        /*var data = {
         datasets: [{
         data: [10, 20, 30]
         }],

         // These labels appear in the legend and in the tooltips when hovering different arcs
         labels: [
         'Red',
         'Yellow',
         'Blue'
         ]
         };*/



        var myDoughnutChart =
            new Chart(ctx_llegadas,
                {
                    dataset:{

                    },
                    "type":"doughnut",
                    "data":{"labels":["Llegadas 75%","Pendiente 25%"],
                        "datasets": [
                            {
                                "label":"My F*rst Dataset",
                                "data":[
                                    75,
                                    25
                                ],
                                backgroundColor: [
                                    "#00B050",
                                    "#FFFF00",
                                    //   "#F80000"
                                ],
                                borderColor:[
                                    '#009149',
                                    "#f6f600",
                                    //   "#e90000"
                                ],
                                borderWidth:1,
                            }
                        ]
                    },
                    options:{
                        //showAllTooltips:true,
                        responsive:true,
                        position: 'outside',
                        segment: true,
                        cutoutPercentage: 70,
                        legend: {
                            display: true,
                            position:'bottom',
                            labels: {
                                fontSize: 14,
                                fontColor: '#fff'
                            },
                        },

                        tooltips: {
                            enabled: true,
                            bodyFontSize:14,
                            backgroundColor:"#fff",
                            bodyFontColor:"#000",
                        },
                        /*layout: {
                         padding: {
                         left: 0,
                         right: 0,
                         top: 0,
                         bottom: 0
                         }
                         }*/
                        /*plugins: {
                         doughnutlabel: {
                         labels: [
                         {
                         text: '100%',
                         font: {
                         size: '60',
                         weight:'500'
                         },
                         color: 'white'
                         }
                         ]
                         }
                         }*/

                    }
                });
        var myDoughnutChart_garantia_llegadas =
            new Chart(ctx_garantia_llegadas,
                {
                    dataset:{

                    },
                    "type":"doughnut",
                    "data":{"labels":["PTA > 10 minutos 90%","PTA > 30 minutos 8%","PTA > 60 minutos 2%"],
                        "datasets": [
                            {
                                "label":"My F*rst Dataset",
                                "data":[
                                    90,
                                    8,
                                    2
                                ],
                                backgroundColor: [
                                    "#00B050",
                                    "#FFFF00",
                                    "#F80000"
                                ],
                                borderColor:[
                                    '#009149',
                                    "#f6f600",
                                    "#e90000"
                                ],
                                borderWidth:1,
                            }
                        ]
                    },
                    options:{
                        //showAllTooltips:true,
                        responsive:true,
                        position: 'outside',
                        segment: true,
                        legend: {
                            display: true,
                            position:'bottom',
                            labels: {
                                fontSize: 14,
                                fontColor: '#fff'
                            },
                        },
                        tooltips: {
                            //mode: 'label',
                            enabled: true,
                            bodyFontSize:14,
                            //yPadding:8,
                            // caretSize:28,
                            backgroundColor:"#fff",
                            bodyFontColor:"#000",
                            // multiKeyBackground:"#fff",
                            // position: 'average',
                            // yAlign: 'bottom'
                            //yAlign: 'top',
                            // textDirection:"rtl"
                            /*position : 'custom',   //<-- important same name as your function above
                             callbacks: {
                             label: function(tooltipItem, data) {
                             var label = Math.floor(tooltipItem.yLabel*100)/100+" "+data.datasets[tooltipItem.datasetIndex].label;
                             return label;
                             }
                             }*/
                        },
                        /*layout: {
                         padding: {
                         left: 0,
                         right: 0,
                         top: 0,
                         bottom: 0
                         }
                         }*/
                    }
                });

        var myDoughnutChart_garantia_pendientes =
            new Chart(ctx_garantia_pendientes,
                {
                    dataset:{

                    },
                    "type":"doughnut",
                    "data":{"labels":["PTA > 10 minutos 90%","PTA > 30 minutos 8%","PTA > 60 minutos 2%"],
                        "datasets": [
                            {
                                "label":"My F*rst Dataset",
                                "data":[
                                    90,
                                    8,
                                    2
                                ],
                                backgroundColor: [
                                    "#00B050",
                                    "#FFFF00",
                                    "#F80000"
                                ],
                                borderColor:[
                                    '#009149',
                                    "#f6f600",
                                    "#e90000"
                                ],
                                borderWidth:1,
                            }
                        ]
                    },
                    options:{
                        // showAllTooltips:true,
                        responsive:true,
                        position: 'outside',
                        segment: true,
                        legend: {
                            display: true,
                            position:'bottom',
                            labels: {
                                fontSize: 14,
                                fontColor: '#fff'
                            },
                        },
                        tooltips: {
                            //position:"nearest",
                            enabled: true,
                            bodyFontSize:14,
                            backgroundColor:"#fff",
                            bodyFontColor:"#000",

                        },

                        /*layout: {
                         padding: {
                         left: 0,
                         right: 0,
                         top: 0,
                         bottom: 0
                         }
                         }*/

                    }
                });
    </script>

    <script type="text/javascript">
        $(function () {

            $(".form_datetime").datetimepicker({
                format: "dd/mm/yyyy HH:ii P",
                autoclose: true,
                todayBtn: true,
                weekStart:1,
                language:"es",
                showMeridian:true,
                //container: ".content-date",
                pickerPosition: "top-right",
                fontAwesome:"far",


            }).on("show",function (e) {
                //if($("body").hasClass("sb-sidenav-toggled")&&$('#cerrarSidebar').is(":visible") ){

                if ($("body").prop('scrollHeight') > $("body").prop('clientHeight')){
                    //if 'true', the content overflows the tab: we show the hidden link
                    $("body").css({"overflow-y":"hidden"});
                }

                /*  }else{

                 }*/
            }).on("hide",function () {
                if(!$('#cerrarSidebar').is(":visible") ) {
                    $("body").css({"overflow-y": "auto"});
                }
            });


        });


    </script>
{% endblock %}