{% extends 'app/skeleton.twig' %}

{% block head %}
    <style>
        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover-dark tbody tr:hover {
            color: #9a9a9a!important;
            background-color: rgba(191, 187, 187, 0.08)!important;;
        }

        .thead-border-bottom th, .thead-border-bottom td, .tbody-border-bottom td {
            border-bottom: 1px solid #c1c1c1 !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date {
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 5px 5px 5px 5px;
            margin: 0 0 0 8px;
            padding: 2px;
            width: 97px;
        }


        /*styles for colapsed column grantias*/
        .hideGroupGarantiaTotal{
            display: none;
        }

        .group-garantias, .group-garantias-terrestres{
            overflow:hidden;
            transition:max-height 0.3s ease-out;
            background-color: rgba(55, 55, 55, 0.3);
        }

        /*.group-*-btn*/.button_open{
                            content:url('{{ asset_base_url }}/dist/assets/icons/button-open.png');
                            cursor:pointer;
                        }

        /*.group-garantias-btn*/.button_closed{
                                    content: url('{{ asset_base_url }}/dist/assets/icons/button-closed.png');
                                    cursor:pointer;
                                }

        /*styles for colapsed column grantias*/


        .custom-fontsize-table{
            font-size: small !important;

        }
        .custom-table-sm th, .custom-table-sm td {
            padding: 0.1rem;
        }
    </style>
{% endblock %}

{% block filtros %}
    {#<div class="sb-sidenav-menu-heading row" style="width: 100%">
        <div class="col-5 col-sm-5 col-md-5 ">Plaza</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
        <div class="col-5 col-sm-5 col-md-5 ">Estatus Ruta</div>
        <div class="col-7 col-sm-7 col-md-7 "></div>
    </div>#}
    <div class="sb-sidenav-menu-heading text-center" >
        <div class="float-left text-white text-capitalize"> Plaza </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Edo Garantía </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Tipo Garantía </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Tipo Empaque </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Cliente </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Cod. Razón </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Guía </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Prioridad Entr. </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <label class="mb-0" for="dateofbirth">Fecha-hora inicial</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <label class="mb-0" for="dateofbirth">Fecha-hora final</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>


    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>







{% endblock %}
{% block contenido %}

    <div class="row mb-3">
        <div class="col-md-4">

        </div>

        <div class="col-md-5">
            <p class="text-center title_chart">Items No Localizados</p>
            <canvas height="110vh" id="myChart"></canvas>
        </div>
    </div>

    <div class="table table-responsive">
        {#<table class="table table-responsive table-sm table-hover-dark text-light table-hover border-0 table-active" style="text-align: center;">
            <thead>
            <tr>
                <td colspan="3" rowspan="3">&nbsp;</td>
                <td style="text-align: center;" colspan="11">Garant&iacute;as</td>
            </tr>
            <tr>
                <td colspan="3">Estatus</td>
                <td colspan="8">Tipos</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;&nbsp;&nbsp;</td>
                <td colspan="5">(+)Garant&iacute;as&nbsp;&nbsp;</td>
                <td colspan="3">(+)Garant&iacute;as Terrestres</td>
            </tr>
            <tr>
                <td style="text-align: left;">Proceso</td>
                <td>Items</td>
                <td>Art&iacute;culos de valor</td>
                <td>
                    <span class="pull-left ">
                        <img class="img-item-list" src="{{ asset_base_url }}/dist/assets/icons/pack_verde.svg" style="width: 25px">
                    </span>
                </td>
                <td>
                    <span class="pull-left ">
                        <img class="img-item-list" src="{{ asset_base_url }}/dist/assets/icons/pack_amarillo.svg" style="width: 25px">
                    </span>
                </td>
                <td>
                    <span class="pull-left ">
                        <img class="img-item-list" src="{{ asset_base_url }}/dist/assets/icons/pack_rojo.svg" style="width: 25px">
                    </span>
                </td>
                <td>09:30</td>
                <td>11:30</td>
                <td>D&iacute;a Sig.</td>
                <td>D&iacute;a Sig. Terr</td>
                <td>2 D&iacute;as</td>
                <td>Apoyo a OT</td>
                <td>LTL</td>
                <td>Internacional</td>
            </tr>
            </thead>
            <tbody class="no-border-tbody">
            <tr>
                <td style="text-align: left;">Ad&eacute;n de recepci&oacute;n</td>
                <td>2,000</td>
                <td>450</td>
                <td>1,300</td>
                <td>600</td>
                <td>100</td>
                <td>1,000</td>
                <td>800</td>
                <td>200</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td style="text-align: left;">Frecuencia programada</td>
                <td>300</td>
                <td>50</td>
                <td>250</td>
                <td>30</td>
                <td>20</td>
                <td>200</td>
                <td>50</td>
                <td>30</td>
                <td>10</td>
                <td>10</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td style="text-align: left;">Seguridad patrimonial</td>
                <td>300</td>
                <td>30</td>
                <td>-</td>
                <td>-</td>
                <td>300</td>
                <td>100</td>
                <td>50</td>
                <td>50</td>
                <td>20</td>
                <td>20</td>
                <td>20</td>
                <td>20</td>
                <td>20</td>
            </tr>
            <tr>
                <td style="text-align: left;">Servicio al cliente</td>
                <td>850</td>
                <td>150</td>
                <td>300</td>
                <td>400</td>
                <td>400</td>
                <td>100</td>
                <td>50</td>
                <td>60</td>
                <td>10</td>
                <td>10</td>
                <td>20</td>
                <td>20</td>
                <td>20</td>
            </tr>
            <tr>
                <td style="text-align: left;">Plataforma en proceso de salida</td>
                <td>700</td>
                <td>120</td>
                <td>500</td>
                <td>150</td>
                <td>50</td>
                <td>300</td>
                <td>150</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>20</td>
                <td>30</td>
                <td>50</td>
            </tr>
            <tr>
                <td style="text-align: left;">Anden de salida</td>
                <td>1,900</td>
                <td>450</td>
                <td>1,300</td>
                <td>400</td>
                <td>100</td>
                <td>900</td>
                <td>800</td>
                <td>200</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td style="text-align: left;"><span>TOTAL</span></td>
                <td><span>6,050</span></td>
                <td><span>1,130</span></td>
                <td><span>3,500</span></td>
                <td><span>1,680</span></td>
                <td><span>970</span></td>
                <td><span>2,900</span></td>
                <td><span>1,950</span></td>
                <td><span>630</span></td>
                <td><span>130</span></td>
                <td><span>130</span></td>
                <td><span>50</span></td>
                <td><span>70</span></td>
                <td><span>90</span></td>
            </tr>
            </tbody>
        </table>#}

        <table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table bg-dark" style="text-align: center;">
            <thead class="thead-border-bottom">
            <tr>
                <td colspan="3" rowspan="3">&nbsp;</td>
                <td style="text-align: center;" colspan="13">Garant&iacute;as</td>
            </tr>
            <tr>
                <td colspan="3">Estatus</td>
                <td style="border-bottom: none!important;"></td>
                <td colspan="9">Tipos</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;&nbsp;&nbsp;</td>
                <td style="border-bottom: none!important;"></td>
                {#<td colspan="5">(+)Garant&iacute;as</td>#}
                <td class=" group-garantias-content" colspan=5 >Garantías</td>
                <td style="border-bottom: none!important;"></td>
                <td class="group-garantias-terrestres-content" colspan="3">Garant&iacute;as Terrestres</td>
            </tr>
            <tr>
                <td style="text-align: left;">Proceso</td>
                <td>Items</td>
                <td>Art&iacute;culos de valor</td>
                <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_verde.svg" /> </span></td>
                <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_amarillo.svg" /> </span></td>
                <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_rojo.svg" /> </span></td>
                <td style="border-bottom: none!important;"></td>

                <td class="group-garantias">09:30</td>
                <td class="group-garantias">11:30</td>
                <td class="group-garantias">D&iacute;a Sig.</td>
                <td class="group-garantias">D&iacute;a Sig. Terr</td>
                <td class="group-garantias">2 D&iacute;as</td>

                {#encabezado para el total de garantias colapsado#}
                <td class=" group-garantias-total" colspan="5" style="vertical-align:bottom;">Total</td>
                <td style="border-bottom: none!important;"></td>

                <td class="group-garantias-terrestres">Apoyo a OT</td>
                <td class="group-garantias-terrestres">LTL</td>
                <td class="group-garantias-terrestres">Internacional</td>


                {#encabezado para el total de garantias terrestres colapsado#}
                <td class=" group-garantias-terrestres-total" colspan="3" style="vertical-align:bottom;">Total</td>

            </tr>
            </thead>
            <tbody >
            <tr>
                <td style="text-align: left;">Ad&eacute;n de recepci&oacute;n</td>
                <td>2,000</td>
                <td>450</td>
                <td>1,300</td>
                <td>600</td>
                <td>100</td>
                <td></td>

                {#Garantias#}
                <td class="group-garantias">1,000</td>
                <td class="group-garantias">800</td>
                <td class="group-garantias">200</td>
                <td class="group-garantias">-</td>
                <td class="group-garantias">-</td>
                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >2000</td>

                <td></td>

                {#Garantias terrestres#}
                <td class="group-garantias-terrestres">-</td>
                <td class="group-garantias-terrestres">-</td>
                <td class="group-garantias-terrestres">-</td>
                {#columna para el total de garantias terrestres#}
                <td colspan="5" class="group-garantias-terrestres-total" >2000</td>


            </tr>
            <tr>
                <td style="text-align: left;">Frecuencia programada</td>
                <td>300</td>
                <td>50</td>
                <td>250</td>
                <td>30</td>
                <td>20</td>
                <td></td>

                <td class="group-garantias">200</td>
                <td class="group-garantias">50</td>
                <td class="group-garantias">30</td>
                <td class="group-garantias">10</td>
                <td class="group-garantias">10</td>

                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >2000</td>

                <td></td>

                {#Garantias terrestres#}
                <td class="group-garantias-terrestres">-</td>
                <td class="group-garantias-terrestres">-</td>
                <td class="group-garantias-terrestres">-</td>
                {#columna para el total de garantias terrestres#}
                <td colspan="5" class="group-garantias-terrestres-total" >2000</td>

            </tr>
            <tr>
                <td style="text-align: left;">Seguridad patrimonial</td>
                <td>300</td>
                <td>30</td>
                <td>-</td>
                <td>-</td>
                <td>300</td>
                <td></td>

                <td class="group-garantias">100</td>
                <td class="group-garantias">50</td>
                <td class="group-garantias">50</td>
                <td class="group-garantias">20</td>
                <td class="group-garantias">20</td>

                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >2000</td>

                <td></td>

                {#Garantias terrestres#}
                <td class="group-garantias-terrestres">-</td>
                <td class="group-garantias-terrestres">-</td>
                <td class="group-garantias-terrestres">-</td>
                {#columna para el total de garantias terrestres#}
                <td colspan="5" class="group-garantias-terrestres-total" >2000</td>

            </tr>
            <tr>
                <td style="text-align: left;">Servicio al cliente</td>
                <td>850</td>
                <td>150</td>
                <td>300</td>
                <td>400</td>
                <td>400</td>
                <td></td>

                <td class="group-garantias">100</td>
                <td class="group-garantias">50</td>
                <td class="group-garantias">60</td>
                <td class="group-garantias">10</td>
                <td class="group-garantias">10</td>

                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >2000</td>

                <td></td>

                {#Garantias terrestres#}
                <td class="group-garantias-terrestres">20</td>
                <td class="group-garantias-terrestres">20</td>
                <td class="group-garantias-terrestres">20</td>
                {#columna para el total de garantias terrestres#}
                <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
            </tr>
            <tr>
                <td style="text-align: left;">Plataforma en proceso de salida</td>
                <td>700</td>
                <td>120</td>
                <td>500</td>
                <td>150</td>
                <td>50</td>
                <td></td>

                <td class="group-garantias">300</td>
                <td class="group-garantias">150</td>
                <td class="group-garantias">50</td>
                <td class="group-garantias">50</td>
                <td class="group-garantias">50</td>

                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >2000</td>

                <td></td>

                {#Garantias terrestres#}
                <td class="group-garantias-terrestres">20</td>
                <td class="group-garantias-terrestres">30</td>
                <td class="group-garantias-terrestres">50</td>
                {#columna para el total de garantias terrestres#}
                <td colspan="5" class="group-garantias-terrestres-total" >2000</td>

            </tr>
            <tr>
                <td style="text-align: left;">Anden de salida</td>
                <td>1,900</td>
                <td>450</td>
                <td>1,300</td>
                <td>400</td>
                <td>100</td>
                <td></td>

                <td class="group-garantias">900</td>
                <td class="group-garantias">800</td>
                <td class="group-garantias">200</td>
                <td class="group-garantias">-</td>
                <td class="group-garantias">-</td>


                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >2000</td>

                <td></td>

                {#Garantias terrestres#}
                <td class="group-garantias-terrestres">-</td>
                <td class="group-garantias-terrestres">-</td>
                <td class="group-garantias-terrestres">-</td>
                {#columna para el total de garantias terrestres#}
                <td colspan="5" class="group-garantias-terrestres-total" >2000</td>

            </tr>
            <tr class="text-total-color">
                <td style="text-align: left;"><span>TOTAL</span></td>
                <td><span>6,050</span></td>
                <td><span>1,130</span></td>
                <td><span>3,500</span></td>
                <td><span>1,680</span></td>
                <td><span>970</span></td>
                <td></td>

                <td class="group-garantias"><span>2,900</span></td>
                <td class="group-garantias"><span>1,950</span></td>
                <td class="group-garantias"><span>630</span></td>
                <td class="group-garantias"><span>130</span></td>
                <td class="group-garantias"><span>130</span></td>

                {#columna para el total de garantias#}
                <td colspan="5" class="group-garantias-total" >2000</td>

                <td><span></span></td>

                {#Garantias terrestres#}
                <td class="group-garantias-terrestres"><span>50</span></td>
                <td class="group-garantias-terrestres"><span>70</span></td>
                <td class="group-garantias-terrestres"><span>90</span></td>
                {#columna para el total de garantias terrestres#}
                <td colspan="5" class="group-garantias-terrestres-total" >2000</td>
            </tr>
            </tbody>
        </table>
    </div>

    <button class="example1 btn btn-primary">Detalle de frecuencia programada</button>
    <button class="example2 btn btn-primary">Detalle de Anden de Recepcion</button>

    {#<div class="table-responsive">
        <table class="table table-sm table-hover-dark text-light table-hover custom-fontsize-table no-border-top" style="text-align: center;">
            <thead class="thead-border-bottom">
            <tr>
                <td>Estatus</td>
                <td>Total Items</td>
                <td>Lunes 2</td>
                <td>Martes 3</td>
                <td>Mi&eacute;rcoles 4</td>
                <td>Jueves 5</td>
                <td>Viernes 6</td>
            </tr>
            </thead>
            <tbody class="no-border-tbody">
            <tr>
                <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_verde.svg" /> </span></td>
                <td>250</td>
                <td>100</td>
                <td>100</td>
                <td>30</td>
                <td>20</td>
                <td>0</td>
            </tr>
            <tr>
                <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_amarillo.svg" /> </span></td>
                <td>30</td>
                <td>10</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{ asset_base_url }}/dist/assets/icons/pack_rojo.svg" /> </span></td>
                <td>20</td>
                <td>0</td>
                <td>0</td>
                <td>10</td>
                <td>5</td>
                <td>5</td>
            </tr>
            <tr>
                <td><span>TOTAL&nbsp;</span></td>
                <td><span>300</span></td>
                <td><span>110</span></td>
                <td><span>105</span></td>
                <td><span>45</span></td>
                <td><span>30</span></td>
                <td><span>10</span></td>
            </tr>
            </tbody>
        </table>
    </div>#}


    {#<table class="mb-0 bg-dark table table-sm table-hover-dark text-light table-hover table-striped no-border-top table-striped table-dark custom-fontsize-table custom-table-sm" style="text-align: center;">
        <thead class="thead-border-bottom">
        <tr>
            <td colspan="7">Gu&iacute;a</td>
            <td style="border-bottom: none!important;">&nbsp;</td>
            <td colspan="3">Cliente</td>
            <td style="border-bottom: none!important;">&nbsp;</td>
            <td colspan="7">Ubicaci&oacute;n</td>
            <td style="border-bottom: none!important;">&nbsp;</td>
            <td colspan="9">&Uacute;ltimo Estatus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td>Consec Num.</td>
            <td></td>
            <td>Tipo de empaque</td>
            <td></td>
            <td>Garant&iacute;a</td>
            <td></td>
            <td>Contenido</td>
            <td></td>
            <td>N&uacute;mero</td>
            <td></td>
            <td>Raz&oacute;n Social</td>
            <td></td>
            <td>Distrito</td>
            <td></td>
            <td>Regional</td>
            <td></td>
            <td>Plaza</td>
            <td></td>
            <td>CD</td>
            <td></td>
            <td>Movimiento</td>
            <td></td>
            <td>C&oacute;digo de Razon</td>
            <td></td>
            <td>No. Empleado</td>
            <td></td>
            <td>Ruta</td>
            <td></td>
            <td>Fecha del Evento</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>6</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>7</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>8</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>9</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>11</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>12</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>13</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>14</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>15</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>16</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>17</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>18</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>19</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>20</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>#}
{% endblock %}

{% block scripts %}

    <script>



        var groupGarantias = new COLLAPSE_COLUMN();
        /*para mostrar boton gregar clase group-garantias-content al td */
        /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
        groupGarantias.setGroupNameClass("group-garantias");




        var groupGarantiasTerrestres = new COLLAPSE_COLUMN();
        /*para mostrar boton gregar clase group-garantias-content al td */
        /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
        groupGarantiasTerrestres.setGroupNameClass("group-garantias-terrestres");


        var t2 = '<div class="table-responsive"><table class="mb-0 bg-dark table table-sm table-hover-dark text-light table-hover table-striped no-border-top table-striped table-dark custom-fontsize-table custom-table-sm" style="text-align: center;"> <thead class="thead-border-bottom"> <tr> <td colspan="7">Gu&iacute;a</td><td style="border-bottom: none!important;">&nbsp;</td><td colspan="3">Cliente</td><td style="border-bottom: none!important;">&nbsp;</td><td colspan="7">Ubicaci&oacute;n</td><td style="border-bottom: none!important;">&nbsp;</td><td colspan="9">&Uacute;ltimo Estatus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr><tr> <td>Consec Num.</td><td></td><td>Tipo de empaque</td><td></td><td>Garant&iacute;a</td><td></td><td>Contenido</td><td></td><td>N&uacute;mero</td><td></td><td>Raz&oacute;n Social</td><td></td><td>Distrito</td><td></td><td>Regional</td><td></td><td>Plaza</td><td></td><td>CD</td><td></td><td>Movimiento</td><td></td><td>C&oacute;digo de Razon</td><td></td><td>No. Empleado</td><td></td><td>Ruta</td><td></td><td>Fecha del Evento</td></tr></thead> <tbody> <tr> <td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>11</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>12</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>13</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>14</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>15</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>16</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>17</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>18</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>19</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>20</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody> </table></div>';

        $('.example1').on('click', function(){
            $.alert({
                closeIcon: true,
                /*theme: 'supervan',*/
                /*theme: 'light',*/
                /*theme: 'dark',*/
                theme: 'bootstrap',

                buttons:false,
                /*theme: 'dark',*/
                columnClass: 'col-md-8 custom-modal-closeicon',
                titleClass: 'custom-title-modal',
                boxWidth:'100%',
                title: 'Detalle de Frecuencia Programada',
                content: '<div class="table-responsive"> <table class="table table-sm table-hover-dark bg-dark text-light table-hover custom-fontsize-table no-border-top" style="text-align: center;"> <thead class="thead-border-bottom"> <tr> <td>Estatus</td><td>Total Items</td><td>Lunes 2</td><td>Martes 3</td><td>Mi&eacute;rcoles 4</td><td>Jueves 5</td><td>Viernes 6</td></tr></thead> <tbody class="no-border-tbody"> <tr> <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{asset_base_url}}/dist/assets/icons/pack_verde.svg"/> </span></td><td>250</td><td>100</td><td>100</td><td>30</td><td>20</td><td>0</td></tr><tr> <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{asset_base_url}}/dist/assets/icons/pack_amarillo.svg"/> </span></td><td>30</td><td>10</td><td>5</td><td>5</td><td>5</td><td>5</td></tr><tr> <td><span class="pull-left "> <img class="img-item-list" style="width: 25px;" src="{{asset_base_url}}/dist/assets/icons/pack_rojo.svg"/> </span></td><td>20</td><td>0</td><td>0</td><td>10</td><td>5</td><td>5</td></tr><tr class="text-total-color"> <td><span>TOTAL&nbsp;</span></td><td><span>300</span></td><td><span>110</span></td><td><span>105</span></td><td><span>45</span></td><td><span>30</span></td><td><span>10</span></td></tr></tbody> </table> </div>'
            });

        });

        $('.example2').on('click', function(){
            $.alert({
                closeIcon: true,
                /*theme: 'supervan',*/
                /*theme: 'light',*/
                /*theme: 'dark',*/
                theme: 'bootstrap',

                buttons:false,
                /*theme: 'dark',*/
                columnClass: 'col-md-12 custom-modal-closeicon',
                titleClass: 'custom-title-modal',
                boxWidth:'100%',
                title: 'Detalle de: Andén de Recepción - Total: 2,000',
                content: t2
            });
        });


    </script>


    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n,10) < 10 ? '0' : '')+n;
        }
        function updateTime(){
            var timeNow= new Date(),
                hh = timeNow.getHours(),
                mm = timeNow.getMinutes(),
                ss = timeNow.getSeconds(),
                formatAMPM = (hh >= 12?'PM':'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) +  " " + formatAMPM ;
            currentTime_date.innerHTML =    monthNames[timeNow.getMonth()]+" "+timeNow.getUTCDate()+", "+timeNow.getFullYear();
            setTimeout(updateTime,1000);
        }
        updateTime();
    </script>

    <script>
        Chart.defaults.global.defaultFontColor = '#ffffff';
        var ctx = document.getElementById('myChart').getContext('2d');


        var myDoughnutChart =
            new Chart(ctx,
                {
                    dataset:{

                    },
                    "type":"doughnut",percentageInnerCutout : 80,
                    "data":{"labels":["Gte. Operaciones \n 200 | 20%","Serv. Clientes \n 300 | 30%","Seg. Patronal \n 300 | 30%","Gte. Distrital Oper. \n 200 | 20%",],
                        "datasets": [
                            {
                                "label":"My F*rst Dataset",
                                "data":[
                                    20,
                                    30,
                                    20,
                                    30
                                ],
                                backgroundColor: [
                                    "#d39040",
                                    "#737fe6",
                                    "#c94c50",
                                    "#9af850"
                                ],
                                borderWidth:0,
                            }
                        ]
                    },
                    options:{
                        position: 'outside',
                        segment: true,
                        legend: {
                            display: true,
                            position:'right',
                        },
                        tooltips: {
                            enabled: true,
                        },

                        plugins: {
                            doughnutlabel: {
                                labels: [
                                    {
                                        text: '1,000',
                                        font: {
                                            size: '50'
                                        },
                                        color: 'white'
                                    }
                                ]
                            }
                        }
                    }
                });

        var getTotal = function(myDoughnutChart) {
            var sum = myDoughnutChart.config.data.datasets[0].data.reduce((a, b) => a + b, 0);
            return 'Total: '+sum;
        }
    </script>


{% endblock %}