{% extends 'app/skeleton.twig' %}

{% block head %}
    <style>
        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover-dark tbody tr:hover {
            color: #9a9a9a!important;
            background-color: rgba(191, 187, 187, 0.08)!important;;
        }

        .thead-border-bottom th, .thead-border-bottom td, .tbody-border-bottom td {
            border-bottom: 1px solid #c1c1c1 !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date {
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 5px 5px 5px 5px;
            margin: 0 0 0 8px;
            padding: 2px;
            width: 97px;
        }


        /*styles for colapsed column grantias*/
        .hideGroupGarantiaTotal{
            display: none;
        }

        .group-garantias, .group-garantias-terrestres{
            overflow:hidden;
            transition:max-height 0.3s ease-out;
            background-color: rgba(55, 55, 55, 0.3);
        }

        /*.group-*-btn*/.button_open{
                            content:url('{{ asset_base_url }}/dist/assets/icons/button-open.png');
                            cursor:pointer;
                        }

        /*.group-garantias-btn*/.button_closed{
                                    content: url('{{ asset_base_url }}/dist/assets/icons/button-closed.png');
                                    cursor:pointer;
                                }

        /*styles for colapsed column grantias*/


        .custom-fontsize-table{
            font-size: small !important;

        }
        .custom-table-sm th, .custom-table-sm td {
            padding: 0.1rem;
        }

        .text-total-color{
            color: yellow;
        }
    </style>
{% endblock %}

{% block filtros %}
    <div class="sb-sidenav-menu-heading text-center" >
        <div class="float-left text-white text-capitalize"> Plaza </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <label class="mb-0" for="dateofbirth">Fecha-hora inicial</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <label class="mb-0" for="dateofbirth">Fecha-hora final</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>
    <style>
        .form-control {
            height: calc(1.5em + 0.75rem + 2px)!important;
            padding: 0.065rem 0.25rem!important;
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
        }
        .input-group-text {

            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            padding: 0.375rem 0.30rem!important;
            color: #ffffff;
            border: none;
        }
    </style>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3 pb-0">
        <label class="mb-0 text-white">Fecha-hora inicial</label>
    </div>
    <div class=" text-center pt-1 mt-0" style="display: flex; padding: 1.75rem 1rem 0.75rem;">
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            <input placeholder="dd/mm/aaaa" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
            </div>
        </div>
        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
            <input placeholder="--:-- am/pm" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker3"/>
            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="far fa-clock"></i></div>
            </div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3 pb-0">
        <label class="mb-0 text-white">Fecha-hora inicial</label>
    </div>
    <div class="input-group date pt-0" id="datetimepicker2" data-target-input="nearest" style="display: flex; padding: 1.75rem 1rem 0.75rem;">
        <input placeholder="dd/mm/aaaa --:--" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3 pb-0">
        <label class="mb-0 text-white">Fecha-hora inicial</label>
    </div>
    <div class="input-group date pt-0" id="datetimepicker4" data-target-input="nearest" style="display: flex; padding: 1.75rem 1rem 0.75rem;">
        <input placeholder="dd/mm/aaaa --:--" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker4"/>
        <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
        </div>
    </div>

    {#<div class="input-group date" id="datetimepicker2" data-target-input="nearest">
        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
        </div>
    </div>#}
{% endblock %}
{% block contenido %}

    <div class="row mb-3">
        <div class="col-md-4">
            <p class="text-center title_chart">Llegadas Operadas</p>

            <span>Rutas</span>
            <div class="table-responsive">
                <table class="bg-dark custom-table-sm table table-dark table-sm text-light table-bordered" style="text-align: center;">
                    <tbody>
                    <tr>
                        <td style="text-align: left;">Total de Rutas</td>
                        <td colspan="2">21</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Eventos Demora</td>
                        <td>2</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Demora M&aacute;xima (min)</td>
                        <td colspan="2">34</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <span>Items</span>
            <table class="mb-0 bg-dark custom-table-sm table table-dark table-sm text-light table-bordered" style="text-align: center;">
                <tbody>
                <tr>
                    <td style="text-align: left;">Irregulares</td>
                    <td>505</td>
                    <td>3%</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Sobres</td>
                    <td>12,700</td>
                    <td>85%</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Paquetes</td>
                    <td>1,128</td>
                    <td>12%</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Total</td>
                    <td>14,933</td>
                    <td>100%</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <p class="text-center title_chart">Salidas Operadas</p>

            <span>Rutas</span>
            <div class="table-responsive">
                <table class="bg-dark custom-table-sm table table-dark table-sm text-light table-bordered" style="text-align: center;">
                    <tbody>
                    <tr>
                        <td style="text-align: left;">Total de Rutas</td>
                        <td colspan="2">21</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Eventos Demora</td>
                        <td>2</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td style="text-align: left;">Demora M&aacute;xima (min)</td>
                        <td colspan="2">34</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <span>Items</span>
            <table class="mb-0 bg-dark custom-table-sm table table-dark table-sm text-light table-bordered" style="text-align: center;">
                <tbody>
                <tr>
                    <td style="text-align: left;">Irregulares</td>
                    <td>505</td>
                    <td>3%</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Sobres</td>
                    <td>12,700</td>
                    <td>85%</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Paquetes</td>
                    <td>1,128</td>
                    <td>12%</td>
                </tr>
                <tr>
                    <td style="text-align: left;">Total</td>
                    <td>14,933</td>
                    <td>100%</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <p class="text-center title_chart">Items Operados</p>
            <div >
                <canvas height="200vh" id="salidas-operadas"></canvas>
            </div>

        </div>

    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <p  class="text-center title_chart">Tendencia de Volúmen de Carga</p>
            <div style="background-color: #8080802e;">
                <canvas height="200vh" id="chartjs-0"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <p  class="text-center title_chart">Tendencia de Demoras de Llegadas</p>
            <div style="background-color: #8080802e;">
                <canvas height="200vh" id="chartjs-1"></canvas>
            </div>
        </div>
        <div class="col-md-4">
            <p  class="text-center title_chart">Tendencia de Demoras de Salidas</p>
            <div style="background-color: #8080802e;">
                <canvas height="200vh" id="chartjs-2"></canvas>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                locale: 'es-us',
                /*format: 'L',*/
                format:'DD/MM/YYYY',
                icons: {
                    time: "far fa-clock",
                    date: "far fa-calendar-alt",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
            $('#datetimepicker2').datetimepicker({
                locale: 'es-us',
                format:'DD/MM/YYYY hh:mm A',
                inline: false,
                sideBySide: false,
                icons: {
                    time: "far fa-clock",
                    date: "far fa-calendar-alt",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
            $('#datetimepicker3').datetimepicker({
                locale: 'es-us',
                format:'hh:mm A',
                /*format: 'LT',*/
                icons: {
                    time: "far fa-clock",
                    date: "far fa-calendar-alt",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });

            $('#datetimepicker4').datetimepicker({
                locale: 'es-us',

                format:'DD/MM/YYYY hh:mm A',
                inline: false,
                sideBySide: true,
                icons: {
                    time: "far fa-clock",
                    date: "far fa-calendar-alt",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down"
                }
            });
        });
    </script>

    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n,10) < 10 ? '0' : '')+n;
        }
        function updateTime(){
            var timeNow= new Date(),
                hh = timeNow.getHours(),
                mm = timeNow.getMinutes(),
                ss = timeNow.getSeconds(),
                formatAMPM = (hh >= 12?'PM':'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) +  " " + formatAMPM ;
            currentTime_date.innerHTML =    monthNames[timeNow.getMonth()]+" "+timeNow.getUTCDate()+", "+timeNow.getFullYear();
            setTimeout(updateTime,1000);
        }
        updateTime();
    </script>

    <script>
        var ctx = document.getElementById("salidas-operadas").getContext("2d");

        var data = {
            labels: [
                "Paquetes",
                "Sobres",
                "Irregulares"
            ],
            datasets: [
                {
                    borderWidth:0,
                    data: [300, 50, 100],
                    backgroundColor: [
                        "#aaaaaa",
                        "#36A2EB",
                        "#3927ff"
                    ],
                    hoverBackgroundColor: [
                        "#aaaaaa",
                        "#36A2EB",
                        "#3927ff"
                    ]
                }]
        };

        Chart.pluginService.register({
            beforeRender: function (chart) {
                if (chart.config.options.showAllTooltips) {
                    // create an array of tooltips
                    // we can't use the chart tooltip because there is only one tooltip per chart
                    chart.pluginTooltips = [];
                    chart.config.data.datasets.forEach(function (dataset, i) {
                        chart.getDatasetMeta(i).data.forEach(function (sector, j) {
                            chart.pluginTooltips.push(new Chart.Tooltip({
                                _chart: chart.chart,
                                _chartInstance: chart,
                                _data: chart.data,
                                _options: chart.options,
                                _active: [sector]
                            }, chart));
                        });
                    });

                    // turn off normal tooltips
                    chart.options.tooltips.enabled = false;
                }
            },
            afterDraw: function (chart, easing) {
                if (chart.config.options.showAllTooltips) {
                    // we don't want the permanent tooltips to animate, so don't do anything till the animation runs atleast once
                    if (!chart.allTooltipsOnce) {
                        if (easing !== 1)
                            return;
                        chart.allTooltipsOnce = true;
                    }

                    // turn on tooltips
                    chart.options.tooltips.enabled = true;
                    Chart.helpers.each(chart.pluginTooltips, function (tooltip) {
                        tooltip.initialize();
                        tooltip.update();
                        // we don't actually need this since we are not animating tooltips
                        tooltip.pivot();
                        tooltip.transition(easing).draw();
                    });
                    chart.options.tooltips.enabled = false;
                }
            }
        })

        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options:{
                showAllTooltips: true,
                position: 'outside',
                segment: true,
                legend: {
                    display: true,
                    position:'bottom',
                },
                tooltips: {


                    enabled: true,
                }
            }
        });

    </script>

    <script>

        $(document).ready(function() {

            for (var i = 0; i <= 2; i++) {
                new Chart(document.getElementById("chartjs-"+i),
                    {
                        "type":"line",
                        "data":{"labels":["24/07/2019","25/07/2019","26/07/2019","27/07/2019","29/07/2019","30/07/2019","31/07/2019","01/08/2019","02/08/2019","03/08/2019","05/08/2019","06/08/2019"],
                            "datasets":[
                                {
                                    "label":"My First Dataset",
                                    "data":[88,75,88,97,82,75,60,57,100,98,100],
                                    "fill":false,

                                    "borderColor":"rgb(1,123,255)",
                                    "lineTension":0.3
                                }
                            ]
                        },
                        "options":{scales: {
                            xAxes: [{
                                /*time: {
                                 unit: 'date'
                                 },*/
                                gridLines: {
                                    display: false
                                },
                                ticks: {
                                    /*maxTicksLimit: 12,*/
                                    fontColor:'#f4f4f4'
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Fecha'
                                }
                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    min: 0,
                                    max: 120,
                                    steps:20,
                                    maxTicksLimit: 20,
                                    fontColor:'#f4f4f4'
                                },
                                gridLines: {
                                    color: "rgb(126,130,134,0.20)",
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Unidades'
                                },
                            }],
                        },
                            legend: {
                                display: false
                            }
                        }
                    }
                );
            }



// Area Chart Example
            /*var ctx = document.getElementById("myAreaChart");
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5", "Mar 6", "Mar 7", "Mar 8", "Mar 9", "Mar 10", "Mar 11", "Mar 12", "Mar 13"],
                    datasets: [{
                        label: "Sessions",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 50,
                        pointBorderWidth: 2,
                        data: [10000, 30162, 26263, 18394, 18287, 28682, 31274, 33259, 25849, 24159, 32651, 31984, 38451],
                    }],
                },
                options: {

                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: 7,
                                fontColor:'#ffffff'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 40000,
                                maxTicksLimit: 5,
                                fontColor:'#fefffd'
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                    },
                    legend: {
                        display: false
                    }
                }
            });*/
        });
    </script>


{% endblock %}