{% extends 'app/skeleton.twig' %}

{% block head %}
    <style>
        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover-dark tbody tr:hover {
            color: #9a9a9a!important;
            background-color: rgba(191, 187, 187, 0.08)!important;;
        }

        .thead-border-bottom th, .thead-border-bottom td, .tbody-border-bottom td {
            border-bottom: 1px solid #c1c1c1 !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date {
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 5px 5px 5px 5px;
            margin: 0 0 0 8px;
            padding: 2px;
            width: 97px;
        }


        /*styles for colapsed column grantias*/
        .hideGroupGarantiaTotal{
            display: none;
        }

        .group-garantias, .group-garantias-terrestres{
            overflow:hidden;
            transition:max-height 0.3s ease-out;
            background-color: rgba(55, 55, 55, 0.3);
        }

        /*.group-*-btn*/.button_open{
            content:url('{{ asset_base_url }}/dist/assets/icons/button-open.png');
            cursor:pointer;
        }

        /*.group-garantias-btn*/.button_closed{
            content: url('{{ asset_base_url }}/dist/assets/icons/button-closed.png');
            cursor:pointer;
        }

        /*styles for colapsed column grantias*/


        .custom-fontsize-table{
            font-size: small !important;

        }
        .custom-table-sm th, .custom-table-sm td {
            padding: 0.1rem;
        }
    </style>
{% endblock %}

{% block filtros %}
    <div class="sb-sidenav-menu-heading text-center" >
        <div class="float-left text-white text-capitalize"> Plaza </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Estatus Ruta </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> ID Ruta </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>
    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Tramo </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Cliente </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Tipo Vehículo </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1" >
        <div class="float-left text-white text-capitalize"> Núm. Eco. </div>
        <select class="float-right" name="">
            <option>Seleccione</option>
        </select>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <label class="mb-0" for="dateofbirth">Fecha-hora inicial</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <label class="mb-0" for="dateofbirth">Fecha-hora final</label>
        <input class="mydateinput" type="datetime-local" name="dateofbirth" id="dateofbirth">
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>

{% endblock %}
{% block contenido %}

    <div class="row mb-3">
        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <div >
                <canvas height="200vh" id="myChart"></canvas>
            </div>
        </div>
    </div>


    <section class="table-responsive">
        <table class=" table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table" style="text-align: center;">
            <thead class="thead-border-bottom">
            <tr class="font-weight-bold prevent-hover-table-header">
                <td colspan="7" rowspan="3">&nbsp;</td>
                <td colspan="13">Garant&iacute;as</td>
            </tr>
            <tr class="font-weight-bold prevent-hover-table-header">
                <td colspan="9">Tipos</td>
                <td style="border-bottom: none!important;">&nbsp;</td>
                <td colspan="3">Estatus</td>
            </tr>
            <tr class="font-weight-bold prevent-hover-table-header">
                <td class="group-garantias-content" colspan="5">Garant&iacute;as</td>
                <td style="border-bottom: none!important;">&nbsp;</td>
                <td class="group-garantias-terrestres-content" colspan="3">Garant&iacute;as Terrestres</td>
                <td style="border-bottom: none!important;">&nbsp;</td>
                <td style="vertical-align: middle; text-align: center;" rowspan="2"><img src="{{ asset_base_url }}/dist/assets/icons/pack_verde.svg" width="30px" /></td>
                <td style="vertical-align: middle; text-align: center;" rowspan="2"><img src="{{ asset_base_url }}/dist/assets/icons/pack_amarillo.svg" width="30px" /></td>
                <td style="vertical-align: middle; text-align: center;" rowspan="2"><img src="{{ asset_base_url }}/dist/assets/icons/pack_rojo.svg" width="30px" /></td>
            </tr>
            <tr class=" font-weight-bold prevent-hover-table-header" style="height: 30.0pt;">
                <td style="height: 30.0pt; vertical-align: bottom;" height="40">Veh&iacute;culo</td>
                <td style="vertical-align: bottom;">Ruta</td>
                <td style="vertical-align: bottom;">Tramo</td>
                <td style="vertical-align: bottom;">% Carga</td>
                <td style="vertical-align: bottom;">Total Items</td>
                <td>&nbsp;</td>
                <td style="width: 60pt; vertical-align: bottom;" width="80">Items de Valor</td>

                {#garantias#}
                <td class="group-garantias" style="vertical-align: bottom;">09:30</td>
                <td class="group-garantias" style="vertical-align: bottom;">11:30</td>
                <td class="group-garantias" style="vertical-align: bottom;">D&iacute;a Sig.</td>
                <td class="group-garantias" style="vertical-align: bottom;">D&iacute;a Sig. Terr.</td>
                <td class="group-garantias" style="vertical-align: bottom;">2 D&iacute;as</td>

                {#encabezado para el total de garantias colapsado#}
                <td class="group-garantias-total" style="vertical-align: bottom;" colspan="5">Total</td>

                <td style="border-bottom: none!important;">&nbsp;</td>
                <td class="group-garantias-terrestres" style="vertical-align: bottom;">Apoyo a OT</td>
                <td class="group-garantias-terrestres" style="vertical-align: bottom;">LTL</td>
                <td class="group-garantias-terrestres" style="vertical-align: bottom;">Internacional</td>


                {#encabezado para el total de garantias terrestres colapsado#}
                <td class="group-garantias-terrestres-total" style="vertical-align: bottom;" colspan="3">Total</td>
                <td style="border-bottom: none!important;">&nbsp;</td>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img class="vehicle_arriving" src="{{ asset_base_url }}/dist/assets/icons/avion_verde.svg" width="25px" /></td>
                <td>AE-002</td>
                <td>&nbsp;</td>
                <td>***</td>
                <td>2,000</td>
                <td>&nbsp;</td>
                <td>120</td>

                {#garantias#}
                <td class="group-garantias">1000</td>
                <td class="group-garantias">800</td>
                <td class="group-garantias">200</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">0</td>
                {#encabezado para el total de garantias colapsado#}
                <td class="group-garantias-total" colspan="5">2000</td>
                <td>&nbsp;</td>

                {#garantias terrestres#}
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>

                {#encabezado para el total de garantias terrestres colapsado#}
                <td class="group-garantias-terrestres-total" colspan="3">2000</td>

                <td>&nbsp;</td>
                <td>1800</td>
                <td>180</td>
                <td>20</td>
            </tr>
            <tr>
                <td><img class="vehicle_arriving" src="{{ asset_base_url }}/dist/assets/icons/transporte_rojo.svg" width="25px" /></td>
                <td>ACA-3316</td>
                <td>ACA-MEX | C1</td>
                <td>100%</td>
                <td>798</td>
                <td>&nbsp;</td>
                <td>70</td>
                <td class="group-garantias">400</td>
                <td class="group-garantias">300</td>
                <td class="group-garantias">100</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias-total" colspan="5">800</td>
                <td>&nbsp;</td>

                {#garantias terrestres#}
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>

                {#encabezado para el total de garantias terrestres colapsado#}
                <td class="group-garantias-terrestres-total" colspan="3">2000</td>

                <td>&nbsp;</td>
                <td>200</td>
                <td>100</td>
                <td>500</td>
            </tr>
            <tr>
                <td><img class="vehicle_arriving" src="{{ asset_base_url }}/dist/assets/icons/transporte_rojo.svg" width="25px" /></td>
                <td>ACA-3316</td>
                <td>ACA-MEX | C2</td>
                <td>90%</td>
                <td>748</td>
                <td>&nbsp;</td>
                <td>40</td>
                <td class="group-garantias">350</td>
                <td class="group-garantias">200</td>
                <td class="group-garantias">80</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias-total" colspan="5">630</td>
                <td>&nbsp;</td>

                {#garantias terrestres#}
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>

                {#encabezado para el total de garantias terrestres colapsado#}
                <td class="group-garantias-terrestres-total" colspan="3">2000</td>

                <td>&nbsp;</td>
                <td>190</td>
                <td>80</td>
                <td>480</td>
            </tr>
            <tr>
                <td><img class="vehicle_arrived" src="{{ asset_base_url }}/dist/assets/icons/transporte_verde.svg" width="25px" /></td>
                <td>CLC-1619</td>
                <td>EPZ-MLM</td>
                <td>80%</td>
                <td>90</td>
                <td>&nbsp;</td>
                <td>0</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias">90</td>
                <td class="group-garantias">0</td>
                <td class="group-garantias-total" colspan="5">90</td>
                <td>&nbsp;</td>

                {#garantias terrestres#}
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>

                {#encabezado para el total de garantias terrestres colapsado#}
                <td class="group-garantias-terrestres-total" colspan="3">0</td>

                <td>&nbsp;</td>
                <td>70</td>
                <td>20</td>
                <td>0</td>
            </tr>
            <tr class="text-total-color">
                <td colspan="3">TOTAL</td>
                <td>90%</td>
                <td>3,640</td>
                <td>&nbsp;</td>
                <td>230</td>
                <td class="group-garantias">1,750</td>
                <td class="group-garantias">1,300</td>
                <td class="group-garantias">380</td>
                <td class="group-garantias">90</td>
                <td class="group-garantias">-</td>
                <td class="group-garantias-total" colspan="5">3,520</td>
                <td>&nbsp;</td>

                {#garantias terrestres#}
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>
                <td class="group-garantias-terrestres">0</td>

                {#encabezado para el total de garantias terrestres colapsado#}
                <td class="group-garantias-terrestres-total" colspan="3">0</td>

                <td>&nbsp;</td>
                <td>2,260</td>
                <td>380</td>
                <td>1,000</td>
            </tr>
            </tbody>
        </table>
    </section>

    {#<table class="mb-0 bg-dark table table-sm table-hover-dark text-light table-hover table-striped no-border-top table-striped table-dark custom-fontsize-table custom-table-sm" style="text-align: center;">
        <thead class="thead-border-bottom">
        <tr>
            <td colspan="7">Gu&iacute;a</td>
            <td style="border-bottom: none!important;">&nbsp;</td>
            <td colspan="3">Cliente</td>
            <td style="border-bottom: none!important;">&nbsp;</td>
            <td colspan="7">Ubicaci&oacute;n</td>
            <td style="border-bottom: none!important;">&nbsp;</td>
            <td colspan="9">&Uacute;ltimo Estatus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td>Consec Num.</td>
            <td></td>
            <td>Tipo de empaque</td>
            <td></td>
            <td>Garant&iacute;a</td>
            <td></td>
            <td>Contenido</td>
            <td></td>
            <td>N&uacute;mero</td>
            <td></td>
            <td>Raz&oacute;n Social</td>
            <td></td>
            <td>Distrito</td>
            <td></td>
            <td>Regional</td>
            <td></td>
            <td>Plaza</td>
            <td></td>
            <td>CD</td>
            <td></td>
            <td>Movimiento</td>
            <td></td>
            <td>C&oacute;digo de Razon</td>
            <td></td>
            <td>No. Empleado</td>
            <td></td>
            <td>Ruta</td>
            <td></td>
            <td>Fecha del Evento</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>6</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>7</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>8</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>9</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>10</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>11</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>12</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>13</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>14</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>15</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>16</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>17</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>18</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>19</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>20</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="border-bottom: none!important;"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>#}

    <button class="example1 btn btn-primary">Detalle de aden</button>
    <button class="example2 btn btn-primary">Destinos del item</button>
    {#<table class="table table-sm table-hover-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table" style="text-align: center;">
        <thead class="thead-border-bottom">
        <tr>
            <td rowspan="2">Plaza Destino</td>
            <td rowspan="2">Items Totales</td>
            <td colspan="4">Empaque</td>
        </tr>
        <tr>
            <td>Sobre</td>
            <td>Paquete</td>
            <td>Palet</td>
            <td>C10</td>
        </tr>
        <tr>
            <td>MEX</td>
            <td>200</td>
            <td>120</td>
            <td>60</td>
            <td>0</td>
            <td>20</td>
        </tr>
        </thead>
        <tbody class="no-border-tbody">
        <tr>
            <td>GDL</td>
            <td>100</td>
            <td>50</td>
            <td>40</td>
            <td>0</td>
            <td>10</td>
        </tr>
        <tr>
            <td>QRO</td>
            <td>50</td>
            <td>0</td>
            <td>25</td>
            <td>20</td>
            <td>5</td>
        </tr>
        <tr>
            <td>TIJ</td>
            <td>450</td>
            <td>300</td>
            <td>100</td>
            <td>0</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Total</td>
            <td><span>800</span></td>
            <td><span>470</span></td>
            <td><span>225</span></td>
            <td><span>20</span></td>
            <td><span>85</span></td>
        </tr>
        </tbody>
    </table>#}

{% endblock %}

{% block scripts %}


    <script>



        var groupGarantias = new COLLAPSE_COLUMN();
        /*para mostrar boton gregar clase group-garantias-content al td */
        /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
        groupGarantias.setGroupNameClass("group-garantias");




        var groupGarantiasTerrestres = new COLLAPSE_COLUMN();
        /*para mostrar boton gregar clase group-garantias-content al td */
        /*para mostrar el total a la columna agregar clase group-garantias-total al o los  td  de la misma columna*/
        groupGarantiasTerrestres.setGroupNameClass("group-garantias-terrestres");

        var t1 = '<div class="table-responsive"><table class="mb-0 bg-dark table table-sm table-hover-dark text-light table-hover table-striped no-border-top table-striped table-dark custom-fontsize-table custom-table-sm" style="text-align: center;"> <thead class="thead-border-bottom"> <tr> <td colspan="7">Gu&iacute;a</td><td style="border-bottom: none!important;">&nbsp;</td><td colspan="3">Cliente</td><td style="border-bottom: none!important;">&nbsp;</td><td colspan="7">Ubicaci&oacute;n</td><td style="border-bottom: none!important;">&nbsp;</td><td colspan="9">&Uacute;ltimo Estatus&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td></tr><tr> <td>Consec Num.</td><td></td><td>Tipo de empaque</td><td></td><td>Garant&iacute;a</td><td></td><td>Contenido</td><td></td><td>N&uacute;mero</td><td></td><td>Raz&oacute;n Social</td><td></td><td>Distrito</td><td></td><td>Regional</td><td></td><td>Plaza</td><td></td><td>CD</td><td></td><td>Movimiento</td><td></td><td>C&oacute;digo de Razon</td><td></td><td>No. Empleado</td><td></td><td>Ruta</td><td></td><td>Fecha del Evento</td></tr></thead> <tbody> <tr> <td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>3</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>4</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>6</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>7</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>8</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>9</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>11</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>12</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>13</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>14</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>15</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>16</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>17</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>18</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>19</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr><tr> <td>20</td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td style="border-bottom: none!important;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody> </table></div>';
        $('.example1').on('click', function(){
            $.alert({
                closeIcon: true,
                /*theme: 'supervan',*/
                /*theme: 'light',*/
                /*theme: 'dark',*/
                theme: 'bootstrap',

                buttons:false,
                /*theme: 'dark',*/
                columnClass: 'col-md-12 custom-modal-closeicon',
                titleClass: 'custom-title-modal',
                boxWidth:'100%',
                title: 'Detalle de: Andén de Recepción - Total: 2,000......',
                content: t1
            });
        });

        var t2 = '<table class="table table-sm table-hover-dark  bg-dark text-light table-hover border-0 table-active no-border-top custom-fontsize-table mb-0" style="text-align: center;"> <thead class="thead-border-bottom"> <tr> <td rowspan="2" style="vertical-align: inherit;">Plaza Destino</td><td rowspan="2" style="vertical-align: inherit;">Items Totales</td><td colspan="4">Empaque</td></tr><tr> <td>Sobre</td><td>Paquete</td><td>Palet</td><td>C10</td></tr><tr> <td>MEX</td><td>200</td><td>120</td><td>60</td><td>0</td><td>20</td></tr></thead> <tbody class="no-border-tbody"> <tr> <td>GDL</td><td>100</td><td>50</td><td>40</td><td>0</td><td>10</td></tr><tr> <td>QRO</td><td>50</td><td>0</td><td>25</td><td>20</td><td>5</td></tr><tr> <td>TIJ</td><td>450</td><td>300</td><td>100</td><td>0</td><td>50</td></tr><tr class="text-total-color"> <td><span>470</span></td><td><span>800</span></td><td><span>470</span></td><td><span>225</span></td><td><span>20</span></td><td><span>85</span></td></tr></tbody> </table>';

        $('.example2').on('click', function(){
            $.alert({
                closeIcon: true,
                /*theme: 'supervan',*/
                /*theme: 'light',*/
                /*theme: 'dark',*/
                theme: 'bootstrap',

                buttons:false,
                /*theme: 'dark',*/
                columnClass: 'col-md-8 custom-modal-closeicon',
                titleClass: 'custom-title-modal',
                boxWidth:'100%',
                title: 'Detalle de: Andén de Recepción - Total: 2,000',
                content: t2
            });
        });

    </script>


    <script>
        //all months
        const monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        //time
        var currentTime = document.getElementById("realtime");
        var currentTime_date = document.getElementById("realtime_date");
        function zeropadder(n) {
            return (parseInt(n,10) < 10 ? '0' : '')+n;
        }
        function updateTime(){
            var timeNow= new Date(),
                hh = timeNow.getHours(),
                mm = timeNow.getMinutes(),
                ss = timeNow.getSeconds(),
                formatAMPM = (hh >= 12?'PM':'AM');
            hh = hh % 12 || 12;
            //currentTime.innerHTML = hh + ":" + zeropadder(mm) + ":" + zeropadder(ss) + " " + formatAMPM;
            currentTime.innerHTML = hh + ":" + zeropadder(mm) +  " " + formatAMPM ;
            currentTime_date.innerHTML =    monthNames[timeNow.getMonth()]+" "+timeNow.getUTCDate()+", "+timeNow.getFullYear();
            setTimeout(updateTime,1000);
        }
        updateTime();
    </script>

    <script>
        Chart.defaults.global.defaultFontColor = '#ffffff';
        var ctx = document.getElementById('myChart').getContext('2d');


        var myDoughnutChart =
            new Chart(ctx,
                {
                    dataset:{

                    },
                    "type":"doughnut",
                    "data":{"labels":["PTA > 10 minutos 90%","PTA > 30 minutos 8%","PTA > 60 minutos 2%"],
                        "datasets": [
                            {
                                "label":"My F*rst Dataset",
                                "data":[
                                    90,
                                    8,
                                    2
                                ],
                                backgroundColor: [
                                    "#00B050",
                                    "#FFFF00",
                                    "#F80000"
                                ],
                                borderColor:[
                                    '#009149',
                                    "#f6f600",
                                    "#e90000"
                                ],
                                borderWidth:0,
                            }
                        ]
                    },
                    options:{
                        position: 'outside',
                        segment: true,
                        legend: {
                            display: true,
                            position:'right',
                        },
                        tooltips: {
                            enabled: true,
                        },
                        title: {
                            display: true,
                            text: 'Avance de Salidas',
                            fontColor: "#f6f600",
                            fontSize:16,
                            weight: 100,
                            fontStyle: 'normal',
                        }
                    }
                });
    </script>


{% endblock %}