{% extends 'app/skeleton.twig' %}

{% block head %}
     <link href="{{ asset_base_url }}/dist/js/libs/select2-406/select2.css" rel="stylesheet" />
    <style>
        .table-black{
         color: #fff !important;
         background-image: url("{{ asset_base_url }}/dist/assets/brand/ background_pert_dark.png");
         /* Create the parallax scrolling effect */
         background-attachment: fixed;
         background-position: center;
         background-repeat: no-repeat;
         background-size: cover;
         }          
        .title-lmenu{

            font-size: 1rem !important;
            color: #ffffff !important;
            font-weight: bold;
            width: 100% !important;
        }        
        .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover-dark tbody tr:hover {
            color: #9a9a9a!important;
            background-color: rgba(191, 187, 187, 0.08)!important;;
        }

        .thead-border-bottom th, .thead-border-bottom td {
            border-bottom: 1px solid #ffffff !important;
            text-align: center;
            font-weight: bold;
        }

        #realtime {
            font-size: 30px !important;
            padding: 0 0 0 0 !important;
            /*color: #a6f331;*/
        }
        #realtime_date {
            font-size: 20px !important;
            /*color: #a6f331;*/
        }

        select {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 5px 5px 5px 5px;
            margin: 0 0 0 8px;
            padding: 2px;
            width: 97px;
        }
    </style>
   <style type="text/css">
        #myChart{
            /* margin: -20px !important;*/
            height: 140px !important;
            width: 45% !important;
        }

        .table-black{
            color: #fff !important;
            background-color: #000000 !important;
        }
        .custom-fontsize-table{
            font-size: small !important;

        }

        .table_llegadas_tr1>tbody>tr>td{
            vertical-align: middle;
        }
        .vehicle_arriving{
            border: 1px solid white;
            border-radius: 5px;
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }
        .vehicle_arrived{
            /*border: 1px solid white;
            border-radius: 10px;*/
            vertical-align: middle;
            width: 50px;
            height: 25px;
            object-fit: contain;
        }

        /*styles for filtros */
        .select-filtros{
            /* width: 70%!important;*/

        }
        div.select-filtros{
            padding: 0 5px 0 0!important;
        }
        .select-filtros-text>div:nth-child(1){
            margin: 1vh 0!important;
            /* padding: 0.5rem 0 5px 0; */
            width: 35%!important;
        }

        .select-filtros > button{
            text-decoration: underline!important;
            color: #ffffff!important;
            background-color: #000000!important;
            border-color: #f8f9fa!important;

            padding: 0.25rem 0.5rem!important;
            font-size: 0.8rem!important;
            line-height: 1.5!important;
            border-radius: 0.2rem!important;
        }
        .select-filtros>button.show>.btn-light.dropdown-toggle {
            color: #ffffff;
            background-color: #000000;
            border-color: #000000;
        }
        .select-filtros>.dropdown-menu {
            color: white!important;
            background-color: black!important;
            /*transform: translate3d(80px, 121px, 0px)!important;*/
        }
        .select-filtros .dropdown-item.active, .select-filtros .dropdown-item:active {
            color: #000!important;
            text-decoration: none!important;
            background-color: #aeaca4 !important;
        }
        .select-filtros .dropdown-item {
            font-size: 0.8rem;
            color: #ffffff!important;
            background-color: black!important;

        }
        .container-filtros-all {
            height: auto;
            overflow-y: scroll;
        }
        /* .select-filtros>.dropdown-menu[x-out-of-boundaries]{
             transform: translate3d(0px, 30px, 0px) !important; //give valid transform
         //or use visiblity hidden;
         }*/

        /*styles for datetime*/
        .form-control {
            height: calc(1.5em + 0.75rem + 2px)!important;
            padding: 0.065rem 0.25rem!important;
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
        }
        .input-group-text {
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            padding: 0.375rem 0.30rem!important;
            color: #ffffff;
            border: none;
        }
        /*end styles for filtros */



        /*maps styles */
        #mapModalLlegadasTr1{
            width: 100%;
            height: 80vh;
        }
        .seePosition{
            cursor: pointer;
        }

        .labels {
            color: white;
            background-color: red;
            font-family: "Lucida Grande", "Arial", sans-serif;
            font-size: 10px;
            text-align: center;
            width: 30px;
            white-space: nowrap;
        }
        /*end maps styles */

        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
        /*styles for calendar datetimepicker*/
        .icon-calendar-custom{
            color: white;
            font-size: large;
            cursor: pointer;
        }
        .input-calendar-custom{
            font-size: 0.75rem!important;
            color: #f3f3f3;
            border: 1px solid #ced4da;
            border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom-color: #e1dfd8;
            background-color: transparent!important;
            width: 90%;
        }

        div.select-filtros {
            padding: 0 5px 0 0!important;
        }

        /*styles for date time picker*/
        .datetimepicker{
            background-color: black!important;
            border: 1px solid white!important;
            color: white!important;
            font-size: 0.8rem!important;
        }
        .datetimepicker table tr td.active{
            background-color:  #ffea55!important;
        }
        .datetimepicker table tr td span:hover {
            background-image: linear-gradient(to bottom, #ffea55, #ccbf23)!important;
            color: black!important;
        }
        .datetimepicker table tr td.day:hover {
            background: #ffea55!important;
            cursor: pointer;
            color: black!important;
        }
        .datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot th:hover {
            background: #ffea55!important;
            color: black!important;
        }

        /*styles for menu d+5*/
        .custom-modal-menu .jconfirm-box{
            background-color: #b1b1b1 !important;
            color: black!important;
        }
        .button-menu-d5{
            background-color: #b1b1b1 !important;
            color: black!important;
        }

        /*custom modal border size*/
        .jconfirm .jconfirm-box{
            padding: 7px 8px 0 8px!important;
        }
        .jconfirm .jconfirm-title-c{
            padding-bottom: 7px!important;
        }
        .jconfirm .jconfirm-box div.jconfirm-content-pane {
            margin-bottom: 0!important;
            /*padding: 0 0 10px 0!important;*/
            color: rgba(0, 0, 0, 0.87)!important;
        }
        .jconfirm .jconfirm-bootstrap .jconfirm-box div.jconfirm-content {
            color: rgba(0, 0, 0, 0.87)!important;
            /* padding: 0 0 10px 0!important;*/

        }
        /*styles for control burrons*/
        .controls-tr1>img{
            width: 25px;
            cursor: pointer;
        }
        .controls-tr1:nth-child(1),.controls-tr1:nth-last-child(div){
            display: none;
        }
        .select2-container--default .select2-selection--multiple {
            background-color: #5d5757;
            border: 1px solid #494949;
            border-radius: 4px;
            cursor: text;
        }
        .select2-container--default .select2-selection--multiple > span > span > ul > li > input:focus
        {
            background-color: #5d5757;
        }
        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }
        .select2 {
            width:100%!important;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: white;
            background-color: #000000;
            border: 1px solid #848383;
            border-radius: 4px;
            cursor: default;
            float: left;
            margin-right: 5px;
            margin-top: 5px;
            padding: 0 5px;
        }



        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #fff7f7;
            line-height: 28px;
        }


        .select2-container--default .select2-search--dropdown .select2-search__field {
            background-color: #5d5757;
            border: 1px solid #aaa;
        }

        .select2-search--dropdown {
            background-color: #5d5757;
            display: block;
            padding: 4px;
        }


        .select2-container--default .select2-selection--single {
            background-color: #5d5757;
            border: 1px solid #5f5f5f;
            border-radius: 4px;
        }

        .select2-container--default .select2-results > .select2-results__options {
            color: white;
            font-size: 0.8rem;
            border-top: 1px solid #494949;
            background-color: #6b6b6b;
            overflow-y: auto;
        }

        .select2-container--default .select2-search--inline .select2-search__field,
        .select2-container--default .select2-search--dropdown .select2-search__field
        {
            color: white;
        }

      .no-border-top th, .no-border-top td {
            border-top: none !important;
        }

        .table-hover-dark tbody tr:hover {
            color: #9a9a9a!important;
            background-color: rgba(191, 187, 187, 0.08)!important;;
        }

        .thead-border-bottom th, .thead-border-bottom td {
            border-bottom: 1px solid #ffffff !important;
            text-align: center;
            font-weight: bold;
        }
     
    </style>         
{% endblock %}

{% block filtros %}

    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Id Ruta </div>
                <select class="js-example-basic-single" name="arRuta[]"  multiple="multiple" id="filtro_ruta">
                    {% for entry in arRutas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Rutas</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize"> Plaza </div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_plaza">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin plazas</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Tipo Ruta </div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_TipoPlaza">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Tipo Ruta</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div> 
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Origen</div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_Origen">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Origen</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div> 
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Destino</div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_Destino">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Destino</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div> 
    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Tipo Garantía</div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_Garantia">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Garantia</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="sb-sidenav-menu-heading pb-2 pt-1" >
        <div class="row">
            <div class="col-12">
                <div class="text-white text-capitalize">Cliente</div>
                <select class="js-example-basic-single" name="plzs[]"  multiple="multiple" id="filtro_Cliente">
                    {% for entry in plazas %}
                        <option value="{{ entry.locationid }}">{{ entry.locationcode }}</option>
                    {% else %}
                        <option value="0">Sin Cliente</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div> 
                
     <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Inicial</label>
        <input size="12" type="text" class="form-control" id="datetimestart" readonly>
    </div>

    <div class="sb-sidenav-menu-heading text-center pt-1">
        <label class="float-left text-white text-capitalize" style="margin:0">Fecha-hora Final</label>
        <input size="12" type="text" class="form-control" id="datetimeend" readonly>
    </div>  
    <div class="sb-sidenav-menu-heading text-center pt-1">
        <div class="row text-center control-container">
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2 pl-0 controls-tr1"><img  class="prev" src="{{ asset_base_url }}/dist/assets/icons/prev.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="pause" src="{{ asset_base_url }}/dist/assets/icons/pause.png"></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2   pl-0 controls-tr1"><img  class="play" src="{{ asset_base_url }}/dist/assets/icons/play.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="next" src="{{ asset_base_url }}/dist/assets/icons/next.png" ></div>
            <div class="col-2 col-xs-2 col-sm-2 col-col-md-2 col-lg-2  pl-0 controls-tr1"><img  class="stop" src="{{ asset_base_url }}/dist/assets/icons/stop.png" ></div>
            <div class="col-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 p-0"></div>
        </div>
    </div>                 
                
                
    <div class="sb-sidenav-menu-heading text-center pt-1 mt-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" checked class="custom-control-input" id="switch1" name="example">
            <label class="custom-control-label text-white" for="switch1">En línea</label>
        </div>
    </div>

{% endblock %}

{% block contenido %}

    <div class="row mb-3"><br><br></div>

    <div class="row mb-3">

        <div class="col-md-5">
            <div class="text-center" ><h4>Tendencia de Items</h4></div>
            <div style="position: absolute; right: 1.7%;">
                <img src="/PR/dist/assets/img/excel.png">
                <img src="/PR/dist/assets/img/pdf.png">
                <img src="/PR/dist/assets/img/printer.png">       
            </div>            
            <canvas id="myAreaChart"></canvas>
        </div>

        <div class="col-md-1">

        </div>

        <div class="col-md-5">
            <div class="text-center"><h4>Tendencia de % de Ocupación</h4></div>
            <div style="position: absolute; right: 1.7%;">
                <img src="/PR/dist/assets/img/excel.png">
                <img src="/PR/dist/assets/img/pdf.png">
                <img src="/PR/dist/assets/img/printer.png">       
            </div>             
            <canvas id="myAreaChart2"></canvas>
        </div>

    </div>

    <div class="row mb-3"><br><br></div>

    <div class="row mb-3">

        <div class="col-md-5">
            <div class="text-center"><h4>Tendencia de Rutas Extra</h4></div>
            <div style="position: absolute; right: 1.7%;">
                <img src="/PR/dist/assets/img/excel.png">
                <img src="/PR/dist/assets/img/pdf.png">
                <img src="/PR/dist/assets/img/printer.png">         
            </div>             
            <canvas id="myAreaChart3"></canvas>
        </div>

        <div class="col-md-1">

        </div>

        <div class="col-md-5">
            <div class="text-center"><h4>Tendencia de Cumplimiento de Viajes TR1</h4></div>
            <div style="position: absolute; right: 1.7%;">
                <img src="/PR/dist/assets/img/excel.png">
                <img src="/PR/dist/assets/img/pdf.png">
                <img src="/PR/dist/assets/img/printer.png">        
            </div>             
            <canvas id="myAreaChart4"></canvas>
        </div>

    </div>


{% endblock %}

{% block scripts %}
    <script src="{{ asset_base_url }}/dist/js/libs/table2excel/jquery.table2excel.js"></script>
    <script src="{{ asset_base_url }}/dist/js/libs/select2-406/select2.js"></script>
    <script>
        $(document).ready(function() {
            $('.js-example-basic-single').select2({
                width: '100%',
                allowClear: false
            });
            /* $(document).ready(function() {
             $('.js-example-basic-single').select2({
             width: '100%',
             allowClear: false
             });

             });*/
        });
    </script>     
    <script>

        $(document).ready(function() 
        {
            // Set new default font family and font color to mimic Bootstrap's default styling
            Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            /*Chart.defaults.global.defaultFontColor = '#FFFFFF';*/
            Chart.defaults.global.elements.line.fill = false;
            Chart.defaults.global.elements.line.tension = 0;

            // Area Chart Example
                        //var ctx = document.getElementById("myAreaChart");
            new Chart(document.getElementById("myAreaChart"), 
            {
              type: 'line',
              data: {
                labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5"],
                datasets: [{ 
                    data: [86,54,36,26,80,200,133], 
                    label: "Africa",
                    borderColor: "#3e95cd",
                    fill: true,
                      pointBorderColor: "#fff",
                      pointBackgroundColor: "rgba(179,181,198,1)",        
                  }, { 
                    data: [60,30,20,20,70,260,80],
                    label: "North America",
                    borderColor: "#c45850",
                    fill: true
                  }
                ]
              },
              options: {
                        responsive: true,
                        position: 'outside',
                        segment: true,
                                tooltips: {
                                    enabled: true,
                                    bodyFontSize: 14,
                                    backgroundColor: "#fff",
                                    bodyFontColor: "#000000"
                                },                        
                        
                        
            title: {
              display: false,
              text: 'World population per region (in millions)'
            },
        scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                           /* maxTicksLimit: 7,*/
                            fontColor:'#ffffff'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                          /*  min: 0,
                            max: 120,*/
                            fontColor:'#fefffd'
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, .125)"
                        }
                    }]
                },
                legend: {
                    display: false
                }    
               }
            });            
            
            /*
new Chart(document.getElementById("myAreaChart"), {
  type: 'line',
  data: {
    labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
    datasets: [{ 
        data: [86,114,106,106,107,111,133,221,783,2478],
        label: "Africa",
        borderColor: "#3e95cd",
        fill: true
      }, { 
        data: [6,3,2,2,7,26,82,172,312,433],
        label: "North America",
        borderColor: "#ee5716",
        fill: true
      }
    ]
  },
  options: {
    responsive: true,
    legend: {
       display: false,
       position:'right',
       labels: {
         fontSize: 12,
         fontColor: '#ff66cc',
       },                            
    },    
    title: {
      display: false,
      text: 'World population per region (in millions)'
    },
    tooltips: {
        enabled: true,
        bodyFontSize: 12,
        backgroundColor: "#fff",
        bodyFontColor: "#000",
    },    
    scales: {
         xAxes: [{
                        ticks: {
                            maxTicksLimit: 7,
                            fontColor:'#ffffff'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            
                            fontColor:'#fefffd'
                        }
                    }],                
    }
    
  }
});      */
           
       /* var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5"],
                    datasets: [{
                        label: "Sessions",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 50,
                        pointBorderWidth: 2,
                        data: [150,50,70,100,250],
                    }],
                },
                options: {

                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: 7,
                                fontColor:'#ffffff'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 300,
                               // maxTicksLimit: 5,
                                fontColor:'#fefffd'
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                    },
                    legend: {
                        display: false
                    }
                }
            });*/
        });
    </script>

    <script>

    $(document).ready(function() {
        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#009149';
        Chart.defaults.global.elements.line.tension = 0;

// Area Chart Example
        var ctx = document.getElementById("myAreaChart2");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5"],
                datasets: [{ 
                    data: [86,54,36,26,80,200,133],
                    label: "Africa",
                    borderColor: "#3e95cd",
                    fill: true,
                      pointBorderColor: "#fff",
                      pointBackgroundColor: "rgba(179,181,198,1)",        
                  }, { 
                    data: [60,30,20,20,70,260,80],
                    label: "North America",
                    borderColor: "#c45850",
                    fill: true
                  }
                ] 
              },
                /*datasets: [
                {
                    label: "Sessions",
                    lineTension: 0.3,
                    backgroundColor: "rgba(2,117,216,0.2)",
                    borderColor: "rgba(2,117,216,1)",
                    pointRadius: 5,
                    pointBackgroundColor: "rgba(2,117,216,1)",
                    pointBorderColor: "rgba(255,255,255,0.8)",
                    pointHoverRadius: 5,
                    pointHoverBackgroundColor: "rgba(2,117,216,1)",
                    pointHitRadius: 50,
                    pointBorderWidth: 2,
                    data: [85,78,79,50,99],
                },
                { 
                data: [66,33,52,72,37],
                label: "North America",
                borderColor: "#c45850",
                fill: true
                }                
                ],*/
           
            options: {

                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 7,
                            fontColor:'#ffffff'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 120,
                           // maxTicksLimit: 5,
                            fontColor:'#fefffd'
                        },
                        gridLines: {
                            color: "rgba(0, 0, 0, .125)",
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });
    });
</script>

    <script>

        $(document).ready(function() {
            // Set new default font family and font color to mimic Bootstrap's default styling
            Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#009149';
            Chart.defaults.global.elements.line.tension = 0;

// Area Chart Example
            var ctx = document.getElementById("myAreaChart3");
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5"],
                    datasets: [{ 
                        data: [86,54,36,26,80,200,133],
                        label: "Africa",
                        borderColor: "#3e95cd",
                        fill: true,
                          pointBorderColor: "#fff",
                          pointBackgroundColor: "rgba(179,181,198,1)",        
                      }, { 
                        data: [60,30,20,20,70,260,80],
                        label: "North America",
                        borderColor: "#c45850",
                        fill: true
                      }
                    ] 
                  },                
                
               /* data: {
                    labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5"],
                    datasets: [
                        {
                        label: "Sessions",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 50,
                        pointBorderWidth: 2,
                        data: [200,55,80,150,170],
                        },
                        { 
                        data: [180,33,72,142,137],
                        label: "North America",
                        borderColor: "#c45850",
                        fill: true
                         }                        
                ],
                },*/
                options: {

                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: 7,
                                fontColor:'#ffffff'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 250,
                              //  maxTicksLimit: 5,
                                fontColor:'#fefffd'
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                    },
                    legend: {
                        display: false
                    }
                }
            });
        });
    </script>

    <script>

        $(document).ready(function() {
            // Set new default font family and font color to mimic Bootstrap's default styling
            Chart.defaults.global.defaultFontFamily = '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
            Chart.defaults.global.defaultFontColor = '#009149';
            Chart.defaults.global.elements.line.tension = 0;

// Area Chart Example
            var ctx = document.getElementById("myAreaChart4");
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5"],
                    datasets: [{ 
                        data: [86,54,36,26,80,200,133],
                        label: "Africa",
                        borderColor: "#3e95cd",
                        fill: true,
                          pointBorderColor: "#fff",
                          pointBackgroundColor: "rgba(179,181,198,1)",        
                      }, { 
                        data: [60,30,20,20,70,260,80],
                        label: "North America",
                        borderColor: "#c45850",
                        fill: true
                      }
                    ] 
                  },                
                /*data: {
                    labels: ["Mar 1", "Mar 2", "Mar 3", "Mar 4", "Mar 5"],
                    datasets: [
                    {
                        label: "Ejemplo",
                        lineTension: 0.3,
                        backgroundColor: "rgba(2,117,216,0.2)",
                        borderColor: "rgba(2,117,216,1)",
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(2,117,216,1)",
                        pointBorderColor: "rgba(255,255,255,0.8)",
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(2,117,216,1)",
                        pointHitRadius: 50,
                        pointBorderWidth: 2,
                        data: [180,70,150,230,240],
                    },
                    { 
                     data: [166,130,122,200,210],
                     label: "North America",
                     borderColor: "#c45850",
                     fill: true
                   }                    
                ],
                },*/
                options: {

                    scales: {
                        xAxes: [{
                            time: {
                                unit: 'date'
                            },
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                maxTicksLimit: 7,
                                fontColor:'#ffffff'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 250,

                                fontColor:'#fefffd'
                            },
                            gridLines: {
                                color: "rgba(0, 0, 0, .125)",
                            }
                        }],
                    },
                    legend: {
                        display: false
                    }
                }
            });
        });
    </script>

{% endblock %}